<!DOCTYPE html>
<html {{ HTML_ATTRS }}>

<head>
    <script>document.title = 'Ecomap';</script>
{{ HEAD }}
    

<!-- Google Tag Manager -->
<script defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-58KRDGW');</script>
<!-- End Google Tag Manager -->

<script type="text/javascript">
    // Clarity by Microsoft Disabled
    // (function(c,l,a,r,i,t,y){
    //     c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
    //     t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
    //     y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    // })(window, document, "clarity", "script", "4akn1y6ray");
</script>

<script async defer src="https://js.stripe.com/v3/"></script> 
<script src="https://unpkg.com/konva@7.2.5/konva.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
</head>

<body {{ BODY_ATTRS }}>
{{ APP }}
</body>

</html>
