<template>
  <section>
    <v-dialog :value="'Reset Password'" @input="hideModal()" max-width="576px">
      <v-card>
        <v-toolbar color="primary" class="pa-2" height="40px">
          <v-toolbar-title style="font-size: 28px;">Reset Password</v-toolbar-title>
          <v-spacer/>
          <v-btn icon dark @click="hideModal"><v-icon>mdi-close</v-icon></v-btn>
        </v-toolbar>
        <form @submit.prevent="submitForm">
          <v-card-text>
            <v-text-field
              required
              type="password"
              name="password"
              prepend-icon="lock"
              label="Enter Password"
              autocomplete="new-password"
              v-model="form.password"
              :error-messages="serverErrors.password || errors.collect('password')"
              v-validate="'required|min:5'"
            ></v-text-field>
            <v-text-field
              required
              type="password"
              autocomplete="new-password"
              name="password_confirmation"
              prepend-icon="lock"
              label="Confirm Password"
              v-model="form.password_confirmation"
              :error-messages="serverErrors.password_confirmation || errors.collect('password_confirmation')"
              v-validate="'required|min:5'"
            ></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-btn
              class="px-4"
              :loading="loading"
              :disabled="errors.any()"
              color="primary"
              type="submit">Reset Password</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  layout: 'main',
  data: () => ({
    loading: false,
    serverErrors: {},
    form: {
      password: null,
      password_confirmation: null,
      token: null,
    },
  }),
  validate({ params, store }) {
    return /^[a-zA-Z0-9]+$/.test(params.token)
  },
  computed: mapGetters({
    loading: 'board/loading',
    selection: 'enableSelection',
    sidebarVisible: 'sidebarVisible',
  }),
  methods: {
    hideModal() {
      this.$router.push('/')
    },
    showLogin() {
      this.hideModal()
      this.$store.commit('showLoginModal', true)
    },
    resetForm() {
      this.form.password = null
      this.$nextTick(() => this.$validator.reset())
    },
    async submitForm() {
      if (this.loading) return false
      this.$set(this, 'loading', true)
      this.$set(this, 'serverErrors', {})
      try {
        // validate data
        let result = await this.$validator.validateAll()
        if (!result) return false

        if (this.form.password !== this.form.password_confirmation) {
          return this.$set(this, 'serverErrors', {
            password_confirmation: 'The password confirmation does not match the password.',
          })
        }
        // bind token to the form
        this.form.token = this.$route.params.token
        // try out registration
        await this.$axios.$post('/auth/reset-password', this.form)
        // reset form and notify user afterwards
        await this.resetForm()
        this.$notify.success({
          title: 'Success!',
          message: 'Password reset successful! Login',
        })
        this.$router.push('/')
        this.showLogin()
      } catch (err) {
        let message = ((err && err.stack) || '').split('\n')[0] || ''
        // handle validation error
        if (err.response && err.response.data) {
          this.$set(this, 'serverErrors', err.response.data.error || {})
          message = err.response.data.error || message
          if (typeof(message) !== 'string') {
            message = 'Some fields have invalid input'
          }
        }
        // general notification
        this.$notify.error({
          message,
          title: 'Failed to register',
        })
      } finally {
        this.$set(this, 'loading', false)
      }
    },
  },
}
</script>

<style scoped>
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.main-board {
  float: left;
  user-select: none;
  width: calc(100vw - 350px);
  height: calc(100vh - 60px);
}
.tab-container {
  float: right;
  user-select: none;
  width: 350px;
  height: calc(100vh - 60px);
}
@media (max-width: 959px) {
  .main-board.full-width {
    width: 100vw;
  }
}
</style>
