<template>
  <div
    class="custombar"
    :class="{ 'full-width-for-embed': isEmbeded }"
    :style="settingToolbarStyle"
    v-show="panzoomVisible"
    v-if="!isEmbeded && panzoomVisible && activeMarkerId"
    @mouseleave="
      showSection(
        ['auto-filling', 'fill'].includes(styleTarget) ? styleTarget : null,
      )
    "
    :draggable="true"
    @dragstart="dragStartCustomToolbar"
    @dragend="dragEndCustomToolbar"
  >
    <!-- Marker Style -->
    <div class="vbtn-style" :class="{ collapsed: !!styleTarget }">
      <v-btn
        icon
        class="border-style"
        id="border-style"
        title="Border"
        @mouseover="showSection('border')"
      >
        <v-icon style="font-size: 24px;">mdi-crop-free</v-icon>
      </v-btn>
      <v-btn
        icon
        class="fill-style"
        id="fill-style"
        title="Fill"
        @mouseover="showSection('fill')"
        v-if="
          activeMarker['type'] === 'rectangle' ||
          activeMarker['type'] === 'circle' ||
          activeMarker['type'] === 'text'
        "
      >
        <v-icon style="font-size: 24px;">mdi-texture</v-icon>
      </v-btn>
      <v-btn
        icon
        class="text-style"
        id="text-style"
        title="Text style"
        @mouseover="showSection('texture')"
        v-if="
          activeMarker['type'] === 'rectangle' ||
          activeMarker['type'] === 'circle' ||
          activeMarker['type'] === 'text'
        "
      >
        <v-icon style="font-size: 24px;">mdi-format-text</v-icon>
      </v-btn>
      <v-btn
        icon
        class="deplicate-style"
        id="deplicate-style"
        title="Duplicate"
        @click="deplicateMarker"
        @mouseover="showSection(null)"
      >
        <v-icon style="font-size: 20px;">mdi-content-copy</v-icon>
      </v-btn>
      <v-btn
        icon
        class="action-style"
        id="action-style"
        title="Actions"
        @mouseover="showSection('actions')"
      >
        <v-icon style="font-size: 24px;">mdi-dots-vertical</v-icon>
      </v-btn>
    </div>
    <div
      class="vbtn-style-content"
      v-if="!!styleTarget"
      :class="{ actions: styleTarget === 'actions' }"
    >
      <div class="color-setting" v-if="styleTarget === 'color'">
        <v-chip
          small
          :color="color"
          text-color="white"
          v-for="(color, index) in markerColors"
          :key="index"
          class="color-dot"
          :class="{ 'actived-dot': activeMarker['stroke'] === color }"
          @click="setMarkerStyle('stroke', color)"
        >
          <v-icon v-if="activeMarker['stroke'] === color">mdi-check</v-icon>
        </v-chip>
        <span class="text-underline" @click="showColorPicker('border')">
          {{
            activeMarker['stroke']
              ? activeMarker['stroke'].replace('#', '')
              : 'Unknown'
          }}
        </span>
        <v-color-picker
          v-if="colorPicker === 'color'"
          v-model="activeMarker['stroke']"
          dot-size="25"
          swatches-max-height="200"
          mode.sync="hex"
          hide-inputs
        />
      </div>
      <div class="border-setting" v-if="styleTarget === 'border'">
        <v-chip
          small
          :color="color"
          text-color="white"
          v-for="(color, index) in ['transparent', ...markerColors]"
          :key="index"
          class="color-dot"
          :class="{
            'actived-dot': activeMarker['textFill'] === color,
            'box-shadow-gray': color === 'transparent',
          }"
          @click="setMarkerStyle('stroke', color)"
        >
        <v-icon v-if="activeMarker['stroke'] === color && color !== 'transparent'">mdi-check</v-icon>
        <v-icon v-if="activeMarker['stroke'] === color && color === 'transparent'" class="text-gray">mdi-close</v-icon>
        </v-chip>
        <span class="text-underline" @click="showColorPicker('border')">
          {{
            activeMarker['stroke']
              ? activeMarker['stroke'].replace('#', '')
              : 'Unknown'
          }}
        </span>
        <v-color-picker
          v-if="colorPicker === 'border'"
          v-model="activeMarker['stroke']"
          dot-size="25"
          swatches-max-height="200"
          mode.sync="hex"
          hide-inputs
        />
        <v-divider class="my-2" />
        <div class="border-size-setting">
          <b class="mr-2">Border Size</b>
          <v-slider
            v-model="activeMarker['strokeWidth']"
            thumb-label
            color="#FB6E00"
            min="0"
            max="20"
          />
        </div>
      </div>
      <div class="fill-setting" v-if="styleTarget === 'fill'">
        <v-chip
          small
          :color="color"
          text-color="white"
          v-for="(color, index) in ['transparent', ...markerColors]"
          :key="index"
          class="color-dot"
          :class="{
            'actived-dot': activeMarker['fill'] === color,
            'box-shadow-gray': color === 'transparent',
          }"
          @click="setMarkerStyle('fill', color)"
        >
          <v-icon v-if="activeMarker['fill'] === color && color !== 'transparent'">mdi-check</v-icon>
          <v-icon v-if="activeMarker['fill'] === color && color === 'transparent'" class="text-gray">mdi-close</v-icon>
        </v-chip>
        <span class="text-underline" @click="showColorPicker('fill')">
          {{
            activeMarker['fill']
              ? activeMarker['fill'].replace('#', '')
              : 'Unknown'
          }}
        </span>
        <v-color-picker
          v-if="colorPicker === 'fill'"
          v-model="activeMarker['fill']"
          dot-size="25"
          swatches-max-height="200"
          mode.sync="hex"
          hide-inputs
        />
        <v-divider class="my-2" />
        <!-- <v-file-input
          v-model="activeMarker['file']"
          accept="image/*, video/*"
          placeholder="Add Image or Video"
          label="Add Image or Video"
          prepend-icon="mdi-none"
        /> -->
        <v-text-field
          label="Add Image or Video"
          placeholder="https://youtube.com/anyvideo"
          :rules="rules"
          hide-details="auto"
          v-model="activeMarkerBackSrc"
        />
      </div>
      <div class="fill-setting" v-if="styleTarget === 'texture'">
        <v-chip
          small
          :color="color"
          text-color="white"
          v-for="(color, index) in ['transparent', ...markerColors]"
          :key="index"
          class="color-dot"
          :class="{
            'actived-dot': activeMarker['textFill'] === color,
            'box-shadow-gray': color === 'transparent',
          }"
          @click="setMarkerStyle('textFill', color)"
        >
        <v-icon v-if="activeMarker['textFill'] === color && color !== 'transparent'">mdi-check</v-icon>
        <v-icon v-if="activeMarker['textFill'] === color && color === 'transparent'" class="text-gray">mdi-close</v-icon>
        </v-chip>
        <span class="text-underline" @click="showColorPicker('texture')">
          {{
            activeMarker['textFill']
              ? activeMarker['textFill'].replace('#', '')
              : 'Unknown'
          }}
        </span>
        <v-color-picker
          v-if="colorPicker === 'texture'"
          v-model="activeMarker['textFill']"
          dot-size="25"
          swatches-max-height="200"
          mode.sync="hex"
          hide-inputs
        />
        <v-divider class="my-2" />
        <div class="font-size-setting">
          <b class="mr-2">Text size {{ activeMarker['fontSize'] }}pt</b>
          <v-slider
            v-model="activeMarker['fontSize']"
            thumb-label
            color="#FB6E00"
            min="12"
            max="128"
          />
        </div>
        <v-divider class="my-2" />
        <div class="font-align-setting">
          <b class="mr-5">Aligning</b>
          <div>
            <v-btn small icon @click="setMarkerStyle('align', 'left')">
              <v-icon
                :color="
                  activeMarker['align'] === 'left' ? '#FB6E00' : 'default'
                "
              >
                mdi-format-align-left
              </v-icon>
            </v-btn>
            <v-btn small icon @click="setMarkerStyle('align', 'center')">
              <v-icon
                :color="
                  activeMarker['align'] === 'center' ? '#FB6E00' : 'default'
                "
              >
                mdi-format-align-center
              </v-icon>
            </v-btn>
            <v-btn small icon @click="setMarkerStyle('align', 'right')">
              <v-icon
                :color="
                  activeMarker['align'] === 'right' ? '#FB6E00' : 'default'
                "
              >
                mdi-format-align-right
              </v-icon>
            </v-btn>
            <v-btn small icon @click="setMarkerStyle('align', 'strech')">
              <v-icon
                :color="
                  activeMarker['align'] === 'strech' ? '#FB6E00' : 'default'
                "
              >
                mdi-format-align-justify
              </v-icon>
            </v-btn>
          </div>
        </div>
      </div>
      <div class="align-setting" v-if="styleTarget === 'auto-filling'">
        <v-select
          :items="['Unset', ...tagList]"
          label="Select tag type"
          :value="activeMarker['company_tag']"
          @change="(v) => setMarkerStyle('company_tag', v)"
          solo
        />
        <v-select
          :items="['Unset']"
          label="Select industry"
          :value="activeMarker['company_industry']"
          @change="(v) => setMarkerStyle('company_industry', v)"
          solo
        />
        <v-select
          :items="['Add all companies', 'Add Top 10', 'Add Top 100']"
          :value="activeMarker['company_count']"
          @change="(v) => setMarkerStyle('company_count', v)"
          label="Select companies count"
          solo
        />
        <div class="align-section">
          <label>Aligning</label>
          <div>
            <v-btn
              icon
              light
              small
              title="Rect align"
              @click="() => setMarkerStyle('company_align', 'rect')"
            >
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.54464 0.000412808H0.693441C0.601562 -0.00281403 0.510002 0.0129047 0.42446 0.0465906C0.338918 0.0802766 0.261225 0.131209 0.196217 0.196217C0.131209 0.261225 0.0802766 0.338918 0.0465906 0.42446C0.0129047 0.510002 -0.00281403 0.601562 0.000412808 0.693441V5.54464C-0.00281403 5.63652 0.0129047 5.72808 0.0465906 5.81362C0.0802766 5.89916 0.131209 5.97686 0.196217 6.04186C0.261225 6.10687 0.338918 6.1578 0.42446 6.19149C0.510002 6.22518 0.601562 6.2409 0.693441 6.23767H5.54464C5.63652 6.2409 5.72808 6.22518 5.81362 6.19149C5.89916 6.1578 5.97686 6.10687 6.04186 6.04186C6.10687 5.97686 6.1578 5.89916 6.19149 5.81362C6.22518 5.72808 6.2409 5.63652 6.23767 5.54464V0.693441C6.2409 0.601562 6.22518 0.510002 6.19149 0.42446C6.1578 0.338918 6.10687 0.261225 6.04186 0.196217C5.97686 0.131209 5.89916 0.0802766 5.81362 0.0465906C5.72808 0.0129047 5.63652 -0.00281403 5.54464 0.000412808ZM4.85161 4.85161H1.38647V1.38647H4.85161V4.85161Z"
                  :fill="
                    activeMarker['company_align'] === 'rect'
                      ? '#FB6E00'
                      : '#4d4d4d'
                  "
                />
                <path
                  d="M13.3066 0.000412808H8.4554C8.36353 -0.00281403 8.27197 0.0129047 8.18642 0.0465906C8.10088 0.0802766 8.02319 0.131209 7.95818 0.196217C7.89317 0.261225 7.84224 0.338918 7.80855 0.42446C7.77487 0.510002 7.75915 0.601562 7.76238 0.693441V5.54464C7.75915 5.63652 7.77487 5.72808 7.80855 5.81362C7.84224 5.89916 7.89317 5.97686 7.95818 6.04186C8.02319 6.10687 8.10088 6.1578 8.18642 6.19149C8.27197 6.22518 8.36353 6.2409 8.4554 6.23767H13.3066C13.3985 6.2409 13.49 6.22518 13.5756 6.19149C13.6611 6.1578 13.7388 6.10687 13.8038 6.04186C13.8688 5.97686 13.9198 5.89916 13.9535 5.81362C13.9871 5.72808 14.0029 5.63652 13.9996 5.54464V0.693441C14.0029 0.601562 13.9871 0.510002 13.9535 0.42446C13.9198 0.338918 13.8688 0.261225 13.8038 0.196217C13.7388 0.131209 13.6611 0.0802766 13.5756 0.0465906C13.49 0.0129047 13.3985 -0.00281403 13.3066 0.000412808ZM12.6136 4.85161H9.14843V1.38647H12.6136V4.85161Z"
                  :fill="
                    activeMarker['company_align'] === 'rect'
                      ? '#FB6E00'
                      : '#4d4d4d'
                  "
                />
                <path
                  d="M5.54464 7.76225H0.693441C0.601562 7.75903 0.510002 7.77475 0.42446 7.80843C0.338918 7.84212 0.261225 7.89305 0.196217 7.95806C0.131209 8.02307 0.0802766 8.10076 0.0465906 8.1863C0.0129047 8.27184 -0.00281403 8.3634 0.000412808 8.45528V13.3065C-0.00281403 13.3984 0.0129047 13.4899 0.0465906 13.5755C0.0802766 13.661 0.131209 13.7387 0.196217 13.8037C0.261225 13.8687 0.338918 13.9196 0.42446 13.9533C0.510002 13.987 0.601562 14.0027 0.693441 13.9995H5.54464C5.63652 14.0027 5.72808 13.987 5.81362 13.9533C5.89916 13.9196 5.97686 13.8687 6.04186 13.8037C6.10687 13.7387 6.1578 13.661 6.19149 13.5755C6.22518 13.4899 6.2409 13.3984 6.23767 13.3065V8.45528C6.2409 8.3634 6.22518 8.27184 6.19149 8.1863C6.1578 8.10076 6.10687 8.02307 6.04186 7.95806C5.97686 7.89305 5.89916 7.84212 5.81362 7.80843C5.72808 7.77475 5.63652 7.75903 5.54464 7.76225ZM4.85161 12.6135H1.38647V9.14831H4.85161V12.6135Z"
                  :fill="
                    activeMarker['company_align'] === 'rect'
                      ? '#FB6E00'
                      : '#4d4d4d'
                  "
                />
                <path
                  d="M13.3066 7.76225H8.4554C8.36353 7.75903 8.27197 7.77475 8.18642 7.80843C8.10088 7.84212 8.02319 7.89305 7.95818 7.95806C7.89317 8.02307 7.84224 8.10076 7.80855 8.1863C7.77487 8.27184 7.75915 8.3634 7.76238 8.45528V13.3065C7.75915 13.3984 7.77487 13.4899 7.80855 13.5755C7.84224 13.661 7.89317 13.7387 7.95818 13.8037C8.02319 13.8687 8.10088 13.9196 8.18642 13.9533C8.27197 13.987 8.36353 14.0027 8.4554 13.9995H13.3066C13.3985 14.0027 13.49 13.987 13.5756 13.9533C13.6611 13.9196 13.7388 13.8687 13.8038 13.8037C13.8688 13.7387 13.9198 13.661 13.9535 13.5755C13.9871 13.4899 14.0029 13.3984 13.9996 13.3065V8.45528C14.0029 8.3634 13.9871 8.27184 13.9535 8.1863C13.9198 8.10076 13.8688 8.02307 13.8038 7.95806C13.7388 7.89305 13.6611 7.84212 13.5756 7.80843C13.49 7.77475 13.3985 7.75903 13.3066 7.76225ZM12.6136 12.6135H9.14843V9.14831H12.6136V12.6135Z"
                  :fill="
                    activeMarker['company_align'] === 'rect'
                      ? '#FB6E00'
                      : '#4d4d4d'
                  "
                />
              </svg>
            </v-btn>
            <v-btn
              icon
              light
              small
              title="Circle align"
              @click="() => setMarkerStyle('company_align', 'circle')"
            >
              <v-icon
                :style="{
                  color:
                    activeMarker['company_align'] === 'circle'
                      ? '#FB6E00'
                      : '#4d4d4d',
                }"
              >
                mdi-checkbox-blank-circle-outline
              </v-icon>
              <v-icon
                :style="{
                  color:
                    activeMarker['company_align'] === 'circle'
                      ? '#FB6E00'
                      : '#4d4d4d',
                }"
                class="icon-text"
              >
                mdi-checkbox-blank-circle-outline
              </v-icon>
            </v-btn>
            <v-btn
              icon
              light
              small
              title="Pan align"
              @click="() => setMarkerStyle('company_align', 'pan')"
            >
              <v-icon
                :style="{
                  color:
                    activeMarker['company_align'] === 'pan'
                      ? '#FB6E00'
                      : '#4d4d4d',
                }"
                style="font-size: 18px;"
              >
                mdi-cursor-pointer
              </v-icon>
            </v-btn>
          </div>
        </div>
      </div>
      <div class="action-setting" v-if="styleTarget === 'actions'">
        <!-- @mouseover="showSection('auto-filling')" -->
        <v-btn
          icon
          class="align-style"
          id="align-style"
          title="Auto filling"
          v-if="
            activeMarker['type'] === 'rectangle' ||
            activeMarker['type'] === 'circle'
          "
        >
          <svg
            width="15"
            height="14"
            viewBox="0 0 15 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 0.288638C8.6906 0.110005 8.3094 0.110005 8 0.288638L2.93782 3.21129C2.62842 3.38992 2.43782 3.72005 2.43782 4.07731C2.43782 4.07731 2.7413 4.25253 3 4.40189L6 6.13394C6.66667 6.51884 6.66667 7.48109 6 7.86599L3 9.59804C2.7413 9.7474 2.43782 9.92261 2.43782 9.92261C2.43782 10.2799 2.62842 10.61 2.93782 10.7886L8 13.7113C8.3094 13.8899 8.6906 13.8899 9 13.7113L14.0622 10.7886C14.3716 10.61 14.5622 10.2799 14.5622 9.92261V4.07731C14.5622 3.72005 14.3716 3.38992 14.0622 3.21129L9 0.288638Z"
              fill="#4C4666"
            />
            <path
              d="M3.75 6.56695C4.08333 6.7594 4.08333 7.24053 3.75 7.43298L1.5 8.73201C0.833333 9.11691 -3.3649e-08 8.63579 0 7.86599L7.57104e-08 6.13394C1.09359e-07 5.36414 0.833333 4.88301 1.5 5.26791L3.75 6.56695Z"
              fill="#4C4666"
            />
          </svg>
          Auto filling
        </v-btn>
        <v-btn
          icon
          class="align-style"
          id="align-style"
          title="Align"
          v-if="
            activeMarker['type'] === 'rectangle' ||
            activeMarker['type'] === 'circle'
          "
        >
          <v-icon style="font-size: 24px;">mdi-vector-square</v-icon>
          Aligning
        </v-btn>
        <v-btn icon class="lock" id="lock" title="Lock" @click="lockMarker">
          <v-icon style="font-size: 24px;">
            {{ activeMarker.draggable ? 'mdi-lock' : 'mdi-lock-open' }}
          </v-icon>
          {{ activeMarker.draggable ? 'Lock' : 'Unlock' }}
        </v-btn>
        <v-btn
          icon
          class="delete"
          id="delete"
          title="Delete"
          @click="deleteMarker"
        >
          <v-icon style="font-size: 24px;">mdi-delete</v-icon>
          Delete
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import MarkerBoard from '~/mixins/marker-board'
import { mapGetters } from 'vuex'

export default {
  mixins: [MarkerBoard],
  computed: {
    ...mapGetters({
      markerColors: 'board/markerColors',
      sidebarVisible: 'sidebarVisible',
      owner: 'board/owner',
      loading: 'board/loading',
      selectedMarker: 'board/selectedMarkerTool',
      markers: 'board/markers',
      activeMarker: 'board/activeMarker',
      activeMarkerId: 'board/activeMarkerId',
      modulesList: 'types/modules',
      moduleRadius: 'board/moduleRadius',
      stageScale: 'board/stageScale',
      stagePosition: 'board/stagePosition',
    }),
    settingToolbarStyle() {
      if (!this.activeMarker) return {}
      let left = this.getPoint(this.activeMarker).x,
        top = this.getPoint(this.activeMarker).y
      switch (this.activeMarker.type) {
        case 'rectangle':
          top += this.stageScale * this.activeMarker.height
          break
        case 'circle':
          left -= this.stageScale * this.activeMarker.radius
          top += this.stageScale * this.activeMarker.radius
          break
      }
      if (this.dragPosition) {
        top = this.dragPosition.y
        left = this.dragPosition.x
      }
      if (left < 50) left = 50
      if (left > this.screenWidth - 185) left = this.screenWidth - 185
      if (top < 230) top = 230
      if (top > this.screenHeight - 255) top = this.screenHeight - 255
      return {
        left: `${left}px`,
        top: `${top}px`,
      }
    },
    isEmbeded() {
      return this.$route.query.embed
    },
    panzoomVisible() {
      return !this.sidebarVisible || this.$vuetify.breakpoint.mdAndUp
    },
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    isShared() {
      return this.$route.query.share !== undefined
    },
  },
  watch: {
    activeMarkerBackSrc(newVal, oldVal) {
      // add image or video
      if (!this.activeMarkerId || !this.activeMarker) return
      if (newVal === this.activeMarker.src) return
      if (newVal && this.rules[0](newVal) === true) {
        this.activeMarker.src = newVal
        this.$store.commit('board/transformActiveMarker', this.activeMarker)
      } else if (!newVal && oldVal) {
        // remove image or video
        this.activeMarker.src = null
        this.$store.commit('board/transformActiveMarker', this.activeMarker)
      }
    },
    activeMarkerId() {
      this.dragPosition = null
      this.activeMarkerBackSrc = this.activeMarker?.src || ''
    },
    activeMarker: {
      handler(newVal) {
        let _activeMarker = this.activeMarker
        _activeMarker = newVal
        this.$store.commit('board/transformActiveMarker', _activeMarker)
      },
      deep: true,
    },
  },
  data: () => ({
    styleTarget: null,
    colorPicker: null,
    screenWidth: window.innerWidth,
    screenHeight: window.innerHeight,
    dragPosition: null,
    offset: {
      x: 0,
      y: 0,
    },
    activeMarkerBackSrc: null,
    rules: [
      value =>
        !value ||
        /^https:\/\/.*.(jpg|gif|png|bmp)$/.test(value) ||
        /^https\:\/\/www\.youtube\.com\/watch\?v=(\w{11})/.test(value) ||
        /^https:\/\/.*.(webm|mpeg|avi|mp4)$/.test(value) ||
        'Invaild link',
    ],
  }),
  methods: {
    // draggable toolbar
    dragStartCustomToolbar(e) {
      this.offset = {
        x: e.clientX - parseFloat(e.target.style.left),
        y: e.clientY - parseFloat(e.target.style.top),
      }
    },
    dragEndCustomToolbar(e) {
      e.stopPropagation()
      e.preventDefault()
      this.dragPosition = {
        x: e.clientX - this.offset.x,
        y: e.clientY - this.offset.y,
      }
    },
    // calculate position over stage
    getPoint(marker) {
      const scale = this.stageScale
      const pointer = this.stagePosition
      return {
        x: marker.x * scale + pointer.x,
        y: marker.y * scale + pointer.y,
      }
    },
    showSection(e) {
      this.styleTarget = e
    },
    showColorPicker(e) {
      this.colorPicker = e
    },
    setMarkerStyle(field, value) {
      if (this.activeMarker[field] === value) return
      this.activeMarker[field] = value
      this.$store.commit('board/updateStore', {
        activeMarker: this.activeMarker,
      })
      if (
        [
          'company_tag',
          'company_industry',
          'company_count',
          'company_align',
        ].includes(field) &&
        this.activeMarker['company_tag'] &&
        this.activeMarker['company_industry'] &&
        this.activeMarker['company_count'] &&
        this.activeMarker['company_align']
      ) {
        let searchModuleList = this.modulesList['All'].filter(
          (md) =>
            (this.activeMarker['company_tag'] === 'Unset' ||
              md.meta_tags.includes(this.activeMarker['company_tag'])) &&
            (this.activeMarker['company_industry'] === 'Unset' ||
              md.industries.includes(this.activeMarker['company_industry'])),
        )
        if (this.activeMarker['company_count'] === 'Add Top 100') {
          searchModuleList = searchModuleList.slice(0, 100)
        }
        if (this.activeMarker['company_count'] === 'Add Top 10') {
          searchModuleList = searchModuleList.slice(0, 10)
        }
        // console.log('searchModuleList', searchModuleList)
        if (!searchModuleList.length) return
        const config = this.calculatePositions(
          this.activeMarker['company_align'],
          this.activeMarker,
          searchModuleList.length,
        )
        // console.log('positions', config)
        const newModules = searchModuleList.map((el, index) => ({
          ...el,
          position: {
            x: config.positions[index].x - this.moduleRadius,
            y: config.positions[index].y - this.moduleRadius,
          },
          markerId: this.activeMarker.id,
        }))
        this.$store.commit('board/addModules', newModules)
        // fit width and height of marker
        /* const marker = this.activeMarker
        if (marker.type === 'circle') {
          marker.x = marker.x + config.width / 2 - marker.radius
          marker.y = marker.y + config.width / 2 - marker.radius
          marker.radius = config.width / 2
        } else {
          marker.width = config.width
          marker.height = config.height
        }
        this.$store.commit('board/tranformMarker', marker) */
      }
    },
    deplicateMarker() {
      this.$store.commit('board/duplicateMarker', this.activeMarker)
    },
    deleteMarker() {
      this.$store.commit('board/deleteMarker', this.activeMarkerId)
    },
    lockMarker() {
      this.$store.commit('board/lockMarker', {
        id: this.activeMarkerId,
        lock: this.activeMarker.draggable,
      })
    },
    tagList() {
      let tags = []
      this.modulesList['All'] &&
        this.modulesList['All'].forEach((md) => {
          tags = [...tags, ...md.meta_tags]
        })
      return [...new Set(tags)]
    },
  },
}
</script>

<style lang="scss" src="~/assets/styles/custombar.scss"></style>
