<template lang="html">
  <div class="map-filter-list">

    <h2>
      <v-btn
      icon
      light
      color="#fcede4"
      title="Filter stakeholders on this board"
      @click="toggleMapFilter()"
      >
      <v-icon style="font-size: 24px">mdi-filter</v-icon>
    </v-btn>
      MAP FILTERS
    </h2>

    <div class="country-filter">
      <h3>Countries</h3>   
      <div class='checkboxWrapper' v-for="(counter, country) in countries"
            :key="country">
        <v-checkbox
          :id="country"
          v-model='checkedCountries'
          color='#f1592a'
          hide-details
          dense
          :value="country"
          :label="country"
        ></v-checkbox>
      {{counter}}
      </div>
    </div>
  </div>
</template>

<script>

const allModulesIdentifier = 'All'

export default {
  name: 'MapFilter',
  props: {
    modules: {
      type: Array,
    },
  },
  data: () => ({
    checkedCountries: [allModulesIdentifier],
  }),
  computed: {
    countries: function () {
      var countriesHashed = {}
      // console.log(this.modules)

      countriesHashed[allModulesIdentifier] = 0
      for(var i = 0; i <= this.modules.length; i++) 
      { 

        if(this.modules[i] && this.modules[i].info) 
        {
          // console.log(this.modules[i].info)
          // console.log(this.modules[i].info['Based in (country)'])
          // console.log(this.modules[i].name)
          // console.log(this.modules[i].info['Based in (mailing city)'])
          const country = this.modules[i].info['Based in (mailing city)']

          if(country) 
          {
            if(!countriesHashed[country]) 
            {
              countriesHashed[country] = 1
            }
            else 
            {
              countriesHashed[country] = countriesHashed[country] +1
            }
          }
        }        
      }

      countriesHashed[allModulesIdentifier] = this.modules.length
      return countriesHashed
    },
  },
  watch: {
    checkedCountries() {
      if(this.checkedCountries.length > 1 && this.checkedCountries.includes(allModulesIdentifier)) 
      {
        const indexOfAllCheckbox = this.checkedCountries.indexOf(allModulesIdentifier)
        if (indexOfAllCheckbox > -1) 
        {
          this.checkedCountries.splice(indexOfAllCheckbox, 1)
        }
      }
      if(this.checkedCountries.length == 0)
      {
         this.checkedCountries.push(allModulesIdentifier)
      }
      let filteredModules = []
      for(var i = 0; i <= this.modules.length; i++) 
      {
         if(this.modules[i] && this.modules[i].info) {
            const country = this.modules[i].info['Based in (mailing city)']
            if(!this.checkedCountries.includes(country) && !this.checkedCountries.includes(allModulesIdentifier)) {
              filteredModules.push(this.modules[i].id)
            }
         }
      }
      // console.log(filteredModules)
      this.$store.commit('board/updateFilteredModules', filteredModules)
    },
  },
  methods: {
    toggleMapFilter(){
        this.$store.dispatch('toggleSidebarLeft')
      },
  },
}
</script>

<style lang="scss" src="~/assets/styles/mapfilters.scss"></style>
