<template>
  <v-layer>
    <v-group
      v-for="(marker, i) in markersData"
      :key="i"
      :ref="'module' + marker.id"
    >
      <v-group
        v-if="marker.type === 'rectangle'"
        :config="{
          draggable: marker.draggable,
          x: marker.x,
          y: marker.y,
          id: marker.id + '_group',
        }"
        @dragend="handleMarkerDragEnd"
      >
        <v-rect
          :config="{
            ...markerDefaultConfig,
            ...marker,
            x: 0,
            y: 0,
            draggable: false,
          }"
          @transformend="handleTransformEnd"
        />
        <v-image
          :config="{
            ...markerDefaultConfig,
            ...marker,
            image: marker.background,
            x: 0,
            y: 0,
          }"
          v-if="isImage(marker)"
        />
        <v-text
          :config="{
            ...markerDefaultConfig,
            ...marker,
            x: insideText ? 10 : 0 - marker.fontSize * 1.2,
            y: insideText ? 10 : 0 - marker.fontSize * 1.2,
            draggable: false,
            opacity: editTextId === marker.id ? 0 : 1,
            strokeWidth: 0,
            fill: marker.textFill,
          }"
          @dblclick="handleEditText"
        />
      </v-group>
      <v-group
        v-if="marker.type === 'circle'"
        :config="{
          draggable: marker.draggable,
          x: marker.x,
          y: marker.y,
          id: marker.id + '_group',
        }"
        @dragend="handleMarkerDragEnd"
      >
        <v-circle
          :config="{
            ...markerDefaultConfig,
            ...marker,
            x: 0,
            y: 0,
            draggable: false,
          }"
          @transformend="handleTransformEnd"
        />
        <v-text
          :config="{
            ...markerDefaultConfig,
            ...marker,
            x: 0 - marker.radius,
            y: insideText
              ? 10 - marker.radius
              : 0 - marker.fontSize * 1.2 - marker.radius,
            draggable: false,
            opacity: editTextId === marker.id ? 0 : 1,
            strokeWidth: 0,
            fill: marker.textFill,
            align: 'center',
          }"
          @dblclick="handleEditText"
        />
      </v-group>
      <v-text
        :config="{
          ...markerDefaultConfig,
          ...marker,
          opacity: editTextId === marker.id ? 0 : 1,
          strokeWidth: 0,
          fill: marker.textFill,
        }"
        @transformend="handleTransformEnd"
        @dragend="handleMarkerDragEnd"
        @dblclick="handleEditText"
        v-if="marker.type === 'text'"
      />
      <v-arc
        :config="{
          ...markerDefaultConfig,
          ...marker,
        }"
        @transformend="handleTransformEnd"
        @dragend="handleMarkerDragEnd"
        v-if="marker.type === 'annular'"
      />
      <v-arrow
        :config="{
          ...markerDefaultConfig,
          ...marker,
        }"
        @transformend="handleTransformEnd"
        @dragend="handleMarkerDragEnd"
        v-if="marker.type === 'arrow'"
      />
      <v-line
        :config="{
          ...markerDefaultConfig,
          ...marker,
        }"
        @transformend="handleTransformEnd"
        @dragend="handleMarkerDragEnd"
        v-if="marker.type === 'line'"
      />
    </v-group>
    <!-- Temp Draw -->
    <v-group v-if="startPoint && movePoint">
      <v-group
        :config="{
          x: startPoint.x,
          y: startPoint.y,
        }"
        v-if="selectedMarker === 'rectangle'"
      >
        <v-rect
          :config="{
            x: 0,
            y: 0,
            width: movePoint.x - startPoint.x,
            height: movePoint.y - startPoint.y,
            ...markerDefaultConfig,
          }"
        />
        <v-text
          :config="{
            x: insideText ? 10 : 0 - markerDefaultConfig.fontSize * 1.2,
            y: insideText ? 10 : 0 - markerDefaultConfig.fontSize * 1.2,
            width: Math.abs(movePoint.x - startPoint.x),
            ...markerDefaultConfig,
            fill: markerDefaultConfig.textFill,
            strokeWidth: 0,
          }"
        />
      </v-group>
      <v-group
        :config="{
          x: startPoint.x,
          y: startPoint.y,
        }"
        v-if="selectedMarker === 'circle'"
      >
        <v-circle
          :config="{
            x: (movePoint.x - startPoint.x) / 2,
            y: (movePoint.y - startPoint.y) / 2,
            radius: Math.abs(movePoint.x - startPoint.x) / 2,
            ...markerDefaultConfig,
          }"
        />
        <v-text
          :config="{
            x: 0,
            y: insideText
              ? 10 -
                Math.abs(movePoint.x - startPoint.x) / 2 +
                Math.abs(movePoint.y - startPoint.y) / 2
              : 0 -
                markerDefaultConfig.fontSize * 1.2 -
                Math.abs(movePoint.x - startPoint.x) / 2 +
                Math.abs(movePoint.y - startPoint.y) / 2,
            width: Math.abs(movePoint.x - startPoint.x),
            ...markerDefaultConfig,
            fill: markerDefaultConfig.textFill,
            strokeWidth: 0,
            align:'center',
          }"
        />
      </v-group>
      <v-arc
        :config="{
          x: (movePoint.x + startPoint.x) / 2,
          y: (movePoint.y + startPoint.y) / 2,
          innerRadius: Math.abs(movePoint.x - startPoint.x) / 3,
          outerRadius: Math.abs(movePoint.x - startPoint.x) / 2,
          ...markerDefaultConfig,
        }"
        v-if="selectedMarker === 'annular'"
      />
      <v-line
        :config="{
          x: 0,
          y: 0,
          points: [startPoint.x, startPoint.y, movePoint.x, movePoint.y],
          tension: 1,
          ...markerDefaultConfig,
        }"
        v-if="selectedMarker === 'line'"
      />
      <v-text
        :config="{
          x: (movePoint.x + startPoint.x) / 2,
          y: (movePoint.y + startPoint.y) / 2,
          width:
            Math.abs(movePoint.x - startPoint.x) < 100
              ? 100
              : Math.abs(movePoint.x - startPoint.x),
          ...markerDefaultConfig,
          strokeWidth: 0,
        }"
        v-if="selectedMarker === 'text'"
      />
      <v-text
        :config="{
          x: (movePoint.x + startPoint.x) / 2,
          y: (movePoint.y + startPoint.y) / 2,
          width:
            Math.abs(movePoint.x - startPoint.x) < 100
              ? 100
              : Math.abs(movePoint.x - startPoint.x),
          ...markerDefaultConfig,
          fontSize: 30,
          strokeWidth: 0,
        }"
        v-if="selectedMarker === 'title'"
      />
      <v-arrow
        :config="{
          x: 0,
          y: 0,
          points: [startPoint.x, startPoint.y, movePoint.x, movePoint.y],
          pointerLength: 20,
          pointerWidth: 20,
          ...markerDefaultConfig,
        }"
        v-if="selectedMarker === 'arrow'"
      />
    </v-group>
    <slot />
  </v-layer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    startPoint: {
      type: Object,
    },
    movePoint: {
      type: Object,
    },
    handleTransformEnd: {
      type: Function,
    },
    handleEditText: {
      type: Function,
    },
    editTextId: {
      type: String,
    },
  },
  computed: {
    ...mapGetters({
      activeMarker: 'board/activeMarker',
      selectedMarker: 'board/selectedMarkerTool',
      markers: 'board/markers',
      markerDefaultConfig: 'board/markerDefaultConfig',
    }),
    getMarkers() {
      return this.markers
    },
  },
  watch: {
    getMarkers(newVal) {
      this.markersData = []
      newVal.map((marker) => {
        if (marker.src && !marker.background) {
          if (/^https:\/\/.*.(jpg|gif|png|bmp)$/.test(marker.src)) {
            const image = new window.Image()
            image.src = marker.src
            image.onload = () => {
              marker.background = image
              this.markersData.push(marker)
            }
            image.onerror = () => {
              marker.background = null
              this.markersData.push(marker)
            }
          } else {
          }
        } else {
          this.markersData.push(marker)
        }
      })
    },
  },
  data: () => ({
    markersData: [],
    insideText: true,
  }),
  created() {
    this.markers.map((marker) => {
      if (marker.src) {
        if (/^https:\/\/.*.(jpg|gif|png|bmp)$/.test(marker.src)) {
          if (marker.background) return
          const image = new window.Image()
          image.src = marker.src
          image.onload = () => {
            marker.background = image
            this.markersData.push(marker)
          }
          image.onerror = () => {
            marker.background = null
            this.markersData.push(marker)
          }
        } else {
          // video
        }
      } else {
        this.markersData.push(marker)
      }
    })
  },
  mounted() {
    console.log(
      '%c' + 'markers --->',
      'background: lightskyblue; color: tomato',
      this.markers,
    )
  },
  methods: {
    isImage(marker) {
      return (
        marker.src &&
        marker.background &&
        /^https:\/\/.*.(jpg|gif|png|bmp)$/.test(marker.src)
      )
    },
    handleMarkerDragEnd(e) {
      const activeMarker = this.markersData.find(
        (r) => r.id === e.target.id().replace('_group', ''),
      )
      activeMarker.x = e.target.x()
      activeMarker.y = e.target.y()
      this.$store.commit('board/tranformMarker', activeMarker)
    },
  },
}
</script>

<style scoped></style>
