<template>
  <v-layer>
    <v-group
      v-for="(shape, i) in modulesData"
      :key="i"
      :ref="'module' + shape.id"
      :config="{
        draggable: true,
        id: shape.id,
        x: shape.position.x,
        y: shape.position.y,
        visible: filteredModules.includes(shape.id) ? false : true
      }"
      @mouseover="handleMouseOver(shape.id)"
      @mouseout="handleMouseOut"
      @dragend="(e) => handleDragEnd(e, shape.id)"
    >
      <v-circle
        :config="{
          x: moduleRadius,
          y: moduleRadius,
          radius: moduleRadius + 7,
          stroke: '#e5e5e5',
          strokeWidth: 2,
          fill: 'white',
        }"
        v-if="logoShape === 'circle'"
      />
      <v-rect
        :config="{
          x: -7,
          y: -7,
          width: (moduleRadius + 7) * 2,
          height: (moduleRadius + 7) * 2,
          stroke: '#e5e5e5',
          strokeWidth: 2,
          fill: 'white',
        }"
        v-else
      />
      <v-group
        :config="
          logoShape === 'circle'
            ? {
                clipFunc: function (ctx) {
                  ctx.arc(
                    moduleRadius,
                    moduleRadius,
                    moduleRadius,
                    moduleRadius,
                    Math.PI * 2,
                    true,
                  )
                },
              }
            : {}
        "
      >
        <v-image
          :config="{
            x: 0,
            y: 0,
            image: shape.logo,
            width: moduleRadius * 2,
            height: moduleRadius * 2,
            stroke: '#ccc',
          }"
          v-if="shape.logo"
        />
        <v-group
          :config="{
            x: 0,
            y: 0,
          }"
          v-else
        >
          <v-circle
            :config="{
              x: moduleRadius,
              y: moduleRadius,
              radius: moduleRadius / 2,
              fill: '#6C6E6F',
            }"
          />
          <v-text
            :config="{
              x: moduleRadius,
              y: moduleRadius,
              text: 'i',
              fontSize: 30,
              fontStyle: 'bold',
              offsetX: 4,
              offsetY: 12,
              fontFamily: 'Inter',
              fill: 'white',
            }"
          />
        </v-group>
      </v-group>
      <v-group v-if="hoverId === shape.id">
        <v-circle
          :config="{
            x: moduleRadius,
            y: moduleRadius,
            radius: moduleRadius + 25,
            stroke: '#FB6E00',
            strokeWidth: 2,
          }"
          v-if="logoShape === 'circle'"
        />
        <v-rect
          :config="{
            x: -25,
            y: -25,
            width: (moduleRadius + 25) * 2,
            height: (moduleRadius + 25) * 2,
            stroke: '#FB6E00',
            strokeWidth: 2,
          }"
          v-else
        />
        <v-group>
          <v-circle
            :config="{
              x: -25,
              y: moduleRadius,
              radius: 12,
              fill: '#FB6E00',
            }"
          />
          <v-text
            :config="{
              x: -29,
              y: moduleRadius - 10,
              text: '!',
              fontSize: 24,
              fontFamily: 'Inter',
              fill: 'white',
            }"
          />
        </v-group>
        <v-group @click="handleDeleteModule(shape.id)">
          <v-circle
            :config="{
              x:
                logoShape === 'circle'
                  ? moduleRadius * 2 - 10
                  : moduleRadius * 2 + 25,
              y: moduleRadius - 65,
              radius: 12,
              fill: 'rgb(255,51,51)',
            }"
          />
          <v-text
            :config="{
              x:
                logoShape === 'circle'
                  ? moduleRadius * 2 - 15
                  : moduleRadius * 2 + 20,
              y: moduleRadius - 78,
              text: 'x',
              fontSize: 24,
              fontFamily: 'Inter',
              fill: 'white',
            }"
          />
        </v-group>
  <!--      <v-circle
          :config="{
            x:
              logoShape === 'circle'
                ? moduleRadius * 2 + 16
                : moduleRadius * 2 + 25,
            y: moduleRadius - 35,
            radius: 12,
            fill: 'rgb(66, 165, 245)',
          }"
        />
        <v-circle
          :config="{
            x: moduleRadius * 2 + 25,
            y: moduleRadius,
            radius: 12,
            fill: 'rgb(102, 187, 106)',
          }"
        />
        <v-circle
          :config="{
            x:
              logoShape === 'circle'
                ? moduleRadius * 2 + 16
                : moduleRadius * 2 + 25,
            y: moduleRadius + 35,
            radius: 12,
            fill: 'rgb(38, 166, 154)',
          }"
        />
      -->
      </v-group>
      <v-text
        :config="{
          x: moduleRadius - 75,
          y: moduleRadius * 2 + 20,
          text: shape.name,
          fontSize: 14,
          fontFamily: 'Inter',
          align: 'center',
          width: 150,
        }"
      />
    </v-group>
  </v-layer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      modules: 'board/modules',
      moduleRadius: 'board/moduleRadius',
      logoShape: 'board/logoShape',
      filteredModules: 'board/filteredModules',
    }),
    getModules() {
      return this.modules
    },
  },
  watch: {
    getModules(newVal, oldVal) {
      if (newVal.length <= oldVal.length) {
        this.modulesData = this.modulesData.filter((el) =>
          newVal.map((e) => e.id).includes(el.id),
        )
      } else {
        this.modulesData = []
        newVal.map((md) => {
          const image = new window.Image()
          image.src = md.image
          image.onload = () => {
            this.modulesData.push({
              ...md,
              logo: image,
            })
          }
          image.onerror = () => {
            this.modulesData.push({
              ...md,
            })
          }
        })
      }
    },
  },
  data: () => ({
    modulesData: [],
    hoverId: '',
  }),
  created() {
    this.modules.map((md) => {
      const image = new window.Image()
      image.src = md.image
      image.onload = () => {
        this.modulesData.push({
          ...md,
          logo: image,
        })
      }
      image.onerror = () => {
        this.modulesData.push({
          ...md,
        })
      }
    })
  },
  mounted() {
    console.log('modules --->', this.modules)
  },
  methods: {
    handleMouseOver(id) {
      this.hoverId = id
    },
    handleMouseOut() {
      this.hoverId = ''
    },
    handleDragEnd(e, id) {
      const activeModule = this.modulesData.find((md) => md.id === id)
      activeModule.position = {
        x: e.target.x(),
        y: e.target.y(),
      }
      this.$store.commit('board/tranformModule', activeModule)
    },
    handleDeleteModule(id) {
      this.$store.commit('board/deleteModule', id)
    },
  },
}
</script>

<style scoped></style>
