<template>
  <div id="ecomap-board-1" v-if="activeBoard" ref="board">
    <v-stage
      :config="{
        draggable: moveableStage,
        cursor: 'move',
        scale: { x: stageScale, y: stageScale },
        position: stagePosition,
        ...configStage,
      }"
      @wheel="mousewheel"
      @mousedown="handleStageMouseDown"
      @touchstart="handleStageMouseDown"
      @mousemove="handleStageMouseMove"
      @touchmove="handleStageMouseMove"
      @mouseup="handleStageMouseUp"
      @touchend="handleStageMouseUp"
      @mouseleave="handleStageMouseUp"
      @touchcancel="handleStageMouseUp"
      @mouseover="handleActiveCursorPointer"
    >
      <marker-layer
        :startPoint="startPoint"
        :movePoint="movePoint"
        :handleTransformEnd="handleTransformEnd"
        :handleEditText="handleEditText"
        :editTextId="editTextId"
      >
        <v-transformer ref="transformer" />
      </marker-layer>
      <module-layer />
    </v-stage>
    <textarea
      v-if="editTextId"
      placeholder="Something Text"
      @blur="updateText"
      :style="textAreaStyle"
      v-model="textAreaValue"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ModuleLayer from './ModuleLayer'
import MarkerLayer from './MarkerLayer'

export default {
  components: {
    ModuleLayer,
    MarkerLayer,
  },
  props: {
    selection: {
      type: Boolean,
    },
  },
  mixins: [],
  data: () => ({
    startPoint: null,
    movePoint: null,
    editTextId: '',
    textAreaStyle: {},
    textAreaValue: '',
    configStage: {
      width: window.innerWidth,
      height: window.innerHeight,
    },
  }),
  computed: {
    ...mapGetters({
      scaleBy: 'board/scaleBy',
      selectedMarker: 'board/selectedMarkerTool',
      loading: 'board/loading',
      boards: 'board/boardList',
      modulesList: 'types/modules',
      type: 'types/selected',
      selected: 'board/selected',
      activeBoard: 'board/activeBoard',
      markers: 'board/markers',
      activeMarkerId: 'board/activeMarkerId',
      markerDefaultConfig: 'board/markerDefaultConfig',
      moveableStage: 'board/moveableStage',
      stageScale: 'board/stageScale',
      stagePosition: 'board/stagePosition',
    }),
    modules() {
      return this.modulesList[this.type] || []
    },
  },
  watch: {
    activeMarkerId() {
      this.updateTransformer()
    },
  },
  async mounted() {
    // this.$store.commit('board/setInitialState')
  },
  methods: {
    handleActiveCursorPointer(e) {
      e.target.getStage().container().style.cursor = this.moveableStage
        ? 'move'
        : 'pointer'
    },
    // calculate position over stage
    getPos(stage) {
      const scale = stage.scaleX()
      const pointer = stage.getPointerPosition()
      return {
        x: (pointer.x - stage.x()) / scale,
        y: (pointer.y - stage.y()) / scale,
      }
    },
    // scale by mouse scroll
    mousewheel(e) {
      e.evt.preventDefault()
      const stage = e.target.getStage()
      const oldScale = stage.scaleX()
      const pointer = stage.getPointerPosition()
      const mousePointTo = this.getPos(e.target.getStage())
      const newScale =
        e.evt.deltaY > 0 ? oldScale * this.scaleBy : oldScale / this.scaleBy
      this.$store.commit('board/updateStore', {
        stageScale: newScale,
        stagePosition: {
          x: pointer.x - mousePointTo.x * newScale,
          y: pointer.y - mousePointTo.y * newScale,
        },
      })
    },
    handleStageMouseDown(e) {
      if (e.target === e.target.getStage()) {
        this.startPoint = this.getPos(e.target.getStage())
        this.$store.commit('board/transformActiveMarker', null)
        return
      }
      // clicked on transformer - do nothing
      if (e.target.getParent().className === 'Transformer') {
        return
      }
      // find clicked marker by its id
      const id = e.target.id()
      const activeMarker = this.markers.find((r) => r.id === id)
      if (activeMarker) {
        this.$store.commit('board/transformActiveMarker', activeMarker)
      } else {
        this.$store.commit('board/transformActiveMarker', null)
      }
    },
    handleStageMouseMove(e) {
      if (this.startPoint) {
        this.movePoint = this.getPos(e.target.getStage())
      }
    },
    handleStageMouseUp(e) {
      if (this.startPoint && this.movePoint) {
        if (this.selectedMarker) {
          this.movePoint = this.getPos(e.target.getStage())
          // saving marker...
          let markerObj
          switch (this.selectedMarker) {
            case 'rectangle':
              markerObj = {
                x: this.startPoint.x,
                y: this.startPoint.y,
                width: this.movePoint.x - this.startPoint.x,
                height: this.movePoint.y - this.startPoint.y,
              }
              break
            case 'circle':
              markerObj = {
                x: (this.movePoint.x + this.startPoint.x) / 2,
                y: (this.movePoint.y + this.startPoint.y) / 2,
                width: this.movePoint.x - this.startPoint.x,
                radius: Math.abs(this.movePoint.x - this.startPoint.x) / 2,
              }
              break
            case 'annular':
              markerObj = {
                x: (this.movePoint.x + this.startPoint.x) / 2,
                y: (this.movePoint.y + this.startPoint.y) / 2,
                innerRadius: Math.abs(this.movePoint.x - this.startPoint.x) / 3,
                outerRadius: Math.abs(this.movePoint.x - this.startPoint.x) / 2,
                angle: 360,
              }
              break
            case 'line':
              markerObj = {
                x: this.startPoint.x,
                y: this.startPoint.y,
                points: [
                  0,
                  0,
                  this.movePoint.x - this.startPoint.x,
                  this.movePoint.y - this.startPoint.y,
                ],
              }
              break
            case 'text':
              markerObj = {
                x: (this.movePoint.x + this.startPoint.x) / 2,
                y: (this.movePoint.y + this.startPoint.y) / 2,
                width: Math.abs(this.movePoint.x - this.startPoint.x) < 100 ? 100 : Math.abs(this.movePoint.x - this.startPoint.x),
              }
              break
            case 'title':
              markerObj = {
                x: (this.movePoint.x + this.startPoint.x) / 2,
                y: (this.movePoint.y + this.startPoint.y) / 2,
                width: Math.abs(this.movePoint.x - this.startPoint.x) < 100 ? 100 : Math.abs(this.movePoint.x - this.startPoint.x),
              }
              break
            case 'arrow':
              markerObj = {
                x: this.startPoint.x,
                y: this.startPoint.y,
                points: [
                  0,
                  0,
                  this.movePoint.x - this.startPoint.x,
                  this.movePoint.y - this.startPoint.y,
                ],
              }
              break
          }
          if (!markerObj) return
          if (markerObj.width < 2) return
          if (markerObj.height < 2) return
          if (markerObj.radius < 2) return
          const marker = {
            ...markerObj,
            type: this.selectedMarker,
            id: this.selectedMarker + new Date().getTime(),
            ...this.markerDefaultConfig,
          }
          this.$store.commit('board/createMarker', marker)
        } else if (this.moveableStage) {
          const stage = e.target.getStage()
          this.$store.commit('board/updateStore', {
            stagePosition: {
              x: stage.x(),
              y: stage.y(),
            },
          })
        }
        this.startPoint = null
        this.movePoint = null
      }
    },
    updateTransformer() {
      const activeMarker = this.markers.find(
        (r) => r.id === this.activeMarkerId,
      )
      // if locked
      if (activeMarker && !activeMarker.draggable) return
      // manually attach or detach Transformer node
      const transformerNode = this.$refs.transformer.getNode()
      const stage = transformerNode.getStage()
      if (this.activeMarkerId) {
        const selectedNode = stage.findOne('#' + this.activeMarkerId)
        // do nothing if selected node is already attached
        if (selectedNode === transformerNode.node()) {
          return
        }
        if (selectedNode) {
          // attach to another node
          transformerNode.nodes([selectedNode])
        } else {
          // remove transformer
          transformerNode.nodes([])
        }
      } else {
        transformerNode.nodes([])
      }
      transformerNode.getLayer().batchDraw()
    },
    handleTransformEnd(e) {
      // shape is transformed, save new attrs back to the node
      const activeMarker = this.markers.find(
        (r) => r.id === this.activeMarkerId,
      )
      // if locked
      if (!activeMarker.draggable) return
      // update the state
      switch (activeMarker.type) {
        case 'rectangle': {
          activeMarker.rotation = e.target.rotation()
          activeMarker.width = activeMarker.width * e.target.scaleX()
          activeMarker.height = activeMarker.height * e.target.scaleY()
          activeMarker.x = activeMarker.x + e.target.x()
          activeMarker.y = activeMarker.y + e.target.y()
          activeMarker.scaleX = 1
          activeMarker.scaleY = 1
          // Redraw target shape
          e.target.rotation(activeMarker.rotation)
          e.target.x(0)
          e.target.y(0)
          e.target.width(activeMarker.width)
          e.target.height(activeMarker.height)
          e.target.scaleX(1)
          e.target.scaleY(1)
          e.target.draw()
          break
        }
        case 'circle': {
          activeMarker.rotation = 0 // e.target.rotation()
          activeMarker.x = activeMarker.x + e.target.x()
          activeMarker.y = activeMarker.y + e.target.y()
          activeMarker.radius = activeMarker.radius * Math.max(e.target.scaleY(), e.target.scaleX())
          activeMarker.scaleX = 1
          activeMarker.scaleY = 1
          // Redraw target shape
          e.target.rotation(activeMarker.rotation)
          e.target.x(0)
          e.target.y(0)
          e.target.scaleX(1)
          e.target.scaleY(1)
          e.target.radius(activeMarker.radius)
          e.target.draw()
          break
        }
        default: {
          activeMarker.x = e.target.x()
          activeMarker.y = e.target.y()
          activeMarker.rotation = e.target.rotation()
          activeMarker.scaleX = e.target.scaleX()
          activeMarker.scaleY = e.target.scaleY()
          break
        }
      }
      this.$store.commit('board/tranformMarker', activeMarker)
    },
    handleEditText(e) {
      this.textAreaValue = e.target.text()
      this.textAreaStyle = {
        position: 'absolute',
        top: e.target.absolutePosition().y + 'px',
        left: e.target.absolutePosition().x + 'px',
        width: (e.target.width() - e.target.padding() * 2) * this.stageScale + 'px',
        height: (e.target.height() - e.target.padding() * 2 + 5) * this.stageScale + 'px',
        fontSize: e.target.fontSize() * this.stageScale + 'px',
        border: 'none',
        padding: '0px',
        margin: '0px',
        overflow: 'hidden',
        background: 'none',
        outline: 'none',
        resize: 'none',
        lineHeight: e.target.lineHeight() * this.stageScale,
        fontFamily: e.target.fontFamily(),
        transformOrigin: 'left top',
        textAlign: e.target.align(),
        color: e.target.fill(),
        transform: e.target.rotation()
          ? 'rotateZ(' + e.target.rotation() + 'deg)'
          : 'none',
        // height: 'auto'
      }
      this.editTextId = e.target.id()
    },
    updateText(e) {
      e.preventDefault()
      if (!this.editTextId) return
      const activeMarker = this.markers.find((r) => r.id === this.editTextId)
      activeMarker.text = this.textAreaValue
      this.$store.commit('board/tranformMarker', activeMarker)
      this.editTextId = ''
    },
  },
}
</script>

<style scoped>
#ecomap-board-1 {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: white;
  z-index: 3;
}
</style>
