<template>
  <div
    class="toolbar"
    :class="{ 'full-width-for-embed': isEmbeded }"
    v-show="panzoomVisible"
    v-if="!isEmbeded && panzoomVisible"
  >
    <!-- Map filter button -->
    <div class="vbtn-zoom">
      <v-btn icon light class="zoom-in" title="Filter stakeholders on this board"  @click="toggleMapFilter()" >
        <v-icon style="font-size: 24px">mdi-filter-outline</v-icon>
      </v-btn>
    </div>


    <div class="vbtn-zoom">
      <v-btn icon light class="zoom-in" title="Zoom In" @click.stop="zoomIn">
        <v-icon style="font-size: 24px;">mdi-plus</v-icon>
      </v-btn>
      <v-btn icon light class="zoom-out" title="Zoom Out" @click.stop="zoomOut">
        <v-icon style="font-size: 24px;">mdi-minus</v-icon>
      </v-btn>
      <v-btn
        icon
        light
        class="reset-zoomx toolbar_zoom_reset"
        id="reset-zoomx"
        title="Reset Zoom"
        @click.stop="resetZoom"
      >
        <v-icon style="font-size: 24px;">
          mdi-crop-free
        </v-icon>
      </v-btn>
      <v-btn
        icon
        light
        class="move-map toolbar_move_map"
        title="Move Map"
        ref="rect-marker-tool"
        v-bind:class="{ active: !!moveableStage }"
        @click="moveMap"
      >
        <v-icon style="font-size: 20px;">mdi-hand-right</v-icon>
      </v-btn>
      <v-btn
        icon
        light
        class="switch-shape"
        v-if="!isShared"
        v-bind:class="{ 'circle-shape': logoShape === 'circle' }"
        title="Switch Shape"
        @click="switchShape"
      >
        <span class="rectangle"></span>
        <span class="circle"></span>
      </v-btn>
      <!-- <v-btn
        v-show="!isEmbeded"
        v-if="!isShared"
        icon
        light
        title="Select stakeholders to make a group"
        @click="enableSelectionBoard"
      >
        <v-icon style="font-size: 24px;">mdi-select-all</v-icon>
      </v-btn> -->
    </div>
    <!-- Add stakeholder -->
    <div class="vbtn-zoom">
      <v-btn icon light class="zoom-in" title="Add stakeholder" @click.stop="showAddModule">
        <v-icon style="font-size: 24px;">mdi-plus</v-icon>
      </v-btn>
    </div>
    <!-- Switch Shape -->
    <div class="vbtn-zoom">
      <!-- <v-btn
        v-if="!isShared"
        icon
        light
        title="Annotate ecosystem"
        @click="updateActiveTabBoard()"
      >
        <v-icon style="font-size: 24px;">mdi-pencil</v-icon>
      </v-btn> -->
      <v-btn
        v-if="!isShared"
        icon
        light
        title="Rect"
        class="rect-marker-tool"
        ref="rect-marker-tool"
        v-bind:class="{ active: selectedMarker === 'rectangle' }"
        @click="switchMarker('rectangle')"
      >
        <v-icon style="font-size: 24px;">mdi-checkbox-blank-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="!isShared"
        icon
        light
        title="Circle"
        class="circle-marker-tool"
        ref="circle-marker-tool"
        v-bind:class="{ active: selectedMarker === 'circle' }"
        @click="switchMarker('circle')"
      >
        <v-icon style="font-size: 24px;">
          mdi-checkbox-blank-circle-outline
        </v-icon>
      </v-btn>
      <v-btn
        v-if="!isShared"
        icon
        light
        title="Line"
        class="line"
        ref="line"
        v-bind:class="{ active: selectedMarker === 'line' }"
        @click="switchMarker('line')"
      >
        <v-icon style="font-size: 24px; transform: rotate(-45deg);">
          mdi-minus
        </v-icon>
      </v-btn>
      <v-btn
        v-if="!isShared"
        icon
        light
        title="Arrow"
        class="arrow_marker"
        ref="arrow"
        v-bind:class="{ active: selectedMarker === 'arrow' }"
        @click="switchMarker('arrow')"
      >
        <v-icon style="font-size: 24px;">mdi-arrow-top-right</v-icon>
      </v-btn>
      <v-btn
        v-if="!isShared"
        icon
        light
        title="Text"
        class="text"
        ref="text"
        v-bind:class="{ active: selectedMarker === 'text' }"
        @click="switchMarker('text')"
      >
        <v-icon style="font-size: 24px;">mdi-format-text</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      // dev
      loading: 'board/loading',
      sidebarVisible: 'sidebarVisible',
      sidebarLeftVisible: 'sidebarLeftVisible',
      scaleBy: 'board/scaleBy',
      moduleRadius: 'board/moduleRadius',
      moveableStage: 'board/moveableStage',
      stageScale: 'board/stageScale',
      stagePosition: 'board/stagePosition',
      selectedMarker: 'board/selectedMarkerTool',
      toggleBoardList: 'toggleBoardList',
      // data
      logoShape: 'board/logoShape',
      activeBoard: 'board/activeBoard',
      markers: 'board/markers',
      activeMarker: 'board/activeMarker',
      activeMarkerId: 'board/activeMarkerId',
      modulesList: 'types/modules',
      modules: 'board/modules',
      // ---------------------------

      activeTab: 'activeTab',
      owner: 'board/owner',
    }),
    isEmbeded() {
      return this.$route.query.embed
    },
    panzoomVisible() {
      return !this.sidebarVisible || this.$vuetify.breakpoint.mdAndUp
    },
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    isShared() {
      return this.$route.query.share !== undefined
    },
  },
  data: () => ({
    followBtn: 'Follow',
    width: window.innerWidth,
    height: window.innerHeight,
  }),
  mounted() {
    this.resetZoom()
  },
  methods: {
    switchShape() {
      this.$store.commit('board/updateStoreDetecting', {
        logoShape: this.logoShape === 'circle' ? 'square' : 'circle',
      })
    },
    moveMap() {
      this.$store.commit('board/updateStore', {
        selectedMarkerTool: null,
        moveableStage: !this.moveableStage,
      })
    },
    switchMarker(selectedMarker) {
      this.$store.commit('board/updateStore', {
        selectedMarkerTool:
          this.selectedMarker === selectedMarker ? null : selectedMarker,
        moveableStage: false,
      })
    },
    resetZoom() {
      const arrayX = [
        ...this.markers.map((el) =>
          el.type === 'circle' ? el.x - el.radius : el.x,
        ),
        ...this.markers.map((el) =>
          el.type === 'circle' ? el.x + el.radius : el.x + el.width || 0,
        ),
        ...this.modules.map((el) => el.position.x),
        ...this.modules.map(
          (el) => el.position.x + this.moduleRadius * 1.5 * 2,
        ),
        0,
      ]
      const arrayY = [
        ...this.markers.map((el) =>
          el.type === 'circle' ? el.y - el.radius : el.y,
        ),
        ...this.markers.map((el) =>
          el.type === 'circle' ? el.y + el.radius : el.y + el.height || 0,
        ),
        ...this.modules.map((el) => el.position.y),
        ...this.modules.map(
          (el) => el.position.y + this.moduleRadius * 1.5 * 2,
        ),
        0,
      ]
      const offsetX = this.sidebarVisible ? 350 : 0
      const offsetY = this.toggleBoardList ? 220 : 60
      const maxPos = {
        x: Math.max(...arrayX) || this.width - offsetX,
        y: Math.max(...arrayY) || this.height - offsetY,
      }
      const minPos = {
        x: Math.min(...arrayX) || 0,
        y: Math.min(...arrayY) || 0,
      }
      const scale =
        Math.min(
          (this.width - offsetX) / (maxPos.x - minPos.x),
          (this.height - offsetY) / (maxPos.y - minPos.y),
        ) / 1.1
      this.$store.commit('board/updateStore', {
        stageScale: scale,
        stagePosition: {
          x: (this.width - offsetX - (minPos.x + maxPos.x) * scale) / 2,
          y:
            (this.height - offsetY - (minPos.y + maxPos.y) * scale) / 2 +
            offsetY,
        },
        activeMarker: null,
      })
    },
    zoomIn() {
      this.$store.commit('board/updateStore', {
        stageScale: this.stageScale * this.scaleBy,
      })
    },
    zoomOut() {
      this.$store.commit('board/updateStore', {
        stageScale: this.stageScale / this.scaleBy,
      })
    },
    showAddModule() {
      this.$store.commit('showAddModule', true)
    },
    // ----------------
    enableSelectionBoard() {
      this.$store.commit('enableSelection', !this.selection)
    },
    toggleMapFilter(){
      console.log('toggleMapFilter')
      this.$store.dispatch('toggleSidebarLeft')
    },
    updateActiveTabBoard() {
      if (!this.sidebarVisible) {
        this.$store.dispatch('toggleSidebar')
      } else if (this.sidebarVisible && this.activeTab) {
        this.$store.dispatch('toggleSidebar')
      }
      this.$store.commit('updateActiveTab', 1)
    },
  },
}
</script>

<style lang="scss" src="~/assets/styles/toolbar.scss"></style>
