<template>
  <div class="footer" id="footer">
    <p>Copyright ©2021, Ecomap LLC - All rights reserved. | <a v-bind:href="/terms/" >Terms of Service</a></p>
  </div>
</template>


<script>

</script>

<style src="~/assets/styles/footer.scss" lang="scss"></style>
