<template>
  <v-toolbar color="grey darken-2" dark height="60px">
    <!--<v-spacer/>-->
    <img
      id="step-10"
      v-if="!isEmbeded"
      @click="$router.push('/')"
      class="brand-img"
      src="~/static/logo2.png"
    />
    <img
      v-if="isEmbeded"
      @click="openInNewTab()"
      class="brand-img text-xs-right"
      src="~/static/logo2.png"
    />
    <v-spacer />
    <!--<img class="brand-img" src="~/static/logo.png">-->
    <v-toolbar-title v-if="isBoard">
      <div class="boardTitleBg backTo">
        <v-btn
          v-if="loggedIn && !isShared"
          text
          fab
          small
          @click="privatePublicBoard()"
          style="border-radius: 50%; border: 2px solid #fbfbfa;"
        >
          <v-icon v-if="boardPublic">mdi-lock-open</v-icon>
          <v-icon v-else>mdi-lock</v-icon>
        </v-btn>

        <span v-if="!isBoard">Ecomap</span>
        <span
          auto
          v-else-if="boardTitle"
          :title="boardDetails"
          class="custom-board-title"
          @click="!isShared ? showLoginIfNotLoggedIn() : {}"
        >
          {{
            boardTitle.length > 34
              ? boardTitle.slice(0, 25) + '...'
              : boardTitle
          }}
        </span>
        <span
          v-else
          class="custom-board-title"
          @click="showLoginIfNotLoggedIn()"
        >
          New Board
        </span>
        <v-btn
          v-if="loggedIn && !isShared"
          text
          fab
          small
          style="border-radius: 50%; border: 2px solid #fbfbfa;"
          @click="collapsed = !collapsed"
        >
          <v-icon>{{ collapsed ? 'mdi-arrow-down' : 'mdi-arrow-up' }}</v-icon>
        </v-btn>
      </div>
    </v-toolbar-title>
    <v-toolbar-title v-if="isInfo">
      <div class="backTo" @click="goBack()">
        <v-icon left>mdi-arrow-left</v-icon>
        <span>{{ `Back to ${boardTitle ? boardTitle : ''} board` }}</span>
      </div>
    </v-toolbar-title>
    <p v-if="loggedIn" class="text-caption orange--text mt-4">
      {{ totalChanges == 0 ? '' : totalChanges + ' unsaved changes' }}
    </p>
    <v-spacer />

    <template v-if="isFramed">
      <a :href="getRouterHref()" target="_blank">
        <v-btn
          v-if="isShared && !isESG"
          small
          color="#f1592a"
          class="editSharedBoardBtn white--text"
        >
          <v-icon>mdi-open-in-new</v-icon>
          &nbsp; View on Ecomap
        </v-btn>
        <!-- <v-btn
            text
            small
            text
            color="#f1592a"
            class="d-lg-none d-md-none d-flex"
          >
            View on Ecomap &nbsp; <v-icon>mdi-open-in-new</v-icon>
          </v-btn> -->
      </a>
    </template>
    <template v-else>
      <v-btn
        v-if="isShared && !isESG"
        small
        color="#f1592a"
        class="editSharedBoardBtn white--text"
        :href="getRouterHref()"
      >
        <v-icon>mdi-pencil</v-icon>
        &nbsp; Edit
      </v-btn>
      <v-btn
        text
        small
        color="#f1592a"
        @click="editBoardAlert()"
        class="d-lg-none d-md-none d-flex"
      >
        Edit &nbsp;
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
    </template>

    <v-menu offset-y v-if="isBoard && !isEmbeded">
      <!-- create button no more in redesigned website
      <v-btn
        slot="activator"
        dark
        class="deep-orange accent-3">
        Create
        <v-icon dark>mdi-arrow-down</v-icon>
      </v-btn>
      <v-list>
        <v-list-item @click="showAddModule">
          <v-list-item-title>New Stakeholder</v-list-item-title>
        </v-list-item>
        <v-list-item @click="showAddBoard">
          <v-list-item-title>New Board</v-list-item-title>
        </v-list-item>
        <v-list-item @click="showAddType">
          <v-list-item-title>New Type</v-list-item-title>
        </v-list-item>
      </v-list>
-->
    </v-menu>
    <v-toolbar-items v-if="!isEmbeded" class="d-lg-flex d-md-flex d-none">
      <v-btn text @click="$router.push('/')" color="#f1592a" v-if="!isBoard">
        Home
      </v-btn>

      <!-- <v-btn text @click="showAddModule">Add Stakeholder</v-btn> -->
      <template v-if="checkHash()">
        <v-menu open-on-hover offset-y class="d-lg-flex d-md-flex d-none">
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" text small>
              Share
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              text
              small
              @click="copyToClipboard('#share-copy-link')"
              color="#f1592a"
              style="z-index: 1000;"
            >
              <input
                type="hidden"
                id="share-copy-link"
                :value="getShareUrl()"
              />
              Copy Link
            </v-list-item>
            <v-list-item
              text
              small
              color="#f1592a"
              style="z-index: 1000;"
              @click="openEmbed()"
            >
              Embed
            </v-list-item>
            <!--  <v-list-item text small text color="#f1592a" style="z-index:1000;" @click="saveAs('pdf')">
              Save as PDF
            </v-list-item>-->
            <!--      <v-list-item color="#f1592a" style="z-index:1000;" @click="saveAs('image')">
              Save as Image
            </v-list-item>-->
          </v-list>
        </v-menu>
      </template>
      <v-btn
        text
        small
        color="#f1592a"
        href="https://medium.com/ecomap/ecomap-faq-9629ab3a677d?sk=66ce491d14e7a9e1edb682fc6a45da77"
      >
        FAQ
      </v-btn>
      <v-btn text small color="#f1592a" to="/pricing">Pricing</v-btn>
      <template v-if="loggedIn">
        <v-btn text small color="#f1592a" @click="logout">
          Logout
        </v-btn>
      </template>
      <template v-else>
        <v-menu open-on-hover offset-y>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" text small color="#f1592a" title="Sign in">
              <v-icon>mdi-account-circle</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              color="#f1592a"
              style="z-index: 1000;"
              @click="showLogin"
            >
              Sign in
            </v-list-item>
            <v-list-item
              text
              small
              color="#f1592a"
              style="z-index: 1000;"
              @click="showRegister"
            >
              Create account
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-toolbar-items>
    <v-menu v-if="!isEmbeded" class="d-lg-none d-md-none d-flex" offset-y>
      <template v-slot:activator="{ on }">
        <v-btn v-on="on" icon class="d-lg-none d-md-none d-flex">
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>
      <v-list>
        <!-- <v-list-item text @click="showAddModule">Add Stakeholder</v-list-item> -->
        <v-list-item text small color="#f1592a" @click="logout" v-if="loggedIn">
          Logout
        </v-list-item>
        <v-list-item text small color="#f1592a" @click="showLogin" v-else>
          Login
        </v-list-item>
      </v-list>
    </v-menu>
    <!-- <v-toolbar-side-icon
      v-if="!isEmbeded"
      class="d-lg-flex d-md-flex d-none"
      @click="toggleSidebar"/> -->
  </v-toolbar>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      boardTitle: 'board/title',
      boardDetails: 'board/details',
      boardPublic: 'board/boardPublic',
      boardHash: 'board/boardHash',
      boards: 'board/boardList',
      totalChanges: 'totalChanges',
    }),
    isFramed() {
      return window.self !== window.top
    },
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    isBoard() {
      return this.$route.name === 'hash'
    },
    isInfo() {
      return this.$route.name === 'stakeholder-id'
    },
    user() {
      return this.$store.state.user || {}
    },
    isEmbeded() {
      return this.$route.query.embed
    },
    isShared() {
      return this.$route.query.share !== undefined
    },
    isESG() {
      return this.$route.query.esg !== undefined
    },
    collapsed: {
      get() {
        return !this.$store.state.toggleBoardList
      },
      set(val) {
        this.$store.commit('toggleBoardList', !val)
        // if (!val) this.resetScroll()
      },
      premiumUser() {
        return this.$store.state.auth.user
      },
    },
  },
  methods: {
    goBack() {
      this.$router.back()
      //  if(this.boardHash){
      //     this.$router.push(`/${this.boardHash}`)
      //   }else{
      //     this.$router.push("/")
      //   }
    },
    checkLogin() {
      this.$notify.error({
        title: 'Unauthorized',
        message: 'Please login first to create',
      })
    },
    showLoginIfNotLoggedIn() {
      if (!this.$store.state.auth.loggedIn) {
        this.showLogin()
      } else {
        if (this.boardHash) {
          let bord = this.boards.find((item) => item.hash === this.boardHash)
          this.$store.commit('showBoardModal', bord)
        } else {
          return this.$store.commit('showBoardModal', {})
        }
      }
    },
    showAddBoard() {
      if (!this.loggedIn) return this.checkLogin()
      this.$store.commit('showBoardModal', true)
    },
    showAddModule() {
      if (!this.loggedIn) return this.checkLogin()
      this.$store.commit('showAddModule', true)
    },
    showAddType() {
      if (!this.loggedIn) return this.checkLogin()
      this.$store.commit('showAddType', true)
    },
    showRegister() {
      this.$store.commit('showRegisterModal', true)
    },
    showLogin() {
      this.$store.commit('showLoginModal', true)
    },
    toggleSidebar() {
      this.$store.dispatch('toggleSidebar')
    },
    getRouterHref() {
      return this.$router.resolve('/' + this.$route.params.hash).href
    },
    getShareUrl() {
      return window.location.origin + this.getRouterHref() + '?share'
    },
    openInNewTab() {
      window.open(this.getRouterHref(), '_blank')
    },
    async saveAs(saveType) {
      let token = ''
      if (this.loggedIn) {
        token = await localStorage.getItem('auth._token.local')
        token = token.split(' ')[1]
      }
      if (saveType == 'image') {
        window.open(
          'https://api.ecomap.io/api/v2/board/' +
            this.$route.params.hash +
            '/export?token=' +
            token,
          '_blank',
        )
      } else {
        window.open(
          'https://api.ecomap.io/api/v2/board/' +
            this.$route.params.hash +
            '/export?token=' +
            token +
            '&type=' +
            saveType,
          '_blank',
        )
      }
    },
    checkHash() {
      return this.$route.params.hash ? true : false
    },
    async privatePublicBoard() {
      try {
        await this.$board.save(null, { public: !this.boardPublic })
      } catch (err) {
        let message = 'Failed to save board'
        if (err.response) {
          message = err.response.data.error
          if (typeof message !== 'string') {
            message = Object.values(message).filter((x) => !!x)
            message = message.map((x) => x.join(', ')).join('; ')
          }
        }
        this.$notify.success({
          title: 'Failed',
          message: message,
        })
      }
    },
    async openEmbed() {
      this.$store.commit('showEmbedModal', true)
    },
    editBoardAlert() {
      alert(
        'Please access ecomap.io on a larger device in order to create or edit a board',
      )
    },
    copyToClipboard(selector) {
      let testingCodeToCopy = document.querySelector(selector)
      try {
        testingCodeToCopy.setAttribute('type', 'text')
        testingCodeToCopy.select()
        var successful = document.execCommand('copy')
        this.$notify.success({
          title: 'Link Copied!',
        })
      } catch (err) {
        alert('Oops, unable to copy')
      }

      /* unselect the range */
      testingCodeToCopy.setAttribute('type', 'hidden')
      window.getSelection().removeAllRanges()
    },
    gotoFAQ() {
      window.open(
        'https://medium.com/ecomap/ecomap-faq-9629ab3a677d?sk=66ce491d14e7a9e1edb682fc6a45da77',
        '_blank',
      )
    },
    goToBoard() {
      this.$router.go()
    },
    logout() {
      this.$auth.logout()
      this.$store.commit('resetUndoRedo')
      localStorage.clear()
      this.$router.push('/login')
    },
  },
}
</script>

<style lang="scss" src="~/assets/styles/header.scss"></style>
