<template>
  <v-card
    width="300px"
    class="mx-2">
    <v-card-text>
      <slot name="title">
        <div
          class="display-1"
          style="color: #444">{{ title }}</div>
      </slot>
      <slot name="payment">
        <div style="font-size: 18px; color: red">{{ payment }}</div>
      </slot>
      <v-divider class="my-1"/>
      <div style="text-align: left; color: #333">
        <div
          v-for="(item, index) in featureList"
          :key="index">
          <v-icon
            class="px-2"
            v-text="index < features? 'mdi-check' : 'mdi-close'"/>
          <span
            :style="index < features ? '' : 'text-decoration: line-through'"
            v-text="item"/>
        </div>
      </div>
      <v-divider class="my-1"/>
      <slot name="action"/>
    </v-card-text>
  </v-card>
</template>

<script>
import Pricing from '~/assets/data/pricing'

export default {
  props: {
    name: {
      type: String,
      default: () => null,
    },
  },
  computed: {
    title() {
      return Pricing[this.name].title
    },
    payment() {
      return Pricing[this.name].payment
    },
    features() {
      return Pricing[this.name].features
    },
    featureList() {
      return Pricing.featureList
    },
  },
}
</script>

