<template>
  <div
    v-if="!hide">
    <div class="tour-modal" v-for="step in steps" :key="step.id"
         v-show="step.active" :id="step.id" :class="step.classes">
      <div :class="step.arrow"></div>

      <div class="modal-header">
        <h1 class="modal-body-title" v-text="step.title"></h1>
        <a @click.prevent="finish" class="modal-header--closebtn">
          <v-icon>mdi-close</v-icon>
        </a>
        <i @click.prevent="finish" class="fa fa-close"></i>
      </div>

      <div class="modal-body">
        <div class="modal-body-content" v-html="step.body"></div>
      </div>
      <div class="modal-actions">
        <v-btn class="btn" color="primary-orange" small v-show="!isFirstStep(step)" @click.prevent="prev">Prev Step</v-btn>
        <v-btn class="btn" color="primary-orange" small v-show="!isLastStep(step)" @click.prevent="next">Next Step</v-btn>
        <v-btn class="btn" color="primary-orange" small v-show="!isLastStep(step)" @click.prevent="finish">Skip Tour</v-btn>
        <v-btn class="btn" color="primary-orange" small v-show="isLastStep(step)" @click.prevent="finish">Finish Tour</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
  import Tether from 'tether'
  import {mapGetters} from 'vuex'
  import _ from 'lodash'

  export default {
    name: 'Tour',
    data() {
      return {
        dummyData: [
          {
            'id': 2075,
            'type': 'Organisation',
            'name': '60db',
            'details': null,
            'image': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsMKB0h0u8U46uwXpwYjxC60vun9HV6aqsITwRBVAKWz8aKbKIZnarW-wunQ',
            'position': {'y': 4741, 'x': 4656},
          }, {
            'id': 2085,
            'type': 'Organisation',
            'name': 'Alphabet',
            'details': null,
            'image': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk2lqEM54lCvSJBxz0obnTHLYZRqHNjDlCaUWTNSCb9uNbh7lgl2ewytKk',
            'position': {'y': 5071, 'x': 5053},
          },
          {
            'source': 'node2075-source-1',
            'target': 'node2085-target',
            'sourceElem': 'node2075',
            'targetElem': 'node2085',
          },
          {
            'id': 2056,
            'type': 'Organisation',
            'name': 'Google',
            'details': null,
            'image': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRHGdbUVzTJ9C-WPIAA2tkCUgoUh564RvE9CdTDsfYEppVXxoLSpZ3cN_e',
            'position': {'x': 4717, 'y': 5084},
          },
          {
            'source': 'node2056-source-2',
            'target': 'node2085-target',
            'sourceElem': 'node2056',
            'targetElem': 'node2085',
          },
          {'group-1': {'top': 5071, 'left': 4703, 'right': 5053, 'bottom': 5083, 'title': 'Sub Group'}},
        ],
        startOnReady: true,
        hide: false,
        steps: [{
          title: 'Introduction',
          body: 'Start creating an ecosystem by dragging stakeholders onto the board',
          id: 'step-1',
          target: '#step-10',
          active: false,
          attachment: 'top left',
          targetAttachment: 'bottom center',
          arrow: 'arrow up-arrow',
          classes: 'step1',
        }, {
          title: 'Library',
          body: 'Search a stakeholder, if you don\'t find one, create one.',
          id: 'step-2',
          target: '#stackholderToggler',
          active: false,
          attachment: 'right right',
          targetAttachment: 'right right',
          arrow: 'arrow right-arrow',
          classes: 'step2',
        }, {
          title: 'Drag & Drop',
          body: 'Drag a stakeholder to the canvas',
          id: 'step-3',
          target: '#stackholderToggler',
          active: false,
          attachment: 'left center',
          targetAttachment: 'left left',
          arrow: 'arrow right-arrow',
          classes: 'step3',
        }, {
          title: 'More Information',
          body: 'Get more information about a stakeholder, e.g. link to website',
          id: 'step-4',
          target: '#stackholderToggler',
          active: false,
          attachment: 'left center',
          targetAttachment: 'left left',
          arrow: 'arrow  left-arrow',
          classes: 'step4',
        }, {
          title: 'Relationship',
          body: 'Use the red selector to define a relationship between stakeholders, e.g. A is owned by B',
          id: 'step-5',
          target: '#stackholderToggler',
          active: false,
          attachment: 'left center',
          targetAttachment: 'left left',
          arrow: 'arrow',
          classes: 'step5',
        }, {
          title: 'Grouping',
          body: 'Group together two or more stakeholders, e.g. Umbrella subsidiaries in Africa',
          id: 'step-6',
          target: '#stackholderToggler',
          active: false,
          attachment: 'left center',
          targetAttachment: 'left left',
          arrow: 'arrow',
          classes: 'step6',
        },
        ],
      }
    },
    mounted() {

      // Disable Tour
      return

      let tour = localStorage.getItem('tour')
      if (tour) {
        return
      }
      if(this.isEmbeded) {
        return
      }
      localStorage.setItem('tour', true)
      if (this.$store.getters['tourModal'] === false) {
        if(window.outerWidth > 900){
          this.start()
        }
      }
    },
    updated() {
      this.activeStep.tether.position() 
    },
    computed: {
      ...mapGetters({
        modules: 'board/modules',
      }),
      isEmbeded() {
        return this.$route.query.embed
      },
    },
    methods: {
      start() {
        this.activeStepIdx = 0
        this.activeStep = this.steps[0]
        this.activeStep.active = true

        _.each(this.steps, (step) => {
          step.tether = new Tether({
            element: document.querySelector('#' + step.id),
            target: document.querySelector(step.target),
            attachment: step.attachment,
            targetAttachment: step.targetAttachment,
            targetOffset: '50px 0',
          })
          step.tether.position()
        })

      },
      prev() {
        this.step('prev')
      },
      next() {
        this.step('next')
      },
      finish() {
        this.$store.commit('board/loadBoard', [])
        this.hide = true
        this.activeStep.active = false
        this.$emit('closeTour', true)
        document.querySelectorAll('.jtk-overlay').forEach(el => {
          el.remove()
        })
        // _.each(this.steps, (step) => {
        //   step.tether.destroy()
        // })
        // this.steps = []
        // this.$destroy(true)
      },
      step(direction) {

        

        if (['next', 'prev'].indexOf(direction) === -1) {
          throw new Error('direction must be one of (next,prev)')
        }

        if (direction === 'next' && !this.isLastStep(this.activeStep)) {
          this.activeStepIdx++
        }

        if (direction === 'prev' && !this.isFirstStep(this.activeStep)) {
          this.activeStepIdx--
        }

        if (this.activeStepIdx == 1 && direction == 'next'){
          this.$store.dispatch('toggleSidebar')
        }
        
        this.activeStep.active = false
        this.activeStep = this.steps[this.activeStepIdx]
        this.activeStep.active = true
        this.activeStep.tether.position()
        if (this.activeStepIdx == 3 && direction == 'next') {
          this.$store.commit('board/addNode', this.dummyData[0])
        } else if (this.activeStepIdx == 4 && direction == 'next') {
          this.$store.commit('board/addNode', this.dummyData[1])
          this.$store.commit('board/addLink', this.dummyData[2])
        } else if (this.activeStepIdx == 5 && direction == 'next') {
          this.$store.commit('board/addNode', this.dummyData[3])
          this.$store.commit('board/addLink', this.dummyData[4])
          this.$store.commit('board/initGroup', this.dummyData[5])
        }
      },
      isLastStep(step) {
        return _.indexOf(this.steps, step) === this.steps.length - 1
      },
      isFirstStep(step) {
        return _.indexOf(this.steps, step) === 0
      },
    },
    ready() {
      if (this.startOnReady) {
        this.start()
      }
    },
  }

</script>

<style lang="scss" src="~/assets/styles/tour.scss"></style>
