<template>
    <div
      class="info-header"
      >
      <div class=" confirm" v-if="!info">
        <loading
          width="100%"
          height="76px"
        />
        <loading
          width="100%"
          height="73px"
        />
      </div>
      <div v-else>
        <div
        class="d-flex confirm"

          >
            <div
            >
              <v-layout
                justify-center
                column
                >
                  <h3 class="title-bold">
                    {{info.info.name || 'Stakeholder'}}
                  </h3>
                  <!-- <div>
                    <h4>Activity history:</h4>
                    <a
                      v-for="item in history"
                      :key="item.name"
                      :href="item.url"> {{ item.name}}</a>
                  </div> -->
                  </v-layout>
            </div>
            <div
            >

               <v-layout
                justify-end
                column
                >
                  <h5>Is this your company?</h5>
                  <p>This company might not know this profile exists or <br />they haven’t claimed it yet.</p>

              </v-layout >
            </div>
        </div>
        <div
        class="d-flex claimit"
          >
            <div
            >
              <v-layout
                class="user-wrapp"
              >

                  <!-- <div class="users users-1">
                    <div class="img-wrapp">
                      <div
                        class="img"
                        >
                        <img :src="avatar" />
                      </div>
                    </div>
                    <p>Manager</p>
                  </div>
                  <div class="users users-2">
                    <div class="img-wrapp">
                      <div
                        class="img"
                        v-for="user in users"
                        :key="user.id"
                        >
                        <img :src="user.avatar" />
                      </div>
                    </div>
                    <p>Contributors </p>
                  </div>
                  <div class="users users-3">
                    <div class="img-wrapp">
                      <div
                        class="img"
                        >
                        <img :src="avatar" />
                      </div>
                    </div>
                    <p>Observers </p>
                  </div> -->
              </v-layout>
            </div>
            <div
            >

               <v-layout
                justify-end
                >
                 <v-btn
                   class="with"
                   color="#fff"
                   small
                   depressed
                   @click="follow"
                 >
                   {{followBtn}}
                 </v-btn>
                  <v-btn
                    class="with"
                    color="#fff"
                    small
                    depressed
                    @click="openSuggest()"
                     >
                    Suggest a change
                  </v-btn>
                  <v-btn
                    class="primary-btn"
                    color="#FB6E00"
                    small
                    depressed
                    @click="openSuggest()"
                  >Claim it now
                  </v-btn>
              </v-layout >
            </div>
        </div>
        <suggest />
      </div>
    </div>

</template>

<script>
  import {mapGetters} from 'vuex'
  import Suggest from './Suggest'
  import Loading from '../loading/Loading'
  import avatar1 from '../../static/avatars/New Project (1).jpg'
  import avatar2 from '../../static/avatars/New Project (7).jpg'
  import avatar3 from '../../static/avatars/New Project (3).jpg'
  import avatar4 from '../../static/avatars/New Project (4).jpg'
  import avatar5 from '../../static/avatars/New Project (5).jpg'
  import avatar6 from '../../static/avatars/New Project (6).jpg'

  export default {
    components: {
      Suggest,
      Loading,
    },
    data: () => ({
      error: null,
      avatar:avatar1,
      followBtn:'Follow',
      users:[{
        avatar: avatar1,
        id:1,
      },{
        avatar: avatar2,
        id:2,
      },{
        avatar: avatar3,
        id:3,
      },{
        avatar: avatar4,
        id:4,
      },{
        avatar: avatar5,
        id:5,
      },{
        avatar: avatar6,
        id:6,
      },
      ],
      // history:[
      //   {
      //     name:'no',
      //     url:'#',
      //   },{
      //     name:'type',
      //     url:'#',
      //   },
      // ]
    }),
    watch: {
      info(cur, old) {
        if(cur){
          this.getIsFollowed()
        }
      },
    },
    computed: {
      ...mapGetters({
        info: 'infoPage',
      }),
      loggedIn() {
        return this.$store.state.auth.loggedIn
      },
    },
    methods: {
      openSuggest(){
        if (!this.loggedIn) {
          this.$notify.error({
            title: 'Unauthorized',
            message: 'Please sign in first to add new module',
          })
          return this.$store.commit('showLoginModal', true)
        }
        this.$store.commit('showSuggestModal', true)
      },
      async getIsFollowed() {
        try {
          const data = await this.$axios.$get('/is-followed-module/'+this.info._id)
          if(data.data ==='true'){
            this.$set(this, 'followBtn', 'Unfollow')
          }else{
            this.$set(this, 'followBtn', 'Follow')
          }
        } catch (err) {
          // console.trace(err)
          this.$sentry.captureException(err)
          this.$set(this, 'error', err + '')
        } finally {
          this.$set(this, 'loading', false)
        }

      },
      async follow() {
        if (!this.loggedIn) {
          this.$notify.error({
            title: 'Unauthorized',
            message: 'Please sign in first to add new module',
          })
          return this.$store.commit('showLoginModal', true)
        }
        if (this.loading) return
        try {
          this.loading = true
          this.serverError = null
          const id = this.info._id
          /* ------------ Send data ------------ */
          if(this.followBtn === 'Unfollow'){
            await this.$axios.$delete('/un-follow-module/' + id)
            this.$notify.success({
              title: 'Saved.',
              message: 'Module Unfollowed',
            })
            this.$set(this, 'followBtn', 'Follow')
          }else{
            await this.$axios.$get('/follow-module/' + id)
            this.$notify.success({
              title: 'Saved.',
              message: 'Module Followed',
            })
            this.$set(this, 'followBtn', 'Unfollow')
          }


        } catch (err) {
          /* ------------ Display errors ------------ */
          console.error(err)
          let message = 'Failed to update'
          if (err.response) {
            message = Object.values(err.response.data.error)
              .filter(x => !!x)
              .map(x => x.join(', '))
              .join('; ')
          }
          this.$notify.success({
            title: 'Failed',
            message: message,
          })
          this.serverError = message
        } finally {
          await this.$nextTick()
          this.loading = false
        }
      },

    },
  }
</script>


<style src="~/assets/styles/stakeholder.scss" lang="scss"></style>

