<template>
  <div>
    <div class="py-2 my-3" v-if="error">
      <code>{{ error }}</code>
    </div>

    <v-layout justify-space-between class="s-info">
      <div class="logo">
        <v-layout justify-center v-if="loading">
          <loading width="100px" height="100px" :circle="true" />
          <loading width="100px" height="100px" />
        </v-layout>
        <select-image
          v-else
          ref="imageForm"
          class="search"
          v-model="logo"
          @ifMaunted="ImageMounted"
        />

        <loading v-if="loading" width="100%" height="40px" />
        <div v-else>
          <!--              <h2>MAPS</h2>-->
          <!--              <v-card-->
          <!--                class="mx-auto s-map"-->
          <!--                max-width="344"-->
          <!--                min-height="160"-->
          <!--              >-->

          <!--              </v-card>-->
          <!--              <v-card-->
          <!--                class="mx-auto s-map"-->
          <!--                max-width="344"-->
          <!--                min-height="160"-->
          <!--              >-->
          <!--              </v-card>-->
        </div>
        <loading v-if="loading" width="100%" height="150px" />
        <div v-else-if="versions.length && loggedIn" class="info-versions">
          <h2>Activity history</h2>
          <div class="items">
            <div class="item" v-for="item in versions" :key="item.id">
              <p class="main-text">
                <span>{{ item.id }}</span>
                <span class="info-text">
                  {{ item.old_value ? 'edited' : 'added' }}
                </span>
                <span>{{ item.name || 'N/A' }}</span>
                <span>{{ item.old_value ? item.old_value : '' }}</span>
                <span class="info-text">
                  {{ item.old_value ? ' changed ' : '' }}
                </span>
                <span>{{ item.new_value || 'N/A' }}</span>
              </p>
              <p class="info-text">{{ item.created_at || 'N/A' }}</p>
            </div>
          </div>
        </div>
      </div>
      <form @submit.prevent="submitForm">
        <div class="basic">
          <h2>BASIC INFO</h2>
          <div class="items" v-if="loading">
            <loading width="100%" height="90px" />
            <loading width="100%" height="90px" />
            <loading width="100%" height="90px" />
          </div>
          <div class="items" v-else>
            <div>
              <text-input
                v-bind:item="topItems[0]"
                :value="info[topItems[0].id]"
                @input="updateInfo"
              />
              <text-input
                v-bind:item="topItems[1]"
                :value="info[topItems[1].id]"
                @input="updateInfo"
                :type="'link'"
              />
            </div>

            <text-input
              v-bind:item="topItems[2]"
              :value="info[topItems[2].id]"
              @input="updateInfo"
              :type="'textarea'"
            />

            <text-input
              v-for="item in items"
              :key="item.name"
              v-bind:item="item"
              :value="info[item.id]"
              @input="updateInfo"
            />
          </div>
          <v-spacer />
          <h2>CONNECTIONS</h2>
          <div class="items" v-if="loading">
            <loading width="100%" height="90px" />
            <loading width="100%" height="90px" />
            <loading width="100%" height="90px" />
          </div>
          <div v-else class="items items-column">
            <div class="item" v-for="item in cons" :key="item.name">
              <p class="name">{{ item.name }}</p>

              <Select
                :item="item"
                :addNew="item.id === 'tags'"
                @selectValue="selectValue"
                :valueS="connections[item.id]"
              />
            </div>
          </div>
        </div>
        <v-layout justify-end v-if="loggedIn">
          <v-btn class="with" color="#fff" small depressed @click="resetForm()">
            Reset
          </v-btn>
          <v-btn
            type="submit"
            class="primary-btn"
            color="#FB6E00"
            small
            depressed
          >
            Save
          </v-btn>
        </v-layout>
      </form>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import TextInput from './TextInput'
import Loading from '../loading/Loading'
import Select from './Select'
import SelectImage from '../forms/SelectImage'

export default {
  components: {
    TextInput,
    Select,
    SelectImage,
    Loading,
  },
  props: {
    id: {
      type: String,
      default: null,
    },
    hash: {
      type: String,
      default: null,
    },
  },
  data: () => ({
    data: null,
    info: null,
    connections: {},
    // id: null,
    error: null,
    logo: false,
    loading: true,
    serverError: null,
    versions: [],
    totalPages: 0,
    currentPage: 1,
    loadingVersion: false,
    type: [],
    newTags: null,
    topItems: [
      {
        id: 'name',
        name: 'Name',
        value: 'Add ticker symbol',
        label: 'Add name',
      },
      {
        id: 'website',
        name: 'Website',
        value: 'Add URL',
        label: 'Add URL',
      },
      {
        id: 'details',
        name: 'Description',
        value: 'Add ticker symbol',
        label: 'Add description',
      },
    ],
    items: [
      {
        id: 'symbol',
        name: 'Symbol',
        value: 'Add ticker symbol',
        label: 'Add ticker symbol',
      },
      {
        id: 'Based in (mailing city)',
        name: 'Location (HQ)',
        value: 'Add location of headquarters',
        label: 'Add location of headquarters',
      },
      {
        id: 'CEO',
        name: 'CEO',
        value: 'Add CEO name',
        label: 'Add CEO name',
      },
      {
        id: 'crypto_price',
        name: 'Share price',
        value: 'Add USD share price (decimal)',
        label: 'Add USD share price (decimal)',
      },
      {
        id: 'Founded by',
        name: 'Founded',
        value: 'Add date or year',
        label: 'Add date or year',
      },
      {
        id: 'Number of Employees',
        name: 'Employees',
        value: 'Add number of employees (decimal)',
        label: 'Add number of employees (decimal)',
      },
      {
        id: 'revenue',
        name: 'Revenue',
        value: 'Add revenue (decimal)',
        label: 'Add revenue (decimal)',
      },
      {
        id: 'marketcap',
        name: 'Valuation/Marke...',
        value: 'Add valuation (USD decimal million)',
        label: 'Add valuation (USD decimal million)',
      },
    ],
    cons: {
      types: {
        id: 'types',
        name: 'Stakeholder type',
        options: [],
        placeholder: 'Search in types',
        selected: [],
      },
      parent_module: {
        id: 'parent_module',
        name: 'Parent company',
        options: [],
        placeholder: 'Search in modules',
        selected: [],
      },
      subsidiary_module: {
        id: 'subsidiary_module',
        name: 'Subsidiary',
        options: [],
        placeholder: 'Search in modules',
        selected: [],
      },
      industry: {
        id: 'industry',
        name: 'Industry',
        options: [],
        placeholder: 'Search in industry',
      },
      acquisition: {
        id: 'acquisition',
        name: 'Acquisition',
        options: [],
        placeholder: 'Search in modules',
        selected: [],
      },
      tags: {
        id: 'tags',
        name: 'Tags',
        options: [],
        placeholder: 'Search or add a tag',
        selected: [],
      },
    },
  }),
  validate({ params }) {
    return !params.id || /^[a-fA-F0-9]{32}$/.test(params.id)
  },
  mounted() {
    this.cons.types.options = this.types
    // if (!this.id) this.id = this.$route.params.id
    // if (!this.hash) this.hash = this.$route.params.hash

    this.id=this.$route.params.id
    this.getInfo()
    // console.log(this.$store.state.auth, 'return this.$store.state.auth')
  },
  computed: {
    ...mapGetters({
      types: 'types/get',
    }),
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
  },
  watch: {
    'info.name'(val) {
      let staticText = ''
      if (typeof val === 'string' && val.length > 0) {
        staticText = ' logo'
      }
      this.$set(this, 'logoName', val)
      this.$refs.imageForm && this.$refs.imageForm.updateQuery(val + staticText)
      // this.$store.commit('board/updateSearch', val)
    },
    currentPage(cur, old) {
      if (cur !== old) {
        this.loadVersions()
      }
    },
  },
  methods: {
    getImages() {
      this.$refs.imageForm.getImages()
    },
    resetForm() {},
    getTypes(type) {
      const id = this.types.find((item) => item.name === type)
      this.type = [{ id: id.id }]
    },
    selectValue(props) {
      let newValues = { ...this.connections }
      newValues[props.key] = props.selected

      let newConst = { ...this.cons }
      newConst[props.key].selected = props.value
      // props.value && props.value.map(value =>{
      //   newValues.push({id: value.id})
      // })
      this.cons = newConst
      this.connections = newValues
      this.newTags = props.new
    },

    ImageMounted(query) {
      if (this.info && this.info.name) {
        this.$set(this, 'logoName', this.info.name)
        this.$refs.imageForm &&
          this.$refs.imageForm.updateQuery(this.info.name + ' logo')
      }
    },
    updateInfo(event) {
      this.info = Object.assign({}, this.info, { [event.key]: event.value })
    },

    setConnections(connections) {
      let newConnection = {}
      let newCons = { ...this.cons }
      for (const key in connections) {
        newCons[key].selected = connections[key]
        if (connections[key]) {
          newConnection[key] = []
          connections[key].map((item) => {
            newConnection[key].push(item.id)
          })
        }
      }
      this.cons = newCons
      this.connections = newConnection
    },
    currenyFormatter(revenue) {
      if (typeof revenue == 'number' || revenue.indexOf('$') == -1) {
        return new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'USD',
          minimumFractionDigits: 0,
        }).format(revenue)
      }
      return revenue
    },
    async getInfo() {
      try {
        this.$set(this, 'info', null)
        this.$set(this, 'error', null)
        if (!this.id) return
        this.$set(this, 'loading', true)
        const params = { id: this.id }
        const { data } = await this.$axios.$get('/module/info', { params })
        // (data.info, 'date')
        data._id = this.id
        this.$set(this, 'data', data)

        // Parsing Revenue
        if (data.info.revenue)
          data.info.revenue = this.currenyFormatter(
            data.info.revenue || data.info.Revenue,
          )

        this.$set(this, 'info', data.info)
        // this.$set(this, 'connections', data.connections)
        this.$set(this, 'id', data._id)
        this.$set(this, 'logo', data.image)

        this.setConnections(data.connections)
        this.$store.commit('getInfoPage', data)
        this.loadVersions()
      } catch (err) {
        this.$sentry.captureException(err)
        this.$set(this, 'error', err + '')
        //console.trace(err)
      } finally {
        this.$set(this, 'loading', false)
      }
    },
    async loadVersions() {
      if (!this.id) return
      await this.$nextTick()
      try {
        this.$set(this, 'loadingVersion', true)
        const params = {
          module: this.id,
          page: this.currentPage || 1,
        }
        const { data } = await this.$axios.$get('/versions', { params })
        this.$set(this, 'totalPages', data.meta.pagination.total_pages)
        this.$set(this, 'versions', data.data)
      } catch (err) {
        //
        this.$sentry.captureException(err)
      } finally {
        this.$set(this, 'loadingVersion', false)
        // console.log(this.versions)
        // console.log(this.pagination)
      }
    },
    async submitForm() {
      if (this.loading) return
      try {
        this.loading = true
        this.serverError = null
        /* ------------ Validating data ------------ */
        // if(this.form['details'].length >150) {
        //   this.$notify.error({
        //     title: 'Data to long',
        //     message: 'Details text is too long...',
        //   })
        //   return
        // }
        /* ------------ Build data ------------ */
        let data = {}
        data.info = { ...this.info }
        data.info.image = this.logo
        data.connections = { ...this.connections }
        data.id = this.id
        /* ------------ Send data ------------ */
        if (this.newTags && this.newTags.length) {
        }

        const updateRequest = await this.$axios.$post(
          '/module/info/update',
          data,
        )
        // Approval Not Required
        // if(updateRequest.success){
        //   // this.$axios.$post('/module/info/approve', {id: this.id, version_id: updateRequest.data.version_id})
        // }else{
        //   // console.log('Update Request Failed with Response as ', updateRequest)
        // }

        //await this.$axios.$post('/module/set-image', { id: this.id, image: this.logo })
        this.$notify.success({
          title: 'Saved.',
          message: 'Module info updated',
        })
        /* ------------ Update nodes on board ------------ */
        const newNode = {
          id: this.id,
          type: this.connections.type,
          image: this.info.image,
          name: this.info.name,
        }
        this.$store.commit('board/updateNode', newNode)
        if (this.hash) {
          await this.$board.load({ hash: this.hash })
        }
        this.$store.commit('types/UPDATE_MODULE', newNode)
        /* ------------ Reset and refresh ------------ */
        if (this.info.type != this.info.type) {
          this.$store.commit('types/SELECT', null)
          await this.$nextTick()
          this.$store.commit('types/SELECT', this.info.type)
        }
        this.resetForm()
      } catch (err) {
        /* ------------ Display errors ------------ */
        console.error(err)
        let message = 'Failed to update'
        if (err.response) {
          // console.log(err.response.data.error, 'error')
          if (Array.isArray(err.response.data.erro)) {
            message = Object.values(err.response.data.error)
              .filter((x) => !!x)
              .map((x) => x.join(', '))
              .join('; ')
          } else {
            message = err.response.data.error
          }
        }
        this.$notify.error({
          title: 'Failed',
          message: message,
        })
        this.serverError = message
        this.$sentry.captureException(err)
      } finally {
        await this.$nextTick()
        this.loading = false
      }
    },
  },
}
</script>

<style
  scoped
  src="vue-multiselect/dist/vue-multiselect.min.css"
  lang="css"
></style>
<style scoped src="~/assets/styles/stakeholder.scss" lang="scss"></style>
<style src="~/assets/styles/multiselect-min.scss" lang="scss"></style>
