<template>
  <div class="select-m">
    <v-btn class="ma-2 add option" v-for="option in value" :key="option.id">
      {{ option.name || option.title }}
      <v-icon right dark @click="removeTag(option)" v-if="loggedIn">
        mdi-close
      </v-icon>
    </v-btn>

    <multiselect
      v-if="loggedIn"
      ref="multiselect"
      v-model="value"
      tag-placeholder
      :placeholder="item.placeholder"
      :noOptions="'type min 3 character for search'"
      selectLabel
      label="name"
      track-by="id"
      :options="options"
      :multiple="true"
      :taggable="addNew"
      :optionsLimit="10"
      :hideSelected="true"
      :internalSearch="false"
      @search-change="searchChanges"
      @select="selectOption"
      @tag="addTag"
      @close="isOpen = false"
      @open="isOpen = true"
      selectedLabel
      deselectLabel
    >
      <template slot="singleLabel">
        <span class="option__image" alt="No Man’s Sky">&#10003;</span>
      </template>
      <template slot="option" slot-scope="props">
        <div class="option__desc">
          <span class="option__title">
            {{ props.option.name || props.option.title }}
          </span>
          <span
            v-if="
              value.filter((item) => item.id === props.option.id).length > 0
            "
            class="option__check"
            alt="No Man’s Sky"
          >
            &#10003;
          </span>
          <span class="option__delete" alt="No Man’s Sky">&#10005;</span>
          <span class="option__plus" alt="No Man’s Sky">&plus;</span>
        </div>
      </template>

      <!-- <template slot="tag" slot-scope="{option, remove}" >
      span.custom__tag
        span {{ option.name }}
        span.custom__remove(@click="remove(option)") ❌
      </template>
      <template slot="option" slot-scope="props">
          <div class="option__desc"><span class="option__title">
            <span v-if="options.filter(item => item.code === props.option.code).length > 0"
              class="fa fa-check float-right">&#10003;</span>
            {{ props.option.name }}
            </span>
            </div>
      </template>-->
    </multiselect>
    <v-btn class="ma-2 add add-text" @click="toggle" v-if="!isOpen && loggedIn">
      Add {{ item.name }}
      <v-icon right dark>mdi-plus</v-icon>
    </v-btn>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Multiselect from 'vue-multiselect'

export default {
  components: {
    Multiselect,
  },
  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
    valueS: {
      type: Array,
      default: () => [],
    },
    selectedS: {
      type: Array,
      default: () => [],
    },
    addNew: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isTouched: true,
      isDisabled: false,
      isOpen: false,
      value: [],
      new: [],
      selected: [],
      options: [],
    }
  },
  computed: {
    ...mapGetters({
      info: 'infoPage',
    }),
    isInvalid() {
      return this.isTouched && this.value.length === 0
    },
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
  },
  watch: {
    value(cur, old) {
      this.$emit('selectValue', {
        key: this.item.id,
        value: cur,
        selected: this.selected,
        new: this.new,
      })
    },
  },
  mounted() {
    if (this.valueS) {
      this.selected = this.valueS
    }
    if (this.item.options && this.item.options.length) {
      this.options = this.item.options
    }
    if (this.item.selected && this.item.selected.length) {
      this.value = this.item.selected
    }
  },
  methods: {
    async addTag(name) {
      if (name.length > 2) {
        try {
          const params = {
            title: name,
            added_for: this.info._id,
          }
          const data = await this.$axios.$post('/tag', params)
          const tag = {
            new: true,
            name: name,
            id: data.id,
          }
          this.new.push(tag)
          this.value.push(tag)
          this.selected.push(data.id)
        } catch (err) {
          /* ------------ Display errors ------------ */
          console.error(err)
          let message = 'Failed to add new tag'
          if (err.response) {
            // console.log(err.response.data.error, 'error')
            if (Array.isArray(err.response.data.erro)) {
              message = Object.values(err.response.data.error)
                .filter((x) => !!x)
                .map((x) => x.join(', '))
                .join('; ')
            } else {
              message = err.response.data.error
            }
          }
          this.$notify.error({
            title: 'Failed',
            message: message,
          })
          this.$sentry.captureException(err)
        }
      } else {
        this.$notify.warning({
          title: 'Failed',
          message: 'tag must be min 3 character',
        })
      }
    },

    selectOption(selectedOption) {
      this.selected.push(selectedOption.id)
    },

    searchChanges(searchQuery, id) {
      clearTimeout(this.debounceTimer)
      this.debounceTimer = setTimeout(() => {
        if (searchQuery && searchQuery.length > 2) {
          if (this.item.id === 'tags') {
            this.getTag(searchQuery)
          } else if (this.item.id === 'types') {
            return
          } else if (this.item.id === 'industry') {
            this.getIndustry(searchQuery)
          } else {
            this.getModule(searchQuery)
          }
        }
      }, 500)
    },
    async getTag(query) {
      const params = {
        q: query,
      }
      try {
        const { data } = await this.$axios.$get('/tag', { params })
      } catch (err) {
        this.$sentry.captureException(err)
      }
      if (data && data.length) {
        for (let i = 0; i < data.length; i++) {
          data[i].name = data[i].title
        }
        this.options = data
      }
      // console.log(this.options, 'date')
    },
    async getModule(query) {
      const params = {
        q: query,
      }
      try {
        const { data } = await this.$axios.$get('/modules', { params })
        this.options = data.data
      } catch (err) {
        this.$sentry.captureException(err)
      }
    },
    async getIndustry(query) {
      const params = {
        q: query,
      }
      try {
        const data = await this.$axios.$get('/industry', { params })
        // this.options = data
        this.$set(this, 'options', data)
      } catch (err) {
        this.$sentry.captureException(err)
      }
    },
    removeTag(option) {
      if (option.new) {
        this.new = this.new.filter((item) => item.id != option.id)
      } else {
        const index = this.selected.indexOf(option.id)
        if (index > -1) {
          this.selected.splice(index, 1)
        }
      }
      this.value = this.value.filter((item) => item.id != option.id)
    },
    toggle() {
      if (this.isOpen) {
        this.$refs.multiselect.$el.blur()
        this.isOpen = false
      } else {
        this.$refs.multiselect.$el.focus()
        this.isOpen = true
      }
    },
  },
}
</script>

<style
  scoped
  src="vue-multiselect/dist/vue-multiselect.min.css"
  lang="css"
></style>
