<template>
  <v-dialog
    v-model="dialog"
    :persistent="true"
    max-width="400px">

    <v-card class="suggest">
      <v-btn
        icon
        dark
        class="close"
        @click="resetForm">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-card-text>
        <h2 class='title-3'>
          Are you currently working at
          {{info.info.name}}? <br />
          or is it your company?<br />
        </h2>
        <br>
        <p class="center">Confirm and edit immediately</p>
        <v-btn
          class="px-4 orange-btn"
          :loading="loading"
          :disabled="errors.any()"
          @click="resetForm"
          color="#FB6E00"
          type="submit"
          margin-bottom="60px"
        >Confirm
        </v-btn>
      </v-card-text>
        <form @submit.prevent="submitForm">
        <v-spacer></v-spacer>
          <p class="label" v-if="item"> {{item.name}}</p>
          <v-textarea
            label="Not your company but want to suggest a change? Write us here"
            solo
            :name="description"
            :value="description"
            class="value"
            v-model.trim="description"
          ></v-textarea>
          <v-btn
            class="with"
            color="#fff"
            type="submit"
            depressed
              >
            Suggest a change
          </v-btn>
      </form>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    dialog: false,
    item:null,
    loading: false,
    description:null,
  }),
  computed: {
    ...mapGetters({
      display: 'suggestModal',
      info: 'infoPage',
    }),
  },
  watch: {
    display(val) {
      this.$set(this, 'dialog', !!val)
      this.item = val
      if (!val) return
    },

    dialog(v) {
      if (!v) this.hideModal()
    },
  },
  mounted() {

    this.dialog = !!this.display
  },
  methods: {
    async resetForm() {
      this.description = null
      this.hideModal()
    },
    hideModal() {
      if (!this.display) return
      this.$store.commit('showSuggestModal', null)

    },
    async submitForm() {
      const body = {
        id:this.info._id,
        change:this.description,
      }
      try {
        this.loading = true
        await this.$axios.post('module/info/request', body)

        // notify success
        this.hideModal()
        await this.resetForm()
        this.$notify.success({
          title: 'Success',
          message: 'Your suggestion has been sent',
        })
      } catch (err) {
        console.error(err)
        let message = 'Could not send suggestion'
        if (err.response) {
          message = err.response.data.error
          if (typeof message !== 'string') {
            message = Object.values(message).filter(x => !!x)
            message = message.map(x => x.join(', ')).join('; ')

          }
        }
        this.$notify.error({
          title: 'Failed',
          message: message,
        })
        this.$sentry.captureException(err)
      } finally {
        this.loading = false
      }
    },
  },
}
</script>

<style lang="scss">
.suggest{

  .v-card__text{
    padding:60px 60px 30px;
  }
  form{
    padding:30px 60px 60px;
    border-top: 1px solid #E8ECF2;
  }
  .with{
    margin: 20px 0 0 ;
    height: 50px;
    width: 100%;
  }
  .info-text{
    background: #f8f7f4;
    padding: 15px;
  }
  .label{
    margin: 0;
    background: #f8f7f4;
    padding: 3px 13px 0;
  }
  .center {
    text-align: center;
  }
  .value{
    background: #f8f7f4;
      input{
        font-family: Inter;
        font-weight: bold;
        font-size: 14px;
        color: #4C4666;
      }
      label{
        font-family: Inter;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        color: #ACACAC;
      }

      .v-input__slot{
        box-shadow: none!important;
        background: #f8f7f4!important;
      }

    }
    .v-text-field .v-label {
        height: auto;
        white-space: normal;
        pointer-events: none;
    }
    textarea{
      height: 50px;
    }
    .close{
      position: absolute;
      right: 0;
    }
}

</style>
