<template>
  <div class="item" v-if="item">
    <p class="name">{{ item.name }}</p>
    <v-textarea
      v-if="type === 'textarea'"
      :label="item.label"
      solo
      :name="item.id"
      v-bind:value="value"
      v-on:input="$emit('input', { value: $event, key: item.id })"
      class="textarea"
      :disabled="!loggedIn"
      height="100"
    ></v-textarea>
    <div
      v-else-if="type === 'link' && !editLink"
      @click="if (!loggedIn) openLink(value)"
      class="dbclick"
    >
      <v-text-field
        label="Add URL"
        solo
        :name="item.id"
        v-bind:value="value"
        v-on:input="$emit('input', { value: $event, key: item.id })"
        class="value"
        :disabled="!loggedIn"
        v-if="item.id !== 'website'"
      ></v-text-field>
      <v-text-field
        label="Add URL"
        solo
        :name="item.id"
        v-bind:value="value"
        v-on:input="$emit('input', { value: $event, key: item.id })"
        class="value"
        :disabled="!loggedIn"
        prepend-icon="mdi-web"
        @click:prepend="openLink(value)"
        v-else
      ></v-text-field>
    </div>
    <v-text-field
      v-else-if="type === 'link' && editLink"
      label="Add URL"
      solo
      :name="item.id"
      v-bind:value="value"
      v-on:input="$emit('input', { value: $event, key: item.id })"
      class="value"
      :disabled="!loggedIn"
    ></v-text-field>
    <v-text-field
      v-else
      :label="item.label"
      solo
      :name="item.id"
      v-bind:value="value"
      v-on:input="$emit('input', { value: $event, key: item.id })"
      class="value"
      :disabled="!loggedIn"
    ></v-text-field>
    <div class="agree" v-if="value && 1 == 2">
      <span>
        Agree?
      </span>
      <v-btn
        class="ma-2 add switch"
        name="no"
        v-bind:class="{ active: active }"
        @click="toggleSwitch(true, item)"
      >
        yes
      </v-btn>
      <v-btn
        class="ma-2 add switch"
        name="agree"
        v-bind:class="{ active: !active }"
        @click="toggleSwitch(false, item)"
      >
        no
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    active: false,
    error: null,
    editLink: false,
    clickCount: 0,
    clickTimer: null,
  }),
  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
    value: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: '',
    },
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
  },

  methods: {
    toggleSwitch(event) {
      this.active = event

      if (!event) {
        this.openSuggest(this.item)
      }
    },

    openLink(link) {
      this.clickCount++

      if (this.clickCount === 1) {
        this.clickTimer = setTimeout(() => {
          this.clickCount = 0
          let Website = link && link.toLowerCase()
          if (!Website.indexOf('http') == 0) Website = 'http://' + Website

          console.log('Opening', Website)
          window.open(Website, '_blank')
        }, 250)
      } else if (this.clickCount === 2 && this.loggedIn) {
        clearTimeout(this.clickTimer)
        this.clickCount = 0
        this.editLink = true
      }
    },

    openSuggest(item) {
      if (!this.loggedIn) {
        this.$notify.error({
          title: 'Unauthorized',
          message: 'Please sign in first to add new module',
        })
        return this.$store.commit('showLoginModal', true)
      }
      this.$store.commit('showSuggestModal', item)
    },
  },
}
</script>

<style src="~/assets/styles/stakeholder.scss" lang="scss"></style>
