<template>
  <div class="board-container">
    <!--  v-bind:class="{ 'sidebar-open-state': sidebarVisible }" -->
    <p
      v-if="moduleLength"
      class="grey--text pl-4 pt-2 revenue-sum"
      :style="toggleBoardList ? 'top: 160px;' : ''"
    >
      {{ moduleLength }} companies{{
        dontDisplayRevenue ? ' ' : ' | ' + totalRevenue
      }}
    </p>
    <!-- Board -->
    <div id="ecomap-board"></div>
    <!-- New Board -->
    <stage />
    <div id="menu">
      <div>
        <button id="pulse-button">Info</button>
        <button id="delete-button">Delete</button>
      </div>
    </div>
    <small-modal :openIn="smallIn" />
    <!-- Old Board -->
    <!--<div
      ref="board"
      id="whiteboard"
      v-on="!isShared ? { mousedown: updateSelection } : { }" 
      >
      <MarkerItem v-for="marker in markers" :key="marker.id" :x="marker.x" :y="marker.y" :scale-x="marker.scaleX"
        :scale-y="marker.scaleY" :width="marker.width" :height="marker.height" :id="marker.id" :angle="marker.angle"
        :selected="marker.selected" :type="marker.type" :centerPoint="marker.centerPoint"
        :startDegrees="marker.startDegrees" :endDegrees="marker.endDegrees" :innerRadius="marker.innerRadius"
        :outerRadius="marker.outerRadius" :annularPadding="marker.annularPadding" :editable="marker.editable"
        :disable-scale="marker.disableScale" :styles="marker.styles" @on-Update="updateMarker(marker.id, $event)"
        @on-Select="selectMarker" @dblclick="dblClick" @textChanged="textChanged" />
      <div
        class="module-onboard"
        v-for="node in modules"
        :key="node.id"
        :id="`node${node.id}`"
        v-bind:class="{
          'circle-shape-wrapper': logoShape === 'circle',
          'transprent' : (smallIn&& smallNode && smallNode.id !== node.id)
          }"
        >
        <div
          class="module-img-wrapper"
          v-bind:class="{ 'circle-shape': logoShape === 'circle' }"
          >
          <icon :stakeholder="node"/>
        </div>
        <br>
        <h3 class="name">{{ node.name }}</h3>  
        <v-icon v-if="!isShared" class="delete-btn">mdi-delete</v-icon>        
        <i
          class="info-btn"
          @click.stop="showInfoModal(node)"
        >
          i
        </i>      
      </div>
      <small-modal :openIn="smallIn"/>
      <div
        v-for="k in Object.keys(groups)"
        :key="k"
        :id="k"
        class="group-border">
        <span
          class="group-title"
          @click="!isShared ? displayGroupEditor(k) : {}"
        >{{ groups[k].title }}</span>
        <v-icon v-if="!isShared" style="font-size: 24px" class="custom-delete-group">mdi-delete</v-icon>
      </div>
      <div
        id="selection-control"
        class="group-border-control"
        style="display: none">&nbsp
      </div>
    </div>-->
    <MapFilter class="filter-container" :class="{'slide-filters': !sidebarLeftVisible}" :modules="modules"/>
    <!-- Left side menu -->
    <tool-bar />
    <!-- Top side menu -->
    <custom-bar />
    <!-- Default background if no stakeholder on board -->
    <edit-group-form ref="editGroup" />
    <div id="empty-board-image" :class="{ visible: isEmptyBoard }">
      <div class="empty-image">
        <img src="~/static/images/add-brand.png" />
      </div>
      <div class="custom-landing" v-if="!userDetails || !userDetails.new_user">
        <!--
        <div class="home-box-container" v-if="marketMapInfoVisible">
          <div class="home-box">
            <div class="icon">
              <img width="48" src="~/static/images/icon1.svg" />
            </div>
            <div class="title">
              <h2>AUTO-MARKET-MAP</h2>
              <h3>Get an auto-generated and ready-to-use market map (BETA)</h3>
            </div>
            <v-btn
              class="primary-btn home-box-button"
              href="/?automap"
              target="_blank"
            >
              Generate
            </v-btn>
          </div>
          <div class="home-box">
            <div class="icon">
              <img src="~/static/images/icon2.svg" />
            </div>
            <div class="title">
              <h2>CUSTOM-MARKET-MAP</h2>
              <h3>
                Create a custom market map for free and start with tutorials
              </h3>
            </div>
            <v-btn
              class="primary-btn home-box-button"
              href="https://medium.com/ecomap/ecomap-tutorial-530a09201fbd"
              target="_blank"
            >
              Tutorials
            </v-btn>
          </div>
          <div class="home-box">
            <div class="icon">
              <img width="50" src="~/static/images/icon3.svg" />
            </div>
            <div class="title">
              <h2>MARKET RESEARCH</h2>
              <h3>
                Let us conduct a custom market research and create the custom
                market map for you.
              </h3>
            </div>
            <v-btn
              class="primary-btn home-box-button white--text"
              href="https://www.fiverr.com/tobyornottobe/create-a-market-map-7f10?gig_id=152259110&utm_campaign=base_gig_create_share&utm_content=&utm_medium=shared&utm_source=twitter&utm_term=&view=gig"
              target="_blank"
            >
              Order now
            </v-btn>
          </div>
        </div>
        -->
      </div>
    </div>
    <div class="full-modal" v-if="activeModal">
      <h2>Info</h2>
      <Info v-bind:id="activeStakeholderId" v-bind:hash="activeStakeholderId" />
    </div>
  </div>
</template>

<script>
import ActiveModule from '~/mixins/active-module'
import PanzoomControl from '~/mixins/panzoom-control'
import MarkerBoard from '~/mixins/marker-board'
import EditGroupForm from '../modals/EditGroupTitle'
// import Icon from './ModuleIcon'
// import MarkerItem from './MarkerItem'
import { mapGetters } from 'vuex'
import SmallModal from '~/components/modals/SmallModal'
// import Loading from '../loading/Loading'
// import { mapActions } from 'vuex'
import Info from '~/components/stakeholder/Info'
import Stage from '../canvas/Stage'
import ToolBar from '../canvas/ToolBar'
import CustomBar from '../canvas/CustomBar'
import MapFilter from '../canvas/MapFilter'

export default {
  components: {
    Stage,
    // Icon,
    EditGroupForm,
    // MarkerItem,
    SmallModal,
    // Loading,
    Info,
    ToolBar,
    CustomBar,
    MapFilter,
  },
  props: {
    selection: {
      type: Boolean,
    },
  },
  mixins: [ActiveModule, PanzoomControl, MarkerBoard],
  data: () => ({
    boardSelected: false,
    serverError: null,
    clickTimer: null,
    activeModal: false,
    activeStakeholderId: null,
    totalSum: 0,
    missingFields: 0,
  }),
  head() {
    return {
      link: [
        {
          rel: 'alternate',
          type: 'application/json+oembed',
          href: 'https:/api.ecomap.io/api/oembed?url=',
          title: this.title,
        },
      ],
    }
  },
  computed: {
    ...mapGetters({
      loading: 'board/loading',
      markers: 'board/markers',
      modules: 'board/modules',
      moduleLength: 'board/moduleLength',
      toggleBoardList: 'toggleBoardList',
      // ---------------------------------------- //

      sidebarVisible: 'sidebarVisible',
      sidebarLeftVisible: 'sidebarLeftVisible',
      boardTitle: 'board/title',
      boardDetails: 'board/details',
      smallIn: 'smallIn',
      smallNode: 'smallModal',
      owner: 'board/owner',
      logoShape: 'board/logoShape',
      searchState: 'board/search',
      autoGenerationFormDialog: 'autoGenerationFormModal',
      autoGenerationEmptyDialog: 'autoGenerationEmptyModal',
      autoGenerationPaymentDialog: 'autoGenerationPaymentModal',
      autoGenerationAnimationDialog: 'autoGenerationAnimationModal',
      boardId: 'board/selectedBoard',
      moved: 'board/moved',
      redoArrayLength: 'redoArrayLength',
      redoArrayNoIdLength: 'redoArrayNoIdLength',
      undoArrayLength: 'undoArrayLength',
      undoArrayNoIdLength: 'undoArrayNoIdLength',
    }),
    panzoomVisible() {
      return !this.sidebarVisible || this.$vuetify.breakpoint.mdAndUp
    },
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    isShared() {
      return this.$route.query.share !== undefined
    },
    isAutoMap() {
      return this.$route.query.automap !== undefined
    },
    isEmptyBoard() {
      return this.modules.length === 0 && this.markers.length === 0
    },
    isEmbeded() {
      return this.$route.query.embed
    },
    userDetails() {
      return this.$store.state.auth.user
    },
    marketMapInfoVisible() {
      return (
        !this.autoGenerationFormDialog &&
        !this.autoGenerationEmptyDialog &&
        !this.autoGenerationPaymentDialog &&
        !this.autoGenerationAnimationDialog
      )
    },
    nonMissingFields() {
      return this.moduleLength - this.missingFields
    },
    dontDisplayRevenue() {
      if (this.nonMissingFields == 0 && this.missingFields) return true
      return this.nonMissingFields < Math.floor(0.8 * this.moduleLength)
    },
    totalRevenue() {
      let total
      if (this.nonMissingFields >= Math.floor(0.8 * this.moduleLength)) {
        const avg = Math.ceil(this.totalSum / this.nonMissingFields)
        total = this.totalSum + (!avg ? 0 : avg) * this.missingFields
        // console.log(this.totalSum, this.nonMissingFields ,this.missingFields)
      } else {
        total = 0
      }
      const BILLION = 1000000000
      const MILLION = 1000000
      const GRAND = 1000
      if (Math.trunc(total / BILLION) > 0) {
        return `$${Math.trunc(total / BILLION, 10)}b revenue`
      } else if (Math.trunc(total / MILLION) > 0) {
        return `$${Math.trunc(total / MILLION, 10)}m revenue`
      } else if (Math.trunc(total / GRAND) > 0) {
        return `$${Math.trunc(total / GRAND, 10)}k revenue`
      } else {
        return `$${total} revenue`
      }
    },
    canRedo() {
      if (this.boardId) {
        return this.redoArrayLength > 0
      } else {
        return this.redoArrayNoIdLength > 0
      }
    },
    canUndo() {
      if (this.boardId) {
        return this.undoArrayLength > 1
      } else {
        return this.undoArrayNoIdLength > 1
      }
    },
  },
  async mounted() {
    this.keyListener = document.addEventListener('keyup', this.keyupHandler)
    // this.$store.commit('resetUndoRedo')
    // await this.initializeBoard()
    // await this.initializePanzoom()
    // await this.getIsFollowed()
    await this.showIntroVideoModal()
    this.revenues()
    // this.$store.commit('board/setInitialState')
    if (this.isAutoMap) this.showAutoGenerationFormModal()

    document.addEventListener('backbutton', this.handleBack, false)
    if (
      window.performance &&
      window.performance.navigation.type ==
        window.performance.navigation.TYPE_BACK_FORWARD
    ) {
      // console.log('User Came from Back')
    } else {
      // console.log('Fresh Load')
    }

    /* window['ECOMAP_BOARD'].onElementClick = (stakeholder, mouseEvent) => {
        let x = mouseEvent.x
        let y = mouseEvent.y
        // console.log("STAKEHOLDER__XX", stakeholder)
        this.$store.commit('showSmallModal',{
          id: stakeholder.id,
          name:stakeholder.title,
          details: stakeholder.details, 
          website: stakeholder.website,
          image: stakeholder.imageUrl,
          position:{x, y}
        })
        //this.$store.commit('SmallInBoard', true)
        // console.log("Element Click Fired:", stakeholder, this.$store)
      } */
  },
  beforeDestroy() {
    document.removeEventListener('keyup', this.keyupHandler)
  },
  beforeRouteLeave(to, from, next) {
    // console.log(to, from)
    next()
  },
  methods: {
    // ------------------------------------------------------------ //

    revenues() {
      this.modules.forEach((module) => {
        if (!module.revenue) {
          this.missingFields++
        } else {
          this.totalSum += module.revenue
        }
      })
    },
    handleBack(e) {
      // console.log('Back Pressed', e)
      //alert(window.top.location.pathname)
    },
    openStakeHolder(id) {},
    showIntroVideoModal() {
      this.$store.commit('showIntroVideoModal', true)
    },
    showInfoModal(node) {
      // V1 - this.$store.commit('showInfoModal', node.id)
      this.$router.push('/stakeholder/' + node.id)

      // this.activeStakeholderId = node.id
      // this.activeModal = true
      // this.$store.commit('toggleBoardList', false)
      // window.history.pushState({}, null, `/stakeholder/${node.id}`)
    },
    showAutoGenerationFormModal() {
      this.$store.commit('showAutoGenerationFormModal', true)
    },
    displayGroupEditor(key) {
      this.$refs.editGroup.showModal(key)
    },
    showAddModule() {
      if (!this.loggedIn) {
        this.$notify.error({
          title: 'Unauthorized',
          message: 'Please sign in first to add new module',
        })
        return this.$store.commit('showLoginModal', true)
      }
      this.$store.commit('showAddModule', true)
      if (this.searchState) this.$store.commit('board/updateSearch', null)
    },
    async follow() {
      if (!this.loggedIn) {
        return this.$notify.error({
          title: 'Unauthorized',
          message: 'Please sign in first to follow',
        })
      }
      if (this.loading) return
      try {
        const id = this.$store.state.board.id
        if (!id) {
          return this.$notify.error({
            title: 'Board Not Selected',
            message: 'Please select a board first to follow',
          })
        }

        this.$store.commit('board/updateStore', {
          loading: true,
        })

        this.serverError = null
        /* ------------ Send data ------------ */
        if (this.followBtn === 'favorite') {
          /* previous "Unfollow"*/ await this.$axios.$delete(
            '/un-follow-board/' + id,
          )
          this.$notify.success({
            title: 'Saved.',
            message: 'Board unfollowed',
          })
          this.$set(this, 'followBtn', 'favorite_outline') //previous "Follow"
        } else {
          try {
            await this.$axios.$get('/follow-board/' + id)
          } catch (e) {
            if (e.response && e.response.status === 452) {
              this.$notify.warning({
                title: 'Sorry!',
                message: 'You can not follow your own board.',
              })
            }
            return
          }
          this.$notify.success({
            title: 'Saved.',
            message: 'Board followed',
          })
          this.$set(this, 'followBtn', 'favorite') //previous "Unfollow"
        }
      } catch (err) {
        /* ------------ Display errors ------------ */
        console.error(err)
        let message = 'Failed to follow'
        if (err.response) {
          message = Object.values(err.response.data.error)
            .filter((x) => !!x)
            .map((x) => x.join(', '))
            .join(' ')
        }
        this.$notify.success({
          title: 'Failed',
          message: message,
        })
        this.$sentry.captureException(err)
        this.serverError = message
      } finally {
        await this.$nextTick()
        this.$store.commit('board/updateStore', {
          loading: false,
        })
      }
    },
    async getIsFollowed() {
      try {
        const id = this.$store.state.board.id
        if (id) {
          this.$set(this, 'boardSelected', true)
        } else {
          this.$set(this, 'boardSelected', false)
          return
        }
        const data = await this.$axios.$get('/is-followed-board/' + id)
        if (data.data === 'true') {
          this.$set(this, 'followBtn', 'favorite') //previous "Unfollow"
        } else {
          this.$set(this, 'followBtn', 'favorite_outline') //previous "Follow"
        }
      } catch (err) {
        // console.trace(err)
        this.$sentry.captureException(err)
        this.$set(this, 'error', err + '')
      } finally {
        // this.$set(this, 'loading', false)
        // this.loadVersions()
      }
    },
    async embedModal() {
      this.$store.commit('showEmbedModal', true)
    },
    addShape() {
      toolbar_shapeDraw()
    },
    undoHandler() {
      const undoArray = this.$store.state.undoArray[this.boardId]
      if (undoArray.length > 1) {
        const currentState = undoArray[undoArray.length - 1]
        const prevState = undoArray[undoArray.length - 2]

        if (currentState.modules.length > prevState.modules.length) {
          const latestModule =
            currentState.modules[currentState.modules.length - 1]
          this.instance.remove(`node${latestModule.id}`)
        }

        if (currentState.links.length > prevState.links.length) {
          const latestLink = currentState.links[currentState.links.length - 1]
          const link = this.findLink(latestLink)
          this.instance.deleteConnection(link)
        }

        const nodeMovedPrevState = prevState.modules.find(
          (module) => module.id === currentState.nodeDisplaced,
        )
        // console.log('moved')
        // console.log(nodeMovedPrevState)
        let redoArray
        if (nodeMovedPrevState) {
          const ID = `node${nodeMovedPrevState.id}`
          const elem = this.$('#' + ID)
          const pos = nodeMovedPrevState.position
          const top = pos.y - this.$el.offsetTop + 'px'
          const left = pos.x - this.$el.offsetLeft + 'px'
          elem.css({
            top,
            left,
          })

          elem.off('click')
          elem.on('click', () => {
            const currentState = redoArray[redoArray.length - 1]
            const nodeMovedCurState = currentState.modules.find(
              (module) => module.id === currentState.nodeDisplaced,
            )
            let oldPosition
            if (this.moved) {
              oldPosition = nodeMovedCurState.position
            } else {
              oldPosition = this.modules.find(
                (module) => module.id === currentState.nodeDisplaced,
              ).position
            }
            let newPositionNode = this.modules.find(
              (module) => module.id === currentState.nodeDisplaced,
            )
            let newPosition = newPositionNode.position
            if (
              newPosition.x === oldPosition.x &&
              newPosition.y === oldPosition.y
            ) {
              this.$store.commit('showSmallModal', newPositionNode)
              this.$store.commit('SmallInBoard', true)
            }
            oldPosition = newPosition
          })
        }
        this.$store.commit('undoBoard')
        redoArray = this.$store.state.redoArray[this.boardId]
      }
    },
    undoNoIdHandler() {
      const undoArray = this.$store.state.undoArrayNoId
      if (undoArray.length > 1) {
        const currentState = undoArray[undoArray.length - 1]
        const prevState = undoArray[undoArray.length - 2]

        if (currentState.modules.length > prevState.modules.length) {
          const latestModule =
            currentState.modules[currentState.modules.length - 1]
          this.instance.remove(`node${latestModule.id}`)
        }

        if (currentState.links.length > prevState.links.length) {
          const latestLink = currentState.links[currentState.links.length - 1]
          const link = this.findLink(latestLink)
          this.instance.deleteConnection(link)
        }

        const nodeMovedPrevState = prevState.modules.find(
          (module) => module.id === currentState.nodeDisplaced,
        )
        const nodeMovedCurState = currentState.modules.find(
          (module) => module.id === currentState.nodeDisplaced,
        )
        // console.log('moved')
        // console.log(nodeMovedPrevState)
        let redoArray
        if (nodeMovedPrevState) {
          const ID = `node${nodeMovedPrevState.id}`
          const elem = this.$('#' + ID)
          const pos = nodeMovedPrevState.position
          const top = pos.y - this.$el.offsetTop + 'px'
          const left = pos.x - this.$el.offsetLeft + 'px'
          elem.css({
            top,
            left,
          })

          elem.off('click')
          elem.on('click', () => {
            const currentState = redoArray[redoArray.length - 1]
            const nodeMovedCurState = currentState.modules.find(
              (module) => module.id === currentState.nodeDisplaced,
            )
            let oldPosition
            if (this.moved) {
              oldPosition = nodeMovedCurState.position
            } else {
              oldPosition = this.modules.find(
                (module) => module.id === currentState.nodeDisplaced,
              ).position
            }
            let newPositionNode = this.modules.find(
              (module) => module.id === currentState.nodeDisplaced,
            )
            let newPosition = newPositionNode.position
            if (
              newPosition.x === oldPosition.x &&
              newPosition.y === oldPosition.y
            ) {
              this.$store.commit('showSmallModal', newPositionNode)
              this.$store.commit('SmallInBoard', true)
            }
            oldPosition = newPosition
          })
        }
        this.$store.commit('undoBoardNoId')
        redoArray = this.$store.state.redoArrayNoId
      }
    },
    redoHandler() {
      const undoArray = this.$store.state.undoArray[this.boardId]
      const redoArray = this.$store.state.redoArray[this.boardId]
      if (redoArray.length > 0) {
        const nextState = redoArray[redoArray.length - 1]
        const currentState = undoArray[undoArray.length - 1]

        if (nextState.modules.length < currentState.modules.length) {
          const latestModule =
            currentState.modules[currentState.modules.length - 1]
          this.instance.remove(`node${latestModule.id}`)
        }

        if (nextState.links.length < currentState.links.length) {
          const latestLink = currentState.links[currentState.links.length - 1]
          const link = this.findLink(latestLink)
          this.instance.deleteConnection(link)
        }

        const nodeMovedNextState = nextState.modules.find(
          (module) => module.id === nextState.nodeDisplaced,
        )
        // console.log('moved')
        // console.log(nodeMovedNextState)
        if (nodeMovedNextState) {
          const ID = `node${nodeMovedNextState.id}`
          const elem = this.$('#' + ID)
          const pos = nodeMovedNextState.position
          const top = pos.y - this.$el.offsetTop + 'px'
          const left = pos.x - this.$el.offsetLeft + 'px'
          elem.css({
            top,
            left,
          })

          elem.off('click')
          elem.on('click', () => {
            const oldState = undoArrayNew[undoArrayNew.length - 2]
            const currentState = undoArrayNew[undoArrayNew.length - 1]

            const nodeOldState = oldState.modules.find(
              (module) => module.id === currentState.nodeDisplaced,
            )

            let oldPosition
            if (this.moved) {
              oldPosition = nodeOldState.position
            } else {
              oldPosition = this.modules.find(
                (module) => module.id === currentState.nodeDisplaced,
              ).position
            }
            let newPositionNode = this.modules.find(
              (module) => module.id === currentState.nodeDisplaced,
            )
            let newPosition = newPositionNode.position
            if (
              newPosition.x === oldPosition.x &&
              newPosition.y === oldPosition.y
            ) {
              this.$store.commit('showSmallModal', newPositionNode)
              this.$store.commit('SmallInBoard', true)
            }
            oldPosition = newPosition
          })
        }
        this.$store.commit('redoBoard')
        const undoArrayNew = this.$store.state.undoArray[this.boardId]
      }
    },
    redoNoIdHandler() {
      const undoArray = this.$store.state.undoArrayNoId
      const redoArray = this.$store.state.redoArrayNoId
      if (redoArray.length > 0) {
        const nextState = redoArray[redoArray.length - 1]
        const currentState = undoArray[undoArray.length - 1]

        if (nextState.modules.length < currentState.modules.length) {
          const latestModule =
            currentState.modules[currentState.modules.length - 1]
          this.instance.remove(`node${latestModule.id}`)
        }

        if (nextState.links.length < currentState.links.length) {
          const latestLink = currentState.links[currentState.links.length - 1]
          const link = this.findLink(latestLink)
          this.instance.deleteConnection(link)
        }

        const nodeMovedNextState = nextState.modules.find(
          (module) => module.id === nextState.nodeDisplaced,
        )
        const nodeMovedCurrentState = currentState.modules.find(
          (module) => module.id === nextState.nodeDisplaced,
        )
        // console.log('moved')
        if (nodeMovedNextState) {
          // console.log(nodeMovedNextState)
          const ID = `node${nodeMovedNextState.id}`
          const elem = this.$('#' + ID)
          const pos = nodeMovedNextState.position
          const top = pos.y - this.$el.offsetTop + 'px'
          const left = pos.x - this.$el.offsetLeft + 'px'
          elem.css({
            top,
            left,
          })

          elem.off('click')
          elem.on('click', () => {
            const oldState = undoArrayNew[undoArrayNew.length - 2]
            const currentState = undoArrayNew[undoArrayNew.length - 1]

            const nodeOldState = oldState.modules.find(
              (module) => module.id === currentState.nodeDisplaced,
            )

            let oldPosition
            if (this.moved) {
              oldPosition = nodeOldState.position
            } else {
              oldPosition = this.modules.find(
                (module) => module.id === currentState.nodeDisplaced,
              ).position
            }
            let newPositionNode = this.modules.find(
              (module) => module.id === currentState.nodeDisplaced,
            )
            let newPosition = newPositionNode.position
            if (
              newPosition.x === oldPosition.x &&
              newPosition.y === oldPosition.y
            ) {
              this.$store.commit('showSmallModal', newPositionNode)
              this.$store.commit('SmallInBoard', true)
            }
            oldPosition = newPosition
          })
        }
        this.$store.commit('redoBoardNoId')
        const undoArrayNew = this.$store.state.undoArrayNoId
      }
    },
    keyupHandler(event) {
      if (event.ctrlKey && event.code === 'KeyZ') {
        // console.log('undo')
        if (this.boardId) {
          this.undoHandler()
        } else if (!this.boardId) {
          this.undoNoIdHandler()
        }
      }
      if (event.ctrlKey && event.code === 'KeyY') {
        // console.log('redo')
        if (this.boardId) {
          this.redoHandler()
        } else if (!this.boardId) {
          this.redoNoIdHandler()
        }
      }
    },
  },
  watch: {
    marketMapInfoVisible(val) {
      this.$store.commit('toggleBoardList', val)
    },
    modules(val) {
      this.missingFields = 0
      this.totalSum = 0
      val.forEach((module) => {
        if (module.revenue) {
          this.totalSum += module.revenue
        } else {
          this.missingFields++
        }
      })
    },
  },
}
</script>

<style lang="scss" src="~/assets/styles/board.scss"></style>
<style lang="scss" src="~/assets/styles/globalvariables.scss"></style>

<style scoped>
#ecomap-board {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: white;
  z-index: 2;
  display: none;
}
.redo-btn {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.transparent-btn {
  opacity: 0.5;
}
.v-btn--icon.active {
  background-color: rgb(241, 89, 42) !important;
}
.v-btn--icon.active i,
.v-btn--icon.active span {
  color: #fff;
}
.filter-container {
  user-select: none;
  position: fixed;
  top: 260px;
  left: 0;
  bottom: 0;
  width: 243px;
}

</style>
