<template>
  <keep-alive>
    <div
      id="container-list"
      v-bind:class="{ 'open-state': toggleBoardList }"
      v-if="loggedIn && !isShared"
    >
      <!-- :class="{collapsed}" -->
      <div v-if="isLoading">
        <loading v-for="n in 3" :key="n" width="160px" height="100px" />
      </div>
      <div
        class="board-list"
        v-on:scroll.passive="scrollBoardList"
        ref="boardList"
      >
        <div
          class="card"
          v-for="(board, i) in boards.concat([{}])"
          :key="i"
          @click="selectBoard(board)"
          :class="[
            selected === board.hash ? 'selected' : '',
            i === boards.length ? 'new' : '',
          ]"
        >
          <!-- v-show="shouldDisplayBoard(board)" -->

          <div class="text" :title="board.details">
            <span v-if="board.hash">{{ i + 1 }}</span>
            <v-icon v-else>mdi-star</v-icon>
            <!-- <img v-if="board.hash" :data-src="`${getBoardImg(board.hash)}`" class="lazy board-list-image"/> -->
            <small v-if="board.title">
              {{
                board.title.length > 15
                  ? board.title.slice(0, 15) + '...'
                  : board.title
              }}
            </small>
            <small class="bord-update-date" v-if="board.updated_at">
              {{ 'Updated At : ' + getformatedDate(board.updated_at) }}
            </small>
          </div>
          <v-btn
            block
            small
            class="save-button"
            :loading="saving"
            title="Save"
            @click.stop.prevent="saveBoard(board)"
          >
            <v-icon>{{ board.hash ? 'mdi-sync' : 'mdi-plus' }}</v-icon>
            {{ board.hash ? 'Save' : 'Create' }}
          </v-btn>

          <v-btn
            text
            small
            icon
            class="edit-btn"
            title="Edit title and description"
            @click.stop.prevent="saveBoard(board, true)"
            v-if="selected && board.hash === selected"
          >
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
          <v-btn
            text
            small
            icon
            class="duplicate-btn"
            title="Duplicate this board"
            @click.stop.prevent="duplicateBoard(board)"
            v-if="selected && board.hash === selected"
          >
            <v-icon>mdi-content-copy</v-icon>
          </v-btn>
          <v-btn
            text
            small
            icon
            class="delete-btn"
            title="Delete this board"
            @click.stop.prevent="deleteBoard(board.hash)"
            v-if="selected && board.hash === selected"
          >
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </div>
        <!-- <div
        class="card"
        :key="boards.length">
        <v-btn :loading="saving" @click.stop.prevent="saveBoard({})" class="custom-add-board-btn">
          <i class="material-icons">add</i>
          <span>Create New Ecosystem</span>
        </v-btn>
      </div> -->
      </div>
      <!-- <v-btn
      class="expander-btn"
      @click="collapsed = !collapsed">
      <v-icon>{{ collapsed ? 'mdi-chevron-right' : 'mdi-chevron-left' }}</v-icon>
    </v-btn> -->
    </div>
    <div v-else />
  </keep-alive>
</template>

<script>
import { mapGetters } from 'vuex'
import Loading from '../loading/Loading'

export default {
  data: () => ({
    months: [
      'Jan',
      'Feb',
      'Mar',
      'Apr',
      'May',
      'Jun',
      'Jul',
      'Aug',
      'Sep',
      'Oct',
      'Nov',
      'Dec',
    ],
    token: '',
  }),
  components: {
    Loading,
  },
  computed: {
    ...mapGetters({
      saving: 'board/saving',
      loading: 'board/loading',
      boards: 'board/boardList',
      boardTitle: 'board/title',
      toggleBoardList: 'toggleBoardList',
    }),
    selected() {
      return this.$route.params.hash
    },
    user() {
      return this.$store.state.auth.user
    },
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    isShared() {
      return this.$route.query.share !== undefined
    },
    isLoading() {
      return !this.boards.length
    },
    collapsed: {
      get() {
        return !this.$store.state.expandedBoardList
      },
      set(val) {
        this.$store.commit('expandedBoardList', !val)
        /* Comment - edite by w3dev start */
        // if (!val) this.resetScroll()
      },
    },
  },
  watch: {
    loggedIn(v) {
      if (v) {
        this.loadBoards()
      } else {
        this.$store.commit('board/updateStore', {
          boardList: [],
        })
      }
    },
    boards() {
      /* Comment - edite by w3dev start */
      // this.resetScroll()
    },
    selected(cur, prev) {
      // if (cur != prev) this.loadBoards()
    },
  },
  mounted() {
    this.loadBoards()
  },
  methods: {
    shouldDisplayBoard(cur) {
      if (!this.collapsed) return true
      if (this.selected === cur.hash) return true
      if (cur.hash) return false
      for (const board of this.boards) {
        if (board.hash === this.selected) return false
      }
      return true
    },
    async loadBoards() {
      if (this.loggedIn) {
        let token = await localStorage.getItem('auth._token.local')
        // console.log('the token is this:' ,token.split(' ')[1])
        this.token = token.split(' ')[1]
      }
      try {
        let scrolled = this.scrollToActiveBoard()
        await this.$board.list()
        if (!scrolled) {
          this.scrollToActiveBoard()
        }
      } catch (err) {
        //
      }
    },
    async selectBoard(board) {
      console.log('Selected board => ', board)
      if (board && board.platform_version && board.platform_version == 'V1') {
        this.$notify.info({
          title: 'Redirecting to Older Version of Ecomap in 3 seconds.',
          message: 'Please edit this board on older version of Ecomap',
        })
        setTimeout(() => {
          window.open(`https://app.ecomap.io/${board.hash}`)
        }, 3000)
        return false
      }

      // Handle Undefined
      if (!board.hash) return

      if (this.saving || this.loading) {
        return this.$notify.info({
          title: 'Working',
          message: 'Please wait while updating',
        })
      }
      // console.log(hash)
      this.$router.push('/' + board.hash)
    },
    async saveBoard(board, editMode) {
      if (this.loading || this.saving) {
        return this.$notify.info({
          title: 'Working',
          message: 'Please wait while updating',
        })
      }
      if (editMode || !board || !board.hash) {
        // console.log(board)
        return this.$store.commit('showBoardModal', board)
      }
      try {
        board = await this.$board.save(null, board)
        if (board && board.hash !== this.selected) {
          this.$router.push('/' + (board.hash || ''))
        }
        // this.$store.commit('board/setInitialState')
        this.$notify.success({ title: 'Saved the board' })
      } catch (err) {
        console.error(err)
        let message = 'Failed to save'
        if (err.response) {
          message = err.response.data.error
          if (typeof message !== 'string') {
            message = Object.values(message).filter((x) => !!x)
            message = message.map((x) => x.join(', ')).join('; ')
          }
        }
        this.$notify.success({
          message: message,
        })
      }
    },
    async duplicateBoard(board) {
      try {
        await this.$board.duplicateBoard(null, board)
        this.$notify.success({ title: 'Duplicated Board' })
        this.$router.push('/' + board.hash)
      } catch (err) {
        this.$notify.success({
          title: 'Failed to create board',
          message: err.response ? err.response.data.error : err.toString(),
        })
      }
    },
    async deleteBoard(hash) {
      if (this.loading || this.saving) {
        return this.$notify.info({
          title: 'Working',
          message: 'Please wait while updating',
        })
      }
      let r = confirm('Are you sure??')
      if (r) {
        try {
          await this.$board.delete(hash)
          this.$notify.success({ title: 'Deleted the board' })
        } catch (err) {
          this.$notify.success({ title: 'Failed to delete' })
        } finally {
          await this.selectBoard(this.boards[0])
          await this.loadBoards()
        }
      } else {
        let txt = 'You pressed Cancel!'
      }
    },
    async resetScroll() {
      if (this.collapsed) return
      await this.$nextTick()
      if (!this.boards) return
      // find selected index
      let index = 0
      while (index < this.boards.length) {
        if (this.boards[index].hash === this.selected) break
        index++
      }
      if (index >= this.boards.length) return
      // scroll into view

      const list = this.$refs.boardList
      if (!list) return
      const child = list.children[index + 1]
      if (!child) return
      list.scrollLeft = child.offsetLeft - list.clientWidth / 2
    },
    showDuplicateConfirmationModal() {
      // console.log('Modal should be open')
      this.$store.commit('enableDuplicateConfirmationModal', true)
    },
    getformatedDate(updatedAt) {
      let _d = new Date(updatedAt)
      return (
        _d.getDate() +
        ' ' +
        this.months[_d.getMonth()] +
        ', ' +
        _d.getFullYear().toString().substr(-2)
      )
    },
    getBoardImg(hash) {
      var requestUrl =
        'https://api.ecomap.io/api/v2/board/' +
        hash +
        '/export?download=false&token=' +
        this.token
      // console.log('requestUrl', requestUrl, this.token)
      return requestUrl
      // return 'https://api.ecomap.io/api/v2/board/' + hash +'/export?download=false&token='+this.token
    },
    scrollToActiveBoard() {
      let key = this.getScrollLeftBoardListKey()
      let $boardList = $('.board-list')
      let scrollLeft = localStorage.getItem(key) || 0
      if ($boardList.children().length > 1) {
        $boardList.animate({ scrollLeft: scrollLeft }, 0)
        return true
      }
      return false
    },
    scrollBoardList() {
      let key = this.getScrollLeftBoardListKey()
      localStorage.setItem(key, $('.board-list').scrollLeft())
    },
    getScrollLeftBoardListKey() {
      let name = 'scrollLeftBoardList'
      let key = 0
      if (this.loggedIn) {
        key = this.user.user_id
      }
      return name + key
    },
  },
}
</script>

<style lang="scss" src="~/assets/styles/globalvariables.scss"></style>
<style lang="scss" src="~/assets/styles/board-list.scss"></style>
