<template>
  <div :class="{[`marker-transform`]: true, [`marker-transform--active`]:selected}"
       v-on="!isShared ? { mousedown, click, dblclick } : {}"
      >
    <div :class="`marker-transform__content`" :style="computedStyles.element">
      <svg :id="id" v-if="type !== 'title' && type !== 'textbox'" xmlns="http://www.w3.org/2000/svg"
           :viewBox="`0 0 ${type === 'annular' ? width : width * scaleX} ${type === 'annular' ? height : height * scaleY}`"
           preserveAspectRatio="none" width="100%" height="100%">

        <ellipse v-if="type === 'circle'" :cx="(width * scaleX) / 2" :cy="(height * scaleY) / 2"
                 :rx="(width * scaleX - styles.strokeWidth) / 2" :ry="(height * scaleY - styles.strokeWidth) / 2"
                 :stroke-width="styles.strokeWidth" :fill="styles.fillColor" :fill-opacity="styles.background ? 0.4 : 0"
                 :stroke="styles.fillColor" stroke-opacity="1"/>

        <rect v-if="type === 'rectangle'" :x="styles.strokeWidth / 2" :y="styles.strokeWidth / 2"
              :width="width * scaleX  - styles.strokeWidth" :height="height * scaleY  - styles.strokeWidth"
              :stroke-width="styles.strokeWidth" :fill="styles.fillColor" :fill-opacity="styles.background ? 0.4 : 0"
              :stroke="styles.fillColor" stroke-opacity="1"/>

        <line v-if="type === 'line'" :x1="styles.strokeWidth" :y1="height * scaleY / 2"
              :x2="width * scaleX - styles.strokeWidth" :y2="height * scaleY / 2" :stroke-width="styles.strokeWidth"
              fill="none" :fill-opacity="styles.background ? 0.4 : 0" :stroke="styles.fillColor" stroke-opacity="1"/>

        <polyline v-if="type === 'arrow'" :points="`${width * scaleX - styles.strokeWidth - 20},${height * scaleY / 2 - styles.strokeWidth / 2 - 20}
          ${width * scaleX - styles.strokeWidth},${height * scaleY / 2} ${width * scaleX - styles.strokeWidth - 20},
          ${height * scaleY / 2  + styles.strokeWidth / 2 + 20}`" :stroke-width="styles.strokeWidth" fill="none"
                  :fill-opacity="styles.background ? 0.4 : 0" :stroke="styles.fillColor" stroke-opacity="1"/>

        <line v-if="type === 'arrow'" :x1="styles.strokeWidth" :y1="height * scaleY / 2"
              :x2="width * scaleX - styles.strokeWidth" :y2="height * scaleY / 2" :stroke-width="styles.strokeWidth"
              fill="none" :fill-opacity="styles.background ? 0.4 : 0" :stroke="styles.fillColor" stroke-opacity="1"/>

        <path v-if="type === 'annular'" ref="annular" vector-effect="non-scaling-stroke" width="100%" height="100%"
              :stroke-width="styles.strokeWidth" :fill="styles.fillColor" :fill-opacity="styles.background ? 0.4 : 0"
              :stroke="styles.fillColor" stroke-opacity="1"/>
      </svg>

      <h1 class="marker-title-text" v-bind:style="{ color: styles.background ? styles.fillColor : 'transparent'}"
          align="center" v-if="type === 'title'" ref="title" @input="sendEvent" @blur="editingText" :contenteditable="editable"> Type Something
      </h1>

      <p class="marker-textbox-text" v-bind:style="{ color: styles.background ? styles.fillColor : 'transparent'}"
         v-if="type === 'textbox'" ref="textbox" @input="sendEvent" @blur="editingText" :contenteditable="editable"></p>

    </div>

    <div v-if="selected" :class="`marker-transform__controls`" :style="computedStyles.controls">
      <div v-if="type !== 'arrow' && type !== 'line'" :class="`marker-transform__rotator`"
           @mousedown="handleRotation('rotate', $event)"></div>
      <div v-if="type !== 'arrow' && type !== 'line'" class="marker-transform__rotator-line"></div>
      <div v-if="type !== 'arrow' && type !== 'line'  && type !== 'textbox'"
           :class="[`marker-transform__scale-point marker-transform__scale-point--tl`]"
           @mousedown="handleScale('tl',$event)">
      </div>
      <div v-if="type !== 'title'" :class="[`marker-transform__scale-point marker-transform__scale-point--ml`]"
           @mousedown="handleScaleRotate('ml', $event, type)"></div>
      <div v-if="type !== 'arrow' && type !== 'line'  && type !== 'textbox'"
           :class="[`marker-transform__scale-point marker-transform__scale-point--tr`]"
           @mousedown="handleScale('tr',$event)"></div>
      <div v-if="type !== 'arrow' && type !== 'line' && type !== 'title'  && type !== 'textbox'"
           :class="[`marker-transform__scale-point marker-transform__scale-point--tm`]"
           @mousedown="handleScale('tm',$event)"></div>
      <div v-if="type !== 'arrow' && type !== 'line'  && type !== 'textbox'"
           :class="[`marker-transform__scale-point marker-transform__scale-point--bl`]"
           @mousedown="handleScale('bl',$event)"></div>
      <div v-if="type !== 'arrow' && type !== 'line' && type !== 'title'  && type !== 'textbox'"
           :class="[`marker-transform__scale-point marker-transform__scale-point--bm`]"
           @mousedown="handleScale('bm',$event)"></div>
      <div v-if="type !== 'arrow' && type !== 'line' && type !== 'textbox'"
           :class="[`marker-transform__scale-point marker-transform__scale-point--br`]"
           @mousedown="handleScale('br',$event)"></div>
      <div v-if="type !== 'title'" :class="[`marker-transform__scale-point marker-transform__scale-point--mr`]"
           @mousedown="handleScaleRotate('mr', $event, type)"></div>
    </div>
  </div>
</template>

<script>
  import {
    styler,
    scale,
    lineTransform,
    translate,
    rotate,
  } from 'crypteco-free-transform'
  import { mapGetters } from 'vuex'
  export default {
    name: 'MarkerItem',
    props: {
      id: {
        type: String,
        default: '',
      },
      type: {
        type: String,
        default: '',
      },
      width: {
        type: Number,
        required: true,
      },
      height: {
        type: Number,
        required: true,
      },
      x: {
        type: Number,
        required: true,
      },
      y: {
        type: Number,
        required: true,
      },
      scaleX: {
        type: Number,
        required: true,
      },
      scaleY: {
        type: Number,
        required: true,
      },
      scaleLimit: {
        type: Number,
        default: 0.1,
      },
      angle: {
        type: Number,
        required: true,
      },
      disableScale: {
        type: Boolean,
        default: false,
      },
      selected: {
        type: Boolean,
        default: false,
      },
      editable: {
        type: Boolean,
        default: false,
      },
      styles: {
        type: Object,
        default: () => ({}),
      },
      centerPoint: {
        type: Number,
      },
      startDegrees: {
        type: Number,
      },
      endDegrees: {
        type: Number,
      },
      innerRadius: {
        type: Number,
      },
      outerRadius: {
        type: Number,
      },
      annularPadding: {
        type: Number,
      },
      aspectRatio: {
        type: Boolean,
        default: true,
      },
      scaleFromCenter: {
        type: Boolean,
        default: true,
      },
    },
    computed: {
      editableText() {
        if (this.type === 'textbox' || this.type === 'title') {
          return this.styles.editableText
        }
        return null
      },
      computedStyles() {
        const {
          element,
          controls,
        } = styler({
          x: this.x,
          y: this.y,
          scaleX: this.scaleX,
          scaleY: this.scaleY,
          width: this.width,
          height: this.height,
          angle: this.angle,
          disableScale: this.disableScale,
        })

        return {
          element: {
            ...element,
            width: element.width ? `${element.width}px` : null,
            height: element.height ? `${element.height}px` : null,
          },
          controls: {
            ...controls,
            width: `${controls.width}px`,
            height: `${controls.height}px`,
          },
        }
      },
      isShared() {
        return  this.$route.query.share !== undefined
      },
    },
    mounted() {
      if (this.type === 'annular') {
        this.annularSector(this.$refs.annular, {
          centerX: this.centerPoint,
          centerY: this.centerPoint,
          startDegrees: this.startDegrees,
          endDegrees: this.endDegrees,
          innerRadius: this.innerRadius,
          outerRadius: this.outerRadius,
        })
      }
      if (this.editable) {
        this.$emit('dblclick', {
          id: this.id,
          textEl: this.$refs[this.type],
        })
      }
      if (this.type === 'textbox' || this.type === 'title') {
        this.$refs[this.type].innerText = this.styles.editableText
      }
    },
    watch: {
      editableText(val) {
        if (this.type === 'textbox' || this.type === 'title') {
          this.$refs[this.type].innerText = val
        }
      },
    },
    methods: {
      getBoardPosition() {
        let tm = document.getElementById('ecomap-board').style.transform
        tm = tm.slice('matrix('.length, -1)
        tm = tm.split(',').map(Number)
        return {
          zoom: tm[0],
          tx: tm[4],
          ty: tm[5],
        }
      },
      annularSector(path, options) {
        // - centerX, centerY: coordinates for the center of the circle
        // - startDegrees, endDegrees: fill between these angles, clockwise
        // - innerRadius, outerRadius: distance from the center
        // - thickness: distance between innerRadius and outerRadius
        let opts = optionsWithDefaults(options)
        let pt = [
          [opts.cx + opts.r2 * Math.cos(opts.startRadians),
            opts.cy + opts.r2 * Math.sin(opts.startRadians),
          ],
          [opts.cx + opts.r2 * Math.cos(opts.closeRadians),
            opts.cy + opts.r2 * Math.sin(opts.closeRadians),
          ],
          [opts.cx + opts.r1 * Math.cos(opts.closeRadians),
            opts.cy + opts.r1 * Math.sin(opts.closeRadians),
          ],
          [opts.cx + opts.r1 * Math.cos(opts.startRadians),
            opts.cy + opts.r1 * Math.sin(opts.startRadians),
          ],
        ]

        let a = pt[0][0] - pt[1][0]
        let b = pt[0][1] - pt[1][1]
        let outer = Math.sqrt(a * a + b * b)

        let d = pt[2][0] - pt[3][0]
        let e = pt[2][1] - pt[3][1]
        let inner = Math.sqrt(d * d + e * e)

        let p = [
          [opts.cx + opts.r2 * Math.cos(opts.startRadians + this.annularPadding * 0.0174533),
            opts.cy + opts.r2 * Math.sin(opts.startRadians + this.annularPadding * 0.0174533),
          ],
          [opts.cx + opts.r2 * Math.cos(opts.closeRadians - this.annularPadding * 0.0174533),
            opts.cy + opts.r2 * Math.sin(opts.closeRadians - this.annularPadding * 0.0174533),
          ],
          [opts.cx + opts.r1 * Math.cos(opts.closeRadians - this.annularPadding * outer / inner * 0.0174533),
            opts.cy + opts.r1 * Math.sin(opts.closeRadians - this.annularPadding * outer / inner * 0.0174533),
          ],
          [opts.cx + opts.r1 * Math.cos(opts.startRadians + this.annularPadding * outer / inner * 0.0174533),
            opts.cy + opts.r1 * Math.sin(opts.startRadians + this.annularPadding * outer / inner * 0.0174533),
          ],
        ]

        let px = [
          opts.cx + opts.r2 * Math.cos(opts.startRadians + this.annularPadding * 0.0174533),
          opts.cx + opts.r2 * Math.cos(opts.closeRadians - this.annularPadding * 0.0174533),
          opts.cx + opts.r1 * Math.cos(opts.closeRadians - this.annularPadding * outer / inner * 0.0174533),
          opts.cx + opts.r1 * Math.cos(opts.startRadians + this.annularPadding * outer / inner * 0.0174533),
        ]

        for (let i = 0; i < 20; i++) {
          px.push(opts.cx + opts.r2 * Math.cos(opts.startRadians + (((opts.closeRadians - opts.startRadians) / 20) *
            i) + this
            .annularPadding * 0.0174533))
        }

        let py = [
          opts.cy + opts.r2 * Math.sin(opts.startRadians + this.annularPadding * 0.0174533),
          opts.cy + opts.r2 * Math.sin(opts.closeRadians - this.annularPadding * 0.0174533),
          opts.cy + opts.r1 * Math.sin(opts.closeRadians - this.annularPadding * outer / inner * 0.0174533),
          opts.cy + opts.r1 * Math.sin(opts.startRadians + this.annularPadding * outer / inner * 0.0174533),
        ]

        for (let i = 0; i < 20; i++) {
          py.push(opts.cy + opts.r2 * Math.sin(opts.startRadians + (((opts.closeRadians - opts.startRadians) / 20) *
            i) + this
            .annularPadding * 0.0174533)) // 20 is frequency
        }

        let angleDiff = opts.closeRadians - opts.startRadians
        let largeArc = (angleDiff % (Math.PI * 2)) > Math.PI ? 1 : 0
        let cmds = []
        cmds.push('M' + p[0].join()) // Move to P0
        cmds.push('A' + [opts.r2, opts.r2, 0, largeArc, 1, p[1]].join()) // Arc to  P1
        cmds.push('L' + p[2].join()) // Line to P2
        cmds.push('A' + [opts.r1, opts.r1, 0, largeArc, 0, p[3]].join()) // Arc to  P3
        cmds.push('z') // Close path (Line to P0)
        path.setAttribute('d', cmds.join(' '))
        path.setAttribute('transform',
          `translate(${-Math.min(...px) + Number(this.styles.padding)} ${-Math.min(...py) + Number(this.styles.padding)})`,
        )

        function optionsWithDefaults(o) {
          let o2 = {
            cx: o.centerX || 0,
            cy: o.centerY || 0,
            startRadians: (o.startDegrees || 0) * Math.PI / 180,
            closeRadians: (o.endDegrees || 0) * Math.PI / 180,
          }

          let t = o.thickness !== undefined ? o.thickness : 100
          if (o.innerRadius !== undefined) o2.r1 = o.innerRadius
          else if (o.outerRadius !== undefined) o2.r1 = o.outerRadius - t
          else o2.r1 = 200 - t
          if (o.outerRadius !== undefined) o2.r2 = o.outerRadius
          else o2.r2 = o2.r1 + t

          if (o2.r1 < 0) o2.r1 = 0
          if (o2.r2 < 0) o2.r2 = 0

          return o2
        }
      },
      handleScaleRotate(scaleType, event, type) {
        if (type !== 'line' && type !== 'arrow') {
          this.handleScale(scaleType, event)
        } else {
          this.handleLineTransform(scaleType, event)
        }
      },
      handleLineTransform(scaleType, event) {
        event.stopPropagation()
        event.preventDefault()
        const drag = lineTransform(scaleType, {
          startX: event.pageX,
          startY: event.pageY,
          x: this.x,
          y: this.y,
          scaleX: this.scaleX,
          scaleY: this.scaleY,
          width: this.width,
          height: this.height,
          offsetX: 0,
          offsetY: 0,
          boardX: this.getBoardPosition().tx,
          boardY: this.getBoardPosition().ty,
          angle: this.angle,
          zoom: this.getBoardPosition().zoom,
          scaleLimit: this.scaleLimit,
          scaleFromCenter: this.scaleFromCenter && event.altKey,
          enableScaleFromCenter: this.scaleFromCenter,
          aspectRatio: this.aspectRatio && event.shiftKey,
          enableAspectRatio: this.aspectRatio,
        }, (payload) => {
          this.endStatus = payload
          this.$emit('on-Update', payload)
        })
        this.onDrag(drag)
      },
      handleScale(scaleType, event) {
        event.stopPropagation()
        event.preventDefault()
        const drag = scale(scaleType, {
          startX: event.pageX,
          startY: event.pageY,
          x: this.x,
          y: this.y,
          scaleX: this.scaleX,
          scaleY: this.scaleY,
          width: this.width,
          height: this.height,
          offsetX: 0,
          offsetY: 0,
          boardX: this.getBoardPosition().tx,
          boardY: this.getBoardPosition().ty,
          angle: this.angle,
          zoom: this.getBoardPosition().zoom,
          scaleLimit: this.scaleLimit,
          scaleFromCenter: this.scaleFromCenter && event.altKey,
          enableScaleFromCenter: this.scaleFromCenter,
          aspectRatio: this.aspectRatio && event.shiftKey,
          enableAspectRatio: this.aspectRatio,
        }, (payload) => {
          this.endStatus = payload
          this.$emit('on-Update', payload)
        })

        this.onDrag(drag)
      },
      handleTranslation(event) {
        event.stopPropagation()
        const drag = translate({
          x: this.x,
          y: this.y,
          startX: event.pageX,
          zoom: this.getBoardPosition().zoom,
          startY: event.pageY,
        }, (payload) => {
          this.endStatus = payload
          this.$emit('on-Update', payload)
        })

        this.onDrag(drag)
      },
      handleRotation(scaleType, event, type) {
        event.stopPropagation()
        const drag = rotate({
          startX: event.pageX,
          startY: event.pageY,
          x: this.x,
          y: this.y,
          scaleX: this.scaleX,
          scaleY: this.scaleY,
          zoom: this.getBoardPosition().zoom,
          boardX: this.getBoardPosition().tx,
          boardY: this.getBoardPosition().ty,
          width: this.width,
          height: this.height,
          angle: this.angle,
          offsetX: 0,
          offsetY: 0,
          scaleType: scaleType,
          markerType: type,
        }, (payload) => {
          this.endStatus = payload
          this.$emit('on-Update', payload)
        })
        this.onDrag(drag)
      },
      onDrag(drag) {
        const up = (e) => {
          this.$store.commit('board/isDragging', false)
          // this.$store.commit('board/checkMarkerPos')
          this.$store.commit('board/incrementCtr')
          this.$store.dispatch('board/updateMarkers', {
            id: this.id,
            payload: this.endStatus,
          })
          this.$store.commit('board/resetCtr')
          document.removeEventListener('mousemove', drag)
          document.removeEventListener('mouseup', up)
        }
        document.addEventListener('mousemove', drag)
        document.addEventListener('mouseup', up)
      },
      mousedown(event) {
        this.$emit('mousedown', event)
        this.$emit('on-Select', this.id)
        this.handleTranslation(event)
      },
      click(event) {
        this.$emit('click', event)
      },
      sendEvent() {
        this.$store.commit('board/setTextChanged', true)
      },
      editingText(event) {
        this.$emit('textChanged', {
          id: this.id,
          type: this.type,
          width: this.width,
          height: this.height,
          scaleX: this.scaleX,
          scaleY: this.scaleY,
          styles: this.styles,
          textEl: this.$refs[this.type],
        })
      },
      dblclick(event) {
        this.$emit('dblclick', {
          id: this.id,
          textEl: this.$refs[this.type],
        })
      },
    },
  }

</script>

<style lang="scss" src="~/assets/styles/globalvariables.scss"></style>
<style lang="scss" src="~/assets/styles/markeritem.scss"></style>
