<template>
  <div v-if="node" class="module-item">
    <div
      class="module-img-wrapper"
      v-bind:class="{ 'circle-shape': logoShape === 'circle' }"
    >
      <div @click.stop="showSmallModal()" class="logo-wrapp">
        <icon :stakeholder="node" />
      </div>
    </div>
    <span class="name">{{ node.name }}</span>
    <!-- info button -->
    <i class="info-btn" @click.capture="goToInfo()" @mousedown.stop>i</i>
    <!-- small info button -->

    <!-- <i class="info-small" @click.stop="showSmallModal(node.id)" @mousedown.stop>i</i> -->
    <!-- delete button -->

    <v-icon
      class="delete-btn"
      v-show="isAdmin"
      :persistent="true"
      @click.stop="showDeleteModal"
      @mousedown.stop
    >
      mdi-delete
    </v-icon>

    <!-- confirm delete stakeholder -->
    <v-dialog v-model="dialog" max-width="350">
      <v-card>
        <v-card-title class="headline">
          Sure to delete stakeholder?
        </v-card-title>
        <v-card-text>
          <div>
            <b style="color: red;">CAUTION!</b>
          </div>
          <div>
            This action will permanently delete the following stakeholder:
            &mdash;
          </div>
          <div style="display: flex; justify-content: flex; margin-top: 15px;">
            <div>
              <!-- <img :src="node.image" class="logo" v-if="node.image" /> -->
            </div>
            <pre>  ID = {{ node.id }}<br />  Name = {{ node.name }}.<br />  Details = {{ node.details }}</pre>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" text @click="dialog = false">No</v-btn>
          <v-btn :loading="loading" color="success" text @click="deleteModule">
            <b>Yes</b>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <div style="display: none;" v-else />
</template>

<script>
import Icon from './ModuleIcon'
// import SmallModal from '~/components/modals/SmallModal'
import { mapGetters } from 'vuex'

export default {
  components: {
    Icon,
    // SmallModal,
  },
  props: {
    node: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    loading: false,
    dialog: false,
    small: false,
  }),
  computed: {
    ...mapGetters({
      logoShape: 'board/logoShape',
    }),
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    isAdmin() {
      return (
        this.$store.state.auth.user &&
        this.$store.state.auth.user.role === 'admin'
      )
    },
  },
  methods: {
    goToInfo() {
      // this.$store.commit("showInfoModal", this.node.id)
      this.$router.push('/stakeholder/' + this.node.id)
    },
    showSmallModal() {
      this.small = true
    },
    closeSmall() {
      this.small = false
    },
    showDeleteModal() {
      if (!this.loggedIn) {
        return this.$notify.error({
          title: 'Unauthorized',
          message: 'Please sign in first to delete',
        })
      }
      this.$set(this, 'dialog', true)
    },
    async deleteModule() {
      try {
        this.$set(this, 'loading', true)
        const params = { id: this.node.id }
        await this.$axios.$post('/module/delete', params)
        this.$notify.success({
          title: 'Successfully deleted',
          message: `${this.node.name} - ${this.node.details || '[empty]'}`,
        })
        this.$store.commit('board/deleteNode', this.node.id)
        this.$emit('delete')
      } catch (err) {
        let message = err + ''
        if (err.response) {
          message = err.response.data.error
          if (typeof message !== 'string') {
            message = Object.values(message).filter((x) => !!x)
            message = message.map((x) => x.join(', ')).join('; ')
          }
        }
        this.$notify.error({
          title: 'Failed to delete',
          message: message,
        })
      } finally {
        this.$set(this, 'loading', false)
      }
    },
  },
}
</script>

<style lang="scss" src="~/assets/styles/globalvariables.scss"></style>
<style lang="scss" src="~/assets/styles/module-item.scss"></style>
