<template>
  <div class="logo" v-if="node.image">
  <img
    src="images/account_balance_grey_24dp.svg"
    :data-src="node.image"
    class="lazy"
    alt="Stakeholder Logo"
    @error="onError">
  </div>
  <v-icon
    class="logo"
    v-else-if="node.type === 'Currency'">mdi-currency-usd</v-icon>
  <v-icon
    class="logo"
    v-else-if="node.type === 'Mine'">mdi-gavel</v-icon>
  <v-icon
    class="logo"
    v-else-if="node.type === 'Exchange'">mdi-swap-horizontal</v-icon>
  <v-icon
    class="logo"
    v-else-if="node.type === 'Organisation'">mdi-bowling</v-icon>
  <v-icon
    class="logo"
    v-else>mdi-information</v-icon>
</template>

<script>
export default {
  props: {
    stakeholder: {
      type: Object,
      image: '',
      default: () => ({}),
    },
  },
  data: () => ({
    node: {},
  }),
  watch: {
    'stakeholder.images'(v) {
      this.$set(this.node, 'image', v)
    },
    'stakeholder.type'(v) {
      this.$set(this.node, 'type', v)
    },
  },
  mounted() {
    this.$set(this.node, 'type', this.stakeholder.type)
    this.$set(this.node, 'image', this.stakeholder.image)
  },
  methods: {
    onError(e) {
      this.$set(this.node, 'image', null)
    },
  },
}
</script>

<style lang="scss" src="~/assets/styles/globalvariables.scss"></style>
