<template>
  <div
    class="module-list"
    :class="{ stakeholderFilterOpen: stakeholderFilter }"
    id="step-20"
  >
    <form
      class="pb-2 stakeholder-listing-form"
      @submit.prevent="getQueryString"
    >
      <div v-if="types.length && !activeTab" class="stackholder-form-wrapper">
        <!-- <span class='type-label'>Type :</span> -->
        <!-- stackholder dropdown here -->
        <!-- <v-btn
            fab
            text
            light
            small
            color='#ebeae8'
            class='ml-0'
            title='Edit Type'
            v-if='selected !== 'All''
            @click='showDialog(selected)'>
            <v-icon>mdi-pencil</v-icon> // prev - sort, current - edit
        </v-btn>-->
        <v-text-field
          solo
          clearable
          :disabled="!type"
          v-model="search"
          label="Find brand"
          hide-details
          prepend-inner-icon="mdi-magnify"
          @keyup="getQueryString"
        ></v-text-field>

        <div
          v-if="!stakeholderFilter"
          :class="{ filterActive: filter === true }"
          class="sortIcon"
        >
          <v-icon v-ripple @click="toggleStakeholderFilter()">mdi-sort</v-icon>
        </div>
        <div
          v-if="stakeholderFilter"
          :class="{ filterActive: filter === true }"
          class="closeIcon"
        >
          <v-icon v-ripple @click="toggleStakeholderFilter()">mdi-check</v-icon>
        </div>

        <!-- <v-menu
          open-on-click
          offset-y>
          <div slot='activator'>
            <v-icon>mdi-sort</v-icon>
          </div>
          <v-list>
            <v-list-item
              v-for='type in types'
              :key='type.id'
              :class='{'active-cat': selected === type.name}'>
              <v-list-item-title @click='selectType(type.name)'>{{ type.name }}</v-list-item-title>
              <v-btn
            fab
            text
            light
            small
            color='#ebeae8'
            class='ml-0 cat-edit-btn'
            title='Edit Type'
            v-if='type.name !== 'All''
            @click='showDialog(selected)'>
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
            </v-list-item>
            <v-list-item @click='showDialog()'>
              <v-list-item-title>Add New</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>-->
      </div>

      <v-tabs slider-color="orange">
        <button @click="switchLibrary()">
          <v-tab v-bind:class="[publicLibrary ? 'orange--text' : '']">
            Public Library
          </v-tab>
        </button>
        <button @click="switchLibrary()">
          <v-tab v-bind:class="[!publicLibrary ? 'orange--text' : '']">
            My Library
          </v-tab>
        </button>
      </v-tabs>

      <button type="submit" style="display: none;">Search</button>
    </form>

    <div
      class="stakeholder-form-outer"
      id="stakeholder-form-outer"
      :class="{ 'stakeholder-form-outer-open': stakeholderFilter }"
    >
      <transition name="stakeholderFilter">
        <div
          v-show="!activeTab && stakeholderFilter"
          id="stakeholder-form-content"
          class="stakeholder-form-content"
        >
          <div class="checkboxWrapper">
            <v-checkbox
              v-model="filterForm.is_acquisition"
              color="#f1592a"
              hide-details
              dense
              :label="'Acquisition'"
            ></v-checkbox>
            <v-checkbox
              v-model="filterForm.is_subsidiary"
              color="#f1592a"
              hide-details
              dense
              :label="'Subsidiary'"
            ></v-checkbox>
            <v-checkbox
              v-model="filterForm.is_parent"
              color="#f1592a"
              hide-details
              dense
              :label="'Parent'"
            ></v-checkbox>
          </div>
          <multiselect
            v-model="filterForm.industry"
            id="ajax"
            label="title"
            track-by="title"
            placeholder="Industry (E.g 'FinTech', 'Accounting...)"
            open-direction="bottom"
            :options="industries"
            :multiple="true"
            :searchable="true"
            :loading="isLoading"
            :internal-search="false"
            :clear-on-select="true"
            :close-on-select="true"
            :options-limit="300"
            :taggable="true"
            :limit="10"
            :max-height="150"
            :show-no-results="true"
            :hide-selected="true"
            @search-change="listCorrection"
            @remove="remove"
          >
            <template slot="tag" slot-scope="{ option, remove }">
              <span class="custom__tag">
                <span>{{ option.title }}</span>
                <span class="custom__remove" @click="remove(option)">✖</span>
              </span>
            </template>
            <span slot="noResult">
              Nothing found. Try changing the search query.
            </span>
            <span slot="noOptions">Please enter a search query.</span>
            <!-- <span slot='limit' slot-scope='optionsLimit'>{{optionsLimit}}</span> -->
          </multiselect>
          <v-text-field
            v-model="filterForm.description"
            solo
            placeholder="Description Keywords"
            color="#f1592a"
            hide-details
            class="textInput"
          ></v-text-field>
          <div class="rangesliderWrapper">
            <div class="rangesliderHeader">
              <div class="rangesliderTitle">Number of employees</div>
              <div class="rangesliderRange">
                {{ employeeRange[0] }} - {{ employeeRange[1] }}
              </div>
            </div>
            <v-range-slider
              hide-details
              dense
              color="#f1592a"
              :min="employeeValues[0]"
              :max="employeeValues[1]"
              v-model="employeeRange"
              @end="getQueryString"
            ></v-range-slider>
            <!-- <div class='rangesliderFooter'>
            <div class='rangeValue'>{{employeeRange[0]}}</div>
            <div class='rangeValue'>{{employeeRange[1]}}</div>
            </div>-->
          </div>
          <div class="rangesliderWrapper">
            <div class="rangesliderHeader">
              <div class="rangesliderTitle">Revenue</div>
              <div class="rangesliderRange">
                ${{ revenueRange[0] }} - ${{ revenueRange[1] }}
              </div>
            </div>
            <v-range-slider
              hide-details
              dense
              color="#f1592a"
              :min="revenueValues[0]"
              :max="revenueValues[1]"
              v-model="revenueRange"
              @end="getQueryString"
            ></v-range-slider>
            <!-- <div class='rangesliderFooter'>
            <div class='rangeValue'>{{revenueRange[0]}}</div>
            <div class='rangeValue'>{{revenueRange[1]}}</div>
            </div>-->
          </div>
          <hr />
          <div v-if="modules.length > 0" class="result">
            We found {{ modules.length }} out of 1,000,000 companies
          </div>
        </div>
      </transition>
    </div>

    <div
      class="d-flex align-center"
      style="margin-top: 106px"
      :class="{ 'mt-0': stakeholderFilter }"
      v-if="loading"
    >
      <div>
        <loading
          v-for="i in 30"
          :key="i"
          width="93px"
          height="93px"
          :circle="true"
        />
        <!-- <atom-spinner
          class='mx-auto'
          color='#f1592a'
        /> -->
      </div>
    </div>

    <div
      class="d-flex align-center"
      style="margin-top: 86px"
      :class="{ 'mt-0': stakeholderFilter }"
      v-else-if="!modules.length"
    >
      <div class="text-xs-center" style="padding-top: 20px;">
        <div v-if="search">
          Your search
          <b>
            <u>{{ search }}</u>
          </b>
          did not match any stakeholder.
        </div>
        <div v-else>No modules found.</div>
        <v-btn text light outlined @click="showAddModule">
          Click here to create a new one
        </v-btn>
      </div>
    </div>

    <keep-alive>
      <div
        class="stakeholder-listing-wrapper"
        v-on:scroll="checkScroll"
        v-bind:class="{
          'loading-list': loading,
          'stakeholder-listing-wrapper-open': stakeholderFilter,
        }"
      >
        <div class="module-parent">
          <div
            v-for="node in modules"
            :key="node.id"
            @click.capture="showSmallModal"
            @mousedown="(e) => startDrag(node, e, logoShape)"
          >
            <module
              class="module"
              :ref="'n' + node.id"
              :node="node"
              @delete="removeItem(node)"
            />
          </div>
        </div>
      </div>
    </keep-alive>

    <module class="holding-module" :node="holding" />
    <small-modal :openIn="!smallIn" />
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import RestingModule from '~/mixins/resting-module'
import Module from './ModuleItem'
import _ from 'lodash'
import SmallModal from '~/components/modals/SmallModal'
import store from '../../store'
import Loading from '../loading/Loading'
import Multiselect from 'vue-multiselect'

export default {
  components: {
    Module,
    SmallModal,
    Loading,
    Multiselect,
  },
  mixins: [RestingModule],
  data: () => ({
    publicLibrary: true,
    holding: null,
    next: null,
    search: null,
    loading: false,
    filter: false,
    stakeholderFilter: false,
    employeeValues: [0, 10000],
    revenueValues: [0, 100000],
    employeeRange: [0, 10000],
    revenueRange: [0, 100000],
    isLoading: false,
    industries: [],
    // industryList: false,
    filterForm: {
      is_acquisition: false,
      is_parent: false,
      industry: [],
      description: '',
      search: '',
    },
    emptyFilterForm: {
      is_acquisition: false,
      is_parent: false,
      is_subsidiary: false,
      industry: [],
      description: '',
      search: '',
    },
    page: 1,
  }),
  created() {
    this.next = '/stakeholders?type=' + encodeURIComponent(this.type)
  },
  mounted() {
    this.$el.onscroll = this.checkScroll
    this.search = this.searchState
    window.scrollTo(0, 0)
    window.addEventListener('scroll', this.lazyLoad)
    this.lazyLoad()
    // this.$store.
  },
  computed: {
    ...mapState(['addModule']),
    ...mapGetters({
      types: 'types/get',
      type: 'types/selected',
      modulesList: 'types/modules',
      selected: 'types/selected',
      searchState: 'board/search',
      activeTab: 'activeTab',
      smallIn: 'smallIn',
      logoShape: 'board/logoShape',
    }),
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    modules() {
      return this.modulesList[this.type] || []
    },
    // multiselectLimit(){
    //   if(this.industryList){
    //     return this.filterForm.industry.length
    //   } else {
    //     return 2
    //   }
    // },
  },
  watch: {
    addModule(newValue, oldValue) {
      // console.log("STATE_ADD_MODULE", newValue, oldValue)
      if (!newValue) this.getQueryString(oldValue)
    },
    type() {
      // if (this.search) {
      // this.$set(this, 'search', null)
      // } else {
      // }
      this.refreshModules()
    },
    filter(val) {
      if (!val) {
        this.filterForm = this.emptyFilterForm
        this.revenueRange = this.revenueValues
        this.employeeRange = this.employeeValues
      }
    },
    filterForm: {
      handler(val) {
        // if(val.industry.length>2){
        //   setTimeout(() => {
        //     let moreElement = document.querySelectorAll('.multiselect__tags')
        //     console.log('moreElement', moreElement[0].childNodes[2])
        //     moreElement[0].childNodes[2].addEventListener('click', this.toggleList())
        //   },100)
        // }
        this.getQueryString()
      },
      deep: true,
    },
    searchState(val) {
      this.search = val
      this.refreshModules()
    },
    search(cur, prev) {
      this.page = 1
      if (!cur && prev && prev.length > 1) {
        this.refreshModules()
      } else if (!prev && cur && cur.length > 1) {
        this.getQueryString()
      }
    },
    types(list) {
      if (list && list.length) {
        if (this.loggedIn) {
          this.selectType(list[0].name)
        } else {
          let starEasyIndex = list.findIndex((e) => e['name'] === 'Start Easy')
          if (starEasyIndex == -1) this.selectType('All')
          else this.selectType(list[starEasyIndex].name)
        }
      }
    },
  },
  methods: {
    lazyLoad: function () {
      let lazyImages = [].slice.call(document.querySelectorAll('img.lazy'))

      if (lazyImages && lazyImages.length > 0) {
        let active = false
        if (active === false) {
          active = true
          setTimeout(() => {
            lazyImages.forEach(function (lazyImage) {
              if (
                lazyImage.getBoundingClientRect().top <= window.innerHeight &&
                lazyImage.getBoundingClientRect().bottom >= 0 &&
                getComputedStyle(lazyImage).display !== 'none'
              ) {
                lazyImage.src = lazyImage.dataset.src
                lazyImage.onerror = () => {
                  if (this)
                    this.src =
                      'https://app-beta.ecomap.io/_nuxt/img/logo2.c250e54.png'
                }

                lazyImage.classList.remove('lazy')
                lazyImages = lazyImages.filter(function (image) {
                  return image !== lazyImage
                })

                if (lazyImages.length === 0) {
                  if (this && this.lazyLoad)
                    window.removeEventListener('scroll', this.lazyLoad)
                }
              }
            })
            active = false
          }, 300)
        }
      } else {
        setTimeout(() => {
          this.lazyLoad()
        }, 2000)
      }
    },
    switchLibrary() {
      this.publicLibrary = !this.publicLibrary
      let url
      if (!this.publicLibrary) {
        url = 'https://ecomap.w3api.net/v1/stakeholders?mode=private'
        this.page = 1
      } else {
        url = 'https://ecomap.w3api.net/v1/stakeholders'
        this.page = 1
      }
      this.$set(this, 'next', url)
    },
    getIndustry: _.debounce(async function (query) {
      this.isLoading = true

      if (query && query.length > 2) {
        const params = {
          q: query,
          is_parent: this.filterForm.is_parent ? true : null,
        }
        try {
          const data = await this.$axios.$get('/industry', { params })
          this.industries = data
        } catch (err) {
          this.$sentry.captureException(err)
        }
        // console.log(data, 'industry')
      }
      this.isLoading = false
    }, 500),
    toggleStakeholderFilter() {
      var filterContentOuter = document.getElementById('stakeholder-form-outer')
      var stakeholderListingWrapper = document.getElementsByClassName(
        'stakeholder-listing-wrapper',
      )[0]
      var moduleListHeight = document.querySelector('#step-20.module-list')
        .offsetHeight
      if (this.stakeholderFilter) {
        var filterContent = document.getElementById('stakeholder-form-content')
        filterContentOuter.style.height = 0 + 'px'
        stakeholderListingWrapper.style.height = 100 + '%'
      }
      this.stakeholderFilter = !this.stakeholderFilter
      if (this.stakeholderFilter) {
        setTimeout(() => {
          var filterContent = document.getElementById(
            'stakeholder-form-content',
          )
          // console.log('opened just now',filterContent, filterContent.offsetHeight)
          filterContentOuter.style.height =
            filterContent.offsetHeight + 40 + 'px'
          stakeholderListingWrapper.style.height =
            moduleListHeight - filterContent.offsetHeight + 'px'
        }, 1)
      }
    },
    showSmallModal() {},
    listCorrection(query) {
      this.getIndustry(query)
      let elementList = document.querySelectorAll(
        '.module-list li.multiselect__element',
      )
      // console.log('listLength', elementList.length, this.industries.length)
      // console.log(elementList.length>this.industries.length)
      if (elementList.length > this.industries.length) {
        // console.log(true)
        elementList[0].parentNode.removeChild(elementList[0])
      }
    },
    selectType(typeName) {
      this.$store.commit('types/SELECT', typeName)
    },
    showDialog(type) {
      if (!this.loggedIn) {
        return this.$notify.error({
          title: 'Unauthorized',
          message: 'Please login first to add type',
        })
      }
      this.$store.commit('showAddType', { type })
    },
    showAddModule() {
      this.$store.commit('showAddModule', this.search || true)
    },
    removeItem(node) {
      this.$store.commit('types/REMOVE_MODULE', node.id)
    },
    checkScroll() {
      if (this.loading || !this.next) return
      const child = document.querySelector('.stakeholder-listing-wrapper')
      const innerchild = document.querySelector('.module-parent')
      //const maxscroll = child.clientHeight - this.$el.clientHeight
      const maxscroll =
        innerchild.clientHeight > child.clientHeight
          ? innerchild.clientHeight - child.clientHeight
          : child.clientHeight

      // console.log(innerchild.clientHeight - child.scrollTop, innerchild.clientHeight, child.clientHeight)
      // console.log(maxscroll - child.scrollTop, 'document')

      if (!child.clientHeight || this.$el.scrollTop < 0) return
      if (maxscroll - child.scrollTop < 100) {
        this.loadModules()
      }
      this.lazyLoad()
    },
    refreshModulesWithoutDebounce: function (queryString) {
      if (queryString && queryString.indexOf('=') == -1)
        queryString = `q=${queryString}`

      if (this.loading) return
      if (!this.type) return

      // console.log('Received QueryString', queryString)
      this.$store.commit('types/SET_MODULES', [])

      let url = this.next.split('?')[0]
      if (!this.publicLibrary) {
        url += '?mode=private'
      }
      let useQuestionMark = url.indexOf('?') == -1 ? true : false

      if (this.type !== 'All') {
        url +=
          (useQuestionMark ? '?' : '&') +
          'type=' +
          encodeURIComponent(this.type)
      }
      if (queryString) {
        url +=
          (this.type !== 'All' ? '&' : useQuestionMark ? '?' : '&') +
          queryString
      } else {
        url +=
          (this.type !== 'All' ? '&' : useQuestionMark ? '?' : '&') +
          'is_acquisition=&is_parent=&industry=&description=&search=&q=&employee_count[min]=&employee_count[max]=&revenue[min]=&revenue[max]='
      }

      this.$set(this, 'next', url)
      return this.loadModules()
    },
    refreshModules: _.debounce(function (queryString) {
      // console.log("With Debounce")
      return this.refreshModulesWithoutDebounce(queryString)
    }, 500),
    async loadModules() {
      try {
        if (this.loading || !this.next) return

        this.$set(this, 'loading', true)

        const { data } = await this.$axios.$get(
          `${this.next}&page=${this.page}`,
          {
            headers: {
              'Access-Control-Allow-Origin': '*',
            },
          },
        )
        this.$store.commit('types/PUSH_MODULES', data.data)
        if (data.meta.pagination.next_page) this.page += 1
        // console.log(data)
      } catch (err) {
        this.$sentry.captureException(err)
        // console.trace(err)
      } finally {
        await this.$nextTick()
        this.$set(this, 'loading', false)
        this.lazyLoad()
      }
      // check if more needed
      if (this.next) this.checkScroll()
      else this.$el.onscroll = null
    },
    remove(option) {
      this.filterForm.industry.forEach((element, index) => {
        if (element.title === option.title) {
          this.filterForm.industry.splice(index, 1)
        }
      })
    },
    resetForm() {
      this.filter = false
      this.filterForm = this.emptyFilterForm
      this.employeeRange = this.employeeValues
      this.revenueRange = this.revenueValues
    },
    // toggleList(){
    //   this.industryList = !this.industryList
    // },
    getQueryString(...args) {
      let altQuery = args && args.length == 1 ? args[0] : null
      if (typeof altQuery != 'string') altQuery = null

      // console.log('truth values', JSON.stringify(this.filterForm) == JSON.stringify(this.emptyFilterForm) , JSON.stringify(this.revenueRange) === JSON.stringify(this.revenueValues) , JSON.stringify(this.employeeRange) === JSON.stringify(this.employeeValues) )
      this.filter =
        JSON.stringify(this.filterForm) ===
          JSON.stringify(this.emptyFilterForm) &&
        JSON.stringify(this.revenueRange) ===
          JSON.stringify(this.revenueValues) &&
        JSON.stringify(this.employeeRange) ===
          JSON.stringify(this.employeeValues)
          ? false
          : true
      // var formData = JSON.parse(JSON.stringify(this.filterForm))
      // formData.q = this.search ? this.search : ''
      // formData.is_acquisition = formData.is_acquisition ? 1 : ''
      // formData.is_parent = formData.is_parent ? 1 : ''

      var formData = {}
      formData.q = altQuery ? altQuery : this.search ? this.search : ''
      // console.log("Search Query", formData.q)

      formData.is_acquisition = formData.is_acquisition ? 1 : ''
      formData.is_parent = formData.is_parent ? 1 : ''
      formData.is_subsidiary = formData.is_subsidiary ? 1 : ''

      let industriesArray = this.filterForm.industry.map((e) => e.id)
      if (industriesArray.length > 0)
        formData.industry = industriesArray.toString()

      var queryString = new URLSearchParams(formData)
      // var queryString = queryString.toString() + '&employee_count[min]=' + (this.employeeRange[0].toString())+ '&employee_count[max]=' + (this.employeeRange[1].toString())+ '&revenue[min]=' + (this.revenueRange[0].toString())+ '&revenue[max]=' + (this.revenueRange[1].toString())

      var queryString = queryString.toString()
      if (this.employeeRange[0] > this.employeeValues[0])
        queryString += `&employee_count[min]=${this.employeeRange[0]}`
      if (this.employeeRange[1] < this.employeeValues[1])
        queryString += `&employee_count[max]=${this.employeeRange[1]}`

      if (this.revenueRange[0] > this.revenueValues[0])
        queryString += `&revenue[min]=${this.revenueRange[0]}`
      if (this.revenueRange[1] < this.revenueValues[1])
        queryString += `&revenue[max]=${this.revenueRange[1]}`

      // console.log('in watch', queryString.toString())
      // this.$axios.$get('http://localhost:5000/url/modules' + '?' + formData.toString())
      let searchQuery = queryString.toString()
      if (altQuery) this.refreshModulesWithoutDebounce(searchQuery)
      else this.refreshModules(searchQuery)
    },
  },
}
</script>

<style lang="scss" src="~/assets/styles/globalvariables.scss"></style>
<style lang="scss" src="~/assets/styles/tabitem.scss"></style>
