<template>
  <div class="main-tabs">
    <!-- Stakeholder/Marker tabs -->
    <div v-if="activeTab">
      <v-btn outlined @click="updateActiveTabTab(0)">
        <v-icon>mdi-chevron-right</v-icon>Back
      </v-btn>
    </div>
    <!-- <div class="px-2 py-3 d-flex align-center">
      <v-btn-toggle v-model="activeTab" mandatory light class="btn-toggle-full-width">
        <v-btn outlined @click="updateActiveTabTab(0)">
          Stakeholders
        </v-btn>
        <v-btn outlined @click="updateActiveTabTab(1)">
          Markers
        </v-btn>
      </v-btn-toggle>
    </div> -->

    <div v-if="activeTab" class="marker-tab">
        <div v-if="!activeMarker" class="module-parent">
          <div class="module-item module" v-for="(marker, index) in tabMarkers" :key="index"
            @mousedown="e => startMarkerDrag(marker.options, e)" v-html="marker.icon">
          </div>
          <!-- Local modal for annular dialog -->
          <v-dialog v-model="annularDialog" max-width="350px" persistent>
            <v-card>
              <v-toolbar color="primary" class="py-2 pr-0 mr-0" height="36">
                <v-toolbar-title style="font-size: 24px; font-weight: 400">Annular Options</v-toolbar-title>
                <v-spacer />
                <v-btn icon light @click="annularDialog = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-toolbar>
              <form class="pb-2 px-2 mt-4" @submit.prevent="createAnnularMarker">
                <v-card-text class="py-0">
                  <v-container>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-text-field required v-model="annularOptions.size" label="Size" placeholder="Pixels" />
                      </v-flex>
                      <v-flex xs5>
                        <v-text-field required v-model="annularOptions.outerRadius" label="Outer Radius" placeholder="Degrees" />
                      </v-flex>
                      <v-flex xs5 offset-xs2>
                        <v-text-field required v-model="annularOptions.innerRadius" label="Inner Radius" placeholder="Degrees" />
                      </v-flex>
                      <v-flex xs5>
                        <v-text-field required v-model="annularOptions.padding" label="Padding" placeholder="Percentages" />
                      </v-flex>
                      <v-flex xs5 offset-xs2>
                        <v-text-field required v-model="annularOptions.pieces" label="Pieces" placeholder="Integer" />
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer />
                  <v-btn text color="primary" @click.stop="annularDialog = false">Cancel
                  </v-btn>
                  <v-btn type="submit" color="primary">Add Marker
                  </v-btn>
                </v-card-actions>
              </form>
            </v-card>
          </v-dialog>
          <!-- End local modal -->
        </div>

        <!-- Marker settings -->
        <v-layout mx-0 px-3 py-0 row wrap fill-height align-center v-else-if="activeMarker">
        <v-flex xs8>
          <b>Background</b>
        </v-flex>
        <v-flex xs4>
          <v-switch v-model="stylesBackground" color="primary"></v-switch>
        </v-flex>
        <v-flex xs6>
          <b>Border Size</b>
        </v-flex>
        <v-flex xs6>
          <v-slider v-model="stylesStrokeWidth" color="primary" min="0" max="15"></v-slider>
        </v-flex>
        <v-flex xs8>
          <b>Color</b>
        </v-flex>
        <v-flex xs4>
          <swatches v-model="stylesFill" colors="material-basic" popover-to="left" shapes="circles" />
        </v-flex>
        <v-flex xs12 style="text-align:center;">
          <v-btn color="primary" block light @click="duplicateMarker">Duplicate</v-btn>
        </v-flex>
        <v-flex xs12 style="text-align:center;">
          <v-btn color="red" block light @click="removeMarker">Delete</v-btn>
        </v-flex>
      </v-layout>
    </div>

    <!-- Stakeholder type dropdown -->
    <template v-else-if="types.length && !activeTab">
      <!-- <div class="py-1 pl-3 pr-1 d-flex align-center">

        <v-menu
          open-on-hover
          offset-y>
          <template slot="activator">
            <v-btn
              color="#ebeae8"
              title="Type"
              light>{{ selected }}
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="type in types"
              :key="type.id"
              @click="selectType(type.name)">
              <v-list-item-title>{{ type.name }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-btn
          fab
          text
          light
          small
          color="#ebeae8"
          class="ml-0"
          title="Edit Type"
          @click="showDialog(selected)">
          <v-icon>mdi-sort</v-icon>
        </v-btn>

        <v-btn
          fab
          text
          light
          small
          color="#ebeae8"
          class="ml-0"
          title="Edit Type"
          @click="showDialog(selected)">
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>

        <v-btn
          fab
          text
          light
          small
          color="#ebeae8"
          class="ml-0"
          title="New Type"
          @click="showDialog()">
          <v-icon>mdi-plus</v-icon>
        </v-btn>

      </div> -->
      <!-- <v-tabs grow light @input="selectType">
        <v-tab ripple v-for="tab in types" :key="tab.id">{{tab.name}}</v-tab>
      </v-tabs> -->
      <tab-item/>
    </template>

    <!-- Loading spinner -->
    <div
      class="d-flex align-center py-5 mt-3"
      v-else>
      <div>
<!--        <atom-spinner class="mx-auto"/>-->
        <loading
          v-for="i in 20"
          :key="i"
          width="50px"
          height="50px"
          :circle=true
        />
      </div>
    </div>
    <div id="stackholderToggler" class="stackholder-toggler" v-bind:class="{'beat' : beat}" @click="toggleStackholder()">
      <v-icon color="#ffffff" v-if="sidebarVisible">mdi-arrow-right</v-icon>
      <v-icon color="#ffffff" v-else>mdi-arrow-left</v-icon>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import TabItem from './TabItem'
import MarkerTab from '~/mixins/marker-tab'
import PanzoomControl from '~/mixins/panzoom-control'
import Swatches from 'vue-swatches'
import Loading from '../loading/Loading'

export default {
  data: () => ({
    beat: true,
    loading:false,
  }),
  mixins: [
    MarkerTab,
    PanzoomControl,
  ],
  components: {
    TabItem,
    Swatches,
    Loading,
  },
  computed: {
    ...mapGetters({
      types: 'types/get',
      selected: 'types/selected',
      activeMarker: 'board/activeMarker',
      activeTab: 'activeTab',
      sidebarVisible: 'sidebarVisible',
    }),
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    stylesBackground: {
        get() {
          return this.$store.getters['board/activeMarker']?.styles?.background
        },
        set(value) {
          this.$store.commit('board/updateActiveMarker', {
            type: 'background',
            value: value,
          })
        },
      },
      stylesStrokeWidth: {
        get() {
          return this.$store.getters['board/activeMarker']?.styles?.strokeWidth
        },
        set(value) {
          this.$store.commit('board/updateActiveMarker', {
            type: 'strokeWidth',
            value: value,
          })
        },
      },
      stylesFill: {
        get() {
          return this.$store.getters['board/activeMarker']?.styles?.fillColor
        },
        set(value) {
          this.$store.commit('board/updateActiveMarker', {
            type: 'fillColor',
            value: value,
          })
        },
      },
  },
  watch: {
    types(list) {
      if (list && list.length) {
        if(this.loggedIn) {
          this.selectType(list[0].name)
        }
        else {
          let starEasyIndex = list.findIndex( e => e['name'] === 'Start Easy' )
          if(starEasyIndex == -1)
            this.selectType(list[list.length-1].name)
          else
            this.selectType(list[starEasyIndex].name)
        }
      }
    },
  },
  created() {
    this.updateTypes()
  },
  mounted() {
    // const $this = this
    // document.addEventListener('swiped-left', () => {
    //   $this && $this.$store && $this.$store.commit('sidebarVisible', true)
    // })
    // document.addEventListener('swiped-right', () => {
    //   $this && $this.$store && $this.$store.commit('sidebarVisible', false)
    // })
  },
  methods: {
    duplicateMarker() {
        // window['ECOMAP_BOARD'].duplicateMarker(this.activeMarker)
        this.$store.commit('board/duplicateMarker', this.activeMarker)
      },
    removeMarker() {
        // window['ECOMAP_BOARD'].removeMarker(this.activeMarker.id)
        this.$store.commit('board/removeMarker', this.activeMarker.id)
    },
    selectType(typeName) {
      this.$store.commit('types/SELECT', typeName)
    },
    async updateTypes() {
      try {
        const json = await this.$axios.$get('/types')

        // add extra type "All" start
        let newTypeList = [{name: 'All'}, ...json.data]

        this.$store.commit('types/set', newTypeList)
        if (newTypeList && newTypeList.length) {
          this.selectType(newTypeList[0].name)
        }
        // this.$store.commit('types/set', json.data)
        // if (json.data && json.data.length) {
          // this.selectType(json.data[0].name)
        // }
      } catch (err) {
        this.$sentry.captureException(err)
      }
    },
    showDialog(type) {
      if (!this.loggedIn) {
        return this.$notify.error({
          title: 'Unauthorized',
          message: 'Please login first to add type',
        })
      }
      this.$store.commit('showAddType', {type})
    },
    async added(name) {
      await this.updateTypes()
      this.selectType(name)
    },
    async deleted() {
      await this.updateTypes()
      if (this.types && this.types.length) {
        this.selectType(this.types[0].name)
      } else {
        this.selectType(null)
      }
    },
    updateActiveTabTab(value) {
      this.$store.commit('updateActiveTab', value)
    },
    toggleStackholder(){
      this.beat = false
      this.$store.dispatch('toggleSidebar')
      if(document.getElementById('reset-zoom')){
        document.getElementById('reset-zoom').click()
      }
    },
  },
}
</script>

<style lang="scss" src="~/assets/styles/tabs.scss"></style>
