#autoGenerationEmptyModal{
  .v-card__title{
    font-family: 'Montserrat';
    color: #4C4666;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    padding: 30px 20px 20px;
  }
  .v-card__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #4C4666;
    padding: 0 20px 20px;
  }
  .v-text-field {
    padding: 10px 20px 20px;
    font-size: 13px;
    .v-input__slot{
      background: #F8F7F4;
      border-radius: 2px;
      padding: 9px 20px 9px 20px;
      .v-label{
        font-size: 13px;
      }
      input {
        color: #4C4666;
      }
      .v-input__icon {
        i {
          color: #4C4666;
        }
      }
    }
  }
}
.overlay-autoGenerationEmpty {
  opacity: 0;
}
