#autoGenerationPaymentModal {
  font-family: 'Inter';
  background-color: transparent;
  .top-spacer {
    height: 180px;
    background: #23738B;
  }
  h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
  }
  h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 4px;
  }
  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    margin: 0;
  }
  .rounded-card {
    border-radius: 5px;
  }
  .v-card__text, .v-card__actions {
    padding: 20px;
  }
  .v-card__actions {
    padding-top: 10px;
    .v-btn {
      padding: 22px 91.5px;
      box-shadow: 0px 4px 4px rgba(58, 52, 81, 0.2);
      border-radius: 2px;
      font-weight: bold;
      text-transform: initial;
    }
  }
  .color-orange{
    &.v-btn {
      color: #FB6E00
    }
    .v-btn__content{
      color: #FB6E00
    }
  }
  .sub-info {
    float: right;
    opacity: 0.6;
  }
  .close-button{
    position: absolute;
    background: #ffffff;
    z-index: 9;
    top: 0;
    right: 0;
  }
}
.overlay-autoGenerationPayment {
  opacity: 0.9;
  background-color: #3A3451;
}
.dialog-autoGenerationPayment {
  box-shadow: none;
}
