@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

#autoGenerationFormModal {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #4C4666;
  .v-toolbar {
    padding-top: 8px;
    padding-bottom: 6px;
  }
  .v-card__text {
    padding: 0 20px 4px;
  }
  .v-toolbar__content {
    justify-content: center;
  }
  .v-toolbar__title {
    font-family: 'Montserrat';
    color: #4C4666;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
  }
  .v-toolbar__content {
    background-color: transparent;
  }
  .v-subheader {
    font-size: 13px;
    line-height: 15px;
    color: #4C4666;
    margin-right: 6px;
  }
  .v-select__selections{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #4C4666;
  }
  .v-card__actions {
    padding: 20px;
  }
  .marketMapAutocomplete {
    margin-bottom: 30px;
    .v-label{
      font-size: 13px;
      transform: translateY(-28px);
      color: #4C4666 !important;
    }
    input{
      font-size: 14px;
      line-height: 16px;
      &::placeholder
      {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        color: #FB6E00;
        opacity: 1;
      }
    }
  }

  .sort-wrapper {
    margin-top: 15px;
    margin-bottom: 10px;

    .v-select.v-input--is-dirty input {
      display: none;
    }
    .v-select__selection {
      max-width: none;
    }
  }
}
.v-autocomplete__content{
  max-width: 290px;
  .v-list .v-list__tile__mask{
    background: none;
    color: inherit;
    font-weight: bold;
  }
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar
  {
    width: 6px;
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb
  {
    background-color: #c1c1c1;
  }
}
.overlay-autoGenerationForm {
  opacity: 0;
}
