@import "globalvariables";
@import "breakpoints";

#container-list {
  position: fixed;
  z-index: 10;
  top: -200px;
  left: 0;
  display: flex;
  right: 350px;
  transition: 0.25s right;
  //box-shadow: 0 0 10px rgba($black, 0.6) inset;
  background-color: #fff;
  border-bottom:1px solid #e5e5e5;
  -webkit-transition: top 1s;
  transition: top 1s;
  @media (max-width: 959px) {
    right: 350px;
    &.full-width {
      right: 0;
    }
  }
  &.full-width {
    right: 0;
  }
  &.collapsed {
    right: calc(100% - 160px);

    &:hover .expander-btn{
      transition: 0.25s box-shadow;
    }
  }

  .expander-btn {
    margin: 0;
    min-width: 0;
    width: 20px;
    height: 110px;
    border-radius: 0;
  }

  .board-list {
    min-width: 0;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .card {
    cursor: pointer;
    position: relative;
    user-select: none;
    margin: 0 5px 45px 5px;
    min-width: 160px;
    background: $white;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    //box-shadow: 0 0 3px rgba($darkred, 0.5);
    // min-height: 80px;

    &:hover {
      background: $lightred;
      color: $white;
    }
    &:active {
      box-shadow: 0 0 10px 1px rgba(teal, 0.5), 0 0 15px rgba(#777, 0.5) inset;
    }

    .text {
      height: 90px;
      font-size: 30px;
      font-weight: 300;
      color: $black;
      font-family: $font-family-primary;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:space-between;
      padding: 5px;
      * {
        display: inline-block;
        word-break: break-word;
      }
    }

    .text span {
      line-height: 26px;
      font-size: 16px;
      width: 100%;
      text-align: center;
      padding-right: 80%;
      z-index: 12;
    }

    .text sup {
      position: absolute;
      font-size: 12px;
      top: 8px;
      left: 4px;
      color: #888;
    }

    .text small {
      font-size: 14px;
      font-weight: bold;
      padding: 0px 3px;
      position: absolute;
      bottom: -25px;
      display: inline-block;
      width: 100%;
      left: 0px;
      text-align: left;
      color: $fontgrey;
      &.bord-update-date{font-size: 12px;bottom: -40px;font-weight: 500;color:$gray;}
    }

    .save-button {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
    }

    .edit-btn,
    .delete-btn, .duplicate-btn{
      background-color: white;
      opacity: 0;
      transition: 0.25s opacity;
      display: block;
      margin: 0;
      i {
        color: $darkred;
        font-size: 18px;
      }
    }
    .edit-btn {
      position: absolute;
      top: 20px;
      right: 110px;
    }
    .duplicate-btn {
      position: absolute;
      top: 20px;
      right: 65px;
    }
    .delete-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    &.selected{
      .text small {
        color: $darkred;
        font-weight: bold;
        &.bord-update-date{font-weight: 500;color: $gray;}
      }
    }
    
  }

  .card.new{
    background: $darkred;
    box-shadow: 0 0 5px 1px $darkred;

    .text {
      height: 75px;
    }

    .save-button {
      display: block;
      height: 25px;
      text-transform: none;
      i {
        font-size: 20px;
      }
    }
    &:hover {
      .delete-btn,
      .edit-btn, .duplicate-btn {
        opacity: 1;
      }
    }
    
  }

  .card.selected {
    background: $darkred;
    box-shadow: 0 0 5px 1px $darkred;

    .text {
      height: 75px;
    }

    .save-button {
      display: block;
      height: 25px;
      text-transform: none;
      i {
        font-size: 20px;
      }
    }
    &:hover {
      .delete-btn,
      .edit-btn, .duplicate-btn {
        opacity: 1;
      }
    }
  }

  &.collapsed {
    .board-list {
      padding: 10px 7px;
    }
  }
  &.open-state{top: 60px;}
  @include breakpoint(mobile){
    display: none;
  }
}

.theme--dark.v-toolbar{z-index: 100;}

.custom-add-board-btn{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;padding: 10px;
  height: 100%;width: 100%;
  margin: 0px;background: #fff !important;border-radius: 4px;box-shadow: none !important;
  &:hover{background: #fcede4 !important;}
  &:hover::before{background: #fff !important;}
  & .v-btn__content{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;width: 100%;
  }
  & span{
    width: calc(100% - 35px);
    font-size: 16px;
    font-weight: 500;
    color: #f1592a;
    line-height: 20px;
    padding-left: 8px;white-space: normal;
  }
  & .material-icons{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f1592a;
    border-radius: 50%;
    color: #fff;
  }
}
.board-list-image{
  max-width: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
