@import "globalvariables";
@import "breakpoints";

#menu {
  display: none;
  position: absolute;
  width: 60px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
}

#menu button {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
  padding: 10px;
}

#menu button:hover {
  background-color: lightgray;
}

.board-container {
  position: relative;

  .revenue-sum {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 1s;
  }

  &.sidebar-open-state {
    right: 350px !important;
  }
  &.full-width {
    #empty-board-image {
      right: 0px;
    }
  }
}

.test {
  width: auto;
}

#empty-board-image {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  display: none;
  .empty-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    img {
      height: auto;
      min-width: 1300px;
      object-fit: cover;
    }
  }
  .icon {
    min-height: 77px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
    margin-top: 15px;
  }
  img {
    object-fit: fill;
    object-position: 50% 50%;
  }

  @media (min-width: 960px) {
    right: 350px;
  }

  &.visible {
    display: block;
  }
}

.board-title {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 30%;
}

.v-toolbar__title {
  color: $color-primary;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  margin: 0px 20px 0px 20px;
}

.v-toolbar__content {
  background-color: $lightgrey2;
}
.v-btn__content {
  color: $color-primary;
}
.v-btn.white--text .v-btn__content {
  color: $white;
}

/*
  .follow-control {
    position: fixed;
    top: 57px;
    z-index: 100;

    @media (min-width: 960px) {
      right: 350px;
    }
  }
  */

#whiteboard {
  z-index: 0;
  position: relative;
  background: $white;
  width: 10000px;
  height: 10000px;
  border: 1px solid $lightgrey;
  // box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 0 0 2px rgba($black, 0.12);
  //background: $white repeat url("https://api.ecomap.app/tiny-grid.png");

  //relationship label and delete button
  .jtk-overlay {
    user-select: none;

    .delete {
      cursor: pointer;
      color: white;
      border-radius: 50%;
      font-size: 20px;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      transition: 0.25s opacity;
      background: rgba(#f33, 0.85);
      &:hover {
        background: #f33;
      }
      opacity: 0;
    }

    //relationship label
    .label {
      padding: 3px;
      font-size: 13.5px;
      border-radius: 5px;
      background: rgba($lightgrey, 0.6);
      font-family: $font-family-secondary;
    }
  }
  .jtk-hover {
    .delete {
      opacity: 1;
    }
  }

  //is the circular anchor point of the relationship
  .source {
    z-index: 11;
    border-radius: 50%;
    opacity: 0;
    transition: 0.01s opacity;
    //  box-shadow: 0 0 10px white inset;
  }
  .source-hover {
    z-index: 15 !important;
    transition: none;
  }

  .jtk-endpoint-connected {
    opacity: 0;
    &.jtk-drag {
      opacity: 1;
    }
  }

  .node-hover {
    opacity: 1;
  }

  //magnetic group marker
  .group-border {
    background-color: rgba($darkred, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    z-index: -1;

    .group-title {
      color: $darkred;
      font-weight: 600;
      padding: 2px 10px;
      border-radius: 3px;
      margin-top: -28px;
      position: absolute;
      background: rgba($lightgrey, 0.6);
      font-size: 13.5px;
      white-space: nowrap;
      font-family: $font-family-secondary;
      z-index: 1;
    }
    &:hover {
      .custom-delete-group {
        display: block;
      }
    }
  }

  .group-border-control {
    background-color: rgba($white, 0.25);
    border-radius: 5px;
    border: 1px dashed $darkred;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
  }
}

.module-onboard {
  cursor: grab;
  user-select: none;
  position: absolute;
  display: block;
  font-size: 12.5px;
  padding-bottom: 0;
  border-radius: 50%;
  text-align: center;
  z-index: 10;

  &.circle-shape-wrapper {
    & .delete-btn {
      top: -22px;
      right: 3px;
    }
  }

  .module-img-wrapper {
    width: 104px;
    height: 104px;
    border: 2px solid $darkgrey;
    border-radius: 0%;
    margin: 0 auto;
    transition: all 0.5s;
    & .logo img {
      border-radius: 0%;
    }
    &.circle-shape {
      border-radius: 50%;
      & .logo {
        border-radius: 50%;
      }
      &:after {
        border-radius: 50%;
      }
    }
    &:after {
      content: "";
      width: 144px;
      height: 144px;
      display: block;
      top: -20px;
      left: -20px;
      position: absolute;
    }
  }

  .logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 48px;
    line-height: 72px;
    background: $darkgrey;
    box-sizing: border-box;
    border: 5px solid $white;
    overflow: hidden;
  }
  //stakeholder logo on the board
  .logo img {
    user-drag: none;
    pointer-events: none;
    user-select: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
  }
  //stakeholder name below logo
  .name {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
    margin-top: -10px;
    left: 0;
    right: 0;
    text-overflow: clip;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background: rgba($white, 0.6);
    font-family: $font-family-primary;
  }

  //info and delete button on stakeholder hover
  .delete-btn,
  .info-btn,
  .info-small {
    opacity: 0;
    cursor: pointer;
    z-index: 20;
    color: $white;
    font-size: 20px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    transition: 0.25s opacity;
    position: absolute;
  }

  .delete-btn {
    top: -30px;
    right: -30px;
    background: rgba(#f33, 0.85);

    &:hover {
      background: #f33;
    }
  }

  // info button for stakeholder on board
  .info-btn {
    top: 40px;
    left: -30px;
    background: $darkred;
    font-family: $font-family-primary;
    font-style: normal;

    &:hover {
      background: white;
      color: $darkred;
      box-shadow: 0 0 0 2px $darkred;
      transform: scale(1.1);
      transition: 0.2s ease-in-out;
    }
  }
  // .info-small {
  //   top: 4px;
  //   right: -20px;
  //   background: rgba($color-error, 0.85);
  //
  //   &:hover {
  //     background: $color-error;
  //   }
  // }

  // .source-arrow {
  //   opacity: 1;
  //   cursor: pointer;
  //   position: absolute;
  //   top: 23px;
  //   right: -10px;
  //   border: 5px solid red;
  //     background: rgba($darkred, 0.85);
  //   color: white;
  //   border-radius: 50%;
  //   padding: 3px;
  //   font-size: 20px;
  //   transition: 0.25s opacity;
  //
  //   &:hover {
  //     background: $darkred;
  //   }
  // }

  &.module-hover {
    .delete-btn,
    .info-btn,
    .info-small,
    .source-arrow {
      opacity: 1;
    }
    .module-img-wrapper {
      &:after {
        border: 2px solid $darkred;
      }
    }
  }
}

.full-width-for-embed {
  right: 0 !important;

  //#whiteboard {
  //  transition: transform 0.25s ease 0s;
  //  transform-origin: 0px 0px 0px;
  //  transform: matrix(0.569191, 0, 0, 0.569191, -2538, -2635);
  //}
}

.switch-shape {
  position: relative;
  & .rectangle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: $fontgrey;
    border: 2px solid $fontgrey;
    z-index: 3;
    margin-left: -7px;
    margin-top: -7px;
  }
  & .circle {
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid $fontgrey;
    z-index: 1;
  }
  &.circle-shape {
    & .circle {
      background: $fontgrey;
      z-index: 4;
    }
    & .rectangle {
      background: $lightgrey2;
    }
  }
}

// @media only screen and (min-width: 960px){
//   .board-container{right: 350px !important;}
// }

.custom-delete-group {
  display: none;
  position: absolute;
  left: -10px;
  top: -10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: rgba(#f33, 0.85);
  &:hover {
    background: #f33;
  }
}

//empty board landing page with three call to action and gif
.custom-landing {
  position: absolute;
  bottom: 18px;
  width: 100%;
  //border: 2px solid #ccc;
  //border-radius:10px;
  padding: 10px 15px;
  & p {
    margin-bottom: 0px;
    font-size: 18px;
    color: #636363;
  }
  & .custom-landing-buttons {
    position: absolute;
    bottom: -50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0px;
    & a {
      border: 2px solid #ccc;
      box-shadow: none !important;
      border-radius: 4px;
      padding: 2px 7px;
      color: #636363;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
      min-width: 50px;
      & .v-btn__content {
        color: #545454;
      }
    }
  }
  animation-name: slideBubble;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}

@-webkit-keyframes explodeIn {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes explodeIn {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes slideBubble {
  0% {
    transform: scale(0.5);
    top: -30%;
  }
  65% {
    transform: scale(0.8);
    top: 60%;
  }
  100% {
    transform: scale(1);
    top: 50%;
  }
}
@keyframes slideBubble {
  0% {
    transform: scale(0.5);
    top: -30%;
  }
  65% {
    transform: scale(0.8);
    top: 60%;
  }
  100% {
    transform: scale(1);
    top: 50%;
  }
}

.home-box-container {
  width: 100%;
  max-width: 750px;
  display: flex;
  overflow-x: auto;
  margin: 0 auto;
  margin-bottom: 70px;
  &::-webkit-scrollbar {
    display: none;
  }
}
.home-box {
  width: 222px;
  min-width: 222px;
  margin: 2em 1em;
  padding: 1em;
  border-radius: 4px;
  font-size: 1em;
  border: 1px solid #e9edf3;
  background-color: #fff;
  .title {
    margin-bottom: 22px;
    min-height: 62px;
  }
  h2 {
    font-family: Inter;
    font-weight: bold;
    font-size: 16px;
    color: #4c4666;
    margin-bottom: 7px;
    text-transform: uppercase;
  }
  h3 {
    font-family: Inter;
    font-size: 13px;
    color: #4c4666;
    font-weight: normal;
  }
  .home-box-button {
    box-shadow: none !important;
    width: 100%;
    margin: 0;
    background-color: #fff !important;
    color: $darkred !important;
    transition: all 0.3s;
    border: 1px solid #e5e5e5;
    .v-btn__content {
      color: $darkred !important;
    }
    &:hover {
      background-color: $darkred !important;
      color: #fff !important;
      .v-btn__content {
        color: #fff !important;
      }
    }
  }
}
// .transprent {
//   opacity: 0.3;
// }
// .full-modal{
//   width: 100%;
//   height: 100%;
//   background: #fff;
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   z-index: 999;
// }
@media (min-width: 0) and (max-width: 767px) {
  .board-container {
    .revenue-sum {
      top: 0 !important;
    }
  }
}