/* custom bar style */
.custombar {
  position: fixed;
  top: 230px;
  left: 50%;
  z-index: 100;
  display: flex;
  flex-direction: column;

  .vbtn-style {
    margin: 1px auto 1px 1px;
    width: inherit;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 44px rgba(233, 237, 243, 0.25),
      0px 5px 10px rgba(233, 237, 243, 0.8);
    border-radius: 5px;

    &.collapsed {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .color-picker {
      width: 14px;
      height: 14px;
      background: #82c341;
      border-radius: 2px;
    }
  }
  
  .vbtn-style-content {
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 44px rgba(233, 237, 243, 0.25),
      0px 5px 10px rgba(233, 237, 243, 0.8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;

    &.actions {
      background: transparent;
      box-shadow: none;
      justify-content: flex-end;
    }

    .color-setting {
      padding: 10px 10px;
      min-height: 54px;
      width: 100%;

      .v-chip.color-dot {
        margin: 5px;
        height: 18px !important;
        width: 18px !important;
        padding: 0 8px;
        transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &.box-shadow-gray {
          box-shadow: inset 0px 0px 0px 1px grey;
        }

        .v-chip__content {
          padding: 0;
          width: 18px;
          height: 18px;
          justify-content: center;
          cursor: pointer;
        }

        &.actived-dot {
          height: 24px !important;
          padding: 0 12px;

          .v-chip__content {
            padding: 0;
            width: 24px;
            justify-content: center;
          }
        }
      }

      .text-underline {
        text-decoration: underline;
      }
      .text-center {
        text-align: center;
      }
    }

    .border-setting {
      padding: 10px 10px;
      min-height: 54px;
      width: 100%;

      .v-chip.color-dot {
        margin: 5px;
        height: 18px !important;
        width: 18px !important;
        padding: 0 8px;
        transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &.box-shadow-gray {
          box-shadow: inset 0px 0px 0px 1px grey;
        }

        .v-chip__content {
          padding: 0;
          width: 18px;
          height: 18px;
          justify-content: center;
          cursor: pointer;
        }

        &.actived-dot {
          height: 24px !important;
          padding: 0 12px;

          .v-chip__content {
            padding: 0;
            width: 24px;
            justify-content: center;
          }
        }
      }

      .border-size-setting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px;
        margin-top: 0;
        .v-input__slider {
          margin-top: 0;
          width: 140px;
          .v-input__control {
            height: 30px;
            .v-input__slot {
              margin: 0;
            }
          }
          .v-messages {
            height: 0;
          }
        }
      }
    }

    .fill-setting {
      padding: 10px 10px;
      min-height: 54px;
      width: 100%;

      .v-chip.color-dot {
        margin: 5px;
        height: 18px !important;
        width: 18px !important;
        padding: 0 8px;
        transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &.box-shadow-gray {
          box-shadow: inset 0px 0px 0px 1px grey;
        }

        .v-chip__content {
          padding: 0;
          width: 18px;
          height: 18px;
          justify-content: center;
          cursor: pointer;
        }

        &.actived-dot {
          height: 24px !important;
          padding: 0 12px;

          .v-chip__content {
            padding: 0;
            width: 24px;
            justify-content: center;
          }
        }
      }

      .font-size-setting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;

        .v-input__slider {
          margin-top: 0;
          width: 140px !important;
          .v-input__control {
            height: 30px;
            .v-input__slot {
              margin: 0;
            }
          }
          .v-messages {
            height: 0;
          }
        }
      }

      .font-align-setting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;
      }
    }

    .align-setting {
      padding: 0;
      min-height: 54px;
      width: 100%;

      .v-text-field {
        padding: 0;
        margin: 0;
        .v-input__slot {
          background-color: transparent !important;
          box-shadow: 0px 3px 1px -2px #e5e5e5;
          margin-bottom: 1px;
        }
        .v-text-field__details {
          display: none;
        }
      }
      .align-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 12px;

        .icon-text {
          position: absolute;
          font-size: 12px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .action-setting {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: #ffffff;
      box-shadow: 0px 4px 44px rgba(233, 237, 243, 0.25),
        0px 5px 10px rgba(233, 237, 243, 0.8);
      border-radius: 5px;
      padding: 5px;
      width: 120px;
      transform: translateX(calc(100% - 30px));

      .v-btn--icon {
        &::before {
          border-radius: 0;
        }
        width: 100%;
        .v-btn__content {
          justify-content: flex-start;
          padding-left: 3px;
          padding-right: 3px;
          text-transform: capitalize;
        }
        svg {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
}

.text-gray {
  color: gray !important;
}
.text-underline {
  text-decoration: underline;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
