@import "globalvariables";
.footer{
  padding-top: 15px;
  // z-index: 100;
  
  
  p{
    color: #B6B0CF;
    font-family: Inter;
    font-size: 11px;
    margin: 0 44px 18px 99px;
    a{
      color: #846bd7;
    }
  }
  &.inBoard{
    position: fixed;
    bottom: 0;
    p{
      margin: 0 44px 8px 13px;
    }
  }
}
