// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

$font-url--google       :  'https://fonts.googleapis.com/css?family=Inter';

$font-family-primary    :   'Inter', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-secondary  :    -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-login  :    'Montserrat', sans-serif;

// Font weight

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

//colors

$white    : #fff;
$white-semi-transparent: rgba(255, 255, 255, 0.5);
$white-light-transparent: rgba(255, 255, 255, 0.9);
$dark-light-transparent: rgba(0, 0, 0, 0.1);
$black    : #0b0b0b;
$gray    : #666;

$fontgrey   : #4d4d4d;
$darkgrey   : #e5e5e5;
$darkgrey2  : #ebeae8;
$midgrey    : #f4f3f0;
$lightgrey2 : #f8f7f4;
$lightgrey  : #fbfbfa;
$lightred   : #fcede4;
$darkred    : #FB6E00;

$color-primary   : $fontgrey;
$color-secondary : $darkgrey;

$color-accent    : $darkred;
$color-shadow    : rgba($black, .2);


$color-success       : #63CC82;
$color-error         : $darkred;
$color-warning       : $lightred;
$color-info          : #927BC1;
$color-white          : #ffffff;
