@import "globalvariables";
@import "breakpoints";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(177, 177, 177); 
}

nav.toolbar {
  position: relative;
  z-index: 100;
}

.v-toolbar {
  box-shadow: none;
}

.v-toolbar__title {
  cursor: pointer;
  overflow: inherit;
  font-weight: 300;
  color: $white;
  @include breakpoint(mobile) {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
  }
}

// TODO: remove
.v-toolbar__content {
  background-color: #f8f7f4;
  @include breakpoint(mobile) {
    & .v-menu,
    & .v-toolbar__items {
      display: none;
    }
  }
}

.brand-img {
  width: 160px;
  padding: 5px;
  margin: auto;
  cursor: pointer;
}

.boardTitleBg {
  background-color: $darkgrey;
  height: 50px;
  // width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px; // 0 20px
  margin-top: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  @include breakpoint(mobile) {
    justify-content: center;
    & button {
      display: none;
    }
  }
}
.custom-board-title {
  margin: 0px 10px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primary-btn {
  background-color: rgb(241, 89, 42);
  border-color: rgb(241, 89, 42);
  & .v-btn__content {
    color: $color-white;
  }
  &:disabled {
    & .v-btn__content {
      color: $fontgrey;
    }
  }
  &.small {
    & .v-btn__content {
      font-size: 12px;
    }
  }
}

.backTo {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e9edf3;
  border-bottom: none;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 4px 4px 0px 0px;
  padding: 0 15px;
  i {
    margin: 0;
    color: #4c4666 !important;
    background: #ffffff;
    border: 1px solid #e9edf3;
    border-radius: 20px;
  }
  span {
    font-family: Inter;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #fb6e00;
  }
}
