@import "globalvariables";
@import "breakpoints";

#darckBg {
  background-color: #000;
  height: 100vh;
}
.login-wrapp {
  background: transparent;
  max-width: 797px !important;
}
.green-box {
  background: linear-gradient(209.01deg, #227995 0%, #80c143 100%);
  box-shadow: 0px 4px 44px rgba(58, 52, 81, 0.6);
  border-radius: 0px 5px 5px 0px;
  padding: 47px 23px 47px 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    font-family: $font-login;
  }
  p {
    font-family: $font-login;
    color: #fff;
    font-size: 13px;
    margin-bottom: 30px;
  }
  @include breakpoint(mobile) {
    display: none;
  }
}
