@import "globalvariables";

.login{
  padding: 24px 36px;
  background: #fff;
  .l-title{
    font-family: $font-login;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #636363;
    width: 246px;
    margin: 6px auto;
  }
  .l-fild{
    .v-input__slot{
      font-family: $font-family-primary;
      box-shadow: none!important;
      background: #E5E5E5!important;
      margin: 0;
      &:before, &::after{
        display: none;
      }
    }
    input{
      font-size: 14px;
      line-height: 14px;
      padding: 14px 17px 12px;
      height: 40px;
    }

    label{
      font-size: 12px;
      line-height: 14px;
      color: rgba(99, 99, 99, 0.68) ;
      left: 17px!important;
      top:10px
    }
  }
  .v-text-field .v-label--active{
    transform: translateY(-25px) scale(0.75);
  }
  .v-card__actions{
    padding: 0 16px;
  }
  .primary-btn{
    width: 100%;
    margin: 0 auto;
    height: 50px;
    margin-bottom: 26px;
  }
  .spacer{
    height: 30px;
  }

}

.terms{
  color:#B6B0CF;
  text-align: center;
  margin-bottom: 25px;
  span{
    cursor: pointer;
    color:#806bd6;
    font-family: $font-family-primary;
    font-weight: 600;
    &:hover{
      color:#6151a0
    }
  }
}
.go-to{
  color:#4C4666;
  text-align: center;
  margin-bottom: 4px;
  span{
    cursor: pointer;
    color:#806bd6;
    font-family: $font-family-primary;
    font-weight: 600;
    &:hover{
      color:#6151a0
    }
  }
}
