body, html {
  font-family: Inter;
}
.v-application {
  font-family: Inter;
}
.v-application--wrap {
  min-height: max-content !important;
}
.title-bold{
  font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
    font-size: 32px;
    color: #4C4666;
    margin-bottom: 8px;
}
.title-2{
  font-family: Inter;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #846bd7;
  margin: 10px 0 10px 0;
}
.info-text{
  font-family: Inter;
  font-size: 12px;
  line-height: 14px;
  color: #B6B0CF;
  margin: 15px 0;
  a{
    color: #846bd7;
  }
}
.info-text-bold{
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  color: #4C4666;
}
.main-text{
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  color: #4C4666;
  margin-bottom: 9px;
}
.select{
  color: #846bd7;
}
.add{
  border-radius: 25px;
  box-shadow: none;
  margin: -8px 10px 0 0!important;
  height: 28px;
  padding: 2px 10px;
  box-shadow: none!important;

  .v-btn__content{
    font-family: Inter;
    font-size: 12px;
    line-height: 14px;
  }
}
.add-text{
  background-color: #fff!important;
  border: 1px solid #FB6E00;
  .v-btn__content{
    color: #FB6E00;
  }
}
.title-3{
  font-family: Montserrat;
  font-weight: 900;
  font-size: 17px;
  line-height: 24px;
  color:#4C4666;
  text-align: center;
}
.orange-btn, .white{
  width: 100%;
  margin: 0 auto;
  height: 50px;
  color:#fff!important;
  box-shadow: none!important;
}
.orange-btn{
  // margin-top: 20px;
  .v-btn__content{
    color:#fff!important
  }
}
.with{
  background-color: #f8f7f4!important;
  box-shadow: none!important;
}
