@import "globalvariables";
@import "breakpoints";

.map-filter-list
{
  z-index: 101;
  position: relative;
  color: $color-primary;
  background-color: $white;
  border-left: 1px solid #ccc;
  // box-shadow: 0 0 15px rgba(black, 0.3) inset, 0 0 0 2px rgba(#000, 0.78);
  //border-left: 1px solid black;

  padding: 0px 10px 0px 10px;
  box-shadow: 20px 3px 40px rgba(233, 237, 243, 0.5);

  h2 {
    padding-bottom: 20px;
  }

  .country-filter {
    padding-left: 20px;
    h3 {
      padding-bottom: 15px;
      padding-top: 25px;
      border-top: 1px solid $lightgrey2;
    }

  }

}
.slide-filters
{
  margin-left:-243px;
  transition: 0.3s;
  left: 0;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  .v-input {
    padding: 0;
    margin: 0;
    flex: none;
    margin-right: 15px;

    label {
    font-size: 0.8em;
    margin: 4px 0px;
    }

    i {
    font-size: 20px;
    }

    .v-input--selection-controls__input {
    margin-right: 2px;
    }
  }
}
