@import "globalvariables";

  .marker-transform--active {
    position: absolute;
    z-index: 5;
  }

  .marker-transform__content {
    user-select: none;
  }

  .marker-transform__controls {
    border: 2px solid #212121;
  }

  .marker-transform__rotator {
    top: -40px;
    left: calc(50% - 7px);
  }

  .marker-transform__rotator-line {
    top: -26px;
    left: calc(50% - 1px);
    width: 2px;
    background-color: #212121;
    height: 24px;
    position: absolute;
  }

  .marker-transform__rotator,
  .marker-transform__scale-point {
    background: rgba(255, 255, 255, 1);
    width: 14px;
    height: 14px;
    border-radius: 0%;
    position: absolute;
    border: 2px solid #212121;
    cursor: pointer;
  }

  .marker-transform__rotator:hover,
  .marker-transform__scale-point:hover {
    background: #F1F5F8;
  }

  .marker-transform__rotator:active,
  .marker-transform__scale-point:active {
    background: #DAE1E7;
  }


  .marker-transform__scale-point--tl {
    top: -8px;
    left: -8px;
  }

  .marker-transform__scale-point--ml {
    top: calc(50% - 7px);
    left: -8px;
  }

  .marker-transform__scale-point--tr {
    left: calc(100% - 6px);
    top: -8px;
  }

  .marker-transform__scale-point--tm {
    left: calc(50% - 7px);
    top: -8px;
  }

  .marker-transform__scale-point--mr {
    left: calc(100% - 6px);
    top: calc(50% - 7px);
  }

  .marker-transform__scale-point--bl {
    left: -8px;
    top: calc(100% - 6px);
  }

  .marker-transform__scale-point--bm {
    left: calc(50% - 7px);
    top: calc(100% - 6px);
  }

  .marker-transform__scale-point--br {
    left: calc(100% - 6px);
    top: calc(100% - 6px);
  }

  .marker-title-text {
    position: absolute;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 28pt;
    display: inline-block;
    user-select: none;
  }

  .marker-textbox-text {
    position: absolute;
    white-space: normal;
    margin: 0px;
    padding: 0px;
    outline: none;
    width: 100%;
    font-size: 15pt;
    display: inline-block;
    user-select: none;
  }

  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
  }
