@import "globalvariables";

.module-item {

  .module-img-wrapper{
    width: 94px;
    height: 94px;
    border: 2px solid $darkgrey;
    border-radius: 0%;
    margin: 0 auto;
    transition: all 0.5s;
    & .logo img{
      border-radius: 0%;
    }
    &.circle-shape{
      border-radius: 50%;
      & .logo{
        border-radius: 50%;
      }
    }
  }
  .logo-wrapp{
    width: 100%;
    height: 100%;
  }
  .logo {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    line-height: 60px;
    text-align: center;
    background: #eceff1;
    box-sizing: content-box;
    font-size: 3em;
    border: 5px solid $white;
    transition: all 0.5s;
    overflow: hidden;
  }
  &:hover {
    .module-img-wrapper{
      border: 2px solid $darkred;
    }
  }
/* RECTANGULAR LOGO
  .logo {
    display: inline-block;

    width: 180px;
    height: 80px;
    line-height: 60px;
    text-align: center;
    background: #eceff1;
    box-sizing: content-box;
  }
  */

  .logo img {
    user-drag: none;
    display: block;
    pointer-events: none;
    user-select: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    object-position: center center;
    // border: 5px solid $white;
    // transition: all 0.5s;
  }
  &:hover {
   .logo img{
      // border: 2px solid $darkred;
    }
  }

  .name {
    width: 80px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    max-height: 36px;
    overflow: hidden;
    //word-break: break-all;
    word-break: break-word;
  }

  .clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }
}



.holding-module,
.module {
  cursor: grab;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  /* border: 1px solid #afeafe; */

}

//when a logo is dragged from the library to the board
.holding-module {
  position: fixed;
  max-width: 85px;
  opacity: 0.95;
//  transform: scale(0.7);


  .delete-btn,
  .info-btn {
    display: none;
  }
}

.module {
  position: relative;
  display: block;

  border-radius: 5px;
  transition: all 0.5s;


  .delete-btn,
  .info-btn,
  .info-small {
    opacity: 0;
    cursor: pointer;
    color: $white;
    font-size: 20px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    transition: 0.25s opacity;
    position: absolute;

  }

  .delete-btn {
    top: 0;
    right: 8px;
    background: rgba(#f33, 0.85);

    &:hover {
      background:#f33;
    }
  }

  //info button of stakeholder in library
  .info-btn {
    top: 35px;
    left:-6px;
    background: $darkred;
    transition: 0.2s ease;
    font-family: $font-family-primary;
    font-style: normal;

    &:hover {
      background: white;
      color: $darkred;
      box-shadow: 0 0 0 2px $darkred;
      transition: 0.2s ease;
      }
    }

  .info-small {
    top: 23px;
    right: -7px;
    background: rgba($color-error, 0.85);

    &:hover {
      background: $color-error;
    }
  }
  &:hover {

    .delete-btn,
    .info-btn,
    .info-small,
    .source-arrow {
      opacity: 1;
    }
  }
}
