@import "globalvariables";

.back {
  min-height: 100vh;
  padding: 10px;
  background: #f1592a;
  background: -webkit-linear-gradient(to top, #f1592a, #ff8b67, #ffd6c9);
  background: linear-gradient(to top, #f1592a, #ff8b67, #ffd6c9);
}
