@import "globalvariables";

.select-image-field {
  .selector-card {
    cursor: pointer;
    max-height: 100px;
    &:hover .card__media__content {
      background-color: rgba(#dde, 0.3);
    }
  }
  .container.image-selector {
    max-height: 225px;
    overflow: auto;
  }
  .load-more-card {
    cursor: pointer;
    max-height: 100px;
    min-height: 100px;
    .v-card__text {
      font-size: 24px;
      line-height: 65px;
      text-align: center;
      color: #827717;
    }
    &:hover {
      background: #b3e5fc;
    }
  }
  .preview-card {
    position: relative;
  background: #4C4666;
    img {
      object-fit: cover;
      width: 105%;
      height: 105%;
    }
    &:hover {
      .delete-image-button {
        opacity: 1.0;
      }
    }
    .delete-image-button {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      color: black;
      background: radial-gradient(#ccc, transparent);
      opacity: 0;
    }
  }
  .v-input__icon--append{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1592a;
    border-radius: 5px;
  }
  .v-input__slot{
    padding: 0 0 0 12px!important;
  }
}
.select-logo{
  min-width: 290px;
  margin-right: 20px;
  justify-content: space-around;


  .img{
    background: #F8F7F4;
    width: 100px;
    height: 100px;
    margin: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2px;
    box-shadow: 0px 5px 10px rgba(233, 237, 243, 0.8), 0px 4px 44px rgba(233, 237, 243, 0.25);
    span{
      font-family: Inter;
      font-size: 14px;
      font-weight: bold;
      color: #4C4666;
    }
  }
  .img-logo{
    border-radius: 80px;;
  }
  .v-text-field.v-text-field--solo .v-input__control{
    min-height: 40px;
  }
  .v-icon{
    color:#fff!important
  }
}
.s-map{
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px rgba(233, 237, 243, 0.8), 0px 4px 44px rgba(233, 237, 243, 0.25);
}
.select-image-field{
  & .selector-card-logo-wrapper{
    & .selector-card, & .load-more-card{
      border: 2px solid $darkgrey;
      width: 94px;
      height: 94px;
      border-radius: 50%;
      box-shadow: none;
      & .v-image__image--cover{
        width: 90px;
        height: 90px;
        border: 5px solid $white;
        border-radius: 50%;
      }
    }
    & .load-more-card{
      min-height: 90px;
      & .v-card__text{
        font-size: 14px;
        line-height: 58px;
      }
    }
    &:hover{
      & .selector-card{
        border: 2px solid $darkred;
      }
    }
  }
  .preview-card{
    & .selected-image-preview{
      width: 100px; height: 100px; margin: 0px; display: inline-block;border: 2px solid $darkred;border-radius: 50%;
      & img{border: 5px solid $white;width: 96px; height: 96px;}
    }
  }
}

.select-image-add {
  .selector-card {
    cursor: pointer;
    max-height: 100px;
    &:hover .card__media__content {
      background-color: rgba(#dde, 0.3);
    }
  }
  .container.image-selector {
    max-height: 225px;
    overflow: auto;
  }
  .load-more-card {
    cursor: pointer;
    max-height: 100px;
    min-height: 100px;
    .v-card__text {
      font-size: 24px;
      line-height: 65px;
      text-align: center;
      color: #827717;
    }
    &:hover {
      background: #b3e5fc;
    }
  }
  .preview-card {
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &:hover {
      .delete-image-button {
        opacity: 1.0;
      }
    }
    .delete-image-button {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      color: black;
      background: radial-gradient(#ccc, transparent);
      opacity: 0;
    }
  }
  .v-input__icon--append{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1592a;
    border-radius: 5px;
  }
  .v-input__slot{
    padding: 0 0 0 12px!important;
  }
}
.select-logo{
  min-width: 290px;
  margin-right: 20px;
  justify-content: space-around;


  .img{
    background: #F8F7F4;
    width: 80px;
    height: 80px;
    margin: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2px;
    box-shadow: 0px 5px 10px rgba(233, 237, 243, 0.8), 0px 4px 44px rgba(233, 237, 243, 0.25);
    span{
      font-family: Inter;
      font-size: 14px;
      font-weight: bold;
      color: #4C4666;
    }
  }
  .img-logo{
    border-radius: 80px;;
  }
  .v-text-field.v-text-field--solo .v-input__control{
    min-height: 40px;
  }
  .v-icon{
    color:#fff!important
  }
}
.s-map{
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px rgba(233, 237, 243, 0.8), 0px 4px 44px rgba(233, 237, 243, 0.25);
}
.select-image-add{
  & .selector-card-logo-wrapper{
    & .selector-card, & .load-more-card{
      border: 2px solid $darkgrey;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: none;
      & .v-image__image--cover{
        width: 77px;
        height: 77px;
        border: 5px solid $white;
        border-radius: 50%;
      }
    }
    & .load-more-card{
      min-height: 90px;
      & .v-card__text{
        font-size: 14px;
        line-height: 58px;
      }
    }
    &:hover{
      & .selector-card{
        border: 2px solid $darkred;
      }
    }
  }
  .preview-card{
    & .selected-image-preview{
      width: 100px; height: 100px; margin: 0px; display: inline-block;border: 2px solid $darkred;border-radius: 50%;
      & img{border: 5px solid $white;width: 96px; height: 96px;}
    }
  }
}

