@import "globalvariables";
// @import "vue-multiselect/dist/vue-multiselect.min.css";

//header
.info-header {
  padding: 15px 40px;
  background-color: #fff;

  .confirm {
    padding: 10px 25px;
    background-color: #F8F7F4;

    .v-btn {
      height: auto;
      padding: 15px 59px 14px;
      margin-left: 20px;
      margin-right: 0;
      max-width: 180px;
    }
  }

  .user-wrapp {
    padding-top: 8px;
  }

  .claimit {
    padding: 10px 25px;
    border-top: 1px solid #EBE7DA;
    background-color: #F8F7F4;

    .v-btn {
      height: auto;
      padding: 11px 32px 10px;
      margin-left: 20px;
      margin-right: 0;
      max-width: 180px;
    }
//user section that will be implemented as a tab
    // .users {
    //   min-width: 100px;
    //   height: 30px;
    //   top: 201px;
    //   border-radius: 20px;
    //   margin-right: 5px;
    //   display: flex;
    //   align-items: center;
    //   padding-right: 11px;
    //
    //   p {
    //     font-family: Inter;
    //     font-size: 12px;
    //     color: #fff
    //   }
    //
    //   .img-wrapp {
    //     display: flex;
    //     flex-direction: row-reverse;
    //     margin-right: 12px;
    //   }
    //
    //   .img {
    //     border-radius: 50%;
    //     width: 30px;
    //     height: 30px;
    //     overflow: hidden;
    //     margin-right: -10px;
    //
    //     img {
    //       width: 100%;
    //     }
    //   }
    // }

    // .users-1 {
    //   background: #6BD6D6;
    //
    //   .img {
    //     border: 2px solid #6BD6D6;
    //   }
    // }
    //
    // .users-2 {
    //   background: #806BD6;
    //
    //   .img {
    //     border: 2px solid #806BD6;
    //   }
    // }
    //
    // .users-3 {
    //   background: #82C341;
    //
    //   .img {
    //     border: 2px solid #82C341;
    //   }
    // }
  }
//all just for the little text on the top right
  // h4 {
  //   font-family: Montserrat;
  //   font-weight: 900;
  //   font-size: 14px;
  //   line-height: 16px;
  //   color: #B6B0CF;
  //   float: left;
  //   margin-right: 10px;
  // }
  //
  // a {
  //   font-family: Inter;
  //   font-size: 12px;
  //   line-height: 14px;
  //   color: #B6B0CF;
  //   text-decoration: none;
  //   border-left: 1px solid #B6B0CF;
  //   padding: 0 7px;
  //
  //   &:hover {
  //     color: #4C4666;
  //   }
  // }

  h5 {
    font-family: Inter;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #4C4666;
    margin-bottom: 9px;
  }

  p {
    /* txt */

    font-family: Inter;
    font-size: 12px;
    line-height: 14px;
    text-align: right;

    color: #B6B0CF;
    margin: 0;
  }

//is about the buttons on the top
  .with {
    background-color: #fff !important;
    font-family: Inter;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #4C4666;
  }

  .d-flex {
    justify-content: flex-end;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
  }
}

.s-info {
  padding: 15px 40px 70px;
  background-color: white;

  form {
    width: 100%;
  }

  .logo {
    max-width: 477px;
    padding-top: 15px;
  }

  .search {
    label {
  //    color: #B6B0CF;
    }

    i {
  //    color: #fff !important;
  //    font-size: 30px;
    }

    .v-input__slot {
      width: 100%;
      box-shadow: none !important;
      border-radius: 5px !important;
      background-color: #F8F7F4 !important;
    }
  }

  h2 {
    font-family: Inter;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: #4C4666;
    margin: 10px 0 0 0;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 15px;
  }

  .basic {
    width: 100%;
    margin-left: 20px;


    .agree {
      position: absolute;
      right: 0;
      top: 15px;
      transition: opacity .5s;
    }

    // .switch {
    //   border-radius: 5px;
    //   margin-left: 20px;
    //   background-color: #F8F7F4 !important;
    //   margin: -5px 2px 0 2px !important;
    //   min-width: inherit;
    //
    //   &.active {
    //     .v-btn__content {
    //       color: #FB6E00;
    //     }
    //
    //     background-color: #fff !important;
    //     box-shadow: 0px 4px 4px rgba(58, 52, 81, 0.2) !important;
    //   }
    // }

//important grid of keys and values
    .name {
      width: 100px;
      font-family: Inter;
      font-size: 13px;
      color: #A8A8A8;
      margin-right: 15px;
      margin-top: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

//textarea
    .textarea {
      //border: 2px solid blue;
      //width: calc(100% - 100px);
      height: 100px;
      font-family: Inter;
      font-weight: bold;
      margin-top: 10px;


      textarea {
        //border: 2px solid red;
        margin: 0;
        padding: 0;
        font-family: Inter;
        font-weight: bold;
        font-size: 14px;
        color: #4C4666;


      }

      input {
        font-family: Inter;
        font-weight: bold;
        font-size: 14px;
        color: #4C4666;

      }

      label {
        font-family: Inter;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #B6B0CF;
      }

      .v-input__slot {
        box-shadow: none !important;
      }
    }
    // click on website link
    .dbclick {
      width: calc(100% - 100px);
      padding-left: 12px;
    }

    //all input fields
    .value {
      width: calc(100% - 100px);
      height: 50px;

      input {
        font-family: Inter;
        font-weight: bold;
        font-size: 14px;
        color: #4C4666;
      }

      label {
        font-family: Inter;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #B6B0CF;
      }

      .v-input__slot {
        box-shadow: none !important;
      }
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 39px;
    justify-content: space-between;

    &>div {
      min-width: 45%;
    }

    //important grid
    .item {
      position: relative;
      display: flex;
      min-width: 45%;
      border-bottom: 1px solid #E7E7E7;
      padding-top: 0;

      a {
        text-decoration: none;
      }

      p,
      span {
        word-wrap: break-word;
      }

      .agree {
        opacity: 0;
        background: #fff;
      }

      &:hover .agree {
        opacity: 1;
      }
    }

    .v-input__slot {
      background: #fff !important;
    }
  }

  //collections in columns
  .items-column {
    flex-direction: column;

    .value {
      font-family: Inter;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #B6B0CF;
    }

  }

  .dbclick {
    .value {
      width: auto;
    }

    .v-input__slot {
      padding: 0 !important;
    }
  }

  //this is the tag closing X
  .option {
    background-color: #F8F7F4 !important;

    .v-btn__content {
      color: #636363;
    }

    i {
      font-size: 17px;
    }
  }
}

.select-m {
  //does center the new tag inputs
  display: flex;
  padding: 10px 0;
  flex-wrap: wrap;
  width: 83%;

  .multiselect {
    min-height: 20px !important;
    z-index: 101;
    width: auto !important;
    margin-top: 20px;

    .multiselect__placeholder {
      display: none;
    }

    .multiselect__tags {
      //input field when searching for a tag
      position:relative;
      top:-13px;
      border: none;
      height: 45px;
      padding: 0 !important;
      height: 0 !important;
      min-height: 0 !important;
      font-family: Inter;
      font-size: 14px;
      color: #4C4666;


      .multiselect__tag {
        display: none;
        border-radius: 25px;
        background-color: #F8F7F4 !important;
        color: #636363;
        height: 28px;
        padding: 6px 26px 4px 10px !important;
      }
    }

    .multiselect__tag-icon {
      // line-height: 29px !important;
      // right: 3px !important;

      &:after {
        // color: #636363 !important;
        // font-size: 21px !important;
      }
    }

    .multiselect__content-wrapper {
      //moves the tag list up
      top: 20px;
      border: none;
      box-shadow: 0px 3px 40px rgba(233, 237, 243, 0.5);
    }

    .multiselect__tag-icon:focus,
    .multiselect__tag-icon:hover {
      background: #FB6E00 !important;

      &:after {
        color: white !important;
      }
    }
  }

  .add {
    //margin to center tags
    margin: 2px 10px 0 0 !important;
  }

  .multiselect__select {
    display: none !important;
  }

  .option__delete,
  .option__plus {
    display: none;
  }

  .option__desc {
    //separates tag item key and +
    display: flex;
    justify-content: space-between;
  }
  .multiselect__option--highlight {
    background: #FB6E00 !important;

    .option__plus {
      display: block;
    }
  }


  .multiselect__content-wrapper {
    min-height: 150px !important;
  }

  .multiselect__option--selected.multiselect__option--highlight {
    background: #ff6a6a !important;

    .option__delete {
      display: block;
    }

    .option__check {
      display: none;
    }

    .option__plus {
      display: none;
    }
  }
}

.info-versions {
  .items {
    .item {
      justify-content: space-between;
      width: 100%;
      padding: 0 10px;

      p {
        max-width: 80%;
      }
    }
  }

  .main-text {
    margin: 15px 0;
  }

  .info-text {
    min-width: 64px;
    text-align: right;
  }
}


// selector "no result text overflowing" fix
span.multiselect__option {
  white-space: normal !important;
}

// shreehs description overflowing fix, that created second scrollbar
//#inspire>div.application--wrap>section>div:nth-child(2)>div>form>div.basic>div:nth-child(2)>div:nth-child(2)>div.v-input.textarea.v-textarea.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--enclosed.v-input--is-label-active.v-input--is-dirty.theme--light {
//  overflow-y: scroll;
//}

// #inspire>div.application--wrap>section>div:nth-child(2)>div>form>div.basic>div:nth-child(2)>div:nth-child(2)>div.v-input.textarea.v-textarea.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--enclosed.v-input--is-label-active.v-input--is-dirty.theme--light>div>div.v-input__slot {
//   height: 100%;
// }
