@import "globalvariables";

.overlay-stripePaymentModal{
  background-color: #3A3451;
  opacity: 0.9;
}
.stripePaymentModalMain {
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 10000;
  // width: 100%;
  // height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // backdrop-filter: blur(2px);
  background: transparent;

  form#payment-form {
    background-color: #fff;
    // background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(2px);
    // width: 350px;
    padding: 3rem 2rem 1rem 2rem;
    border-radius: 7px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);

    #ecomapLogoWrapper {
      width: 100%;
      margin-bottom: 25px;

      img {
        width: 100%;
      }
    }

    #productDescriptionWrapper {
      text-align: center;
      margin: 20px 0 35px 0;
    }

    #card-element {
      transition: all 1s ease;
      margin: 40px 0 20px 0;
      padding: 10px 15px;
      background-color: rgb(248, 247, 244);
      border-radius: 5px;
      // border: 1px solid #000;
    }

    #coupon {
      .v-input {
        .v-input__control {
          .v-input__slot {
            background-color: rgb(248, 247, 244);
            border-radius: 5px;
            min-height: 38px;
            ::placeholder{
              color: rgb(198, 198, 198);
            }
            :-webkit-autofill{
              color: #32325d;
            }
            input {
              font-size: 16px;
              font-weight: 500;
              color: #32325d;
              padding: 10px 3px;
            }
          }
        }
      }
    }

    #card-errors {
      transition: all 1s ease;
      text-align: center;
      color: #fa755a;
      font-weight: $font-weight--bold;
      margin: 20px 0 20px 0;
    }

    #submit .v-btn__content,
    #submit .v-btn__loading {
      color: #fff !important;
    }

    #submit {
      margin-top: 20px;
    }

    #cancel {
      background: transparent;
      box-shadow: none;
    }

    .button {
      transition: all 1s ease;
      padding: 25px 0;
      margin: 10px 0;
    }
  }
}
