@import "globalvariables";

.board-type{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 4px;
  button{
    padding: 5px 10px;
    background: #f7f7f7;
    width: 90%;
    font-weight: 400;
    outline: 1px solid #ccc;
  }
  button.active{
    background: #FB6E00;
    color: #fff;
    border-radius: 4px;
    font-weight: 700;
    outline: 0px;
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.module-list.stakeholderFilterOpen {
  overflow-x: hidden;
  overflow-y: hidden;

  .stackholder-form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    // & .sortIcon .v-icon,
    // & .closeIcon .v-icon {
    //   margin-left: 10px;
    //   margin-right: 10px;
    //   padding: 10px;
    //   background-color: #f4f3f0;
    // }
    // & .sortIcon.filterActive .v-icon,
    // & .closeIcon.filterActive .v-icon {
    //   background-color: $darkred;
    //   color: #fff;
    // }
  }

  .stakeholder-listing-wrapper {
    margin-top: 0;
    // height: 38%;
  }

  .stakeholder-form-content {
    // height: 566px;
    margin-top: 56px;
  }
}

.module-list {
  border: 10px solid $white;
  height: calc(100vh - 60px);
  overflow: hidden;
  position: relative;

  & .stakeholder-listing-form {
    z-index: 2;
    background: $white;
    // position: relative;
    position: absolute;
    width: 100%;
  }

  & .stakeholder-listing-wrapper {
    transition: all 1s ease;
    margin-top: 56px;
    height: 95%;
    overflow-y: auto;
    // &.loading-list{margin-top: -150px;}
  }

  .stackholder-form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    & .v-icon {
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px;
      background-color: #f4f3f0;
    }

    .sortIcon.filterActive .v-icon,
    .closeIcon.filterActive .v-icon {
      background-color: $darkred;
      color: #fff;
    }
  }

  .stakeholder-form-outer-open {
    // height: 62% !important;
  }

  .stakeholder-form-outer {

    will-change: height;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;

    overflow: hidden;
    height: 0%;
    transition: all 1s ease;

    .stakeholder-form-content {
      margin-top: 56px;
      padding: 10px;
      transition: all 1s ease 0.2s;
      // height: 0;
      overflow: hidden;

      // z-index: 200;
      // height: 681px;
      // overflow-y: scroll;
      .header {
        font-weight: $font-weight--bold;
      }

      .resultWrapper {
        padding: 10px 0 5px 0;
        border-bottom: 1px solid rgba($gray, 0.2);
      }

      .checkboxWrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;

        .v-input {
          padding: 0;
          margin: 0;
          flex: none;
          margin-right: 15px;

          label {
            font-size: 13px;
          }

          i {
            font-size: 20px;
          }

          .v-input--selection-controls__input {
            margin-right: 2px;
          }
        }
      }

      .textInput {
        margin: 20px 0;
        padding: 0;
        font-size: 14px;

        .v-input__control {
          min-height: 36px;

          .v-input__slot {
            border-radius: 5px;
          }
        }
      }

      .multiselect {
        margin-top: 20px;

        .multiselect__tags {
          padding: 8px 12px;
          // height: 36px;
          background: #f4f3f0;
          line-height: 21px;
          color: rgba($color: #000, $alpha: 0.87);
          border-radius: 5px;
          overflow-y: scroll;
          // overflow-x: scroll;
          -ms-overflow-style: none;
          /* IE and Edge */
          scrollbar-width: none;

          /* Firefox */
          &::-webkit-scrollbar {
            display: none;
          }

          strong.multiselect__strong {
            padding: 5px 10px;
          }

          .multiselect__tags-wrap {
            width: 100%;
          }

          .custom__tag {
            background-color: rgba(224, 223, 220, 1);
            padding: 3px 7px;
            margin: 0 2px;
            border-radius: 10px;
            white-space: nowrap;

            .custom__remove {
              color: rgb(99, 99, 99);
              font-weight: 100;
              padding: 2px;
            }
          }

          input {
            outline: none;
            caret-color: $darkred;
            // margin: 4px 0 0 10px;
          }

          .multiselect__placeholder {
            color: rgba(151, 151, 149, 1);
          }
        }

        .multiselect__content-wrapper {
          position: absolute;
          background-color: #fff;
          z-index: 2;
          padding: 10px 10px;
          width: 94%;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          overflow-y: scroll;
          // box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
          border-radius: 0px;

          .multiselect__content {
            padding-left: 0;
          }

          ul {
            list-style: none;

            li {
              padding: 10px 0;
            }
          }
        }
      }

      .rangesliderWrapper {
        .rangesliderHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;

          .rangesliderTitle {
            font-size: 13px;
            font-weight: $font-weight--bold;
          }

          .rangesliderRange {
            color: $darkred;
            font-weight: $font-weight--bold;
          }
        }

        .v-input--range-slider {
          margin-top: 4px;
          // margin-bottom: 20px;
        }

        .rangesliderFooter {
          transform: translateY(-7px);
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;

          .rangeValue {
            font-size: 12px;
          }
        }
      }

      .emptyFields {
        margin-top: 10px;

        .v-input--selection-controls {
          margin-top: 5px;
        }
      }

      hr {
        margin: 20px 0;
        height: 1px;
        border: none;
        // background-color: rgba($gray,  0.3);
        background: linear-gradient(to right, rgba($gray, 0.1), rgba($gray, 0.4), rgba($gray, 0.4), rgba($gray, 0.4), rgba($gray, 0.1));
      }

      .result {
        padding: 0px 0 20px 0;
        // border-top: 1px solid rgba($gray, 0.5);
        // padding: 20px 0;
        font-weight: $font-weight--bold;
      }
    }
  }

}

.type-label {
  font-size: 14px;
  font-weight: 500;
  padding-right: 20px;
}

.module-parent {
  margin-top: 50px;
  user-select: none;
  display: grid;
  grid-gap: 2px;
  align-content: flex-start;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, 100px);
}

button.theme--light.v-btn.cat-edit-btn {
  margin: 0px;
}

.v-list__tile__title {
  cursor: pointer;
}

.active-cat {
  background: #f4f3f0;
}

.stakeholderFilter-enter-active,
.stakeholderFilter-leave-active {
  // transition-delay: 2s;
  transition: all 0.2s ease;
}

.stakeholderFilter-enter,
.stakeholderFilter-leave-to

/* .list-leave-active below version 2.1.8 */
  {
  opacity: 0;
  transform: translateY(30px);
}
