@import "globalvariables";

.terms_service_title{
  font-size: 45px;
  line-height: 50px;
}
.title{
  padding-bottom: 60px;
  text-align: center;
}
.terms{
  padding: 60px 60px 70px;
  li{
    font-family: Inter;
      font-weight: bold;
      font-size: 16px;
      color: #4C4666;
      margin-bottom: 9px;
      list-style: none;
    p{
      font-family: Inter;
      font-weight: bold;
      font-size: 16px;
      color: #4C4666;
      margin-bottom: 9px;
      strong{
        font-family: Montserrat;
        color: #846bd7;
        font-weight: 900;
      }
    }
  }


}
