@import "globalvariables";
@import "breakpoints";

.toolbar {
  position: fixed;
  top: 260px;
  left: 10px;
  z-index: 100;
  display: flex;
  flex-flow: column;

  // .btn--small .icon {
  //   font-size: 20px;
  // }

  .icon-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*coordinates table needed for debugging
  .coordinates-table {
    margin: 0 12px;
    font-family: monospace;
    font-size: 12px;
    background: white;
    font-weight: 600;
    color: #444444;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(#000, 0.3), 0 0 0 1px rgba(#000, 0.1);
    td {
      text-align: right;
      padding: 0 2px;
    }
    td:first-child {
      text-align: center;
    }
    td:nth-child(1),
    td:nth-child(3) {
      border-right: 1px solid #c3c3cf;
    }
  }
  */

  .vbtn-zoom {
    width: 36px;
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f3f0;
    border-radius: 30px;
  }
  .switch-shape {
    position: relative;
    & .rectangle {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 3px;
      background: $fontgrey;
      border: 2px solid $fontgrey;
      z-index: 3;
      margin-left: -7px;
      margin-top: -7px;
    }
    & .circle {
      position: absolute;
      margin-left: 5px;
      margin-top: 3px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid $fontgrey;
      z-index: 1;
    }
    &.circle-shape {
      & .circle {
        background: $fontgrey;
        z-index: 4;
      }
      & .rectangle {
        background: $lightgrey2;
      }
    }
  }
  
  .v-btn--icon.active {
    background-color: rgb(241, 89, 42) !important;
  }
  .v-btn--icon.active i,
  .v-btn--icon.active span {
    color: #fff;
  }

  @include breakpoint(mobile) {
    top: 100px;
    /* margin-top: 400px;
    & > button,
    & .vbtn-zoom .zoom-in,
    & .vbtn-zoom .zoom-out,
    & .vbtn-zoom .switch-shape {
      display: none;
    }
    & .vbtn-zoom .reset-zoom {
      margin: 6px 6px;
    } */
  }
}
