
  @import url(https://fonts.googleapis.com/css?family=Raleway);
  @import "breakpoints";

  .area-2 {
    padding-left: 50%;
  }

  .area-3 {
    padding-left: 70%;
  }

  .area-4 {
    padding-left: 30%;
  }

  .tour-modal {
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    background: #f9fbff;
    color: #000000;
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.5);
    padding: 0;
    z-index: 10;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #F1592A !important;
    padding: 20px;
  }

  .modal-header--closebtn {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
    color: #d1d1d1;

    &:hover {
      color: #5c5edc;
    }
  }

  .modal-body-title {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  .modal-body {
    height: 100%;
    padding: 20px;
  }

  .modal-body-content {
    height: 100%;
  }

  .modal-actions {
    display: flex;
    /*justify-content: flex-end;*/
    padding: 5px;

  }

  .arrow {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
  }

  .up-arrow {
    left: 10px;
    bottom: 100%;
    border-bottom: 20px solid #F1592A;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .right-arrow {
    left: 100%;
    bottom: 65%;
    border-left: 20px solid #F1592A;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .left-arrow {
    right: 100%;
    bottom: 65%;
    border-right: 20px solid #F1592A;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
  }

  
  button.primary-orange {
    background-color: #F1592A !important;
    color: white;
  }
  .modal-actions{
    .v-btn__content{
      color:#f7f7f7!important;
    }
  }