<template>
  <v-app id="inspire">
    <v-layout id="darckBg" align-center justify-center>
      <v-card fluid fill-height class="d-flex login-wrapp">
        <nuxt />
        <v-card class="green-box" outlined tile>
          <v-layout justify-center column>
            <h3>10x faster</h3>
            <p>
              Don’t Google for weeks, add a company name, we do the rest. Like
              enhancing company records with URL, revenue, industry etc.
            </p>
            <h3>100x cheaper</h3>
            <p>
              Competitors that offer similar solutions, charge up to USD 100’000
              / year
            </p>
            <h3>Better usability</h3>
            <p>
              Use perceptual maps and bubble charts to communicate market
              insights fast, intuitive and emotional
            </p>
          </v-layout>
        </v-card>
      </v-card>
    </v-layout>
  </v-app>
</template>

<script>
export default {
  components: {},
}
</script>

<style src="~/assets/styles/loginBg.scss" lang="scss"></style>
