<template>
  <v-app id="inspire">
    <Header/>
    <nuxt/>
    <!-- <Footer/> -->
    <login-modal/>
    <register-modal/>
   <!-- <intro-video-modal/> -->
    <Footer />
  </v-app>
</template>

<script>
import Header from '../components/Header'
import Footer from '../components/Footer'
import LoginModal from '~/components/modals/Login'
import RegisterModal from '~/components/modals/Register'
// import IntroVideoModal from '~/components/modals/IntroVideo'

export default {
  components: {
    Header,
    Footer,
    LoginModal,
    RegisterModal,
    // IntroVideoModal,
  },
}
</script>

<style src="~/assets/styles/main.scss" lang="scss"></style>


