<template>
  <div
    class="boardLoading"
  >
      <loading
        width="48px"
        height="336px"
        class="leftTab"
      />
    <v-layout wrap>
      <div  v-for="n in 9"
           :key="n"
           class="item"
      >
        <div v-if="n===5" class="center-element">
          <loading
            height="20px"
          />
          <loading
            height="10px"
          />
        </div>
        <div v-else>
          <loading
            height="20px"
          />
          <loading
            v-for="i in 6"
            :key="i"
            xs4
            width="70px"
            height="70px"
            :circle="n % 2 === 0 "
          />
        </div>

      </div>

    </v-layout>

  </div>
</template>

<script>
  import Loading from './Loading'

  export default {
    components: {
      Loading,
    },
    methods: {
    },
  }
</script>
<style  lang="scss">
  .boardLoading{
    width:100%;
    max-width: 900px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .item{
      width: 28%;
      margin: 2% ;
    }
    .center-element{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }
    .leftTab{
      position: fixed;
      left: 10px;
      top: 228px;
      border-radius: 20px;
    }
    .SkeletonBox{
    }

  }
</style>

