<template lang="html">
  <span></span>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    loading: false,
  }),
  computed: {
    ...mapGetters({
      routerLoading: 'routerLoading',
    }),
  },
  mounted() {
    // (this.routerLoading)
  },
  methods: {},
}
</script>

<style scoped>
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  font-family: sans-serif;
}
</style>
