<template>
  <keep-alive>
    <section>
      <!-- Main -->
      <div
        class="main-board"
        :class="{ 'full-width': !sidebarVisible }"
        v-if="loading || error"
      >
        <div class="d-flex align-center pa-5" style="height: 100%;">
          <loading />
          <div v-if="error" class="text-xs-center">
            <div>
              <v-icon color="red lighten-2" style="font-size: 72px;">
                mdi-alert
              </v-icon>
            </div>
            <div><code v-html="error" /></div>
            <v-btn
              outlined
              @click="loadBoard"
              small
              class="my-3"
              color="green darken-3"
            >
              <v-icon>mdi-refresh</v-icon>
              &nbsp; Retry
            </v-btn>
          </div>
        </div>
      </div>
      <board
        class="main-board"
        :class="{
          'full-width': !sidebarVisible,
          'full-width-for-embed': isEmbeded,
        }"
        :selection="selection"
        v-else
      />
      <tabs
        class="tab-container step-2"
        v-if="!isEmbeded && !isNoTutorial && !isShared"
        :class="{ 'slide-tabs': !sidebarVisible }"
      />

      <board-list
        v-if="!isEmbeded || !isNoTutorial"
        :class="{ 'full-width': !sidebarVisible }"
      />

      <!-- <v-btn v-show="!isEmbeded"
           dark
           fixed
           bottom
           fab
           title="Select stakeholders to make a group"
           :color="selection ? 'blue' : 'grey'"
           style="left: 85px"
           @click="enableSelection">
      <v-icon>mdi-relative-scale</v-icon>
    </v-btn> -->

      <!-- All modals -->
      <add-module />
      <info-modal />

      <edit-modal />
      <type-modal />
      <board-modal />
      <reset-modal />
      <embed-modal />
      <auto-generation-form-modal />
      <auto-generation-payment-modal />
      <auto-generation-empty-modal />
      <auto-generation-animation-modal />
      <stripePaymentModal />
      <tour v-if="tour && !isShared" @closeTour="closeTour"></tour>
    </section>
  </keep-alive>
</template>

<script>
import { mapGetters } from 'vuex'

import Tabs from '~/components/board/Tabs'
import Board from '~/components/board/Board'
import BoardList from '~/components/board/BoardList'
import AddModule from '~/components/modals/AddModule'
import TypeModal from '~/components/modals/TypeForm'
import InfoModal from '~/components/modals/InfoModal'
import EditModal from '~/components/modals/EditInfoModal'
import BoardModal from '~/components/modals/BoardModal'
// import LoginModal from '~/components/modals/Login'
// import IntroVideoModal from '~/components/modals/IntroVideo'
// import RegisterModal from '~/components/modals/Register'
import ResetModal from '~/components/modals/Reset'
import EmbedModal from '~/components/modals/EmbedModal'
import AutoGenerationFormModal from '~/components/modals/AutoGenerationForm'
import AutoGenerationPaymentModal from '~/components/modals/AutoGenerationPayment'
import AutoGenerationEmptyModal from '~/components/modals/AutoGenerationEmpty'
import AutoGenerationAnimationModal from '~/components/modals/AutoGenerationAnimation'
import Tour from '~/components/Tour'
import iziToast from 'izitoast'
import Loading from '../components/loading/BoardLoading'
import stripePaymentModal from '../components/modals/stripePaymentModal'

export default {
  layout: 'main',
  components: {
    BoardList,
    Tabs,
    Board,
    AddModule,
    InfoModal,
    EditModal,
    TypeModal,
    BoardModal,
    // LoginModal,
    // IntroVideoModal,
    // RegisterModal,
    ResetModal,
    EmbedModal,
    AutoGenerationFormModal,
    AutoGenerationPaymentModal,
    AutoGenerationEmptyModal,
    AutoGenerationAnimationModal,
    Tour,
    Loading,
    stripePaymentModal,
  },
  validate({ params }) {
    //return !params.hash || /^[a-fA-F0-9]{32}$/.test(params.hash)
    /** 
      
      Validation Criteria
      - Will not contain any "/"
      - Is not "about", "login", "logout", "registration", "tehmine", "terms"
      - Must Contain = 

      **/
    // console.log('HashPage Parems', params)
    return (
      !params.hash ||
      /^[a-fA-F0-9]{32}$/.test(params.hash) ||
      params.hash.indexOf('-') > -1
    )
  },
  data: () => ({
    error: null,
    tour: true,
  }),
  head() {
    return {
      meta: [
        {
          name: 'og:image',
          content:
            'https://api.ecomap.io/api/v2/board/' +
            this.$route.params.hash +
            '/export?download=false',
        },
      ],
    }
  },
  computed: {
    ...mapGetters({
      loading: 'board/loading',
      selection: 'enableSelection',
      sidebarVisible: 'sidebarVisible',
      boardList: 'board/boardList',
    }),
    loggedIn() {
      this.checkBoard()
      return this.$store.state.auth.loggedIn
    },
    isShared() {
      return this.$route.query.share !== undefined
    },
    isEmbeded() {
      // console.log('isEmbeded', this.$route.query)
      return this.$route.query.embed
    },
    isNoTutorial() {
      // console.log(this.$route.query)
      return this.$route.query.notutorial
    },
    userDetails() {
      return this.$store.state.auth.user
    },
  },
  watch: {
    loggedIn() {
      this.loadBoard()
    },
  },
  mounted() {
    window.$('html, body').css('overflow', 'hidden')
    var footer = document.getElementById('footer')
    footer.classList.add('inBoard')

    this.loadBoard()
    this.browser()
    this.checkBoard()
    // console.log(this.isShared(), 'isShared')
    // this.tour = false
  },
  destroyed() {
    window.$('html, body').css('overflow', 'auto')
    var footer = document.getElementById('footer')
    footer.classList.remove('inBoard')
  },
  methods: {
    async loadBoard() {
      try {
        if (this.$route.params.hash) {
          await this.$board.load({ hash: this.$route.params.hash })
          this.$set(this, 'error', null)
        } else {
          this.$store.commit('board/updateStore', {
            loading: false,
          })
        }
      } catch (err) {
        let message = 'Could not load the board'
        if (err.response) {
          message = err.response.data.error
          if (typeof message !== 'string') {
            message = Object.values(message).filter((x) => !!x)
            message = message.map((x) => x.join('<br>')).join('<br>')
          }
        }
        this.$set(this, 'error', message)
      }
    },
    showAddModule() {
      if (!this.loggedIn) {
        this.$notify.error({
          title: 'Unauthorized',
          message: 'Please login first to add new module',
        })
        return this.$store.commit('showLoginModal', true)
      }
      this.$store.commit('showAddModule', true)
    },
    enableSelection() {
      this.$store.commit('enableSelection', !this.selection)
    },
    closeTour(val) {
      // console.log('emit: ' + val)
      this.tour = false
      this.$('.tour-modal').hide()
    },
    browser() {
      if (
        (navigator.userAgent.indexOf('Opera') ||
          navigator.userAgent.indexOf('OPR')) !== -1
      ) {
        //
      } else if (navigator.userAgent.indexOf('Chrome') !== -1) {
        //
      } else if (navigator.userAgent.indexOf('Safari') !== -1) {
        //
      } else if (navigator.userAgent.indexOf('Firefox') !== -1) {
        //
      } else if (
        navigator.userAgent.indexOf('MSIE') !== -1 ||
        !!document.documentMode === true
      ) {
        //IF IE > 10
        iziToast.warning({
          timeout: 0,
          theme: 'dark',
          // title: 'Warning',
          position: 'center',
          title:
            'Your browser doesn\'t support features required to use this product. <br>(Please use Chrome or Firefox)',
          backgroundColor: '#FF0000',
          color: '#FFFFFF',
          maxWidth: '30%',
        })
      } else {
        //
      }
    },
    checkBoard() {
      const boards = this.boardList && this.boardList.concat([{}])
      let board = boards && boards.length
      if (boards.length === 1) {
        board = !_.isEmpty(boards[0])
      }

      this.tour = !board
      if (board) {
        this.$('.tour-modal').hide()
      }

      return board
    },
  },
}
</script>

<style>
/* html, body {
    overflow: hidden;
  } */
</style>

<style scoped>
.main-board {
  user-select: none;
  position: fixed;
  top: 60px;
  right: 0px; /*old 350px;*/
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.tab-container {
  user-select: none;
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 350px;
}

@media (max-width: 959px) {
  .main-board.full-width {
    right: 0;
  }
}

.full-width-for-embed {
  right: 0 !important;
}
</style>
<style>
.iziToast-title {
  text-align: center !important;
}
</style>
