<template>
  <main>
    <div class="container-grey">
      <div class="subcontainer padding-bottom-top">
        <!-- <h1>Ecomap</h1> -->
    <img width="300" src="~/static/logo2.png">

        <div class="button-container"> 
          <button
            type="button"
            name="tryit-1"
            onclick="location.href='http://ecomap.io'">Try it</button>
          <button
            type="button"
            name="buyit"
            onclick="location.href='http://ecomap.io/pricing'"
          >Buy it</button>
        </div>

        <h2 class="h2-first">
          A collaboration platform for giving people
          <span
            class="primary"
          >insights on business ecosystems</span> in an easy-to-update, content-rich and interactive way.
        </h2>

        <iframe src="//ecomap.io/d91978d2ca2398c211bbe088f5b6bf94"/>
        <button
          type="button"
          name="tryit-1"
          onclick="location.href='http://ecomap.io/d91978d2ca2398c211bbe088f5b6bf94'"
        >Go to Blockchain ecosystem</button>
      </div>
    </div>

    <div class="container-white">
      <div class="subcontainer padding-bottom-top">
        <h2 class="primary">More insights</h2>
        <h3>Want to know more about the Chinese bike sharing market?</h3>
        <img
          class="gif"
          src="/video/ChineseBikeSharing.gif"
          alt="Ecomap drag n drop">
        <p>
          If you have some knowledge about the market,
          <span
            class="primary"
          >start your ecosystem by dragging</span> organisations from the libraries to the board. In case you have no knowledge about the market, but would like to learn more,
          <a
            href="mailto:info@tobiasstraumann.com"
          >request a researcher</a> to create an ecosystem for you.
        </p>
        <button
          type="button"
          name="tryit-2"
          onclick="location.href='http://ecomap.io'"
        >Create ecosystem</button>
      </div>
    </div>

    <div class="container-grey">
      <div class="subcontainer padding-bottom-top">
        <h2 class="primary">Create relationships</h2>
        <h3>Want to have some context?</h3>
        <img
          class="gif"
          src="/video/Relationships.gif"
          alt="Create relationships">
        <p>
          Show the
          <span class="primary">relationships between one or more stakeholders</span>. Connect them via a 1-to-1 junction or by grouping them.
        </p>
        <button
          type="button"
          name="tryit-3"
          onclick="location.href='http://ecomap.io'"
        >Communicate context</button>
      </div>
    </div>

    <div class="container-white">
      <div class="subcontainer padding-bottom-top">
        <h2 class="primary">Smart data</h2>
        <h3>Need more data?</h3>
        <img
          class="gif gif-small"
          src="/video/info-popup.gif"
          alt="Info Pop-Up">
        <p>
          Click on the blue info symbol and you will see, there is
          <span
            class="primary"
          >more data available</span>, in case you are missing data, feel free to add it. More smart data, that can be used to visualize relative sizes of organisations.
        </p>
        <button
          type="button"
          name="tryit-3"
          onclick="location.href='http://ecomap.io'"
        >Add some additional data</button>
      </div>
    </div>

    <div class="container-grey">
      <div class="subcontainer padding-bottom-top">
        <h2 class="primary">Collaborate together</h2>
        <h3>Excited to share your work?</h3>
        <img
          class="gif gif-small"
          src="/video/sharing.png"
          alt="Sharing">
        <p>
          Ecomap allows to work in private mode on an ecosystem, but you can also work with several people up to the whole public on an ecosystem.
          <span
            class="primary"
          >Share your ecosystem</span> with whoever you want, by posting the link to the board on social media or inviting people via email link to see it.
        </p>

        <!-- AddToAny BEGIN -->
        <div>
          <a
            href="https://www.addtoany.com/share#url=http%3A%2F%2Fecomap.io&amp;title="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/a2a.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/whatsapp?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/whatsapp.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/linkedin?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/linkedin.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/facebook?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/facebook.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/email?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/email.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/twitter?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/twitter.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/telegram?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/telegram.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/reddit?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/reddit.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/wechat?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/wechat.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/google_gmail?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/gmail.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/trello?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/trello.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/blogger?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/blogger.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/xing?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/xing.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/threema?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/threema.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
          <a
            href="https://www.addtoany.com/add_to/tumblr?linkurl=http%3A%2F%2Fecomap.io&amp;linkname="
            target="_blank"
          >
            <img
              src="https://static.addtoany.com/buttons/tumblr.svg"
              width="32"
              height="32"
              style="background-color:royalblue"
            >
          </a>
        </div>
        <!-- AddToAny END -->
      </div>
    </div>

    <div class="container-white">
      <div class="subcontainer padding-bottom-top">
        <h2 class="primary">Need help?</h2>
        <button
          type="button"
          name="tryit-1"
          onclick="location.href='mailto: info@tobiasstraumann.com'"
        >Book a demo</button>
      </div>
    </div>
  </main>
</template>

<style src="~/assets/styles/about.scss" lang="scss"></style>
