<template>
  <v-container class="login">
    <h2 class="l-title">You’re one click away from a market map!</h2>
    <form @submit.prevent="submitForm">
      <v-card-text>
        <v-text-field
          class="l-fild"
          required
          type="email"
          name="email"
          height="40px"
          autocomplete="false"
          label="Email"
          v-model="form.email"
          :error-messages="errors.collect('login')"
          v-validate
        />
        <v-text-field
          class="l-fild"
          required
          v-validate
          v-model="form.password"
          :error-messages="errors.collect('password')"
          name="password"
          height="40px"
          label="Password"
          type="password"
        />
      </v-card-text>
      <v-card-actions>
        <v-btn
          class="px-4 primary-btn"
          :loading="loading"
          :disabled="errors.any()"
          color="#FB6E00"
          type="submit"
          margin-bottom="60px"
        >
          Sign in
        </v-btn>
      </v-card-actions>
      <v-spacer></v-spacer>
      <p class="go-to">
        Forgotten your password?
        <span @click="goToReset">Reset</span>
      </p>
      <p class="go-to">
        Don’t have an account?
        <span @click="goToReg">Sign up</span>
      </p>
    </form>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'loginBg',
  data: () => ({
    loading: false,
    form: {
      email: null,
      password: null,
    },
  }),
  computed: mapGetters({
    dialog: 'loginModal',
    modules: 'board/modules',
    unsaved: 'board/unsaved',
    boardList: 'board/boardList',
  }),
  methods: {
    goToReg() {
      this.$router.push('/registration')
    },
    goToReset() {
      this.$router.push('/reset-password')
      //this.$store.commit('showResetModal', true)
    },
    async resetForm() {
      this.form.password = null
      await this.$nextTick()
      this.$validator.reset()
    },
    async submitForm() {
      if (this.loading) return false
      try {
        this.loading = true
        await this.$auth.loginWith('local', {
          data: this.form,
        })
        await this.resetForm()
        this.$notify.success({
          title: 'Welcome!',
          message: `${this.$auth.user.name}`,
        })

        if (this.unsaved) {
          let board = await this.$board.saveAfterLogin(this.$store.state.board)
          if (board) {
            this.$notify.success({
              title: 'Saved',
              message: 'Saved all unsaved work!',
            })
          }
          return
        }
        if (this.modules && this.modules.length) {
          this.$store.commit('board/updateStore', {
            unsaved: true,
          })
          this.$store.commit('showBoardModal', true)
        }
        this.$router.push('/')
      } catch (err) {
        // console.error(err)
        let message = 'Failed to sign in'
        if (err.response) {
          message = err.response.data.error
          if (typeof message !== 'string') {
            message = Object.values(message).filter((x) => !!x)
            message = message.map((x) => x.join(', ')).join('; ')
          }
        }
        this.$notify.error({
          title: 'Failed',
          message: message,
        })
      } finally {
        await this.$nextTick()
        this.loading = false
      }
    },
    checkOwnership() {
      let owner = false
      this.boardList.forEach((el) => {
        // console.log(el.hash, this.$route.params.hash)
        if (el.hash === this.$route.params.hash) {
          owner = true
        }
      })
      return owner
    },
  },
}
</script>

<style src="~/assets/styles/login.scss" lang="scss"></style>
