<template>
  <v-container 
    fluid 
    fill-height>
    <v-layout 
      align-center 
      justify-center>
      <v-flex 
        xs12 
        sm8 
        md4>
        <v-card class="elevation-12">
          <v-toolbar 
            color="primary" 
            class="py-3">
            <v-toolbar-title>Logging out...</v-toolbar-title>
          </v-toolbar>
          <v-card-text class="py-5">
            <atom-spinner class="mx-auto"/>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
export default {
  layout: 'main',
  mounted() {
    this.$auth.logout().then(() => {
      localStorage.clear()
      this.$router.push('/login')
    })
  },
}
</script>
