<template>
  <div class="text-xs-center back">
    <div style="width: 100%;">
      <div class="display-2 mt-1" style="font-weight: 300; color: #446;">
        Choose your plan
      </div>
      <div
        style="
          width: 500px;
          height: 2px;
          background: #778;
          border-radius: 50%;
          margin: 10px auto;
        "
      />
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      "
    >
      <!-- Guest Pricing -->
      <price-card name="guest" class="mt-1">
        <v-btn
          slot="action"
          disabled
          class="px-3 v-btn v-btn--text theme--light"
          color="#f1592a"
        >
          <template v-if="user">
            <v-icon>mdi-alert-circle</v-icon>
            Not Applicable
          </template>
          <template v-else>
            <v-icon class="pr-2">mdi-check</v-icon>
            You are a Guest
          </template>
        </v-btn>
      </price-card>

      <!-- Free Pricing -->
      <price-card name="free" class="mt-1">
        <v-btn
          slot="action"
          disabled
          class="px-3 v-btn v-btn--text theme--light"
          color="#f1592a"
          v-if="user && user.premium"
        >
          <v-icon>mdi-alert-circle</v-icon>
          Not Applicable
        </v-btn>
        <v-btn
          slot="action"
          disabled
          class="px-4 v-btn theme--light"
          color="#f1592a"
          v-else-if="user"
        >
          <v-icon>mdi-check</v-icon>
          Subscribed
        </v-btn>
        <div slot="action" class="d-flex" v-else>
          <v-btn class="px-4 primary-btn" color="#f1592a" @click="showLogin">
            Login
          </v-btn>
          <v-spacer />
          <v-btn class="px-4 primary-btn" color="#f1592a" @click="showRegister">
            Register
          </v-btn>
        </div>
      </price-card>

      <!-- Premium Pricing -->
      <price-card name="premium" class="mt-1">
        <v-btn
          slot="action"
          :dark="!isPremium"
          class="px-3 primary-btn"
          color="#f1592a"
          @click="registerPremium"
          :loading="paymentInProgress"
          :disabled="isPremium"
        >
          <v-icon class="pr-2">
            {{ isPremium ? 'mdi-check' : 'mdi-credit-card' }}
          </v-icon>
          {{ isPremium ? 'Subscribed' : 'Subscribe' }}
        </v-btn>
        <v-btn
          slot="action"
          v-if="isPremium"
          class="px-3 primary-btn"
          color="#f1592a"
          @click="unsubscribePremium"
          :loading="loading || dialog"
        >
          <v-icon class="pr-2">mdi-close</v-icon>
          Unsubscribe
        </v-btn>
      </price-card>

      <!-- Enterprise Pricing -->
      <price-card name="enterprise" class="mt-1">
        <v-btn
          slot="action"
          class="px-4 primary-btn"
          color="#f1592a"
          @click="showContactUs"
        >
          <v-icon class="pr-2">mdi-email</v-icon>
          Contact Us
        </v-btn>
      </price-card>
    </div>
    <contact-us></contact-us>
    <stripe-payment-modal></stripe-payment-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PriceCard from '~/components/PriceCard'
import ContactUs from '~/components/modals/ContactUs'
import StripePaymentModal from '../components/modals/stripePaymentModal'

const TIMEOUT = 5000

export default {
  layout: 'main',
  components: {
    PriceCard,
    ContactUs,
    StripePaymentModal,
  },
  data: () => ({
    dialog: false,
    loading: false,
  }),
  computed: {
    ...mapGetters({
      prices: 'getPrices',
      paymentInProgress: 'stripePaymentModal',
    }),
    user() {
      return this.$store.state.auth.user
    },
    isPremium() {
      return this.user && this.user.premium && this.user.monthly
    },
  },
  mounted() {
    this.loadPrices()
  },
  methods: {
    async loadPrices() {
      try {
        var price = await this.$axios.$get('/payment/prices')
      } catch (err) {
        this.$sentry.captureException(err)
      }
      var prices = {}
      console.log(price)
      price.data.data.forEach((priceObj) => {
        if (priceObj.nickname === 'OneTime') {
          prices.OneTime = priceObj
        } else if (priceObj.nickname === 'Premium') {
          prices.Premium = priceObj
        } else {
          prices.Enterprise = priceObj
        }
      })
      this.$store.commit('setPrices', prices)
    },
    showLogin() {
      this.$store.commit('showLoginModal', true)
    },
    showRegister() {
      this.$store.commit('showRegisterModal', true)
    },
    showContactUs() {
      this.$store.commit('showContactModal', true)
    },
    contactUs() {
      //
    },
    registerPremium() {
      if (!this.user) {
        return this.showRegister()
      }
      const $this = this
      this.$set(this, 'dialog', true)

      this.$store.commit('setPaymentDetails', {
        price: this.prices.Premium,
        type: 'monthlySubscription',
        status: null,
      })

      this.$store.commit('showStripePaymentModal', true)
      // this.$checkout.open({
      //   timeout: TIMEOUT,
      //   amount: 4990,
      //   email: this.user.email,
      //   description: 'Subscribe as premium user for 1 month',
      //   closed() {
      //     $this.$set($this, 'dialog', false)
      //   },
      //   token(token) {
      //     $this.processToken(token.id)
      //   },
      // })
    },
    async unsubscribePremium() {
      if (!this.user) {
        return this.showRegister()
      }
      let self = this
      this.$notify.question({
        timeout: 20000,
        close: false,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'Confirm this action',
        message: 'Are you sure about this?',
        position: 'center',
        buttons: [
          [
            '<button><b>YES</b></button>',
            function (instance, toast) {
              instance.hide(
                { transitionOut: 'fadeOut' },
                toast,
                'button_confirm',
              )
            },
            true,
          ],
          [
            '<button>NO</button>',
            function (instance, toast) {
              instance.hide(
                { transitionOut: 'fadeOut' },
                toast,
                'button_ignore',
              )
            },
          ],
        ],
        onClosed: async function (instance, toast, closedBy) {
          // console.log(closedBy)
          if (closedBy === 'button_confirm') {
            try {
              self.$set(self, 'loading', true)
              await self.$axios.$post('/user/unsubscribe')
              self.$notify.success({
                title: 'Success!',
                message: 'You are unsubscribed from Premium plan.',
              })
            } catch (err) {
              // console.log(err)
              self.$notify.error({
                message: 'Something went wrong. Please try again later.',
                title: 'Error',
              })
              this.$sentry.captureException(err)
            } finally {
              await self.$nextTick()
              window.location.reload()
              self.$set(self, 'loading', false)
            }
          }
        },
      })
    },
    async processToken(token) {
      this.$set(this, 'loading', true)
      try {
        await this.$axios.post('/user/subscribe', { token })
        window.location.reload()
      } catch (err) {
        this.$notify.error({
          title: 'Subscription failed',
          message: err.response ? err.response.data.error : err.toString(),
        })
        this.$sentry.captureException(err)
      } finally {
        this.$set(this, 'loading', false)
      }
    },
  },
}
</script>

<style lang="scss" src="~/assets/styles/pricing.scss"></style>
