<template>
  <v-container class="login">
    <h2 class="l-title">
      Get started with Ecomap
      <br />
      Sign-up for free!
    </h2>
    <form @submit.prevent="submitForm">
      <v-card-text>
        <v-text-field
          class="l-fild"
          type="text"
          name="name"
          height="40px"
          required
          autocomplete="false"
          label="Username"
          v-model="form.name"
          :error-messages="serverErrors.name || errors.collect('name')"
          v-validate
        />
        <v-text-field
          class="l-fild"
          required
          type="email"
          name="email"
          height="40px"
          autocomplete="false"
          label="Email address"
          v-model="form.email"
          :error-messages="serverErrors.email || errors.collect('email')"
          v-validate
        />
        <v-text-field
          class="l-fild"
          required
          type="company"
          name="company"
          height="40px"
          autocomplete="false"
          label="Company"
          v-model="form.company"
          :error-messages="serverErrors.company || errors.collect('company')"
          v-validate
        />
        <v-text-field
          class="l-fild"
          required
          type="password"
          name="password"
          height="40px"
          label="Enter Password"
          autocomplete="false"
          v-model="form.password"
          :error-messages="serverErrors.password || errors.collect('password')"
          v-validate="'required|min:5'"
        />
        <v-text-field
          class="l-fild"
          required
          type="password"
          height="40px"
          autocomplete="false"
          name="password_confirmation"
          label="Confirm Password"
          v-model="form.password_confirmation"
          :error-messages="
            serverErrors.password_confirmation ||
            errors.collect('password_confirmation')
          "
          v-validate="'required|min:5'"
        />
      </v-card-text>
      <v-card-actions>
        <v-btn
          class="primary-btn"
          center
          :loading="loading"
          :disabled="errors.any()"
          color="#FB6E00"
          type="submit"
        >
          Create account
        </v-btn>
      </v-card-actions>
      <p class="terms">
        By signing up, you agree to our
        <span @click="goToTerms">Terms of service</span>
      </p>
      <p class="go-to">
        Already have an account?
        <span @click="goToLogin">Sign in</span>
      </p>
    </form>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'loginBg',
  data: () => ({
    loading: false,
    serverErrors: {},
    form: {
      name: null,
      email: null,
      company: null,
      password: null,
      password_confirmation: null,
    },
  }),
  computed: mapGetters({
    dialog: 'registerModal',
    unsaved: 'board/unsaved',
    modules: 'board/modules',
  }),
  mounted() {},
  methods: {
    goToTerms() {
      this.$router.push('/terms')
    },
    goToLogin() {
      this.$router.push('/login')
    },
    resetForm() {
      this.form.password = null
      this.$nextTick(() => this.$validator.reset())
    },
    async submitForm() {
      if (this.loading) return false
      this.$set(this, 'loading', true)
      this.$set(this, 'serverErrors', {})
      try {
        // validate data
        let result = await this.$validator.validateAll()
        if (!result) return false

        if (this.form.password !== this.form.password_confirmation) {
          return this.$set(this, 'serverErrors', {
            password_confirmation:
              'The password confirmation does not match the password.',
          })
        }

        // try out registration
        await this.$axios.$post('/auth/register', this.form)

        // login if success
        await this.$auth.loginWith('local', {
          data: {
            email: this.form.email,
            password: this.form.password,
          },
        })

        // reset form and notify user afterwards
        await this.resetForm()
        this.$notify.success({
          title: 'Success!',
          message: 'Thanks for signing up!',
        })
        if (this.unsaved) {
          let board = await this.$board.saveAfterLogin(this.$store.state.board)
          if (board) {
            this.$notify.success({
              title: 'Saved',
              message: 'Saved all unsaved work!',
            })
          }
          this.$router.push('/' + board.hash)
          return
        }
        if (this.modules && this.modules.length) {
          this.$store.commit('board/updateStore', {
            unsaved: true,
          })
          this.$store.commit('showBoardModal', true)
          return
        }
        this.$router.push('/')
      } catch (err) {
        let message = ((err && err.stack) || '').split('\n')[0] || ''
        // handle validation error
        // if (err.response && err.response.data) {
        //   this.$set(this, 'serverErrors', err.response.data.error || {})
        //   message = err.response.data.error || message
        //   if (typeof(message) !== 'string') {
        //     message = 'Some fields have invalid input'
        //   }
        // }
        if (err.response && err.response.data) {
          message = err.response.data?.message || 'Unknown Error'
        }
        console.log('API Error2:', err.response)
        // general notification
        this.$notify.error({
          message,
          title: 'Failed to register',
        })
      } finally {
        this.$set(this, 'loading', false)
      }
    },
  },
}
</script>

<style src="~/assets/styles/login.scss" lang="scss"></style>
