<template>
  <v-container class="login">
    <h2 class="l-title">
      Reset Password
    </h2>
    <form @submit.prevent="submitForm">
      <v-card-text>
        <v-text-field
          class="l-fild"
          required
          type="email"
          name="email"
          height="40px"
          autocomplete="false"
          label="Email address"
          v-model="form.email"
          :error-messages="serverErrors.email || errors.collect('email')"
          v-validate
        />
      </v-card-text>
      <v-card-actions>
        <v-btn
          class="primary-btn"
          center
          :loading="loading"
          :disabled="errors.any()"
          color="#FB6E00"
          type="submit"
        >
          Reset Password
        </v-btn>
      </v-card-actions>

      <p class="go-to">
        Already have an account?
        <span @click="goToLogin">Sign in</span>
      </p>
    </form>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'loginBg',
  data: () => ({
    loading: false,
    serverErrors: {},
    form: {
      name: null,
      email: null,
      password: null,
      password_confirmation: null,
    },
  }),
  computed: mapGetters({
    dialog: 'registerModal',
    unsaved: 'board/unsaved',
    modules: 'board/modules',
  }),
  mounted() {},
  methods: {
    goToTerms() {
      this.$router.push('/terms')
    },
    goToLogin() {
      this.$router.push('/login')
    },
    resetForm() {
      this.form.password = null
      this.$nextTick(() => this.$validator.reset())
    },
    async submitForm() {
      if (this.loading) return false
      this.$set(this, 'loading', true)
      this.$set(this, 'serverErrors', {})
      try {
        // validate data
        let result = await this.$validator.validateAll()
        if (!result) return false

        // try out registration
        const data = await this.$axios.$post('/auth/forgot-password', this.form)

        await this.resetForm()
        this.$notify.success({
          title: 'Success!',
          message: data.data,
        })

        this.$router.push('/login')
      } catch (err) {
        let message = ((err && err.stack) || '').split('\n')[0] || ''
        // handle validation error
        if (err.response && err.response.data) {
          this.$set(this, 'serverErrors', err.response.data.error || {})
          message = err.response.data.error || message
          if (typeof message !== 'string') {
            message = 'Some fields have invalid input'
          }
        }
        // general notification
        this.$notify.error({
          message,
          title: err.message,
        })
      } finally {
        this.$set(this, 'loading', false)
      }
    },
  },
}
</script>

<style src="~/assets/styles/login.scss" lang="scss"></style>
