<template>
  <main class="terms">
    <div class="title">
      <h1 class="terms_service_title title-bold">Terms Of Service</h1>
      <p class="info-text">Last updated: March 14, 2021</p>
      <p class="info-text-bold">Welcome to Ecomap GmbH. Please read our Terms Of Service carefully so you can familiarise yourself with the rules and restrictions that cover and govern your use of our website (www.ecomap.io, app.ecomap.io) and any other associated web sites, web apps, products, services, and applications (the “Service”, “Platform”). If you have any questions, comments, queries, or concerns regarding our Terms please email  <a href="mailto:legal@ecomap.io" class="select">legal@ecomap.io</a>.
      These Terms Of Service (the “Terms”, “Agreement”) are a binding contractual relationship between you (“you”, “your”, “person”, “user” or “parties”, will mainly be referred to as “you” or “your”) and Ecomap GmbH (“us”, “we”, “our”, “Ecomap”, and the “Company”). By using this Service in any way you agree to accept all of the terms specified in this policy. They will remain in effect whilst you use our Service or use any Data from our Service. These Terms govern your access to the service and all use of Data, Maps, Content, and other information on Ecomap's websites and applications.</p>
    </div>

<ul>
  <h2>1. Introduction and general terms</h2>
    <ul>
      <li>1.1 Ecomap reserves the right to refuse any user access to the Platform or Service or terminate access to any user at any time.</li>
      <li>1.2 If you enter this Agreement on behalf of a legal entity or other company, you represent to us that you have the authority granted by set company to be bound by these Terms Of Service, and in this case “you” or “your” will refer to that company.</li>
      <li>1.3 You may not access this Service if you are directly competing with Ecomap, unless you are given express consent by our management team.</li>
      <li>1.4 Except if otherwise written, these Terms govern all contractual relations with all users and parties using this Service. Whenever any contract entered does not contain terms which explicitly supersede these Terms Of Service, our Terms Of Service will be used.</li>
      <li>1.5 You agree to use the service only for the purposes that are permitted by these Terms Of Service, and in accordance with any applicable law or general accepted practices or guidelines of the relevant jurisdictions.</li>
    </ul>
  <h2>2. Will these Terms ever change?</h2>
    <ul>
      <li>2.1 We are constantly trying to improve our Service, so these Terms can and may need to change along with the Service. We reserve the right to change these Terms at any time, but if we change these Terms, we will bring it to your attention on Ecomap's website.</li>
      <li>2.2 If you don’t agree with any new Terms, you are free to reject them; unfortunately, that means you will no longer be able to use the Service. If you use the Service in any way after a change to these Terms is effective, that means you agree to all of the changes.</li>
      <li>2.3 Except for changes by us as described here, no other amendments or modifications of these Terms will be effective unless in writing and signed by you and Ecomap.</li>
    </ul>
  <h2>3. Privacy</h2>
    <ul>
      <li>3.1 Ecomap takes the privacy of its users very seriously. To read our current Privacy Policy, please  <a href="https://www.iubenda.com/privacy-policy/47945680/legal?ifr=true&height=800&newmarkup=no&an=no" class="select">click here</a>.</li>
      <li>3.2 We reserve the right to make changes to our Privacy Policy at any point in the future. If we change our Privacy Policy, we will bring it to your attention on Ecomap’s website. If you don’t agree with all changes to the Privacy Policy, you are free to reject them; unfortunately, that means you will no longer be able to use the Service. If you use the Service in any way after a change to the Privacy Policy is effective, that means you agree to all of the changes</li>
      <li>3.3 The Children’s Online Privacy Protection Act (“COPPA”) requires that online service providers obtain parental consent before they collect personally identifiable information online from children who are under 16 years old. We do not knowingly collect personal information of people under 16 years old. Please do not submit any personal information or attempt to register for this Service if you're under 16 years old. If you wish to register a company and are under 16 years old, please have the member of your team that registered the company do this. If we find out that we have information of somebody under the age of 16 years, we will delete this information on them as soon as we can. If you believe someone under the age of 16 has provided personal information please contact us at  <a href="mailto:legal@ecomap.io" class="select">legal@ecomap.io</a></li>
    </ul>
  <h2>4. Service agreement</h2>
    <ul>
      <li>4.1 When you use our Service, you will be required to sign up for an account and create a password and provide an email. You promise to provide us only information you know to be true, accurate, complete and lawfully obtained. You may not sell or transfer your account to another person, party or user. You have the responsibility to inform the Company of any unauthorised use of your account. You also promise not to impersonate someone by using their name on the Platform. You are responsible for any action undertaken by your account including, but not limited to: Data manipulation, hate speech, impersonation, insider trading and any other illegal activity. You will only use this Service in a way that complies with all local and applicable laws, we are not responsible in any way for your use of this Service that breaks any laws. At any time we can delete Content we believe to be untrue, misleading, illegal or otherwise not useful. You also represent that you are of legal age to use this Service and to create a binding contract.</li>
      <li>4.2 If the Platform is down, we will offer as many days as the Platform is down as free for the next billing cycle, which can stack.</li>
    </ul>
  <h2>5. Restrictions</h2>
    <ul>
      <li>5.1 You represent, warrant, guarantee, agree, and comply that you will not (i) submit information to our Platform/Service or any other affiliated product of Ecomap, or (ii) use any product/service of ours in a way that:</li>
      <ul>
        <li>(a) Infringes or violates the intellectual property rights or any other rights of anyone else;</li>
        <li>(b) Violates any law or regulation, including any applicable export control laws;</li>
        <li>(c) Is harmful, fraudulent, deceptive, threatening, harassing, defamatory, obscene, hateful, misogynistic, homophobic or otherwise objectionable;</li>
        <li>(d) Puts your Ecomap account in any kind of threat of hacking or illegal use;</li>
        <li>(e) Attempts to use any other user’s account, or password or any other security information;</li>
        <li>(d) Attempts to, or violates the security of our or any other computer network or cracks any passwords or security codes;</li>
        <li>(g) Runs any form of auto-responder or “spam” on the Service, including automated messaging through our portal, or any processes that run or are activated while you are not logged into the Service, or that otherwise interfere with the proper working of the Service (including by placing an unreasonable load on the Service’s infrastructure);</li>
        <li>(h) “Crawls,” “scrapes,” or “spiders” any page, Data, or portion of or relating to the Service or Content (through use of manual or automated means), in other words any deep-link, robot, spider or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the Platform or Content;</li>
        <li>(i) Circumvents or attempts to circumvent any features, limitations, or restrictions of the Service (including, without limitation, attempting to access, download, export, or otherwise use or exploit any Content using any automated means or tools);</li>
        <li>(j) Copies or stores any significant portion of the Content, in this case more than 15 company profiles, including screenshots and printing, without prior written consent;</li>
        <li>(k) Decompiles, reverse engineers, or otherwise attempts to obtain the source code or underlying ideas or information of or relating to the Service;</li>
        <li>(l) Reproduces or circumvents the navigational structure or presentation of the Platform or any Content, to obtain or attempt to obtain any materials, documents or information through any means not specifically made available through the Platform;</li>
        <li>(m) Allows any unauthorised third parties or persons from accessing or using the Data in a way that would constitute a breach of these Terms;</li>
        <li>(n) Uploads or distributes files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of the Platform or Service;</li>
        <li>(o) Utilises the Data for any purpose or project other than the permitted use as set forth in these Terms;</li>
        <li>(p) Commercially exploit the Platform, in any manner, that shall constitute a business loss to us or generate any third-party revenue.</li>
      </ul>
      <li>5.2 A violation of any of the preceding terms (a) - (o) are grounds for account suspension or termination of your license to use or access the Service. The following is a highlighted as a significant passage with punitive measures that can be triggered if this section is ignored:</li>
      <li>5.3 No user can make use of the map functionality to create a public (public in this case means accessible to anyone outside the user’s organisation) martech, fintech, regtech, greentech maps or any kind of map exceeding 100 nodes (companies/organisations or brands on a map) that can be used for marketing, without the prior consent and approval of Ecomap. Any user who has used our technology to create public maps without approval will be subject to pay damages to any of Ecomap's customers who have paid for public rights and damages to Ecomap beginning at CHF 10,000 per breach.</li>
    </ul>
  <h2>6. Intellectual property and copyright</h2>
    <ul>
      <li>6.1 Ecomap shall at all times retain full ownership and all rights in respect of all intellectual property it owns and which relates to the website.</li>
      <li>6.2 Any materials that are shown or displayed or visible or available through our Service, including, but not limited to, text, graphics, Data, articles, information, photos, images, illustrations, user submissions (all of the foregoing, the “Content”) are protected by copyright and intellectual property laws. You confirm you will comply with all copyright notices, trademark rules, information, and restrictions contained in any Content you access through the Service in any way. You will not use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute, perform, upload, display, license, sell, or otherwise exploit for any purpose any Content not owned by you in a way that violates someone else’s (including Ecomap’s) rights.</li>
      <li>6.3 You understand that Ecomap owns and runs the Service. You won’t modify, publish, transmit, participate in the transfer or sale of, reproduce (except as expressly provided in this section), create derivative works based on, re-sell, sublicense, re-distribute, or otherwise exploit any aspect of the Service. If you would like to use Content in any manner other than as expressly permitted by these Terms please email  <a href="mailto:legal@ecomap.io" class="select">legal@ecomap.io</a> so we can set out a bespoke Terms Of Service document.</li>
      <li>6.4 We respect all others’ intellectual property rights and will comply with any lawful request to remove lawfully protected Content from our servers. We reserve the right to remove or disable any Content that we deem to be infringing others’ intellectual property and terminate any accounts guilty of this.</li>
      <li>6.5 This Agreement grants no implied license, right or interest in or to any copyright, patent, trade secret, trademark, URL, domain, invention or other intellectual property right of Ecomap.</li>
      <li>6.6 All present and future rights in and to any trade secrets, copyright, trademark or any other proprietary material contained in the Platform shall continue to remain the sole property of Ecomap, even after the discontinuation.</li>
    </ul>
  <h2>7. Data Use</h2>
  <li>For the full Privacy Policy and to see how we use and collect Data, please see our complete Privacy Policy.</li>
    <ul>
      <li>7.1 Any Data you upload, share or store through our Service, especially related to a company, remains confidential and will not be shared publicly, except for basic information including company name, website URL, description, headquarters’ location, industry, category, revenue, number of employees, founding year, CEO, parent-company, subsidiaries, acquisitions and basic product and Service information, unless otherwise required by a court of law.</li>
      <li>7.2 For all user submissions, you hereby grant Ecomap a royalty-free, perpetual, sublicenseable, irrevocable, and worldwide license to translate, modify (including, without limitation, for technical purposes), reproduce, and otherwise act with respect to such user submissions, in each case to enable us to operate the Service, as described in more detail below. This is a license only – your ownership in user submissions is not affected.</li>
      <li>7.3 All Data, whether collected automatically while you used Ecomap's Service or provided otherwise by you with an intention to use the Service, including all communications including its employees, officers and associated third parties will be sole property of Ecomap. Discontinuation of services either by you or by removal of service, whether after use or due to disagreement with any conditions or changes in this Agreement, will not result in any change of ownership of Data and the Data thus collected will continue to be sole property of the Company.</li>
      <li>7.4 Ecomap is compliant with GDPR and will honour any lawful deletion requests. If you believe we have information collected on you, and would like it to be deleted, please contact  <a href="mailto:legal@ecomap.io" class="select">legal@ecomap.io</a> and make sure to read our Privacy Policy.</li>
    </ul>
  <h2>8. Non exclusive license</h2>
    <ul>
      <li>8.1 Ecomap grants a non-exclusive, non-transferable, non-sub-licensable and/or limited license to access the Service, solely for your use. You agree that you shall not claim any ownership in or rights to Ecomap including the Data or Content originated by Ecomap. Other than the License to access the Service, you shall not have any right, title or interest in Ecomap.</li>
      <li>8.2 Partial excerpts: notwithstanding anything to the contrary expressed elsewhere in this Agreement, you may incorporate small and insubstantial portions of the Data from the Platform into analysis, presentations or tools for your customers or for your internal use, only to the extent that such Data has no independent commercial value and cannot be used by a recipient as a substitute for purchasing.</li>
    </ul>
  <h2>9. Confidentiality</h2>
    <ul>
      <li>9.1 For the purposes of these Terms Of Service, “Confidential Information” is defined as written business information, strategies, technical data, information, trade secrets and/or other proprietary information of Company relating to the product or process that is a part of the Company that is not disclosed to the public in the ordinary course of business and may or may not be marked as “Confidential Information”.</li>
      <li>9.2 You agree to keep confidential all the information that you may have access to and/or possess by using our Platform or Services. Such confidential information shall, without limitation, include information relating to technical, contractual, product, and pricing matters, as well as other valuable information that should be reasonably understood as confidential.</li>
      <li>9.3 You hereby agree to use the same degree of care that you use to protect your own confidential information and will not use the Confidential Information, except for its intended use, and will not disclose to third parties said Confidential Information except upon written permission of the Company or where otherwise required by law. Ecomap is and shall remain the owner of said Confidential Information and, upon termination of your subscription you will return any Confidential Information to Ecomap. Your obligations relating to Confidential Information shall not extend to information which: (a) is in or comes into the public domain from a source other than the Company; (b) was independently known or developed by you or already possessed by you at the time of disclosure; (c) came from a third party source not under obligation to Company to maintain confidentiality thereof; and/or (d) is required to be disclosed by operation of law.</li>
    </ul>
    <h2>10. Change of Service</h2>
      <ul>
        <li>10.1 Changes to the Service may happen over time. We may suspend or discontinue any part of the Service, or we may introduce new features or impose limits on certain features or restrict access to parts or all of the Service. We’ll aim to give you notice when we make any major or material changes to the Service that would adversely affect you, but this isn’t always practical. Similarly, we reserve the right to remove any Content from the Service at any time, for any reason (including, but not limited to, if someone alleges you contributed that Content in violation of these Terms), to our sole discretion, and without notice.</li>
      </ul>
    <h2>11. Pricing</h2>
      <ul>
        <li>11.1 We reserve the right to charge for all services. You agree to pay all fees which apply to your use of the Service. Ecomap reserves the right to change any fees and pricing applicable to the Service at any time upon notice to you (which may be sent by email or posted on Ecomap's website). Your continued use of the Service following such notification constitutes your acceptance of any new or increased fees.</li>
      </ul>
    <h2>12. Disclaimer of warranties and liabilities</h2>
      <ul>
        <li>12.1 These Terms apply to your use of all the Service and any related products, on any platform or device.</li>
        <li>12.2 You expressly understand and agree that your use of the Platform and Service is at your sole risk and that the services are provided “as is” and “as available” without warranty or any kind, express, implied, statutory or otherwise.</li>
        <li>12.3 Ecomap's subsidiaries or affiliates do not represent or warrant to you that, (i) the Platform and your use of the services shall meet your requirements, (ii) your use of the Platform or services shall be free from error, timely, secure, or uninterrupted, or (iii) any errors or defects in the services or the Platform will be corrected. No advice or information, whether oral or written, obtained by you from the Company or through or from use of the Services shall create any warranty not expressly stated in the Terms Of Service. We will not be responsible or liable for the accuracy, copyright compliance, legality, or decency of material contained in or accessed through the Service. We (and our licensors and suppliers) make no representations or warranties regarding suggestions or recommendations of services or products offered or purchased through the Service. Products and services purchased or offered (whether or not following such recommendations and suggestions) through the Service are provided “as is” and without any warranty of any kind from Ecomap or others (unless, with respect to such others only, provided expressly and unambiguously in writing by a designated third party for a specific product).</li>
        <li>12.4 Ecomap will not be liable for any loss that you may incur as a consequence of unauthorised use of your account or account information in connection with the Platform or any services, either with or without your knowledge. Ecomap shall not be responsible for the delay or inability to use the Platform or related functionalities, failure to provide functionalities, or for any information, software, functionalities and related graphics obtained through the Platform, or otherwise arising out of the use of the Platform, whether based on contract, tort, negligence, strict liability or otherwise. Further, Ecomap shall not be held responsible for non-availability of the Platform during periodic maintenance operations or any unplanned suspension of access to the Platform that may occur due to technical reasons or for any reason beyond Ecomap’s control. Ecomap accepts no liability for any errors or omissions, with respect to any information provided to you whether on behalf of itself or third parties.</li>
        <li>12.5 Any information or Content publicly posted or privately transmitted through the Service is the sole responsibility of the person or organization from whom such Content originated, and you access all such information and Content at your own risk, and we aren’t liable for any errors or omissions in that information or Content or for any damages or loss you might suffer in connection with it. We cannot control and have no duty to take any action regarding how you may interpret and use the Content or what actions you may take as a result of having been exposed to the Content, and you hereby release us from all liability for you having acquired or not acquired Content through the Service. We can’t guarantee the identity of any users with whom you interact when using the Service and are not responsible for which users gain access to the Service.</li>
        <li>12.6 You are responsible for all Content you contribute, in any manner, to the Service, and you represent and warrant you have all rights necessary to do so, in the manner in which you contribute it. You will keep all your registration information accurate and current. You are responsible for all your activity in connection with the Service. The Service may contain Content, Data, links or connections to or from third party websites or services that are not owned or controlled by Ecomap (“Third-Party Services”). When you access or use Third-Party Services, you accept that there are risks in doing so, and that Ecomap is not responsible for such risks. We encourage you to be aware when you leave the Service and to read the terms and conditions and privacy policy of each Third-Party Service that you visit or utilize.</li>
        <li>12.7 Ecomap is only a facilitator amongst its clients/registered users. Any contract between you and any other registered user on the Platform shall be strictly a contract between you and such registered user(s) and Ecomap shall not be a party to the same. This may also include certain offline services which may be provided by the Company, which shall provide an opportunity to the users of the Platform to interact with other registered users of the Platform in an offline mode. The risk of any losses or damages incurred by you due to any such contract or usage of any information or Data provided on the Platform shall be solely upon you. The Company shall not and is not required to mediate or resolve any dispute or disagreement between you and such registered user(s).</li>
        <li>12.8 If there is a dispute between participants on this site, or between users and any third party, you agree that Ecomap is under no obligation to become involved. In the event that you have a dispute with one or more other users, you release Ecomap and its officers, employees, agents, and successors from claims, demands, and damages of every kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and/or our Service.</li>
        <li>12.9 Any material or Data downloaded or otherwise obtained through the use of the Platform is obtained at your own discretion and risk. You shall be solely responsible for any damage to your computer system or other device or loss of Data that results from the download of any such material or Data.</li>
        <li>12.10 Indemnity. You agree to indemnify and hold Ecomap, its affiliates, officers, agents, employees, and partners harmless from and against any and all claims, liabilities, damages (actual and consequential), losses and expenses (including attorneys’ fees) arising from or in any way related to any third party claims relating to (a) your use of the Service (including any actions taken by a third party using your account), and (b) your violation of these Terms.</li>
        <li>12.11 Assignment. You may not assign, delegate or transfer these Terms or your rights or obligations hereunder, or your Service account, in any way (by operation of law or otherwise) without Ecomap’s prior written consent. We may transfer, assign, or delegate these Terms and our rights and obligations without consent.</li>
        <li>12.12 Limitation of liability. To the fullest extent allowed by applicable law, under no circumstances and under no legal theory (including, without limitation, tort, contract, strict liability, or otherwise) shall Ecomap (or its licensors or suppliers) be liable to you or to any other person for (a) any indirect, special, incidental, or consequential damages of any kind, including damages for lost profits, loss of goodwill, work stoppage, accuracy of results, or computer failure or malfunction, or (b) any amount, in the aggregate, in excess of the greater of (i) CHF 300 or (ii) the amounts paid by you to Ecomap in connection with the services in the twelve (12) month period preceding this applicable claim, or (iii) any matter beyond our reasonable control. Some states do not allow the exclusion or limitation of certain damages, so the above limitation and exclusions may not apply to you.</li>
        <li>12.13 Choice of Law; Arbitration. These Terms are governed by and will be construed under the laws of Switzerland. Any dispute arising from or relating to the subject matter of these Terms (whether brought against Ecomap or against any director, officer or employee of Ecomap in their personal capacity) shall be finally settled in Zug, Switzerland, in English.</li>
        <li>12.14 Miscellaneous. You will be responsible for paying, withholding, filing, and reporting all taxes, duties, and other governmental assessments associated with your activity in connection with the Service, provided that Ecomap may, in its sole discretion, do any of the foregoing on your behalf or for itself as it sees fit. The failure of either you or us to exercise, in any way, any right herein shall not be deemed a waiver of any further rights hereunder. If any provision of these Terms is found to be unenforceable or invalid, that provision will be limited or eliminated, to the minimum extent necessary, so that these Terms shall otherwise remain in full force and effect and enforceable. You and Ecomap agree that these Terms are the complete and exclusive statement of the mutual understanding between you and Ecomap, and that it supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of these Terms. You hereby acknowledge and agree that you are not an employee, agent, partner, or joint venture of Ecomap, and you do not have any authority of any kind to bind Ecomap in any respect whatsoever. You and Ecomap agree there are no third party beneficiaries intended under these Terms.</li>
      </ul>
</ul>

    <ul>
    <li>Contact us by email: <a href="mailto:legal@ecomap.io" class="select">legal@ecomap.io</a></li>
    </ul>

  </main >
</template>

<script>

  export default {
    layout: 'main',

    head() {
      return {
        meta: [
          { name: '', content: 'https://api.ecomap.io/api/v2/board/' },
        ],
      }
    },

  }
</script>

<style src="~/assets/styles/terms.scss" lang="scss"></style>
