<template>
  <section>
    <!-- Main -->
    <Confirm />
    <Info />
  </section>
</template>

<script>
  import {mapGetters} from 'vuex'

  import Confirm from '~/components/stakeholder/Confirm'
  import Info from '~/components/stakeholder/Info'
  // import Board from '~/components/board/Board'

  export default {
    layout: 'main',
    components: {
      Confirm,
      Info,
      // Board,
    },
    data: () => ({
      error: null,
    }),
    head() {
      return {
        meta: [
          { name: 'og:image', content: 'https://api.ecomap.io/api/v2/board/' + this.$route.params.hash + '/export?download=false' },
        ],
      }
    },
    computed: {
      ...mapGetters({
      }),
    },
    methods: {
      async loadBoard() {
        
      },
      
      
    },
  }
</script>


<style src="~/assets/styles/stakeholder.scss" lang="scss"></style>

