<template>
  <keep-alive>
    <v-dialog v-model="dialog" :persistent="true" max-width="620px">
      <v-card class="add-module">
        <div class="pa-2 d-flex">
          <h3 class="title-bold" style="font-size: 16px;">
            Creating new stakeholder Ecomap
          </h3>
        </div>
        <form @submit.prevent="submitForm">
          <v-card-text>
            <select-image
              ref="imageForm"
              v-model="form.image"
              @onOpen="onOpen"
            />
          </v-card-text>
          <div class="pa-2" v-if="logoName.length > 0">
            Try "{{ logoName }} logo" or "{{ logoName }} logo symbol"
          </div>
          <v-card-text v-if="!openImage" class="py-0 mt-3">
            <!-- <v-autocomplete
              :items="items"
              color="#FB6E00"
              label="Stakeholder name"
              v-model="item"
              :get-label="getDropdownStakeholderName"
              :min-len="0"
              @update-items="loadCompanySuggestions"
              :component-item="tpl"
              @item-selected="companyDropdownSelected"
              @item-clicked="companyDropdownClicked"
              :input-attrs="{ name: 'input-test', id: 'v-my-autocomplete' }"
            >
            </v-autocomplete> -->

            <v-text-field
              v-if="dialog"
              color="#FB6E00"
              v-model.trim="form.name"
              label="Stakeholder name"
              :counter="50"
              @keyup="loadCompanySuggestions"
              @keydown="loadCompanySuggestions"
              placeholder="e.g. Coca Cola"
              hint="Company name, brand name, organization name..."
              autofocus
              required
              @blur="bluronDropdown"
            />

            <div
              class="dropdown-container"
              v-for="(singleitem, index) in items"
              @click="companyDropdownClicked(singleitem)"
              v-bind:key="index"
            >
              <v-autocomplete-tpl v-bind:item="singleitem" />
            </div>

            <v-text-field
              color="#FB6E00"
              v-model.trim="form.info.website"
              class="mt-3"
              label="Website"
              @focus="hideCompanyDropDown"
              placeholder="e.g. www.coca-cola.com"
            />

            <Select
              :item="{
                id: 'industry',
                name: 'Industry',
                options: [],
                placeholder: 'Search in industry',
              }"
              :addNew="false"
              @selectValue="selectValue"
              :valueS="form['industries']"
            />

            <v-textarea
              color="#FB6E00"
              v-model.trim="form.info.details"
              class="mt-3"
              label="Short description"
              :counter="255"
              placeholder="e.g. The Coca-Cola Company is an American multinational corporation, and manufacturer, retailer, and marketer of nonalcoholic beverage concentrates and syrups. "
              rows="3"
            />

            <!-- <multiselect
              v-model='form.industries'
              id='ajax'
              label='title'
              track-by='title'
              placeholder="Industry (E.g 'RegTech', 'Account...)"
              open-direction='bottom'
              :options='industries'
              :multiple='true'
              :searchable='true'
              :loading='isLoading'
              :internal-search='false'
              :clear-on-select='true'
              :close-on-select='true'
              :options-limit='300'
              :taggable='true'
              :limit='10'
              :max-height='150'
              :show-no-results='true'
              :hide-selected='true'
              @search-change='listCorrection'
              @remove='remove'
            >
              <template
                slot='tag'
                slot-scope='{ option, remove }'
              >
                <span class='custom__tag'>
                  <span>{{ option.title }}</span>
                  <span
                    class='custom__remove'
                    @click='remove(option)'
                  >✖</span>
                </span>
              </template>
              <span slot='noResult'>Nothing found. Try changing the search query.</span>
              <span slot='noOptions'>Please enter a search query.</span>

            </multiselect> -->

            <!-- <v-select
              color="#FB6E00"
              v-model="form.type_id"
              class="mt-3"
              label="Tag stakeholder"
              :items="newType"
              item-text="name"
              item-value="id"
              required
            /> -->
          </v-card-text>
          <v-card-actions v-if="!openImage" class="mt-5">
            <v-btn
              class="white"
              color="#fff"
              small
              depressed
              @click.stop="hideModal"
            >
              Close
            </v-btn>
            <v-btn
              type="submit"
              class="orange-btn"
              color="#FB6E00"
              small
              depressed
              :loading="loading"
            >
              Create
            </v-btn>
          </v-card-actions>
          <v-card-actions v-else class="mt-5">
            <v-btn
              class="white"
              color="#fff"
              small
              depressed
              @click.stop="hideModal"
            >
              Close
            </v-btn>
            <v-btn
              class="orange-btn"
              color="#FB6E00"
              small
              depressed
              @click="selectImage"
              :loading="loading"
            >
              Select
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </keep-alive>
</template>

<script>
import { mapGetters } from 'vuex'
import SelectImage from '../forms/SelectImageAdd'
import tpl from '../_mini/StakeholderDropdown'
import _ from 'lodash'
// import Autocomplete from 'v-autocomplete'
// import Multiselect from 'vue-multiselect'
import Select from '../stakeholder/Select'

export default {
  components: {
    SelectImage,
    // 'v-autocomplete': Autocomplete,
    'v-autocomplete-tpl': tpl,
    // Multiselect,
    Select,
  },
  data: () => ({
    dialog: false,
    logoName: '',
    loading: false,
    newType: [],
    openImage: false,
    item: {
      name: 'Enter Text',
      logo: '',
      domain: '',
    },
    items: [],
    tpl: tpl,
    form: {
      name: '',
      info: {
        website: '',
        details: '',
      },
      industries: [],
      type_id: '1',
      image: '',
    },
    industries: [],
  }),
  computed: {
    ...mapGetters({
      types: 'types/get',
      display: 'addModuleModal',
      selectedType: 'types/selected',
      sidebarVisible: 'sidebarVisible',
    }),
    selectedTypeId() {
      for (const type of this.types) {
        if (type.name == this.selectedType) {
          return type.id
        }
      }
      return 0
    },
  },
  watch: {
    display(val) {
      console.log('display add stakeholder')
      let newType = [...this.types]
      newType.shift()
      this.$set(this, 'newType', newType)
      this.$set(this, 'dialog', !!val)
      if (!val) return
      this.$nextTick(() => {
        this.clearForm()
        if (typeof val === 'string') {
          this.$set(this.form, 'name', val)
          this.$refs.imageForm.updateQuery(val)
          this.getImages()
        }
      })
    },
    'form.name'(val) {
      let staticText = ''
      if (typeof val === 'string' && val.length > 0) {
        staticText = ' logo'
      }
      this.$set(this, 'logoName', val)
      this.$refs.imageForm.updateQuery(val + staticText)
    },
    dialog(v) {
      if (!v) this.hideModal()
    },
  },

  methods: {
    selectValue(props) {
      console.log(props)
    },
    getIndustry: _.debounce(async function (query) {
      this.isLoading = true

      if (query && query.length > 2) {
        const params = {
          q: query,
        }
        try {
          const data = await this.$axios.$get('/industry', { params })
          this.industries = data
        } catch (err) {
          // this.$sentry.captureException(err)
          console.error(err)
        }
        // console.log(data, 'industry')
      }
      this.isLoading = false
    }, 500),
    listCorrection(query) {
      this.getIndustry(query)
      let elementList = document.querySelectorAll(
        '.module-list li.multiselect__element',
      )
      if (elementList.length > this.industries.length) {
        elementList[0].parentNode.removeChild(elementList[0])
      }
    },
    getDropdownStakeholderName(item) {
      if (item) {
        return item.name
      }

      return ''
    },
    hideModal() {
      if (!this.display) return
      this.openImage = false
      this.$store.commit('showAddModule', null)
    },
    getImages() {
      this.$refs.imageForm.getImages()
    },
    selectImage(e) {
      e.preventDefault()
      this.$refs.imageForm.closeSearch()
    },
    clearForm() {
      this.$set(this, 'loading', false)
      this.$set(this, 'form', {
        name: '',
        info: {
          website: '',
          details: '',
        },
        image: '',
        type_id: this.selectedTypeId,
      })
      this.$refs.imageForm.clearForm()
    },
    onOpen(e) {
      this.openImage = e
    },
    _companySuggest: _.debounce(function (text) {
      console.log('EXECUTED', text)

      let that = this

      var requestOptions = {
        method: 'GET',
        redirect: 'follow',
      }

      fetch(
        `https://autocomplete.clearbit.com/v1/companies/suggest?query=${text}`,
        requestOptions,
      )
        .then((response) => response.json())
        .then((result) => {
          console.log(result)
          if (result.length == 0)
            that.items = [
              {
                name: text,
                domain: '',
                logo: '',
              },
            ]
          else that.items = result
        })
        .catch((error) => console.log('error', error))
    }, 300),
    loadCompanySuggestions(e) {
      let text = e.target.value
      // console.log("Loading Suggestions for ", text)

      if (text.length > 2) {
        if (e.key && e.key === 'Backspace') {
        } else this._companySuggest(text)
      } else {
        let that = this
        setTimeout(() => {
          that.items = []
        }, 300)
      }
    },
    bluronDropdown() {
      let that = this
      setTimeout(() => {
        that.hideCompanyDropDown()
      }, 500)

      this.getImages()
    },
    hideCompanyDropDown() {
      this.items = []
    },
    companyDropdownClicked(item) {
      console.log('Clicked', item.name)
      console.log('Clicked', item.domain)
      this.form.name = item.name
      this.form.image = item.logo
      this.form.info.website = item.domain
      // console.log("Clicked", item.logo)
      // this.items = []
    },
    async submitForm() {
      try {
        this.loading = true
        this.form.info.image = this.form.image
        await this.$axios.post('/module/add', this.form)
        // set the selected type
        for (const type of this.types) {
          if (type.id == this.form.type_id) {
            this.$store.commit('types/SELECT', null)
            await this.$nextTick()
            this.$store.commit('types/SELECT', type.name)
            break
          }
        }
        // notify success
        if (!this.sidebarVisible) {
          this.$store.dispatch('toggleSidebar')
        }
        this.$store.commit('updateActiveTab', 0)
        this.$store.commit('types/SELECT', 'All')
        this.$store.commit('board/updateSearch', this.form.name)
        this.hideModal()
        this.clearForm()
        this.$notify.success({
          title: 'Success',
          message: `Stakeholder '${this.form.name}' added`,
        })
      } catch (err) {
        console.error(err)
        let message = 'Could not add stakeholder'
        if (err.response) {
          message = err.response.data.error.message
          let code = err.response.data.error.code
          if (code === 101 && message) {
            if (!this.sidebarVisible) {
              this.$store.dispatch('toggleSidebar')
            }
            this.$store.commit('updateActiveTab', 0)
            this.$store.commit('types/SELECT', 'All')
            this.$store.commit('board/updateSearch', this.form.name)
            this.hideModal()
          }
          if (typeof message !== 'string') {
            message = Object.values(message).filter((x) => !!x)
            message = message.map((x) => x.join(', ')).join('; ')
          }
        }

        this.$notify.warning({
          title: 'Failed',
          message: message,
          backgroundColor: '#FFFF50',
        })
      } finally {
        await this.$nextTick()
        this.loading = false
      }
    },
  },
}
</script>

<style lang="scss">
.add-module {
  padding: 30px 40px 40px;
  .v-card__text {
    padding: 0;
  }
  .title-bold {
    text-align: center;
  }
  .v-toolbar {
    padding: 0;
    background-color: transparent !important;
  }
  .close {
    position: absolute;
    right: 0;
    top: 28px;
  }
  .v-label {
    font-family: Inter;
    font-size: 13px;
    line-height: 15px;
    color: #4c4666 !important;
  }
  .v-input--is-focused {
    input,
    textarea {
      color: #fb6e00 !important;
    }
  }
  .v-input {
    input,
    textarea {
      &::placeholder {
        font-family: Inter;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #b6b0cf;
      }
    }
  }
  .v-text-field__details,
  .v-messages__wrapper,
  .v-counter {
    font-family: Inter;
    font-size: 12px;
    line-height: 14px;
    color: #b6b0cf;
  }
  .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: #e9edf3;
  }
  .theme--light.v-text-field:not(.v-input--has-state)
    > .v-input__control
    > .v-input__slot:hover:before {
    border-color: #b6b0cf;
  }
  .v-card__actions {
    justify-content: space-between;
    .v-btn {
      width: 45%;
    }
  }
  .add-text {
    border: 1px solid #b6b0cf;
    .v-btn__content {
      color: #b6b0cf;
    }
  }
  .add {
    height: 36px;
    padding: 8px 33px;
  }
}
</style>
