<template>
  <v-dialog :value="dialog" :persistent="true" max-width="330px">
    <v-card id="autoGenerationFormModal">
      <v-toolbar color="white">
        <v-toolbar-title color="white">Get a market overview in seconds!</v-toolbar-title>
      </v-toolbar>
      <form @submit.prevent="submitForm">
        <v-card-text>
          <v-autocomplete
            class="marketMapAutocomplete"
            v-model="form.industry"
            :items="items"
            :hide-no-data="true"
            :clearable="true"
            append-icon
            :loading="autocompleteLoading"
            :search-input.sync="search"
            color="#FB6E00"
            item-text="title"
            item-value="title"
            label
            placeholder="Enter market"
            hint="e.g. Artificial Intelligence or Biotechnology"
            persistent-hint
            return-object
          ></v-autocomplete>
          <v-divider></v-divider>

          <v-flex class="sort-wrapper" xs12 d-inline-flex align-center>
            <v-subheader class="pa-0">2. Sorted by</v-subheader>

            <v-select
              v-model="form.order"
              :items="orders"
              label="Select"
              class="pa-0 ma-0"
              hide-details
              single-line
            ></v-select>
          </v-flex>
          <div v-if="form.industry">
            We found
            <strong>{{searchCompaniesCount}}</strong> companies that match your search
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            block
            class="primary-btn"
            :loading="loading"
            :disabled="disabled"
            color="#FB6E00"
            type="submit"
          >Generate</v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>


<script>
  import {mapGetters} from 'vuex'
  import autoGenerationMap from '~/assets/data/autoGenerationMap'

  export default {
    layout: 'main',
    data: () => ({
      loading: false,
      disabled: true,
      isMouseDown: false,
      isMouseUp: false,
      serverErrors: {},
      descriptionLimit: 60,
      industries: [],
      autocompleteLoading: false,
      autoGenerationData: null,
      search: null,
      searchCompaniesCount: 0,
      form: {
        industry: null,
        order: 'revenue',
      },
      orders: [
        'revenue',
      ],
    }),
    computed: {
      ...mapGetters({
        dialog: 'autoGenerationFormModal',
        autoGenerationBoard: 'board/autoGenerationBoard',
      }),
      loggedIn() {
        return this.$store.state.auth.loggedIn
      },
      items() {
        return this.industries
      },
    },
    methods: {
      hideModal() {
        this.$store.commit('showAutoGenerationFormModal', null)
      },
      clearIndustry() {
        this.count = 0
        this.industries = []
      },
      validateSearch(val){
        return  val && val.length > 2
      },
      fetchIndustryDebounced() {
        clearTimeout(this._searchTimerId)
        this._searchTimerId = setTimeout(() => {
          this.fetchIndustry()
        }, 500) /* 500ms throttle */
      },
      sleep(ms) {
        return new Promise(
          resolve => setTimeout(resolve, ms),
        )
      },
      async fetchIndustry() {
        if (!this.validateSearch(this.search)) {
          this.autocompleteLoading = false
          return
        }
        const params = {
          q: this.search,
          is_parent: 0,
        }
        try{
          let result = await this.$axios.$get('/industry', { params })
          if(result && Array.isArray(result)){
            if(result.length === 0){
              result.push({id:0,title:this.search})
            }
            this.industries = result
          }else{
            this.industries = [
              {id:0,title:this.search},
            ]
          }
        } catch(err) {
          this.$sentry.captureException(err)
        }
        this.autocompleteLoading = false
      },
      async showAnimation(){
        this.$store.commit('showAutoGenerationAnimationModal', true)
        await this.sleep(6000)
        this.$store.commit('showAutoGenerationAnimationModal', false)
      },
      async submitForm() {
        if (this.loading) return false
        this.loading = true
        await this.showAnimation()
        if(this.autoGenerationData){
          if (!this.loggedIn) {
            this.$notify.error({
              title: 'Unauthorized',
              message: 'Please sign in first to generate',
            })
            this.loading = false
            return this.$store.commit('showLoginModal', true)
          }
          this.setAutoGenerationData()
        }else{
          this.$store.commit('showAutoGenerationEmptyModal', true)
          this.hideModal()
        }
        this.loading = false
      },
      async checkAdmin(){
        try{
          
          var data = await this.$axios.$get('/check-admin')
          console.log(data)

        }catch(err){
          
          this.$sentry.captureException(err)
        
        }
      },
      async setAutoGenerationData(){
        try{
          var data = await this.$axios.$get('/payment/check-premium')
          var is_premium = data.data.premium
        } catch(err) {
          this.$sentry.captureException(err)
        }
        console.log('is_premium : ', is_premium)
        // let is_premium = false
        if(this.autoGenerationData) {
          if(is_premium === 1){
            let data = this.autoGenerationData
            let title = this.form.industry.title
            this.$store.commit('board/setAutoGenerationBoard', {data, title, autoGenerationMap})
            this.createBoard()
          } else {
            // console.log('industry', this.form.industry)
            this.$store.commit('setAutogenerationMapData', {
              industry: this.form.industry,
              order_by: `module."${this.form.order}"`,
            })
            this.$store.commit('showAutoGenerationPaymentModal', true)
            this.hideModal()
          }
        }
      },
      async createBoard(){
        try {
          this.hideModal()
          this.$store.commit('showAutoGenerationAnimationModal', true)
          let board = await this.$board.create(this.autoGenerationBoard)
          this.$notify.success({title: 'Created Auto-generated Map'})
          this.$router.push('/' + board.hash + '?share')
        }catch (err) {
          this.$notify.error({
            title: 'Failed to create board',
            message: err.response ? err.response.data.error : err.toString(),
          })
        }finally {
          this.$store.commit('showAutoGenerationAnimationModal', null)
        }
      },
      async getAutoGenerationData(){
        if(this.disabled) return
        try {
          if(this.form.industry.id === 0) {
            this.autoGenerationData = null
            this.searchCompaniesCount = 0
            return
          }
          const params = {
            industry: this.form.industry.id,
            order_by: `module."${this.form.order}"`,
          }
          this.autoGenerationData = await this.$axios.$get('/industry/map', {params})
          this.searchCompaniesCount = 0
          this.autoGenerationData.forEach((item)=>{
            this.searchCompaniesCount += item.modules.length
          })
        } catch (err) {
          console.log(err)
          this.$notify.error({
            message: 'please try again later',
            title: 'System error',
          })
        }
      },
      formValidate(){
        this.disabled = (this.form.industry == null  || this.form.order == null)
      },
    },
    watch: {
      search(val) {
        if (!this.validateSearch(val)) {
          return
        }
        if(this.form.industry && this.form.industry.title === val){
          return
        }
        this.clearIndustry()
        this.autocompleteLoading = true
        this.fetchIndustryDebounced()
      },
      form: {
        handler(val){
          this.formValidate()
          this.getAutoGenerationData()
        },
        deep: true,
      },
      dialog(val){
        setTimeout(()=>{
          if(val){
            let $overlay = document.querySelector('.v-overlay--active')
            if($overlay){
              $overlay.classList.add('overlay-autoGenerationForm')
              $overlay.addEventListener('click',  ()=> {
                this.hideModal()
              })
            }
          }
        },10)
      },
      loggedIn(val){
         if(val === true){
           this.$notify.destroy()
           this.setAutoGenerationData()
           this.checkAdmin()
         }
      },
    },

  }
</script>

<style lang="scss" src="~/assets/styles/auto-generation-form.scss"></style>
