<template>
  <keep-alive>
    <v-dialog max-width="620px">
      <v-card class="add-module">
        <div class="pa-2 d-flex">
          <h3 class="title-bold" style="font-size: 16px;">
            Creating new stakeholder Ecomap
          </h3>
        </div>
        <form @submit.prevent="submitForm">
        </form>
      </v-card>
    </v-dialog>
  </keep-alive>
</template>

<script>
import { mapGetters } from 'vuex'
import _ from 'lodash'

export default {
  components: {
  },
  props: {
    open: {
      type: Boolean,
    },
  },
  data: () => ({
  }),
  computed: {
    ...mapGetters({
      sidebarVisible: 'sidebarVisible',
    }),
  },
  watch: {
  },

  methods: {
  },
}
</script>

<style lang="scss" scoped>
</style>
