<template>
  <v-dialog
    :value="dialog"
    :fullscreen="true"
    :persistent="true"
    :transition="false"
    content-class="dialog-autoGenerationAnimation"
    max-width="600px">
   <div class="market-map-bg" :style="{ backgroundImage: `url(${marketMapBgUrl})` }"></div>
  </v-dialog>
</template>


<script>
  import {mapGetters} from 'vuex'
  import autoGenerationMap from '~/assets/data/autoGenerationMap'

  export default {
    layout: 'main',
    data: () => ({
      loading: false,
      disabled: true,
      email: '',
      rules: {
        required: value => !!value || 'Required.',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        },
      },
    }),
    computed: {
      ...mapGetters({
        dialog: 'autoGenerationAnimationModal',
      }),
      marketMapBgUrl() {
        return require('~/static/images/market-map.gif')
      },
    },
    methods: {
      hideModal() {
        this.$store.commit('showAutoGenerationAnimationModal', null)
      },
    },
  }
</script>

<style lang="scss">
   .dialog-autoGenerationAnimation{
     display: flex;
     .market-map-bg{
       width: 100%;
       height: 100%;
       background-size: cover;
     }
   }
</style>
