<template>
  <v-dialog
    :value="dialog"
    @input="hideModal"
    max-width="330px">
    <v-card id="autoGenerationEmptyModal">
      <v-card-title>We couldn’t create a map, due to not sufficient data.</v-card-title>
      <form @submit.prevent="submitForm">
        <v-card-text>We will send our analyst into the world and gather data for you. Let us know your email and we get back to you:</v-card-text>
        <v-text-field
          v-model="email"
          :rules="[rules.required, rules.email]"
          label="E-mail"
          color="#B6B0CF"
          append-icon="mdi-send"
          :hide-details="true"
          @click:append="sendEmail"
        ></v-text-field>
      </form>
    </v-card>
  </v-dialog>
</template>


<script>
  import {mapGetters} from 'vuex'

  export default {
    layout: 'main',
    data: () => ({
      loading: false,
      disabled: true,
      email: '',
      rules: {
        required: value => !!value || 'Required.',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        },
      },
    }),
    computed: {
      ...mapGetters({
        dialog: 'autoGenerationEmptyModal',
      }),
    },
    methods: {
      hideModal() {
        this.$store.commit('showAutoGenerationEmptyModal', null)
      },
      sendEmail(){
        if(this.rules.email(this.email) === true){
          console.log(true)
          this.$notify.success({
            message: 'Email has been successfully sent',
            title: 'Success',
          })
          this.email = ''
          this.hideModal()
        }
      },
    },
    watch:{
      dialog(val){
        setTimeout(()=>{
          if(val){
            let $overlay = document.querySelector('.v-overlay--active')
            if($overlay){
              $overlay.classList.add('overlay-autoGenerationEmpty')
            }
          }
        },10)
      },
    },

  }
</script>

<style lang="scss" src="~/assets/styles/auto-generation-empty.scss"></style>
