<template>
  <v-dialog
    v-model="dialog" :persistent="true"
    max-width="350px">
    <v-card>
      <v-toolbar
        color="grey lighten-5"
        class="py-2 pr-0 mr-0"
        height="36">
        <v-toolbar-title style="font-size: 24px; font-weight: 400; text-align: left;">Board Details</v-toolbar-title>
        <v-spacer/>
        <v-btn
          icon
          dark
          @click="hideModal">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>

      <form
        class="pb-2 px-2 mt-4"
        @submit.prevent="submitForm">
        <v-card-text class="py-0">
          <v-text-field
            required
            v-model="board.title"
            :counter="50"
            id="title"
            label="Enter a title for the board"
          />
          <v-textarea
            outlined
            :counter="255"
            v-model="board.details"
            label="Describe the board in brief"
          />
          <v-switch
            v-model="publicBoard"
            color="blue"
            hide-details
            label="Public board"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            text
            color="primary"
            @click.stop="hideModal">Close
          </v-btn>
          <v-btn
            type="submit"
            :disabled="submitDisabled"
            class="primary-btn"
            color="#f1592a">Submit
          </v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    data: () => ({
      dialog: false,
      callback: null,
      rules: {counter: ''},
      publicBoard: true,
      board: {
        title: 'Untitled',
        details: null,
        public: 1,
      },
      submitDisabled: false,
    }),
    computed: {
      ...mapGetters({
        saving: 'board/saving',
        loading: 'board/loading',
        display: 'addBoardModal',
        unsaved: 'board/unsaved',
        modules: 'board/modules',
        links: 'board/links',
        groups: 'board/groups',
      }),
      user() {
        return this.$store.state.auth.user
      },
    },
    watch: {
      display(val) {
        this.$set(this, 'dialog', !!val)
        this.initialize(Object.assign({}, val || {}))
      },
      dialog(v) {
        if (!v && this.display) this.hideModal()
      },
      publicBoard(val) {
        if (!val && !this.user.premium) {
          this.$set(this, 'submitDisabled', true)
          this.$notify.info({
            title: 'Only premium user can set board to private',
          })
          return true
        }
        this.$set(this.board, 'public', val ? 1 : 0)
        this.$set(this, 'submitDisabled', false)
        return val
      },
    },
    methods: {
      hideModal() {
        this.$store.commit('showBoardModal', null) 
        if(this.unsaved) {
          this.$store.commit('board/updateStore', {
            unsaved: false,
          })
        }
      },
      initialize(board) {

        board.title = board.title || 'Untitled'
        board.public = (board.public == null) ? true : board.public
        board.details = board.details || null
        console.log('_________', board)
        this.$set(this, 'board', board)
        this.$set(this, 'publicBoard', board.public)
      },
      async submitForm() {
        if (this.board.title.length >= 50) {
          return this.$notify.info({
            title: 'Title is too long',
            message: 'It exceeds 50 characters',
          })
        }
        if (this.loading || this.saving) {
          return this.$notify.info({
            title: 'Working',
            message: 'Please wait while updating',
          })
        }
        if (!this.board.hash) {
          await this.createBoard()
        } else {
          await this.saveBoard()
        }
      },
      async createBoard() {
        try {
          let board = {}
          if(this.unsaved) {
            // This is for save a board after registration
            // which board is not extended from some other board.
            console.log('saving unsaved....')
            board = await this.$board.create({
              title: this.board.title,
              details: this.board.details,
              private: this.board.public ? 0 : 1,
              modules: JSON.stringify(this.modules),
              links: JSON.stringify(this.links),
              groups: JSON.stringify(this.groups),
            })
            this.$store.commit('board/updateStore', {
              unsaved: false,
            })
          }
          else {
            board = await this.$board.create({
              title: this.board.title,
              details: this.board.details,
              private: this.board.public ? 0 : 1,
            })
          }
          this.$notify.success({title: 'Created new board'})
          this.$router.push('/' + board.hash)
          this.hideModal()
        } catch (err) {
          this.$notify.success({
            title: 'Failed to create board',
            message: err.response ? err.response.data.error : err.toString(),
          })
        }
      },
      async saveBoard() {
        try {
        console.log('&&&&&&&&&&&&&&&&&&&&',this.board)
          const board = await this.$board.save(null, this.board)
          // this.initialize(board)
          if (board.hash !== this.$route.params.hash) {
            this.$router.push('/' + (board.hash || ''))
          }
          this.$notify.success({title: 'Saved the board'})
          // this.initialize(board)
          this.hideModal()
        } catch (err) {
          console.error(err)
          let message = 'Failed to save board'
          if (err.response) {
            message = err.response.data.error
            if (typeof message !== 'string') {
              message = Object.values(message).filter(x => !!x)
              message = message.map(x => x.join(', ')).join('; ')
            }
          }
          this.$notify.success({
            title: 'Failed',
            message: message,
          })
        }
      },
    },
  }
</script>
