<template>
  <v-dialog
    :value="dialog"
    @input="hideModal" :persistent="true"
    max-width="576px">
    <v-card>
      <v-toolbar
        color="grey lighten-5"
        class="pa-2"
        height="40px">
        <v-toolbar-title style="font-size: 28px; text-align: left;">Contact Us!</v-toolbar-title>
        <v-spacer/>
        <v-btn
          icon
          dark
          @click="hideModal">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <form @submit.prevent="submitForm">
        <v-card-text>
          <v-text-field
            type="text"
            name="name"
            required
            autocomplete=false
            label="Name"
            prepend-icon="person"
            v-model="form.name"
            :error-messages="serverErrors.name || errors.collect('name')"
            v-validate
          ></v-text-field>
          <v-text-field
            required
            type="email"
            name="email"
            autocomplete=false
            label="Email address"
            prepend-icon="email"
            v-model="form.email"
            :error-messages="serverErrors.email || errors.collect('email')"
            v-validate
          ></v-text-field>
          <v-textarea
            required
            name="details"
            prepend-icon="check"
            label="Details"
            autocomplete=false
            v-model="form.details"
            :error-messages="serverErrors.details || errors.collect('details')"
            v-validate="'required|min:5'"
          > </v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            text
            class="px-3"
            @click="hideModal"
            type="button"
          >Cancel
          </v-btn>
          <v-btn
            class="primary-btn"
            :loading="loading"
            :disabled="errors.any()"
            color="#f1592a"
            type="submit">Submit
          </v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>


<script>
  import {mapGetters} from 'vuex'

  export default {
    layout: 'main',
    data: () => ({
      loading: false,
      serverErrors: {},
      form: {
        name: null,
        email: null,
        details: null,
      },
    }),
    computed: mapGetters({
      dialog: 'contactModal',
    }),
    methods: {
      hideModal() {
        this.$store.commit('showContactModal', null)
      },
      resetForm() {
        this.form.password = null
        this.$nextTick(() => this.$validator.reset())
      },
      async submitForm() {
        if (this.loading) return false
        this.$set(this, 'loading', true)
        this.$set(this, 'serverErrors', {})
        try {
          // validate data
          let result = await this.$validator.validateAll()
          if (!result) return false

          // try out registration
          await this.$axios.$post('/contact-us', this.form)

          // reset form and notify user afterwards
          await this.resetForm()
          this.$notify.success({
            title: 'Success!',
            message: 'Your request has been sent to admin. Please wait for response.',
          })
          this.hideModal()
        } catch (err) {
          let message = ((err && err.stack) || '').split('\n')[0] || ''
          // handle validation error
          if (err.response && err.response.data) {
            this.$set(this, 'serverErrors', err.response.data.error || {})
            message = err.response.data.error || message
            if (typeof(message) !== 'string') {
              message = 'Some fields have invalid input'
            }
          }
          // general notification
          this.$notify.error({
            message,
            title: 'Failed to submit request',
          })
          this.$sentry.captureException(err)
        } finally {
          this.$set(this, 'loading', false)
        }
      },
    },
  }
</script>
