<template>
  <v-dialog v-model="dialog" :persistent="true" max-width="824px" min-width="340px">
    <v-card class="edit-modal" dark>
      <v-toolbar dense color="grey lighten-5" class="px-2">
        <v-toolbar-title>{{ info ? info.name : 'Loading...' }}</v-toolbar-title>
        <v-spacer/>
        <v-btn icon @click="hideModal">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>

      <v-card-text class="edit-card-text pa-0">
        <select-image
          ref="imageForm"
          class="px-4 pt-4"
          v-model="form.image"/>

          <span>Ecomap uses Google image search. Images may be subject to copyright. <a href="https://support.google.com/legal/answer/3463239">Find out more</a></span>

        <form @submit.prevent="submitForm">
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12 sm6>
                <v-select
                  solo
                  hide-details
                  v-model="form.type"
                  :items="types"
                  item-text="name"
                  item-value="name"
                  label="Type"
                  prefix="Type"
                  required>
                  <template slot="selection" slot-scope="data">
                    <span class="pl-1 white--text">{{ data.item.name }}</span>
                  </template>
                </v-select>
              </v-flex>
              <v-flex xs12 sm6 v-for="prop in props" :key="prop">
                <v-text-field
                  solo
                  hide-details
                  v-model="form[prop]"
                  :prefix="prop"
                  type="text"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm12>
                <v-textarea
                  solo
                  hide-details
                  v-model="form['details']"
                  :prefix="'description'"
                  :counter="255"
                  rows="3"
                ></v-textarea>
              </v-flex>
            </v-layout>
          </v-container>
        </form>
      </v-card-text>

      <v-card-actions style="background: #666">
        <div class="text-xs-center">
          <v-chip
            close
            v-text="serverError"
            class="pa-1"/>
        </div>
        <v-spacer/>
        <v-btn
          @click="resetForm(); hideModal()"
          color="light"
          type="button"
        >Cancel</v-btn>
        <v-btn
          :loading="loading"
          class="primary-btn"
          color="#f1592a"
          @click="submitForm"
        >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
import SelectImage from '../forms/SelectImage'

export default {
  components: {
    SelectImage,
  },
  data: () => ({
    form: {},
    type: null,
    loading: false,
    serverError: null,
  }),
  computed: {
    ...mapGetters({
      info: 'editModal',
      types: 'types/get',
    }),
    dialog: {
      get() { return !!(this.info && this.info._id) },
      set(v) { if (!v) this.hideModal() },
    },
    props() {
      return Object.keys(this.form).filter(v => {
        return ['_id', 'type', 'image', 'details'].indexOf(v) < 0
      })
    },
  },
  watch: {
    dialog() {
      this.resetForm()
    },
    'form.name'(v) {
      this.$refs.imageForm.updateQuery(v)
    },
  },
  methods: {
    hideModal() {
      this.$store.commit('showEditModal', null)
    },
    resetForm() {
      const form = Object.assign({}, this.dialog ? this.info : {})
      this.$refs.imageForm.getImages()
      this.$set(this, 'form', form)
    },
    async submitForm() {
      if (this.loading) return
      try {
        this.loading = true
        this.serverError = null
        /* ------------ Validating data ------------ */
        // if(this.form['details'].length >150) {
        //   this.$notify.error({
        //     title: 'Data to long',
        //     message: 'Details text is too long...',
        //   })
        //   return
        // }
        /* ------------ Build data ------------ */
        const data = Object.assign({}, this.form)
        const id = data._id
        delete data._id
        /* ------------ Send data ------------ */
        console.log(data)
        await this.$axios.$post('/module/info/update', { id, data })
        await this.$axios.$post('/module/set-image', { id, image: this.form.image })
        this.$notify.success({
          title: 'Saved.',
          message: 'Module info updated',
        })
        
        /* ------------ Update nodes on board ------------ */
        const newNode = {
          id,
          type: this.form.type,
          image: this.form.image,
          name: this.form.name,
        }
        this.$store.commit('board/updateNode', newNode)
        if(this.$route.params.hash) {
          await this.$board.load({ hash: this.$route.params.hash })
        }
        this.$store.commit('types/UPDATE_MODULE', newNode)
        /* ------------ Reset and refresh ------------ */
        if (this.info.type != this.form.type) {
            this.$store.commit('types/SELECT', null)
            await this.$nextTick()
            this.$store.commit('types/SELECT', this.info.type)
        }
        this.hideModal()
        this.resetForm()
      } catch (err) {
        /* ------------ Display errors ------------ */
        console.error(err)
        this.$sentry.captureException(err)
        let message = 'Failed to update'
        if (err.response) {
          if(Array.isArray(err.response.data.erro)){
              message = Object.values(err.response.data.error)
                        .filter(x => !!x)
                        .map(x => x.join(', '))
                        .join('; ')
            }else{
              message = err.response.data.error
            }
        }
        this.$notify.success({
          title: 'Failed',
          message: message,
        })
        this.serverError = message
      } finally {
        await this.$nextTick()
        this.loading = false
      }
    },
  },
}
</script>

<style lang="scss">
.edit-modal {
  .edit-card-text.v-card__text {
    padding: 0 4px;
    max-height: 74vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #333;
    box-shadow: 0 -3px 10px rgba(#000, 0.3) inset;

    .v-text-field__prefix {
      // font-size: 15px;
      min-width: 110px;
      text-align: left;
      text-transform: capitalize;
      color: lime;
      &:after {
        content: ":";
        padding: 0 5px;
      }
    }
  }

  .input-group__selections {
    font-size: 16px;
  }

  .v-toolbar__content {
    .v-toolbar__title {
      font-size: 24px;
      font-weight: 400;
    }
  }
}
</style>
