<template>
  <v-dialog
    v-model="dialog" :persistent="true"
    max-width="350px">
    <v-card>
      <v-toolbar
        color="grey ligghten-5"
        class="py-2 pr-0 mr-0"
        height="36">
        <v-toolbar-title style="font-size: 24px; font-weight: 400; text-align: left;">Change group title</v-toolbar-title>
        <v-btn
          icon
          dark
          @click="clearForm"><v-icon>mdi-close</v-icon></v-btn>
      </v-toolbar>

      <form
        class="pb-2 px-2 mt-4"
        @submit.prevent="submitForm">
        <v-card-text class="py-0">
          <v-text-field
            required
            hide-details
            :counter="25"
            v-model="title"
            label="New Title"
            placeholder="Enter new group title"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            text
            color="primary"
            @click.stop="clearForm">Close</v-btn>
          <v-btn
            type="submit"
            class="primary-btn"
            color="#f1592a">Submit</v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    group: null,
    title: null,
  }),
  methods: {
    showModal(key) {
      this.group = key
      this.title = this.$store.state.board.groups[key].title
      this.dialog = true
    },
    clearForm() {
      this.group = ''
      this.title = null
      this.dialog = false
    },
    submitForm() {
      this.$store.commit('board/updateGroupTitle', {
        [this.group]: this.title,
      })
      this.clearForm()
    },
  },
}
</script>
