<template>
  <v-dialog :value="dialog" :persistent="true" @input="hideModal" max-width="576">
    <v-card v-show="!isEmbeded">
      <v-toolbar color="grey lighten-5" class="pa-2" height="40px">
        <v-toolbar-title style="font-size: 28px; text-align: left">Embed link</v-toolbar-title>
        <v-spacer/>
        <v-btn icon dark @click="hideModal">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <form>
        <v-card-text>
          <v-textarea
            required
            type="text"
            name="link"
            autocomplete="username"
            label="Use this link to embed this page"
            v-model="embedLink"
            rows="3"
          ></v-textarea>
        </v-card-text>
        <div class="text-lg-center">
          <v-btn color="#f1592a" class="primary-btn" @click="copyToClipboard(embedLink)"> <v-icon>mdi-library-books</v-icon>&nbsp;Copy link</v-btn>
        </div>
      </form>
      <div v-if="!isEmbeded">
        <div v-show="!isEmbeded"
             class="mt-3 mr-3 ml-3 mb-3">
          <iframe :src="currentFullPath" frameborder="1" style="height:500px;width:500px;"></iframe>
        </div>
      </div>
    </v-card>
    <input type="text" id="copy" style="opacity: 0" v-model="embedLink">
  </v-dialog>
</template>


<script>
  import {mapGetters} from 'vuex'
  import PanzoomControl from '~/mixins/panzoom-control'

  export default {
    layout: 'main',
    data: () => ({
      loading: false,
      serverErrors: {},
      embedLink: null,
      currentFullPath: '',
    }),
    mixins: [
      PanzoomControl,
    ],
    computed: {
      ...mapGetters({
        dialog: 'embedModal',
      }),
      isEmbeded() {
        return !this.dialog
      },
    },
    created() {
      // setTimeout(() => {
      //   if(this.isEmbeded) {
      //     this.$el.querySelector('#whiteboard').setAttribute('style', 'transition :transform 0.25s ease 0s')
      //     this.$el.querySelector('#whiteboard').setAttribute('style', 'transformOrigin :0px 0px 0px')
      //     this.$el.querySelector('#whiteboard').setAttribute('style', 'transform :matrix(0.569191, 0, 0, 0.569191, -2538, -2635)')
      //   }
      // }, 5000)

      this.currentFullPath = window.location.href + '?embed=true'
      this.embedLink = '<iframe src="' + this.currentFullPath + '"  frameborder="1" style="height:500px;width:500px;"></iframe>'
    },
    methods: {
      hideModal() {
        this.$store.commit('showEmbedModal', null)
      },
      resetForm() {
        this.form.password = null
        this.$nextTick(() => this.$validator.reset())
      },
      copyToClipboard(text) {
        let testingCodeToCopy = document.querySelector('#copy')
        testingCodeToCopy.setAttribute('type', 'text')
        testingCodeToCopy.select()
        try {
          var successful = document.execCommand('copy')
          this.$notify.success({
            title: 'Link Copied!',
          })
        } catch (err) {
          alert('Oops, unable to copy')
        }

        /* unselect the range */
        testingCodeToCopy.setAttribute('type', 'hidden')
        window.getSelection().removeAllRanges()
      },
    },
  }
</script>
