<template>
  <v-dialog :persistent="true" v-model="dialog" max-width="768px">
    <v-card class="info-modal" dark>
      <v-toolbar dense color="grey lighten-5" class="px-2">
        <v-toolbar-title style="text-align: left;">
          {{ info ? info.name : 'Loading...' }}
        </v-toolbar-title>
        <v-spacer />
        <v-btn
          v-if="!isShared"
          color="#f1592a"
          class="primary-btn"
          @click="follow"
        >
          {{ followBtn }}
        </v-btn>
        <v-btn icon @click="hideModal">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>

      <v-card-text class="py-1">
        <div class="py-2 my-3" v-if="error">
          <code>{{ error }}</code>
        </div>
        <div class="d-flex align-center my-5" v-if="loading">
          <div><atom-spinner class="mx-auto" /></div>
        </div>

        <div class="info-list" v-if="info">
          <div class="info-item" v-for="prop in props" :key="prop">
            <label>{{ prop }} :</label>
            <p>
              {{
                info[prop] && typeof info[prop] !== 'object' ? info[prop] : '-'
              }}
            </p>
          </div>
          <div class="info-item info-item-details">
            <label>{{ 'Description' }} :</label>
            <p>{{ info['details'] || '-' }}</p>
          </div>
        </div>

        <div class="info-versions" v-if="versions.length">
          <div class="headline">List of changes</div>
          <hr />
          <table class="table elevation-1 theme--dark">
            <thead>
              <tr>
                <th width="60px">#</th>
                <th width="100px">Field Name</th>
                <th width="30%">Old Value</th>
                <th width="30%">New Value</th>
                <th width="40%">Changed At</th>
              </tr>
            </thead>
            <tbody class="text-xs-center">
              <tr v-for="item in versions" :key="item.id">
                <td>{{ item.id || 'N/A' }}</td>
                <td>{{ item.name || 'N/A' }}</td>
                <td>
                  <img
                    :src="item.old_value"
                    v-if="item.name === 'image' && item.old_value"
                  />
                  <span v-else>{{ item.old_value || 'N/A' }}</span>
                </td>
                <td>
                  <img
                    :src="item.new_value"
                    v-if="item.name === 'image' && item.new_value"
                  />
                  <span v-else>{{ item.new_value || 'N/A' }}</span>
                </td>
                <td>{{ item.created_at || 'N/A' }}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-xs-center pt-2" v-if="totalPages > 1">
            <v-pagination v-model="currentPage" :length="totalPages" />
          </div>
        </div>

        <div class="info-buttons" v-if="info">
          <v-btn
            light
            color="lime accent-4"
            @click="downloadWhitepaper"
            v-if="info.whitepaper"
          >
            Download Whitepaper
          </v-btn>
          <v-btn
            v-if="!isShared"
            light
            color="#f1592a"
            class="primary-btn"
            @click="showEditModal"
          >
            Edit
          </v-btn>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    info: null,
    error: null,
    loading: false,
    versions: [],
    totalPages: 0,

    currentPage: 1,
    loadingVersion: false,
    followBtn: 'Follow',
  }),
  computed: {
    ...mapGetters({
      nodeId: 'infoModal',
    }),
    dialog: {
      get() {
        return typeof this.nodeId === 'number'
      },
      set(v) {
        if (!v) this.hideModal()
      },
    },
    props() {
      return Object.keys(this.info || {}).filter((v) => {
        return ['whitepaper', 'image', 'details'].indexOf(v) < 0
      })
    },
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    isShared() {
      return this.$route.query.share !== undefined
    },
  },
  watch: {
    nodeId() {
      this.getInfo()
    },
    currentPage(cur, old) {
      if (cur !== old) {
        this.loadVersions()
      }
    },
  },
  mounted() {
    this.getInfo()
    this.loadVersions()
  },
  methods: {
    hideModal() {
      this.$store.commit('showInfoModal', null)
    },
    async follow() {
      console.log('Nothing')
    },
    async getInfo() {
      try {
        this.$set(this, 'info', null)
        this.$set(this, 'error', null)
        if (!this.nodeId) return
        this.$set(this, 'loading', true)
        const params = { id: this.nodeId }
        const { data } = await this.$axios.$get('/module/info', { params })
        data._id = this.nodeId
        this.$set(this, 'info', data)
      } catch (err) {
        // console.trace(err)
        this.$sentry.captureException(err)
        this.$set(this, 'error', err + '')
      } finally {
        this.$set(this, 'loading', false)
        this.loadVersions()
      }
    },

    async loadVersions() {
      if (!this.nodeId) return
      await this.$nextTick()
      try {
        this.$set(this, 'loadingVersion', true)
        const params = {
          module: this.nodeId,
          page: this.currentPage || 1,
        }
        const { data } = await this.$axios.$get('/versions', { params })
        this.$set(this, 'totalPages', data.meta.pagination.total_pages)
        this.$set(this, 'versions', data.data)
      } catch (err) {
        //
        this.$sentry.captureException(err)
      } finally {
        this.$set(this, 'loadingVersion', false)
        // console.log(this.versions)
        // console.log(this.pagination)
      }
    },
    downloadWhitepaper() {
      if (!this.loggedIn) {
        return this.$notify.error({
          title: 'Unauthorized',
          message: 'Please login to download whitepaper',
        })
      }
      window.open(this.info.whitepaper, '_blank')
    },
    showEditModal() {
      if (!this.loggedIn) {
        return this.$notify.error({
          title: 'Unauthorized',
          message: 'Please login first to edit',
        })
      }
      console.log(this.info)
      this.$store.commit('showEditModal', this.info)
      this.hideModal()
    },
  },
}
</script>

<style lang="scss">
.info-modal {
  padding-bottom: 50px;

  .v-toolbar__content {
    .v-toolbar__title {
      font-size: 24px;
      font-weight: 400;
    }
  }
  .v-card__text {
    max-height: 70vh;
    overflow: auto;
    box-shadow: 0 0 10px 1px teal;
  }

  .info-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    font-size: 16px;

    .info-item {
      width: 345px;
      margin-bottom: 4px;
      padding: 3px 0;
      border: 1px solid #666;
      label {
        padding: 2px 10px;
        text-transform: capitalize;
        color: goldenrod;
      }
      p {
        color: white;
        word-wrap: break-word;
        display: inline;
      }
    }
  }

  .info-versions {
    .headline {
      color: goldenrod;
    }

    table img {
      min-width: 50px;
      height: 50px;
      object-fit: contain;
      object-position: center;
      border: 1px solid #444;
      // margin: 3px 0;
    }

    table th {
      color: goldenrod !important;
    }

    table td {
      padding: 5px !important;
      word-wrap: break-word;
      word-break: break-all;
    }

    table th,
    table td {
      border: 1px solid #555;
    }
  }

  .info-buttons {
    position: absolute;
    right: 15px;
    bottom: 15px;
    .btn {
      min-width: 150px;
    }
  }
}
.info-item-details {
  width: 715px !important;
  min-height: 90px !important;
}
</style>
