<template>
  <v-dialog :value="dialog" :persistent="true" @input="hideModal" max-width="528px">
    <v-card>
      <v-toolbar
        color="grey lighten-5"
        class="pa-2"
        height="40px">
        <v-toolbar-title style="font-size: 28px; text-align: left;">Sign in</v-toolbar-title>
        <v-spacer/>
        <v-btn
          icon
          dark
          @click="resetForm">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <form @submit.prevent="submitForm">
        <v-card-text>
          <v-text-field
            v-validate="{required:true}"
            v-model="form.email"
            :error-messages="errors.collect('login')"
            prepend-icon="email"
            name="email"
            label="Email"
            type="email"
          />
          <v-text-field
            v-validate="{required:true}"
            v-model="form.password"
            :error-messages="errors.collect('password')"
            prepend-icon="lock"
            name="password"
            label="Password"
            type="password"
          />
        </v-card-text>
        <v-card-actions>
          <v-btn
            dark
            class="px-3"
            @click="showRegister"
            color="grey lighten-2"
            type="button"
          >Create account
          </v-btn>

          <v-btn
            dark
            class="px-3"
            @click="showReset"
            color="grey lighten-2"
            type="button"
          >Reset Password
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            text
            class="px-2"
            @click="resetForm"
            color="grey lighten-2"
            type="button"
          >Cancel
          </v-btn>
          <v-btn
            class="px-4 primary-btn"
            :loading="loading"
            :disabled="errors.any()"
            color="#f1592a"
            type="submit"
          >Sign in
          </v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    data: () => ({
      loading: false,
      form: {
        email: null,
        password: null,
      },
    }),
    computed: mapGetters({
      dialog: 'introVideoModal',
      modules: 'board/modules',
      unsaved: 'board/unsaved',
      boardList: 'board/boardList',
    }),
    methods: {
      hideModal() {
        this.$store.commit('showLoginModal', null)
      },
      showRegister() {
        this.hideModal()
        this.$store.commit('showRegisterModal', true)
      },
      showReset() {
        this.hideModal()
        this.$store.commit('showResetModal', true)
      },
      async resetForm() {
        this.form.password = null
        await this.$nextTick()
        this.$validator.reset()
        this.hideModal()
      },
      async submitForm() {
        if (this.loading) return false
        try {
          this.loading = true
          await this.$auth.loginWith('local', {
            data: this.form,
          })
          await this.resetForm()
          this.$notify.success({
            title: 'Welcome!',
            message: `${this.$auth.user.name}`,
          })
          if (this.unsaved) {
            let board = await this.$board.saveAfterLogin(this.$store.state.board)
            if (board) {
              this.$notify.success({
                title: 'Saved',
                message: 'Saved all unsaved work!',
              })
            }
            return
          }
          if (this.modules && this.modules.length) {
            this.$store.commit('board/updateStore', {
              unsaved: true,
            })
            this.$store.commit('showBoardModal', true)
          }
        } catch (err) {
          // console.error(err)
          let message = 'Failed to sign in'
          if (err.response) {
            message = err.response.data.error
            if (typeof message !== 'string') {
              message = Object.values(message).filter(x => !!x)
              message = message.map(x => x.join(', ')).join('; ')
            }
          }
          this.$notify.error({
            title: 'Failed',
            message: message,
          })
        } finally {
          await this.$nextTick()
          this.loading = false
        }
      },
      checkOwnership() {
        let owner = false
        this.boardList.forEach( el => {
          // console.log(el.hash, this.$route.params.hash)
          if(el.hash === this.$route.params.hash) {
            owner = true
          }
        })
        return owner
      },
    },

  }
</script>
