<template>
  <keep-alive>
    <v-dialog
      :value="dialog"
      :persistent="true"
      @input="hideModal"
      max-width="576px"
    >
      <v-card>
        <v-toolbar color="grey lighten-5" class="pa-2" height="40px">
          <v-toolbar-title style="font-size: 28px; text-align: left;">
            Create account
          </v-toolbar-title>
          <v-spacer />
          <v-btn icon dark @click="hideModal"><v-icon>mdi-close</v-icon></v-btn>
        </v-toolbar>
        <form @submit.prevent="submitForm">
          <v-card-text>
            <v-text-field
              type="text"
              name="name"
              required
              autocomplete="false"
              label="Username"
              prepend-icon="person"
              v-model="form.name"
              :error-messages="serverErrors.name || errors.collect('name')"
              v-validate
            />
            <v-text-field
              required
              type="email"
              name="email"
              autocomplete="false"
              label="Email address"
              prepend-icon="email"
              v-model="form.email"
              :error-messages="serverErrors.email || errors.collect('email')"
              v-validate
            />
            <v-text-field
              required
              type="password"
              name="password"
              prepend-icon="lock"
              label="Enter Password"
              autocomplete="false"
              v-model="form.password"
              :error-messages="
                serverErrors.password || errors.collect('password')
              "
              v-validate="'required|min:5'"
            />
            <v-text-field
              required
              type="password"
              autocomplete="false"
              name="password_confirmation"
              prepend-icon="lock"
              label="Confirm Password"
              v-model="form.password_confirmation"
              :error-messages="
                serverErrors.password_confirmation ||
                errors.collect('password_confirmation')
              "
              v-validate="'required|min:5'"
            />
          </v-card-text>
          <v-card-actions>
            <v-btn
              dark
              class="px-4"
              @click="showLogin"
              color="grey lighten-2"
              type="button"
            >
              Sign in instead
            </v-btn>
            <v-spacer />
            <v-btn text class="px-3" @click="hideModal" type="button">
              Cancel
            </v-btn>
            <v-btn
              class="primary-btn"
              :loading="loading"
              :disabled="errors.any()"
              color="#f1592a"
              type="submit"
            >
              Create account
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </keep-alive>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'main',
  data: () => ({
    loading: false,
    serverErrors: {},
    form: {
      name: null,
      email: null,
      password: null,
      password_confirmation: null,
    },
  }),
  computed: mapGetters({
    dialog: 'registerModal',
    unsaved: 'board/unsaved',
    modules: 'board/modules',
  }),
  methods: {
    hideModal() {
      this.$store.commit('showRegisterModal', null)
    },
    showLogin() {
      this.hideModal()
      this.$store.commit('showLoginModal', true)
    },
    resetForm() {
      this.form.password = null
      this.$nextTick(() => this.$validator.reset())
    },
    async submitForm() {
      if (this.loading) return false
      this.$set(this, 'loading', true)
      this.$set(this, 'serverErrors', {})
      try {
        // validate data
        let result = await this.$validator.validateAll()
        if (!result) return false

        if (this.form.password !== this.form.password_confirmation) {
          return this.$set(this, 'serverErrors', {
            password_confirmation:
              'The password confirmation does not match the password.',
          })
        }

        // try out registration
        await this.$axios.$post('/auth/register', this.form)

        // login if success
        await this.$auth.loginWith('local', {
          data: {
            email: this.form.email,
            password: this.form.password,
          },
        })

        // reset form and notify user afterwards
        await this.resetForm()
        this.$notify.success({
          title: 'Success!',
          message: 'Thanks for signing up!',
        })
        this.hideModal()
        if (this.unsaved) {
          let board = await this.$board.saveAfterLogin(this.$store.state.board)
          if (board) {
            this.$notify.success({
              title: 'Saved',
              message: 'Saved all unsaved work!',
            })
          }
          this.$router.push('/' + board.hash)
          return
        }
        if (this.modules && this.modules.length) {
          this.$store.commit('board/updateStore', {
            unsaved: true,
          })
          this.$store.commit('showBoardModal', true)
          return
        }
        this.$router.push('/pricing')
      } catch (err) {
        let message = ((err && err.stack) || '').split('\n')[0] || ''
        // handle validation error
        if (err.response && err.response.data) {
          this.$set(this, 'serverErrors', err.response.data.error || {})
          message = err.response.data.error || message
          if (typeof message !== 'string') {
            message = 'Some fields have invalid input'
          }
        }
        console.log('API Error:', err)
        // general notification
        this.$notify.error({
          message,
          title: 'Failed to register',
        })
      } finally {
        this.$set(this, 'loading', false)
      }
    },
  },
}
</script>
