<template>
  <v-dialog :value="dialog" @input="hideModal" :persistent="true" max-width="576px">
    <v-card>
      <v-toolbar color="primary" class="pa-2" height="40px">
        <v-toolbar-title style="font-size: 28px;">Reset Password</v-toolbar-title>
        <v-spacer/>
        <v-btn icon dark @click="hideModal"><v-icon>mdi-close</v-icon></v-btn>
      </v-toolbar>
      <form @submit.prevent="submitForm">
        <v-card-text>
          <v-text-field
            required
            type="email"
            name="email"
            autocomplete="username"
            label="Email address"
            prepend-icon="email"
            v-model="form.email"
            :error-messages="serverErrors.email || errors.collect('email')"
            v-validate
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            class="px-3"
            @click="hideModal"
            type="button"
          >Cancel</v-btn>
          <v-btn
            class="px-4 primary-btn"
            :loading="loading"
            :disabled="errors.any()"
            color="primary"
            type="submit">Reset</v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>


<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'main',
  data: () => ({
    loading: false,
    serverErrors: {},
    form: {
      email: null,
    },
  }),
  computed: mapGetters({
    dialog: 'resetModal',
  }),
  methods: {
    hideModal() {
      this.$store.commit('showResetModal', null)
    },
    resetForm() {
      this.form.password = null
      this.$nextTick(() => this.$validator.reset())
    },
    async submitForm() {
      if (this.loading) return false
      this.$set(this, 'loading', true)
      this.$set(this, 'serverErrors', {})
      try {
        // validate data
        let result = await this.$validator.validateAll()
        if (!result) return false

        // try out registration
        const data = await this.$axios.$post('/auth/forgot-password', this.form)
        // reset form and notify user afterwards
        await this.resetForm()
        this.$notify.success({
          title: 'Success!',
          message: data.data,
        })
        this.$router.push('/')
        this.hideModal()
      } catch (err) {
        let message = ((err && err.stack) || '').split('\n')[0] || ''
        // handle validation error
        if (err.response && err.response.data) {
          this.$set(this, 'serverErrors', err.response.data.error || {})
          message = err.response.data.error || message
          if (typeof(message) !== 'string') {
            message = 'Some fields have invalid input'
          }
        }
        // general notification
        this.$notify.error({
          message,
          title: 'Failed to register',
        })
      } finally {
        this.$set(this, 'loading', false)
      }
    },
  },
}
</script>
