<template>
  <div v-if="openIn && smallNode" id="small-module-modal">
    <v-menu
      v-model="open"
      :close-on-content-click="false"
      :close-on-click="false"
      :nudge-width="200"
      :max-width="300"
      offset-x
    >
      <template v-slot:activator="{ on }">
        <i
          v-on="on"
          v-bind:style="{
            top: smallNode.position.y + 10 + 'px',
            left: smallNode.position.x + 10 + 'px',
            position: 'fixed',
          }"
        ></i>
      </template>

      <v-card class="small-info">
        <v-toolbar class="pa-2" height="45px">
          <div class="module-img-wrapper small-logo circle-shape">
            <icon :stakeholder="smallNode" />
          </div>
          <span class="name">{{ smallNode.name }}</span>
          <v-spacer />
          <v-btn icon dark @click="menu = false"><v-icon>mdi-close</v-icon></v-btn>
        </v-toolbar>
        <v-card-text>
          <div class="items">
            <div v-for="(value, name) in smallNode" :key="name">
              <div
                class="item"
                v-if="
                  value &&
                  name !== 'name' &&
                  name !== 'image' &&
                  name !== 'position' &&
                  name !== 'crypto_price' &&
                  name !== 'id' &&
                  name !== 'type' &&
                  name !== 'shape' &&
                  name !== 'Based in (mailing city)'
                "
              >
                <p class="info-text">{{ name }}</p>
                <div class="info-text-bold">
                  <a
                    v-if="name === 'website'"
                    :href="
                      value.indexOf('http') == 0 ? value : `http://${value}`
                    "
                    target="_blank"
                  >
                    {{ value }}
                  </a>
                  <span v-else>{{ value }}</span>
                </div>
              </div>
            </div>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            v-if="!isESG"
            outlined
            block
            depressed
            @click="openSuggest(smallNode.id)"
          >
            Edit
          </v-btn>
          <v-btn
            v-if="!isESG"
            class="primary-btn"
            color="#FB6E00"
            block
            depressed
            @click="goToInfo(smallNode.id)"
          >
            More info
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Icon from '../board/ModuleIcon'

export default {
  components: {
    Icon,
  },
  props: {
    openIn: {
      type: Boolean,
      default: () => null,
    },
  },
  data: () => ({
    open: false,
    fav: true,
    message: false,
    hints: true,
    error: null,
    loading: false,
    versions: [],
    totalPages: 0,
    currentPage: 1,
    loadingVersion: false,
    handleClickOutside: () => {
      //console.log("OUTSIDE_CLICK")
    },
  }),
  created: () => {
    let ref = document.querySelector('.small-info')
    window.handleClickOutside = (event) => {
      if (ref && !ref.contains(event.target)) {
        // alert("You clicked outside of me!");
        //ref.current.style.display = ''
      } else {
        if (event.target.id && event.target.id == 'ecomap-board')
          window.store.commit('showSmallModal', null)
      }
    }
    document.addEventListener('mousedown', window.handleClickOutside)
  },
  mounted: () => {},
  destroyed: () => {
    window.handleClickOutside = null
    document.removeEventListener('mousedown', window.handleClickOutside)
  },
  computed: {
    ...mapGetters({
      smallNode: 'smallModal',
      showSmallModal: 'showSmallModal',
    }),
    menu: {
      get() {
        return typeof this.smallId === 'number'
      },
      set(v) {
        if (!v) this.hideModal()
      },
    },
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    isShared() {
      return this.$route.query.share !== undefined
    },
    isESG() {
      return this.$route.query.esg !== undefined
    },
  },
  watch: {
    smallNode(cur, prev) {
      if (cur) {
        this.open = false

        this.$nextTick(() => {
          // Add the component back in
          this.open = true
        })
      }
    },
    currentPage(cur, old) {
      if (cur !== old) {
      }
    },
  },
  methods: {
    getModule() {
      console.log('GETTING_MODULE')
      return this.showSmallModal || this.$store.showSmallModal
    },
    hideModal() {
      this.$store.commit('showSmallModal', null)
    },
    async getInfo() {
      try {
        this.$set(this, 'info', null)
        this.$set(this, 'error', null)
        if (!this.smallId) return
        this.$set(this, 'loading', true)
        const params = { id: this.smallId }
        const { data } = await this.$axios.$get('/module/info', { params })
        data._id = this.smallId
        this.$set(this, 'info', data)
      } catch (err) {
        // console.trace(err)
        this.$set(this, 'error', err + '')
      } finally {
        this.$set(this, 'loading', false)
      }
    },

    downloadWhitepaper() {
      if (!this.loggedIn) {
        return this.$notify.error({
          title: 'Unauthorized',
          message: 'Please login to download whitepaper',
        })
      }
      window.open(this.info.whitepaper, '_blank')
    },
    showEditModal() {
      if (!this.loggedIn) {
        return this.$notify.error({
          title: 'Unauthorized',
          message: 'Please login first to edit',
        })
      }
      this.$store.commit('showEditModal', this.info)
      this.hideModal()
    },
    openSuggest(id) {
      this.$store.commit('showSuggestModal', id)
      this.$router.push('/stakeholder/' + id)
    },
    goToInfo(id) {
      console.log('SMALL NODE:', this.smallNode, this.showSmallModal)
      this.$router.push('/stakeholder/' + id)
    },
  },
}
</script>

<style lang="scss">
//full mini-pop-up is on top of everything
.v-menu__content {
  z-index: 1001 !important;
}
.small-info {
  //small logo in the rop left hand corner
  .small-logo {
    margin-right: 10px;
    width: 45px;
    min-width: 45px;
    height: 45px;
    border: 2px solid #e5e5e5;
    overflow: hidden;
    border-radius: 50%;
    .logo {
      width: 100%;
      height: 100%;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .v-toolbar {
    background-color: white;
    border-bottom: 1px solid #f8f7f4;
    //mini pop-up header
    .v-toolbar__content {
      font-size: 20px;
      line-height: 1em;
      font-weight: 700;
      padding: 4px;
      background-color: white;
    }
  }
  //key and value text box
  .items {
    margin-bottom: 39px;
    justify-content: space-between;
    & > div {
      width: 100%;
    }
    //key and value text, e.g. Name Ecomap
    .item {
      position: relative;
      display: flex;
      width: 100%;
      padding-top: 15px;
      //key text like Name, Details, Website
      .info-text {
        min-width: 65px;
        margin-top: 0px;
        margin-right: 5px;
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
      }
      //orange website link
      .info-text-bold a {
        color: #fb6e00;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 25ch;
        display: inline-block;
      }
    }
  }
  //line above action buttons on bottom
  .v-card__actions {
    .theme--light.v-btn:not(.v-btn--icon):not(.v-btn--text) {
      background-color: white;
    }
    .v-btn {
      border: 1px solid #e5e5e5;
    }
  }
}
</style>
