<template>
  <keep-alive>
  <v-dialog
    :value="dialog"
    :fullscreen="false"
    :persistent="processing"
    :transition="false"
    content-class="stripePaymentModalMain"
    max-width="350px"
    @click:outside="hideModal()"
  >
    <!-- <div id="stripePaymentModalMain"> -->
    <form
      @submit.prevent="paymentDetails.price.type === 'one_time' ? onSubmitOneTime() : onSubmitMonthlySubscription()"
      id="payment-form"
    >
      <div id="ecomapLogoWrapper">
        <img src="~/static/logo2.png" alt="Ecomap Logo" />
      </div>
      <div id="productDescriptionWrapper">
        <span>{{productDescription}}</span>
        <br />
        <a href>{{$auth.loggedIn ? $auth.user.email : ""}}</a>
      </div>
      <div id="card-element">
        <!-- Elements will create input elements here -->
      </div>
      <div class="couponWrapper" v-if="paymentDetails.type !== 'oneTime'">
        <div v-if="haveCoupon" id="coupon">
          <v-text-field
            solo
            placeholder="Coupon code"
            color="#32325d"
            v-model="couponId"
            hide-details
          >
            <v-icon v-if="couponValidity === true" slot="prepend-inner" color="#4BB543">mdi-checkbox-marked-circle</v-icon>
            <v-icon v-if="couponValidity === false" slot="prepend-inner" color="#fa755a">mdi-close-circle</v-icon>
          </v-text-field>
        </div>
        <v-checkbox
          color="#f1592a"
          v-model="haveCoupon"
          hide-details
          dense
          :label="'I have a coupon'"
        ></v-checkbox>
      </div>
      <!-- We'll put the error messages in this element -->
      <div id="card-errors" role="alert"></div>

      <!-- <button id='submit'>Pay</button> -->

      <v-btn
        class="button"
        :loading="loading || processing"
        type="submit"
        id="submit"
        small
        color="#f1592a"
        block
      >{{payText}}</v-btn>
      <v-btn
        class="button"
        id="cancel"
        :disabled="processing"
        @click="hideModal()"
        text
        small
        block
      >Cancel</v-btn>
    </form>
  </v-dialog>
  <!-- </div> -->
  </keep-alive>
</template>

<script>
import {mapGetters} from 'vuex'
import _ from 'lodash'
export default {
  name: 'stripePaymentModal',
  data() {
    return {
      processing:false,
      loading: true,
      elements: {},
      stripe: {},
      card: {},
      secret: {},
      customerID:{},
      priceId: 'price_1HPEaFBd1vTrDtfMxKK2Vqci',
      haveCoupon: false,
      couponId: '',
      couponValidity: null,
    }
  },
  methods:{
    hideModal() {
      if(!this.processing){
        this.$store.commit('showStripePaymentModal', null)
        if(this.paymentDetails.status !== true){
          this.$store.commit('showAutoGenerationPaymentModal', true)
        }
      }
    },
    onSubmitOneTime(){
      this.loading = true
      this.processing = true
      var $this = this
      this.stripe.confirmCardPayment(this.secret, {
      payment_method: {
        card: this.card,
        billing_details: {
          name: $this.$auth.user.name,
        },
      },
      }).then(function (result){
        // console.log('result: ', result)
        if (result.error) {
          // console.log('error: ', result.error.message)
          $this.paymentUnsuccessful(result.error.message)
          // Show error to your customer (e.g., insufficient funds)
        } else {
          // The payment has been processed!
          if (result.paymentIntent.status === 'succeeded') {
            $this.processToken(result.paymentIntent)
            // Show a success message to your customer
          }
        }
      })
    },
    async processToken(paymentIntent){
      console.log(paymentIntent)
      try{
        const data = await this.$axios.$post('/payment/store', {
          paymentIntentId: paymentIntent.id,
        })
        const paymentStatus = data
      } catch(err) {
        this.$sentry.captureException(err)
      }
      console.log('status : ', paymentStatus)
      this.paymentSuccessful()
    },
    onSubmitMonthlySubscription(){
      this.loading = true
      this.processing = true
      const latestInvoicePaymentIntentStatus = localStorage.getItem('latestInvoicePaymentIntentStatus')
      try{
        if (latestInvoicePaymentIntentStatus === 'requires_payment_method') {
            const invoiceId = localStorage.getItem('latestInvoiceId')
            const isPaymentRetry = true
            // create new payment method & retry payment on invoice with new payment method
            this.createPaymentMethod({
              card:this.card,
              isPaymentRetry,
              invoiceId,
            })
          } else {
            // create new payment method & create subscription
            this.createPaymentMethod({ card:this.card })
          }
      }catch(e){
        this.loading = false
        this.processing = false
      }
    },
    createPaymentMethod({ card, isPaymentRetry, invoiceId }) {
      var $this = this
      this.stripe.createPaymentMethod({
          type: 'card',
          card: card,
          billing_details: {
            name: $this.$auth.user.name,
          },
        }).then((result) => {
          if (result.error) {
            // displayError(result)\
            $this.showCardErrors(result.error)
            this.loading = false
            this.processing = false
            // $this.paymentUnsuccessful(result.error)
          } else {
            if (isPaymentRetry) {
              // Update the payment method and retry invoice payment
              $this.retryInvoiceWithNewPaymentMethod({
                customerId: $this.customerID,
                paymentMethodId: result.paymentMethod.id,
                invoiceId: invoiceId,
                priceId: $this.priceId,
              })
            } else {
              // Create the subscription
              $this.createSubscription({
                customerId: $this.customerID,
                paymentMethodId: result.paymentMethod.id,
                priceId: $this.priceId,
              })
            }
          }
        })
    },
    createSubscription({ customerId, paymentMethodId, priceId }) {
      var $this = this
      return (
        this.$axios.$post('/payment/subscribe', {
          customerId: customerId,
          paymentMethodId: paymentMethodId,
          paymentId: paymentMethodId,
          priceId: priceId,
          couponId: this.couponId,
        }).then((result) => {
          // console.log('result:', result.data)
          return result
        })
        .then((result) => {
          if (result.error) {
            // The card had an error when trying to attach it to a customer.
            $this.paymentUnsuccessful(result.error)
            throw result
          }
          // console.log(result)
          return result.data
        }).then((result) => {
          return {
            paymentMethodId: paymentMethodId,
            priceId: priceId,
            subscription: result,
          }
        }).then($this.handlePaymentThatRequiresCustomerAction)
        // attaching successful but payment failed
        .then($this.handleRequiresPaymentMethod)
        // No more actions required. Provision your service for the user.
        .then($this.onSubscriptionComplete)
        .catch((error) => {
          // An error has happened. Display the failure to the user here.
          // We utilize the HTML element we created.
          // showCardError(error)
          console.error(error)
          if(error.name !== 'TypeError'){
            $this.showCardErrors(error)
          } else {
            console.error(error)
          }
          // $this.paymentUnsuccessful(error)
        })
      )
    },
    onSubscriptionComplete(result){
      // console.log('payment processed')
      this.loading = false
      this.processing = false
      // console.log(result)
      // Payment was successful.
      if (result.subscription.status === 'active') {
        this.paymentSuccessful()
        // console.log('successsss!')
        // `result.subscription.items.data[0].price.product` the customer subscribed to.
      }
    },
    handlePaymentThatRequiresCustomerAction({
      subscription,
      invoice,
      priceId,
      paymentMethodId,
      isRetry,
    }){
      var $this = this

      if (subscription && subscription.status === 'active') {
        // Subscription is active, no customer actions required.
        return { subscription, priceId, paymentMethodId }
      }

      // If it's a first payment attempt, the payment intent is on the subscription latest invoice.
      // If it's a retry, the payment intent will be on the invoice itself.
      let paymentIntent = invoice ? invoice.payment_intent : subscription.latest_invoice.payment_intent

      if (
        paymentIntent.status === 'requires_action' ||
        (isRetry === true && paymentIntent.status === 'requires_payment_method')
      ) {
        return this.stripe
          .confirmCardPayment(paymentIntent.client_secret, {
            payment_method: paymentMethodId,
          })
          .then((result) => {
            if (result.error) {
              // $this.paymentUnsuccessful(result.error)
              // console.error(result)
              // Start code flow to handle updating the payment details.
              // Display error message in your UI.
              // The card was declined (i.e. insufficient funds, card has expired, etc).
              // $this.showCardErrors(result.error)
              throw result.error
            } else {
              if (result.paymentIntent.status === 'succeeded') {
                // Show a success message to your customer.
                // There's a risk of the customer closing the window before the callback.
                // We recommend setting up webhook endpoints later in this guide.
                return {
                  priceId: priceId,
                  subscription: subscription,
                  invoice: invoice,
                  paymentMethodId: paymentMethodId,
                }
              }
            }
          })
          .catch((error) => {
            // displayError(error)
            // console.log('from require custom actions')
            $this.showCardErrors(error)
          })
      } else {
        // No customer action needed.
        return { subscription, priceId, paymentMethodId }
      }
    },
    handleRequiresPaymentMethod({
      subscription,
      paymentMethodId,
      priceId,
    }) {
      // console.log('here in requirespayment method')
      if (subscription.status === 'active') {
        // subscription is active, no customer actions required.
        return { subscription, priceId, paymentMethodId }
      } else if (
        subscription.latest_invoice.payment_intent.status ===
        'requires_payment_method'
      ) {
        // Using localStorage to manage the state of the retry here,
        // feel free to replace with what you prefer.
        // Store the latest invoice ID and status.
        localStorage.setItem('latestInvoiceId', subscription.latest_invoice.id)
        localStorage.setItem(
          'latestInvoicePaymentIntentStatus',
          subscription.latest_invoice.payment_intent.status
        )
        throw { error: { message: 'Your card was declined.' } }
        // let error = new Error('Your card was declined.')
        // console.error(error)
        // throw error
      } else {
        return { subscription, priceId, paymentMethodId }
      }
    },
    retryInvoiceWithNewPaymentMethod({
      customerId,
      paymentMethodId,
      invoiceId,
      priceId,
    }) {
      var $this = this
      return (
        this.$axios.$post('/payment/retry-invoice', {
          customerId: customerId,
          paymentMethodId: paymentMethodId,
          invoiceId: invoiceId,
        }).then((result) => {
          if (result.error) {
            // The card had an error when trying to attach it to a customer.
            throw result.error
          }
          return result
        }).then((result) => {
          return {
            invoice: result,
            paymentMethodId: paymentMethodId,
            priceId: priceId,
            isRetry: true,
          }
        }).then($this.handlePaymentThatRequiresCustomerAction)
        .then($this.onSubscriptionComplete)
        .catch((error) => {
          if(error.name !== 'TypeError'){
            $this.showCardErrors(error)
          } else {
            console.error(error)
          }
        })
      )
    },
    paymentSuccessful(){
      this.processing = false
      this.$notify.success({title: 'Payment Successful!'})
      var details = {
        price: this.paymentDetails.price,
        type: this.paymentDetails.type,
        status: true,
      }
      this.$store.commit('setPaymentDetails', details)
      this.loading = false
      this.hideModal()
    },
    paymentUnsuccessful(errorMessage){
      this.processing = false
      this.$notify.error({
        title: 'Payment Failed',
        message: errorMessage,
      })
      var details = {
        price: this.paymentDetails.price,
        type: this.paymentDetails.type,
        status: false,
      }
      this.$store.commit('setPaymentDetails',details)
      // initializePayment() 
      this.loading = false

    },
    async initializePayment(){
      this.loading = true
      if(this.paymentDetails.price.type === 'one_time'){
        try{
          var data = await this.$axios.$post('/payment/secret', { priceId:this.paymentDetails.price.id })
          this.secret = data.data.client_secret
        } catch(err) {
          this.$sentry.captureException(err)
        }
      } else {
        try{
          var customerId = await this.$axios.$post('/payment/customer')
          this.customerID = customerId.data.id
        } catch(err) {
          this.$sentry.captureException(err)
        }
      }
      this.loading = false
    },
    showCardErrors(error){
      // console.error(error)
      const displayError = document.getElementById('card-errors')
      if (error) {
        displayError.textContent = error.message
      } else {
        displayError.textContent = ''
      }
      this.loading = false
    },
    validateCoupon:
    _.debounce(async function (){
      try{
        let data = await this.$axios.$post('/payment/coupon', {
          couponId: this.couponId,
        })
        let coupon = data.data
        this.couponValidity = (coupon.valid) ? true : false
        
      } catch {
        this.couponValidity = false
      }
    },500),
  },
  computed:{
    ...mapGetters({
        dialog: 'stripePaymentModal',
        paymentDetails: 'getPaymentDetails',
      }),
      productDescription(){
        if(this.paymentDetails.price){
          if(this.paymentDetails.price.type === 'one_time'){
            return 'Get map at a one time price'
          } else {
            return 'Subscribe as premium user for 1 ' + (this.paymentDetails.price.recurring.interval)
          }
        }
        return null
      },
      payText(){
        if(this.paymentDetails.price){
          if(this.paymentDetails.price.type === 'one_time'){
            return 'Get Map @ $' + (this.paymentDetails.price ? (this.paymentDetails.price.unit_amount/100).toFixed(2) : '')
          } else {
            return 'Subscribe @ $' + (this.paymentDetails.price ? (this.paymentDetails.price.unit_amount/100).toFixed(2) : '')
          }
        }
        return null
      },
  },
  created() {
  },
  async mounted() {
    this.loading = true
    this.stripe = await Stripe(process.env.stripeKey)
    this.elements = await this.stripe.elements()
    var style = {
      base: {
        color: '#32325d',
        fontSize: '16px',
        '::placeholder': {
          color: 'rgb(198, 198, 198)',
        },
        ':-webkit-autofill': {
          color: '#32325d',
        },
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a',
      },
    }
    this.card = await this.elements.create('card', { style: style })
    // setTimeout( () => {
    //   this.card.mount('#card-element')
    //   // this.loading = false
    //   this.card.on('change', this.showCardErrors)
    // }, 10)
  },
  watch:{
    async dialog(val){
      if(val){
        if(this.paymentDetails.price){
          this.initializePayment()
        } else {
          this.$notify.error({
            title: 'Error',
            message: 'product not selected.',
          })
          this.hideModal()
        }
        setTimeout(()=>{
          if(val){
            let $overlay = document.querySelector('.v-overlay--active')
            if($overlay){
              $overlay.classList.add('overlay-stripePaymentModal')
            }
          }
        },10)
      } else {
        if(this.paymentDetails.status !== true){
          this.$store.commit('showAutoGenerationPaymentModal', true)
        }
      }
    },
    couponId(val){
      if(val === ''){
        this.couponValidity = null
      } else {
        this.validateCoupon()
      }
    },
  },
}
</script>
<style lang='scss' src='~/assets/styles/stripePaymentModal.scss'>
</style>
