<template>
  <v-dialog
    v-model="dialog" :persistent="true"
    max-width="450">
    <v-card class="type-form-modal">
      <v-card-title class="grey lighten-2 py-1">
        <div class="headline">{{ form.id ? 'Edit' : 'New' }} Stakeholder type</div>
        <v-spacer/>
        <v-btn
          icon
          @click="hideModal">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <hr>
      <v-card-text>
        <v-text-field
          hide-details
          v-model="form.name"
          :error-messages="errors.collect('name')"
          label="Name"
          type="text"
        />
        <v-text-field
          hide-details
          v-model="form.details"
          :error-messages="errors.collect('details')"
          label="Details"
          type="text"
        />
        <form
          @submit.prevent="addSource"
          class="list-input">
          <div class="list">
            <v-chip
              close
              :selected="true"
              v-for="source in form.connectors"
              :key="source"
              style="display: inline-block"
              @input="removeSource(source)"
            >
              <v-avatar><v-icon>mdi-chevron-right</v-icon></v-avatar>
              {{ source }}
            </v-chip>
            <span
              class="text--secondary"
              v-if="!form.connectors || !form.connectors.length">
              No connectors was found (Please add one!)
            </span>
          </div>
          <v-text-field
            v-if="!form.connectors || form.connectors.length < 4"
            solo
            clearable
            hide-details
            v-model="form.source"
            prepend-inner-icon="add"
            :error-messages="errors.collect('sources')"
            label="Type and press enter to add new connector"
            type="text"
          />
        </form>
      </v-card-text>
      <v-card-actions>
        <v-btn
          v-if="form.id"
          class="px-3"
          :loading="loading"
          color="grey lighten-2"
          type="button"
          @click="deleteType"
        >Delete</v-btn>
        <v-spacer/>
        <v-btn
          text
          class="px-2"
          @click="dialog = false"
          color="light"
          type="button"
        >Close</v-btn>
        <v-btn
          class="px-3 primary-btn"
          :loading="loading"
          :disabled="errors.any()"
          color="#f1592a"
          type="button"
          @click="submitForm"
        >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    loading: false,
    form: {
      id: null,
      name: null,
      details: null,
      connectors: [],
      source: null,
    },
  }),
  computed: {
    ...mapGetters({
      types: 'types/get',
      adder: 'addTypeModal',
    }),
    dialog: {
      get() { return !!this.adder },
      set(v) { if (!v) this.hideModal() },
    },
  },
  watch: {
    adder(val) {
      this.init(val && val.type)
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    hideModal() {
      this.$store.commit('showAddType', null)
    },
    init(type) {
      this.$set(this.form, 'source', null)
      this.$set(this.form, 'connectors', [])
      if (!type) {
        this.$set(this.form, 'id', null)
        this.$set(this.form, 'name', null)
        this.$set(this.form, 'details', null)
      } else {
        for (const x of this.types) {
          if (x.name === type) {
            this.$set(this.form, 'id', x.id)
            this.$set(this.form, 'name', x.name)
            this.$set(this.form, 'details', x.details)
            this.form.connectors.push(...(x.connectors || []))
            break
          }
        }
      }
    },
    addSource() {
      if (!this.form.source || this.form.connectors.length >= 4) {
        return
      }
      this.form.connectors.push(this.form.source)
      this.$set(this.form, 'source', null)
    },
    removeSource(name) {
      const index = this.form.connectors.indexOf(name)
      if (index >= 0) this.form.connectors.splice(index, 1)
    },
    async submitForm() {
      try {
        // check validity
        this.addSource()
        if (this.form.connectors.length < 1) {
          return this.$notify.warning({
            title: 'No connectors',
            message: 'Please provide at least one connector',
          })
        }
        if (!this.form.name) {
          return this.$notify.warning({
            title: 'Name required',
            message: 'No name was specified for the type',
          })
        }
        // add or update
        this.$set(this, 'loading', true)
        if (this.form.id) {
          await this.$axios.$post('/type/update', this.form)
        } else {
          await this.$axios.$post('/type/add', this.form)
        }
        await this.$nextTick()
        /* update type store */
        if(this.$route.params.hash) {
          await this.$board.load({ hash: this.$route.params.hash })
        }
        const json = await this.$axios.$get('/types')
        this.$store.commit('types/set', json.data)
        this.$store.commit('types/SELECT', json.data[0].name)
        /*******************/
        this.hideModal()
        // notify
        this.$notify.success({
          title: 'Successfully ' + (this.form.id ? 'Edited' : 'Added'),
          message: `${this.form.name} : ${this.form.details || '[empty]'}`,
        })
        this.$emit('added', this.form.name)
      } catch (err) {
        this.handleError(err)
      } finally {
        this.$set(this, 'loading', false)
      }
    },
    async deleteType() {
      try {
        if (!this.form.id) return
        this.$set(this, 'loading', true)
        const params = { id: this.form.id }
        // delete
        await this.$axios.$post('/type/delete', params)
        const json = await this.$axios.$get('/types')
        this.$store.commit('types/set', json.data)
        this.$store.commit('types/SELECT', json.data[0].name)
        this.hideModal()
        // notify
        this.$notify.success({
          title: 'Successfully deleted',
          message: `${this.form.name} : ${this.form.details || '-'}`,
        })
        this.$emit('deleted', this.form.name)
      } catch (err) {
        this.handleError(err)
      } finally {
        this.$set(this, 'loading', false)
      }
    },
    handleError(err) {
      let message = err + ''
      if (err.response) {
          message = err.response.data.error
          if (typeof message !== 'string') {
            message = Object.values(message).filter(x => !!x)
            message = message.map(x => x.join(', ')).join('; ')
          }
      }
      this.$notify.error({
        title: 'Failed to delete',
        message,
      })
      this.$sentry.catchException(err)
      
    },
  },
}
</script>

<style scoped>
.list-input {
  border-radius: 3px;
  border: 1px solid #dadcdf;
  margin-top: 15px;
  flex-direction: row;
  width: 100%;
}

.list-input .list {
  padding: 5px 10px;
  border-bottom: 1px solid #dadafc;
}
</style>

<style>
.type-form-modal .chip__close {
  position: absolute;
  right: 10px;
}
</style>
