<template>
  <div>
    <div class="stakeholder-dropdown">
      <img :src="item.logo" />
      <div class="stakeholder-name">
        <p class="item-title">{{ item.name }}</p>
        <p class="item-domain">{{ item.domain }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: { required: true },
  },
}
</script>

<style scoped>
.stakeholder-dropdown {
  display: flex;
  max-height: 50px;
  margin: 10px 0px;
  position: relative;
  cursor: pointer;
}
.stakeholder-dropdown img {
  max-height: 30px;
  margin: auto 0px;
  width: 30px;
  height: 30px;
  background: #f7f7f7;
  outline: 0px;
  border: 0px;
  border-radius: 4px;

}
.stakeholder-dropdown p.item-title {
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  margin: 0px;
}
.stakeholder-dropdown p.item-domain {
  font-weight: 400;
  font-size: 12px;
  color: #808080;
  text-align: left;
  margin: 0px;
}
.stakeholder-name {
  margin-left: 10px;
}
</style>