<template>
  <div  class="select-image-field select-logo">
    <div v-if="loggedIn">
      <!-- query input form -->
      <form @submit.prevent="searchImage"
      v-if="open">
        <v-text-field
          solo
          clearable
          type="text"
          v-model="query"
          hide-details
          append-icon="mdi-magnify"
          :append-icon-cb="searchImage"
          label="Logo search"
        />

      </form>
      <!-- error message -->
      <v-container
        fluid
        grid-list-md
        class="pa-0"
        v-if="error">
        <code class="pa-2 d-block mt-1">{{ error }}</code>
      </v-container>
      <!-- image selector -->
      <v-container
        class="image-selector pa-2"
        fluid
        grid-list-md
        v-if="open && images.length">
        <v-layout
          row
          wrap>
          <v-flex
            v-for="url in images"
            xs4
            :key="url" class="selector-card-logo-wrapper">
            <v-card class="selector-card">
              <v-img
                :src="url"
                height="100px"
                @click="choseImage(url)"/>
            </v-card>
          </v-flex>
          <v-flex xs12 selector-card-logo-wrapper>
            <v-card
              light
              class="load-more-card">
              <v-card-text
                v-if="loading"
                class="py-3">
                <atom-spinner class="mx-auto"/>
              </v-card-text>
              <v-card-text
                @click="loadMoreImage"
                v-else>More...</v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
      <p class="info-text">
        Ecomap uses Google image search. Images may be subject to copyright.
        <a href="https://support.google.com/legal/answer/3463239">Find out more</a>
      </p>
    </div>
    <!-- selected image -->
     <v-layout
       justify-center
        >

        <div
          class="img-logo img preview-card"
          >
          <span v-if="!value">Logo</span>
          <img v-if="value" :src="value" />
          <v-btn
            icon
            @click="selectImage()"
            class="delete-image-button"
            v-if="value && loggedIn"
            >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </div>
        <div
          class="img preview-card"
          >
          <span v-if="!value">Logo</span>
          <img v-if="value" :src="value" />
          <v-btn
            icon
            @click="selectImage()"
            class="delete-image-button"
            v-if="value && loggedIn"
            >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </div>
    </v-layout >
    <v-layout
      justify-center
      v-if="loggedIn"
    >
    <v-btn
      class="ma-2 add add-text"
      @click="changeLogo"
      v-if="!open && !images.length"
    >
        press to change logo
    </v-btn>
    </v-layout >
  </div>
</template>

<script>
import http from 'axios'

export default {
  props: {
    value: {
      type: String,
      default: () => null,
    },
  },
  data: () => ({
    query: null,
    loading: false,
    images: [],
    error: null,
    default:true,
    defaultlogo:null,
    resultFor: null,
    open:false,
  }),
  computed: {
    user() {
      return this.$store.state.auth.user
    },
    loggedIn() {
        return this.$store.state.auth.loggedIn
      },
  },
  watch: {
    query(v) {
      if (v !== this.resultFor) this.clearForm()

    },
  },
  mounted() {
    if(this.value){
      this.default = false
    }
    this.$emit('ifMaunted')

  },
  methods: {
    selectImage(url) {
      console.log('url => ', url)
      this.$emit('input', url)
      this.clearForm()
    },
    choseImage(url){
      this.default = false
      this.open=false
      this.$emit('onOpen', false)
      this.selectImage(url)
    },
    searchImage(){
      this.open=true
      this.$emit('onOpen', true)
      this.getImages()
    },
    clearForm() {
      this.$set(this, 'error', null)
      this.$set(this, 'images', [])
    },
    updateQuery(val) {
      this.$set(this, 'query', val)
    },
    getDefault(images){
      for(let i=0; i < images.length; i++){
        const image = images[i].image
        if(Math.abs(image.height - image.width) < 50 ) {
          this.defaultlogo = image.thumbnailLink
          this.selectImage(image.thumbnailLink)
          break
        }
      }
      if(!this.defaultlogo){
      this.defaultlogo = images[0].image.thumbnailLink
      this.selectImage(images[0].image.thumbnailLink)
      }

    },
    async getImages(start = 1) {
      try {
        if (!this.query || this.loading) return
        if (typeof start !== 'number') start = 1
        this.$set(this, 'loading', true)
        if (start === 1) this.clearForm()
        const url = 'https://www.googleapis.com/customsearch/v1'
        const params = {
          start,
          size:12,
          q: this.query,
          prettyPrint: false,
          searchType: 'image',
          cx: '004902075774833659222:uiayohkb0hc',
          key: 'AIzaSyA763_gS1ZZhfQvfh0yNlOOqL4A1QOsCyw',
          // quotaUser: this.user && this.user.user_id,
        }
        const result = await http.get(url, { params })
        this.$set(this, 'resultFor', params.q)
        this.default && this.getDefault(result.data.items)
        this.images.push(...result.data.items.map(v => v.image.thumbnailLink))
      } catch (err) {
        // console.error(err)
        this.open=false
        this.$emit('onOpen', false)
        this.$set(this, 'error', err + '')
      } finally {
        this.$set(this, 'loading', false)
      }

    },
    loadMoreImage() {
      this.getImages(this.images.length + 1)
    },
    changeLogo() {
      this.open=true
      this.$emit('onOpen', true)
      this.getImages()
    },
  },
}
</script>

<style lang="scss" src="~/assets/styles/selectImage.scss"></style>

